[KCM Locale]
Name=Kenya
Region=eastafrica
Languages=en_GB,sw,om,so
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
#DateFormat[??]=
DateFormatShort=%n/%e/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=KES
CurrencyCode=KES
