[KCM Locale]
Name=Kenya
Name[af]=Kenië
Name[ar]=كينيا
Name[be]=Кенія
Name[cs]=Keňa
Name[cy]=Cenia
Name[de]=Kenia
Name[el]=Κένυα
Name[eo]=Kenjo
Name[es]=Kenia
Name[fa]=کنیا
Name[fi]=Kenia
Name[ga]=An Chéinia
Name[gl]=Kenia
Name[he]=קניה
Name[hr]=Kenija
Name[is]=Kenía
Name[ja]=ケニア
Name[ka]=კენია
Name[kk]=Кения
Name[km]=កេនយ៉ា
Name[ko]=케냐
Name[lt]=Kenija
Name[lv]=Kenija
Name[mk]=Кенија
Name[nds]=Kenia
Name[ne]=केन्या
Name[pa]=ਕੀਨੀਆ
Name[pl]=Kenia
Name[pt]=Quénia
Name[pt_BR]=Quênia
Name[ro]=Kenia
Name[ru]=Кения
Name[sl]=Kenija
Name[sr]=Кенија
Name[sr@Latn]=Kenija
Name[ta]=கென்யா
Name[tg]=Куниё
Name[uk]=Кенія
Name[uz]=Кения
Name[x-test]=xxKenyaxx
Name[zh_TW]=肯亞
Region=centralafrica
Languages=en_GB,sw,om,so
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=KSh
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
#DateFormat[??]=
DateFormatShort=%n/%e/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
