[KCM Locale]
Name=Swaziland
Name[af]=Swasiland
Name[be]=Свазілэнд
Name[bg]=Свазиленд
Name[ca]=Swazilàndia
Name[csb]=Suazi
Name[cy]=Gwlad y Swasi
Name[de]=Swasiland
Name[el]=Σουαζιλάνδη
Name[eo]=Svazilando
Name[es]=Swazilandia
Name[et]=Svaasimaa
Name[eu]=Swazilandia
Name[fa]=سوآزیلند
Name[fi]=Swazimaa
Name[ga]=An tSuasalainn
Name[gl]=Suacilándia
Name[he]=סוואזילנד
Name[hr]=Svazilend
Name[hu]=Szváziföld
Name[is]=Svasíland
Name[ja]=スワジランド
Name[ka]=სვაზილენდი
Name[kk]=Свазиленд
Name[km]=ស្វាហ្ស៊ីឡង់
Name[ko]=스와질란드
Name[lv]=Svazilenda
Name[mk]=Свазиленд
Name[nds]=Swasiland
Name[ne]=स्वाजिल्याण्ड
Name[pa]=ਸਵਾਜ਼ੀਲੈਂਡ
Name[pl]=Suazi
Name[pt]=Suazilândia
Name[pt_BR]=Suazilândia
Name[ro]=Suaziland
Name[ru]=Свазиленд
Name[sl]=Svazi
Name[sr]=Свазиленд
Name[sr@latin]=Svazilend
Name[ta]=ஸ்வாசிலான்ட்
Name[te]=స్వాజీలాండ్
Name[tg]=Свозиланд
Name[uk]=Свазиленд
Name[uz]=Свазиленд
Name[vi]=Xuoă-xi-lan
Name[wa]=Suwazilande
Name[x-test]=xxSwazilandxx
Name[zh_TW]=史瓦濟蘭
Region=southafrica
Languages=en_GB,ss
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=L
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
