[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KNotify
Name[ne]=केडीई सूचना
Name[pa]=ਕੇ-ਨੋਟੀਫਾਈ
Name[sv]=Underrättelse
Name[vi]=Thông báo K
Name[x-test]=xxKNotifyxx
Exec=knotify
Comment=KDE Notification Daemon
Comment[be]=Сервіс абвяшчэнняў KDE
Comment[bg]=Демон на KDE за уведомяване
Comment[csb]=Ùsłëżnota dôwanié wiédzë KDE
Comment[de]=KDE Benachrichtigungsdienst
Comment[el]=Δαίμονας ειδοποιήσεων του KDE
Comment[es]=Servicio de notificaciones de KDE
Comment[fa]=شبح اخطار KDE
Comment[ga]=Deamhan Fógartha KDE
Comment[he]=שירות ההודעות של KDE
Comment[ja]=KDE 通知デーモン
Comment[km]=ដេមិន​ការ​ជូន​ដំណឹង​របស់ KDE
Comment[nds]=KDE-Dämoon för Bescheden
Comment[ne]=केडीई सूचना डेइमन
Comment[nl]=KDE Notificatie-daemon
Comment[pa]=KDE ਨੋਟੀਫਿਕੇਸ਼ਨ ਡੈਮਨ
Comment[pt]=Servidor de Notificações do KDE
Comment[pt_BR]=Servidor de Notificações do KDE
Comment[sv]=KDE-underrättelsedemon
Comment[th]=แดมอนการแจ้งเตือนของ KDE
Comment[vi]=Trình nền Thông báo KDE
Comment[x-test]=xxKDE Notification Daemonxx
Comment[zh_TW]=KDE Notification 伺服程式
Icon=knotify
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
