[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KNotify
Name[sv]=Underrättelse
Name[x-test]=xxKNotifyxx
Exec=knotify
Comment=KDE Notification Daemon
Comment[de]=KDE Benachrichtigungsdienst
Comment[el]=Δαίμονας ειδοποιήσεων του KDE
Comment[nds]=KDE-Dämoon för Bescheden
Comment[sv]=KDE-underrättelsedemon
Comment[x-test]=xxKDE Notification Daemonxx
Comment[zh_TW]=KDE Notification 伺服程式
Icon=knotify
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
