[Desktop Entry]
Type=Service
Name=KNotify
Exec=knotify4
Comment=KDE Notification Daemon
Icon=preferences-desktop-notification
X-DBUS-ServiceName=org.kde.knotify
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
