[Desktop Entry]
Name=Newspaper Layout
Name[cs]=Rozvržení novin
Name[en_GB]=Newspaper Layout
Name[es]=Disposición de periódico
Name[ia]=Disposition de jornal
Name[is]=Dagblaðsframsetning
Name[ja]=新聞のレイアウト
Name[ko]=신문 레이아웃
Name[nds]=Blattstriepen-Anornen
Name[nl]=Opmaak van krant
Name[pa]=ਨਿਊਜ਼ਪੇਪਰ ਲੇਆਉਟ
Name[pt]=Disposição do Jornal
Name[pt_BR]=Leiaute do jornal
Name[ru]=Газета
Name[sv]=Tidningslayout
Name[uk]=Газетне компонування
Name[x-test]=xxNewspaper Layoutxx
Name[zh_TW]=報紙佈局

Comment=A layout that puts widgets into columns
Comment[cs]=Rozvržení, které skládá widgety do dvou sloupců
Comment[en_GB]=A layout that puts widgets into columns
Comment[es]=Una disposición que coloca los elementos gráficos en columnas
Comment[eu]=Trepetak bi zutabetan jartzen dituen diseinu bat
Comment[ia]=Un disposition que pone elementos graphicos (widget) in columnas
Comment[ja]=ウィジェットを列配置するレイアウト
Comment[ko]=다단으로 위젯을 배열하는 레이아웃
Comment[nds]=En Anornen de Elementen op Striepen verdeelt
Comment[nl]=Een indeling die widgets in kolommen zet
Comment[pa]=ਲੇਆਉਟ, ਜੋ ਵਿਦਜੈੱਟ ਨੂੰ ਕਾਲਮਾਂ 'ਚ ਰੱਖਦਾ ਹੈ
Comment[pt]=Uma disposição que coloca os elementos em colunas
Comment[pt_BR]=Um leiaute que coloca os widgets em colunas
Comment[sv]=En layout som placerar grafiska komponenter i kolumner
Comment[uk]=Компонування з віджетами, розподіленими за стовпчиками
Comment[x-test]=xxA layout that puts widgets into columnsxx
Comment[zh_TW]=將元件放到欄位內的佈局


Icon=knewsticker
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=netbook,desktop
NoDisplay=false

X-KDE-Library=plasma_containment_newspaper
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=newspaper
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
