[KCM Locale]
Name=Afghanistan
Name[el]=Αφγανιστάν
Name[x-test]=xxAfghanistanxx
Region=centralasia
#Languages=
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=Af
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
