[KCM Locale]
Name=Andorra
Name[af]=Andorra 
Name[ar]=أندورا
Name[be]=Андора
Name[br]=Andora
Name[el]=Ανδόρα
Name[eo]=Andoro
Name[fa]=آندورا
Name[fr]=Andorre
Name[ga]=Andóra
Name[he]=אנדורה
Name[ja]=アンドラ
Name[ka]=ანდორა
Name[kk]=Андорра
Name[km]=អង់ដូរ៉ា
Name[ko]=안도라
Name[lv]=Andora
Name[mk]=Андора
Name[ne]=एन्डोर्रा
Name[pa]=ਐਂਡੋਰਾ
Name[ro]=Andora
Name[ru]=Андорра
Name[sl]=Andora
Name[sr]=Андора
Name[sr@Latn]=Andora
Name[ta]=அன்டோரா
Name[tg]=Андора
Name[uk]=Андорра
Name[uz]=Андорра
Name[x-test]=xxAndorraxx
Name[zh_TW]=安道爾
Region=westeurope
Languages=ca,fr,es
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=€
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
