[KCM Locale]
Author=Corrin Lakeland <lakeland@cs.otago.ac.nz>
Name=New Zealand
Region=oceania
Languages=en_GB,mi
#DecimalSymbol=
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=
#PositiveMonetarySignPosition=
#NegativeMonetarySignPosition=
DateFormat[en_GB]=%a, %d %b %Y
DateFormat[en_US]=%a, %d %b %Y
DateFormat[mi]=%a, %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=NZD
CurrencyCode=NZD
AddressFormat=%0(%n\n)%0(%cm\n)%0(PO Box %p\n)%0(%s\n)%L%w%z
AddressCountryPosition=BELOW
