[KCM Locale]
Name=Monaco
Name[af]=Monako
Name[ar]=موناكو
Name[be]=Манака
Name[bg]=Монако
Name[br]=Monako
Name[ca]=Mònaco
Name[cs]=Monako
Name[el]=Μονακό
Name[eo]=Monako
Name[es]=Mónaco
Name[fa]=موناکو
Name[ga]=Monacó
Name[gl]=Mónaco
Name[he]=מונקו
Name[hr]=Monako
Name[is]=Mónakó
Name[ja]=モナコ
Name[ka]=მონაკო
Name[kk]=Монако
Name[km]=ម៉ូណាកូ
Name[ko]=모나코
Name[lt]=Monakas
Name[lv]=Monako
Name[mk]=Монако
Name[ne]=मोनाको
Name[pa]=ਮੋਨਕੋ
Name[pl]=Monako
Name[pt]=Mónaco
Name[pt_BR]=Mônaco
Name[ru]=Монако
Name[sl]=Monako
Name[sr]=Монако
Name[sr@Latn]=Monako
Name[ta]=மனாகோ
Name[tg]=Монако
Name[tr]=Monako
Name[uk]=Монако
Name[uz]=Монако
Name[x-test]=xxMonacoxx
Name[zh_TW]=摩納哥
Region=westeurope
Languages=fr,en_GB,it
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=€
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
