[KCM Locale]
Name=South Korea
Name[af]=Suid Korea
Name[ar]=كوريا الجنوبية
Name[be]=Паўднёвая Карэя
Name[bg]=Южна Корея
Name[bn]=দক্ষিণ কোরিয়া
Name[br]=Su-Korea
Name[ca]=Corea del Sud
Name[cs]=Jižní Korea
Name[csb]=Pôłniowô Kòreja
Name[cy]=De Corea
Name[da]=Sydkorea
Name[de]=Süd-Korea
Name[el]=Νότια Κορέα
Name[eo]=Sudkoreo
Name[es]=Corea del Sur
Name[et]=Lõuna-Korea
Name[eu]=Hego Korea
Name[fa]=کره جنوبی
Name[fi]=Etelä-Korea
Name[fr]=Corée du sud
Name[fy]=Sûd-Korea
Name[ga]=An Chóiré Theas
Name[gl]=Corea do Sur
Name[he]=דרום קוריאה
Name[hi]=Name=दक्षिणी कोरिया
Name[hr]=Južna Koreja
Name[hu]=Dél-Korea
Name[is]=Suður-Kórea
Name[it]=Corea del Sud
Name[ja]=韓国
Name[ka]=სამხრეთ კორეა
Name[kk]=Корей Республикасы
Name[km]=កូរ៉េ​ខាង​ត្បូង
Name[ko]=대한민국
Name[lt]=Pietų Korėja
Name[lv]=Dievidkoreja
Name[mk]=Јужна Кореја
Name[nb]=Sør-Korea
Name[nds]=Söödkorea
Name[ne]=दक्षिण कोरिया
Name[nl]=Zuid-Korea
Name[nn]=Sør-Korea
Name[pa]=ਦੱਖਣੀ ਕੋਰੀਆ
Name[pl]=Korea Południowa
Name[pt]=Coreia do Sul
Name[pt_BR]=Coréia do Sul
Name[ro]=Coreea de Sud
Name[ru]=Южная Корея
Name[se]=Lulli-Korea
Name[sk]=Južná Kórea
Name[sl]=Južna Koreja
Name[sr]=Јужна Кореја
Name[sr@latin]=Južna Koreja
Name[sv]=Sydkorea
Name[ta]=தென் கொரியா
Name[te]=దక్షిణ కొరియా
Name[tg]=Кореяи Ҷанубӣ
Name[th]=เกาหลีใต้
Name[tr]=Güney Kore
Name[uk]=Південна Корея
Name[uz]=Жанубий Корея
Name[vi]=Hàn Quốc
Name[wa]=Nonne Corêye
Name[x-test]=xxSouth Koreaxx
Name[xh]=Umzantsi Korea
Name[zh_CN]=韩国
Name[zh_TW]=南韓
Region=eastasia
Languages=ko
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=￦
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=0
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%Y년 %B %e일 %A
DateFormatShort=%Y. %n. %e
TimeFormat=%p %l:%M:%S
