[KCM Locale]
Name=South Korea
Region=eastasia
Languages=ko
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%Y년 %B %e일 %A
DateFormatShort=%Y. %n. %e
TimeFormat=%p %l:%M:%S
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=0
#DecimalPlaces=2
MonetaryDecimalPlaces=0
CurrencyCodesInUse=KRW
CurrencyCode=KRW
