[KCM Locale]
Name=Jersey
Name[bg]=Джърси
Name[ca]=Jersey
Name[ca@valencia]=Jersey
Name[cs]=Jersey
Name[da]=Jersey
Name[de]=Jersey
Name[el]=Τζέρσεϊ
Name[en_GB]=Jersey
Name[es]=Jersey
Name[et]=Jersey
Name[eu]=Jersey
Name[fi]=Jersey
Name[fr]=Jersey
Name[he]=ג'רזי
Name[hi]=जर्सी
Name[hr]=Jersey
Name[hu]=Jersey
Name[ia]=Jersey
Name[it]=Jersey
Name[ja]=ジャージー島
Name[kk]=Джерси
Name[km]=ជឺស៊ី
Name[kn]=ಜರ್ಸಿ
Name[ko]=저지
Name[lt]=Džersis
Name[mai]=जर्सी
Name[nb]=Jersey
Name[nds]=Jersey
Name[nl]=Jersey
Name[pa]=ਜਰਸੀ
Name[pl]=Jersey
Name[pt]=Jersey
Name[pt_BR]=Jersey
Name[ro]=Jersey
Name[ru]=Джерси
Name[sk]=Jersey
Name[sl]=Jersey
Name[sr]=Џерзи
Name[sr@ijekavian]=Џерзи
Name[sr@ijekavianlatin]=Džerzi
Name[sr@latin]=Džerzi
Name[sv]=Jersey
Name[th]=เจอร์ซีย์
Name[uk]=Джерсі
Name[x-test]=xxJerseyxx
Name[zh_TW]=Jersey
Region=westeurope
Languages=en_GB,fr
NegativeMonetarySignPosition=1
DateFormat=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
PageSize=0
MeasureSystem=0
WeekStartDay=7
DecimalPlaces=2
MonetaryDecimalPlaces=2
CurrencyCodesInUse=GBP
CurrencyCode=GBP
