[KCM Locale]
Name=Saint Barthélemy
Name[bg]=Сен Бартелеми
Name[ca]=Saint Barthélemy
Name[da]=Saint Barthélemy
Name[de]=Saint-Barthélemy
Name[en_GB]=Saint Barthélemy
Name[es]=San Bartolomé
Name[et]=Saint Barthélemy
Name[eu]=San Bartolome
Name[fr]=Saint Barthélemy
Name[hi]=सेयंट बार्थलेमि
Name[hu]=Saint-Barthélemy 
Name[ia]=Saint Barthélemy
Name[it]=Saint-Barthélemy
Name[kk]=Сент-Бартелеми
Name[km]=សាន់​បាធឺលីម៉ី
Name[lt]=Šv. Bartolomėjaus sala
Name[nb]=Saint Barthélemy
Name[nds]=St. Bartholomäus
Name[nl]=Saint Barthélemy
Name[pt]=Saint Barthélemy
Name[pt_BR]=Saint Barthélemy
Name[ru]=Сен-Бартельми
Name[sl]=Sveti Bartolomej
Name[sr]=Свети Бартоломеј
Name[sr@ijekavian]=Свети Бартоломеј
Name[sr@ijekavianlatin]=Sveti Bartolomej
Name[sr@latin]=Sveti Bartolomej
Name[sv]=Saint-Barthélemy
Name[uk]=Сен-Бартельмі
Name[x-test]=xxSaint Barthélemyxx
Name[zh_TW]=Saint Barthélemy
Region=caribbean
Languages=fr
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%A %e %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(%s\n)%0(BP %p\n)%z%w%L
AddressCountryPosition=BELOW
DecimalPlaces=2
MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
