[KCM Locale]
Name=Germany
Name[af]=Duitsland
Name[ar]=ألمانيا
Name[bg]=Германия
Name[br]=Alamagn
Name[ca]=Alemanya
Name[cs]=Německo
Name[csb]=Miemieckô
Name[cy]=Yr Almaen
Name[da]=Tyskland
Name[de]=Deutschland
Name[el]=Γερμανία
Name[eo]=Germanio
Name[es]=Alemania
Name[et]=Saksamaa
Name[eu]=Alemania
Name[fa]=آلمان
Name[fi]=Saksa
Name[fr]=Allemagne
Name[fy]=Dûtslân
Name[ga]=An Ghearmáin
Name[gl]=Alemaña
Name[he]=גרמניה
Name[hr]=Njemačka
Name[hu]=Németország
Name[is]=Þýskaland
Name[it]=Germania
Name[ja]=ドイツ
Name[ka]=გერმანია
Name[kk]=Германия
Name[km]=អាល្លឺម៉ង់
Name[ko]=독일
Name[lt]=Vokietija
Name[lv]=Vācija
Name[mk]=Германија
Name[ms]=Jerman
Name[nb]=Tyskland
Name[nds]=Düütschland
Name[ne]=जर्मनी
Name[nl]=Duitsland
Name[nn]=Tyskland
Name[pa]=ਜਰਮਨੀ
Name[pl]=Niemcy
Name[pt]=Alemanha
Name[pt_BR]=Alemanha
Name[ro]=Germania
Name[ru]=Германия
Name[se]=Duiska
Name[sl]=Nemčija
Name[sr]=Немачка
Name[sr@Latn]=Nemačka
Name[sv]=Tyskland
Name[ta]=ஜெர்மனி
Name[te]=జెర్మని
Name[tg]=Олмон
Name[tr]=Almanya
Name[uk]=Німеччина
Name[uz]=Олмония
Name[x-test]=xxGermanyxx
Name[zh_TW]=德國
Region=centraleurope
Languages=de
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=€
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[de]=%A, %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
#WeekStartDay=
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(Postfach %p\n)%0(%s\n)%z%w%l
AddressCountryPosition=BELOW
