Name=Window Manager
Name[ga]=Bainisteoir Fuinneog
Name[gu]=વિન્ડો વ્યવસ્થાપક
Name[pt]=Gestor de Janelas
Name[pt_BR]=Gestor de Janelas
Name[uk]=Віконний менеджер
Comment=Here you can select the window manager to be run in your KDE session. Note that KDE settings are often not followed when not using the default KDE window manager.
Comment[gu]=અહીં તમે તમારા KDE સત્રમાં ચલાવવા માટેનાં વિન્ડો વ્યવસ્થાપકને પસંદ કરી શકો છો. ધ્યાનમાં રાખો કે મૂળભૂત વિન્ડો વ્યવસ્થાપક ઉપયોગ ન કરતી વખતે KDE ગોઠવણીઓ અનુસરવામાં આવતી નથી.
Comment[pt]=Aqui poderá seleccionar o gestor de janelas a ser executado na sua sessão do KDE. Lembre-se que a configuração do KDE poderá não ser seguida algumas vezes, se não usar o gestor de janelas por omissão do KDE.
Comment[pt_BR]=Aqui poderá seleccionar o gestor de janelas a ser executado na sua sessão do KDE. Lembre-se que a configuração do KDE poderá não ser seguida algumas vezes, se não usar o gestor de janelas por omissão do KDE.
Comment[uk]=Тут ви можете обрати засіб керування вікнами, який буде використано у вашому сеансі KDE. Зауважте, що часто параметри KDE не впливають на поведінку засобу керування вікнами, якщо ви не користуєтеся типовим засобом для керування вікнами KDE.
configurationType=internal_wm
