Name=Window Manager
Name[et]=Aknahaldur
Name[ga]=Bainisteoir Fuinneog
Name[gl]=Xestor de fiestras
Name[gu]=વિન્ડો વ્યવસ્થાપક
Name[he]=מנהל חלונות
Name[ja]=ウィンドウマネージャ
Name[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច
Name[nds]=Finsterpleger
Name[pt]=Gestor de Janelas
Name[pt_BR]=Gestor de Janelas
Name[sl]=Upravljalnik oken
Name[sv]=Fönsterhanterare
Name[tr]=Pencere Yöneticisi
Name[uk]=Віконний менеджер
Name[zh_TW]=視窗管理員
Comment=Here you can select the window manager to be run in your KDE session.
Comment[gl]=Aquí pode escoller a xestor de fiestrar a executar na sesión de KDE.
Comment[nds]=Hier kannst Du den Finsterpleger utsöken, den Du för Dien KDE-Törns bruken wullt.
Comment[pt]=Aqui poderá seleccionar o gestor de janelas a executar na sua sessão do KDE.
Comment[pt_BR]=Aqui poderá seleccionar o gestor de janelas a executar na sua sessão do KDE.
Comment[sl]=Tu lahko izberete upravljalnika oken, ki bo v uporabi v KDE.
Comment[sv]=Här kan du välja fönsterhanterare som ska köras i KDE-sessionen.
Comment[uk]=Тут ви можете обрати засіб керування вікнами, який буде запущено у вашому сеансі KDE.
Comment[zh_TW]=您可以在此選擇 KDE 工作階段執行的視窗管理員。
configurationType=internal_wm
