[KCM Locale]
Name=Ethiopia
Region=northafrica
Languages=en_GB,am,om,so,ti
DecimalSymbol=.
ThousandsSeparator=.
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
#DateFormat[??]=
DateFormatShort=%d/%m/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
PageSize=0
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=ETB
CurrencyCode=ETB
