[KCM Locale]
Name=Chad
Name[ar]=تشاد
Name[as]=চাড
Name[be]=Чад
Name[be@latin]=Čad
Name[bg]=Чад
Name[bn]=চ্যাড
Name[bn_IN]=চাড
Name[br]=Tchad
Name[ca]=Txad
Name[cs]=Čad
Name[csb]=Czad
Name[cy]=Tsiad
Name[da]=Tchad
Name[de]=Tschad
Name[el]=Τσαντ
Name[eo]=Ĉado
Name[et]=Tšaad
Name[eu]=Txad
Name[fa]=چاد
Name[fr]=Tchad
Name[fy]=Tsjaad
Name[ga]=Sead
Name[gu]=ચાડ
Name[he]=צ'אד
Name[hi]=चाड
Name[hne]=चाड
Name[hr]=čad
Name[hsb]=Čad
Name[hu]=Csád
Name[is]=Tsjad
Name[it]=Ciad
Name[ja]=チャド
Name[ka]=ჩადი
Name[kk]=Чад
Name[km]=ឆាដ
Name[kn]=ಚಾಡ್
Name[ko]=차드
Name[ku]=Çad
Name[lv]=Čada
Name[mai]=चाड
Name[mk]=Чад
Name[ml]=ചാഡ്
Name[mr]=चाड
Name[nds]=Tschad
Name[ne]=चाड
Name[nl]=Tsjaad
Name[or]=ଚାଦ
Name[pa]=ਚਾਂਦ
Name[pl]=Czad
Name[pt]=Chade
Name[pt_BR]=Chade
Name[ro]=Ciad
Name[ru]=Чад
Name[se]=Čad
Name[sk]=Čad
Name[sl]=Čad
Name[sr]=Чад
Name[sr@latin]=Čad
Name[sv]=Tchad
Name[ta]=சாட்
Name[te]=చాద్
Name[tg]=Чад
Name[th]=ชาด
Name[tr]=Çad
Name[uk]=Чад
Name[uz@cyrillic]=Чад
Name[wa]=Tchad
Name[x-test]=xxChadxx
Name[zh_CN]=乍得
Name[zh_TW]=查德
Region=centralafrica
Languages=fr,ar
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=CFAF
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
