[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukbackupsync
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
X-KDE-Nepomuk-dependencies=nepomukstorage
Name=Nepomuk Backup and Sync
Name[et]=Nepomuki varundamine ja sünkroonimine
Name[ia]=Retrocopia (Backup) e Sync de Nepomuk
Name[nl]=Nepomuk reservekopie-synchronisatie
Name[pt]=Salvaguarda e Sincronização do Nepomuk
Name[pt_BR]=Backup e Sincronização do Nepomuk
Name[sv]=Nepomuk säkerhetskopiering och synkronisering
Name[uk]=Створення резервних копій і синхронізація Nepomuk
Name[x-test]=xxNepomuk Backup and Syncxx
Name[zh_TW]=Nepomuk 備份與同步
Comment=Nepomuk Service which handles backup and sync.
Comment[et]=Nepomuki varundamise ja sünkroonimisega tegelev teenus
Comment[ia]=Servicio de Nepomuk que manea retrocopia e sync.
Comment[nl]=Nepomuk service die reservekopie-synchronisatie afhandelt.
Comment[pt]=O serviço do Nepomuk que lida com a salvaguarda e a sincronização dos dados.
Comment[pt_BR]=O serviço do Nepomuk que lida com o backup e a sincronização dos dados.
Comment[sv]=Nepomuk-tjänst som hanterar säkerhetskopiering och synkronisering.
Comment[uk]=Служба Nepomuk, призначена для створення резервних копій і синхронізації.
Comment[x-test]=xxNepomuk Service which handles backup and sync.xx
Comment[zh_TW]=處理備份與同步的 Nepomuk 服務。
