[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukbackupsync
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
X-KDE-Nepomuk-dependencies=nepomukstorage
Name=Nepomuk Backup and Sync
Name[en_GB]=Nepomuk Backup and Sync
Name[es]=Respaldo y sincronización de Nepomuk
Name[et]=Nepomuki varundamine ja sünkroniseerimine
Name[ja]=Nepomuk バックアップとシンク
Name[km]=ការ​​ធ្វើ​សមកាល​កម្ម និង​​បម្រុង​ទុក​​របស់​ Nepomuk
Name[pt]=Salvaguarda e Sincronização do Nepomuk
Name[pt_BR]=Backup e Sincronização do Nepomuk
Name[sv]=Nepomuk säkerhetskopiering och synkronisering
Name[uk]=Створення резервних копій і синхронізація Nepomuk
Name[x-test]=xxNepomuk Backup and Syncxx
Comment=Nepomuk Service which handles backup and sync.
Comment[en_GB]=Nepomuk Service which handles backup and sync.
Comment[es]=Servicio de Nepomuk que gestiona las copias de respaldo y la sincronización
Comment[et]=Nepomuki varundamise ja sünkroniseerimisega tegelev teenus
Comment[km]=សេវា​ Nepomuk ​ដែល​គ្រប់​គ្រង​ការ​ធ្វើ​សមកាល​កម្ម និង​ការ​បម្រុង​ទុក ។
Comment[pt]=O serviço do Nepomuk que lida com a salvaguarda e a sincronização dos dados.
Comment[pt_BR]=O serviço do Nepomuk que lida com o backup e a sincronização dos dados.
Comment[sv]=Nepomuk-tjänst som hanterar säkerhetskopiering och synkronisering.
Comment[uk]=Служба Nepomuk, призначена для створення резервних копій і синхронізації.
Comment[x-test]=xxNepomuk Service which handles backup and sync.xx
