[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukbackupsync
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
X-KDE-Nepomuk-dependencies=nepomukstorage
Name=Nepomuk Backup and Sync
Name[bg]=Модул за архивиране и синхронизиране Nepomuk
Name[ca]=Còpia de seguretat i sincronització del Nepomuk
Name[cs]=Zálohování a synchronizace Nepomuku
Name[da]=Nepomuk backup og synkronisering
Name[de]=Nepomuk-Sicherung und Abgleich
Name[en_GB]=Nepomuk Backup and Sync
Name[es]=Respaldo y sincronización de Nepomuk
Name[et]=Nepomuki varundamine ja sünkroonimine
Name[eu]=Nepomuk babeskopia eta sinkronizatzea
Name[fr]=Service de sauvegarde et de synchronisation Nepomuk
Name[ia]=Retrocopia (Backup) e Sync de Nepomuk
Name[it]=Copia di sicurezza e sincronizzazione di Nepomuk
Name[kk]=Nepomuk сақтық көшірмелеу және қадамдастыру
Name[km]=ការ​ធ្វើ​សមកាលកម្ម និង​បម្រុង​ទុក​របស់ Nepomuk
Name[kn]=ನೆಪೋಮುಕ್ ಬ್ಯಾಕ್‌ಅಪ್ ಹಾಗು ಸಿಂಕ್
Name[lt]=Nepomuk atsarginė kopija ir sinchronizacija
Name[nb]=Nepomuk sikringskopi og synkronisering
Name[nds]=Nepomuk-Sekerheitkopie un Synkroniseren
Name[nl]=Nepomuk reservekopie-synchronisatie
Name[pa]=ਨਿਪੋਮੁਕ ਬੈਕਅੱਪ ਅਤੇ ਸਿੰਕਨਿਪੋਮੁਕ ਬੈਕਅਨਿਪੋਮੁਕ ਬੈਕਅੱਤ
Name[pt]=Salvaguarda e Sincronização do Nepomuk
Name[pt_BR]=Backup e Sincronização do Nepomuk
Name[sl]=Nepomuk Backup and Sync
Name[sr]=Резерва и синхронизација Непомука
Name[sr@ijekavian]=Резерва и синхронизација Непомука
Name[sr@ijekavianlatin]=Rezerva i sinhronizacija Nepomuka
Name[sr@latin]=Rezerva i sinhronizacija Nepomuka
Name[sv]=Nepomuk säkerhetskopiering och synkronisering
Name[th]=การสำรองและปรับเทียบข้อมูลของ Nepomuk
Name[uk]=Створення резервних копій і синхронізація Nepomuk
Name[x-test]=xxNepomuk Backup and Syncxx
Name[zh_TW]=Nepomuk 備份與同步
Comment=Nepomuk Service which handles backup and sync.
Comment[bg]=Услуга на Nepomuk, която се грижи за архивиране и синхронизиране
Comment[ca]=Servei del Nepomuk que gestiona còpies de seguretat i sincronització.
Comment[da]=Nepomuk-tjeneste som håndterer backup og synk.
Comment[de]=Nepomuk-Dienst zum Sichern und Abgleichen.
Comment[en_GB]=Nepomuk Service which handles backup and sync.
Comment[es]=Servicio de Nepomuk que gestiona las copias de respaldo y la sincronización
Comment[et]=Nepomuki varundamise ja sünkroonimisega tegelev teenus
Comment[eu]=Babeskopia eta sinkronizatzea erabiltzen duen Nepomuk zerbitzua.
Comment[fr]=Service de Nepomuk prenant en charge les sauvegarde et la synchronisation
Comment[ia]=Servicio de Nepomuk que manea retrocopia e sync.
Comment[it]=Servizio di Nepomuk che gestisce le copie di sicurezza e la sincronizzazione.
Comment[kk]=Cақтық көшірмелеу және қадамдастыруды басқаратын Nepomuk қызметі.ыы
Comment[km]=សេវា Nepomuk ដែល​គ្រប់គ្រង​ការ​ធ្វើ​សមកាលកម្ម និង​បម្រុង​ទុក
Comment[lt]=Nepamok tarnyba, valdanti atsargines kopijas ir sinchronizavimą
Comment[nb]=Nepomuk-tjeneste som håndterer sikringskopi og synkronisering.
Comment[nds]=Nepomuk-Deenst för Sekerheitkopien un Synkroniseren.
Comment[nl]=Nepomuk service die reservekopie-synchronisatie afhandelt.
Comment[pt]=O serviço do Nepomuk que lida com a salvaguarda e a sincronização dos dados.
Comment[pt_BR]=O serviço do Nepomuk que lida com o backup e a sincronização dos dados.
Comment[sl]=Nepomukova storitev za varnostne kopije in usklajevanje.
Comment[sr]=Сервис Непомука за прављење резерви и синхронизацију.
Comment[sr@ijekavian]=Сервис Непомука за прављење резерви и синхронизацију.
Comment[sr@ijekavianlatin]=Servis Nepomuka za pravljenje rezervi i sinhronizaciju.
Comment[sr@latin]=Servis Nepomuka za pravljenje rezervi i sinhronizaciju.
Comment[sv]=Nepomuk-tjänst som hanterar säkerhetskopiering och synkronisering.
Comment[th]=บริการ Nepomuk ที่ทำงานเกี่ยวกับการสำรองและปรับเทียบข้อมูล
Comment[uk]=Служба Nepomuk, призначена для створення резервних копій і синхронізації.
Comment[x-test]=xxNepomuk Service which handles backup and sync.xx
Comment[zh_TW]=處理備份與同步的 Nepomuk 服務。
