[KCM Locale]
Author=Eugene Onischenko <oneugene@ukr.net>
Name=Ukraine
Name[af]=Ukraïne
Name[ar]=أوكرانيا
Name[as]=ইউক্ৰেন
Name[ast]=Ucraína
Name[be]=Украіна
Name[be@latin]=Ukraina
Name[bg]=Украйна
Name[bn]=ইউক্রেন
Name[bn_IN]=ইউক্রেন
Name[br]=Ukraina
Name[bs]=Ukrajina
Name[ca]=Ucraïna
Name[ca@valencia]=Ucraïna
Name[cs]=Ukrajina
Name[csb]=Ùkajina
Name[cy]=Wcr?in
Name[da]=Ukraine
Name[de]=Ukraine
Name[el]=Ουκρανία
Name[en_GB]=Ukraine
Name[eo]=Ukrainio
Name[es]=Ucrania
Name[et]=Ukraina
Name[eu]=Ukraina
Name[fa]=اوکراین
Name[fi]=Ukraina
Name[fr]=Ukraine
Name[fy]=Oekraïne
Name[ga]=An Úcráin
Name[gl]=Ucraína
Name[gu]=યુક્રેન
Name[he]=אוקראינה
Name[hi]=उक्रेन
Name[hne]=उक्रेन
Name[hr]=Ukrajina
Name[hsb]=Ukrainska
Name[hu]=Ukrajna
Name[ia]=Ukraina
Name[id]=Ukraina
Name[is]=Úkraína
Name[it]=Ucraina
Name[ja]=ウクライナ
Name[ka]=უკრაინა
Name[kk]=Украина
Name[km]=អ៊ុយក្រែន
Name[kn]=ಉಕ್ರೈನ್
Name[ko]=우크라이나
Name[ku]=Ukrayna
Name[lt]=Ukraina
Name[lv]=Ukraina
Name[mai]=उक्रेन
Name[mk]=Украина
Name[ml]=യുക്രെയിന്‍
Name[mr]=युक्रेन
Name[ms]=Ukraine
Name[nb]=Ukraina
Name[nds]=Ukraine
Name[ne]=यूक्रेन
Name[nl]=Oekraïne
Name[nn]=Ukraina
Name[oc]=Ucraïna
Name[or]=ପ୍ରଜାତନ୍ତ୍ର
Name[pa]=ਯੂਕਰੇਨ
Name[pl]=Ukraina
Name[pt]=Ucrânia
Name[pt_BR]=Ucrânia
Name[ro]=Ucraina
Name[ru]=Украина
Name[se]=Ukraina
Name[si]=යුක්රේනය
Name[sk]=Ukrajina
Name[sl]=Ukrajina
Name[sr]=Украјина
Name[sr@ijekavian]=Украјина
Name[sr@ijekavianlatin]=Ukrajina
Name[sr@latin]=Ukrajina
Name[sv]=Ukraina
Name[ta]=உக்ரெய்ன்
Name[te]=ఉక్రెయిన్
Name[tg]=Украина
Name[th]=ยูเครน
Name[tr]=Ukrayna
Name[ug]=ئۇكرائىنا
Name[uk]=Україна
Name[uz]=Ukraina
Name[uz@cyrillic]=Украина
Name[vi]=Ukraine
Name[wa]=Oucrinne
Name[xh]=Ukraine
Name[x-test]=xxUkrainexx
Name[zh_CN]=乌克兰
Name[zh_TW]=烏克蘭
Region=easteurope
Languages=uk
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[uk]=%A, %d-%b-%Y
DateFormat[ru]=%A, %d-%b-%Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
MeasureSystem=0
PageSize=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=UAH
CurrencyCode=UAH
