[KCM Locale]
Author=Pedro Morais <morais@kde.org>
Name=Portugal
Name[af]=Portugal
Name[ar]=البرتغال
Name[as]=পোৰ্টুগাল
Name[ast]=Portugal
Name[be]=Партугалія
Name[be@latin]=Partuhalija
Name[bg]=Португалия
Name[bn]=পোর্তুগাল
Name[bn_IN]=পোর্টুগাল
Name[br]=Portugal
Name[bs]=Portugal
Name[ca]=Portugal
Name[ca@valencia]=Portugal
Name[cs]=Portugalsko
Name[csb]=Pòrtugalskô
Name[cy]=Portiwgal
Name[da]=Portugal
Name[de]=Portugal
Name[el]=Πορτογαλία
Name[en_GB]=Portugal
Name[eo]=Portugalo
Name[es]=Portugal
Name[et]=Portugal
Name[eu]=Portugal
Name[fa]=پرتغال
Name[fi]=Portugali
Name[fr]=Portugal
Name[fy]=Portugal
Name[ga]=An Phortaingéil
Name[gl]=Portugal
Name[gu]=પોર્ટુગલ
Name[he]=פורטוגל
Name[hi]=पुर्तगाल
Name[hne]=पुर्तगाल
Name[hr]=Portugal
Name[hsb]=Portugal
Name[hu]=Portugália
Name[ia]=Portugal
Name[id]=Portugal
Name[is]=Portúgal
Name[it]=Portogallo
Name[ja]=ポルトガル
Name[ka]=პორტუგალია
Name[kk]=Португалия
Name[km]=ព័រទុយហ្គាល់
Name[kn]=ಪೋರ್ಚುಗಲ್
Name[ko]=포르투갈
Name[ku]=Portekîz
Name[lt]=Portugalija
Name[lv]=Portugāle
Name[mai]=पुर्तगाल
Name[mk]=Португалија
Name[ml]=പോര്‍ച്ചുഗല്‍
Name[mr]=पोर्तुगाल
Name[ms]=Portugal
Name[nb]=Portugal
Name[nds]=Portugal
Name[ne]=पोर्चुगल
Name[nl]=Portugal
Name[nn]=Portugal
Name[oc]=Portugal
Name[or]=ପର୍ତ୍ତୁଗାଲ
Name[pa]=ਪੁਰਤਗਾਲ
Name[pl]=Portugalia
Name[pt]=Portugal
Name[pt_BR]=Portugal
Name[ro]=Portugalia
Name[ru]=Португалия
Name[se]=Portugal
Name[si]=පෘතුගාලය
Name[sk]=Portugalsko
Name[sl]=Portugalska
Name[sr]=Португал
Name[sr@ijekavian]=Португал
Name[sr@ijekavianlatin]=Portugal
Name[sr@latin]=Portugal
Name[sv]=Portugal
Name[ta]=போர்த்துகல்
Name[te]=పొర్టుగల్
Name[tg]=Португалия
Name[th]=โปรตุเกส
Name[tr]=Portekiz
Name[ug]=پورتۇگالىيە
Name[uk]=Португалія
Name[uz]=Portugaliya
Name[uz@cyrillic]=Португалия
Name[vi]=Bồ Đào Nha
Name[wa]=Portugal
Name[xh]=Portugal
Name[x-test]=xxPortugalxx
Name[zh_CN]=葡萄牙
Name[zh_TW]=葡萄牙
Region=westeurope
Languages=pt
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
TimeFormat=%H:%M:%S
DateFormat[pt]=%A, %e de %B de %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%Y-%m-%d
WeekStartDay=7
PageSize=0
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
