[KCM Locale]
Name=Guinea
Name[ar]=غينيا
Name[be]=Гвінея
Name[bg]=Гвинея
Name[br]=Gine
Name[csb]=Gwinea
Name[cy]=Gini
Name[el]=Γουινέα
Name[eo]=Gvineo
Name[eu]=Ginea
Name[fa]=گینه
Name[fr]=Guinée
Name[ga]=An Ghuine
Name[gl]=Guiné
Name[he]=גינאה
Name[hr]=Gvineja
Name[is]=Gínea
Name[ja]=ギニア
Name[ka]=გვინეა
Name[kk]=Гвинея
Name[km]=ហ្គីណេ
Name[ko]=기니
Name[lt]=Gvinėja
Name[lv]=Gvineja
Name[mk]=Гвинеја
Name[ne]=गुयना
Name[pa]=ਗੁਇਨੀਆ
Name[pl]=Gwinea
Name[pt]=Guiné
Name[pt_BR]=Guiné
Name[ru]=Гвинея
Name[sl]=Gvineja
Name[sr]=Гвинеја
Name[sr@Latn]=Gvineja
Name[ta]=க்யுனியா
Name[tg]=Гине
Name[tr]=Gine
Name[uk]=Гвінея
Name[uz]=Гвинея
Name[x-test]=xxGuineaxx
Name[zh_TW]=幾內亞
Region=westafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=FG
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=1
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
