[KCM Locale]
Name=Slovakia
Name[af]=Slovakië
Name[be]=Славакія
Name[bg]=Словакия
Name[br]=Slovaki
Name[ca]=Eslovàquia
Name[cs]=Slovensko
Name[csb]=Słowackô
Name[cy]=Slofacia
Name[da]=Slovakiet
Name[de]=Slowakien
Name[el]=Σλοβακία
Name[eo]=Slovakujo
Name[es]=Eslovaquia
Name[et]=Slovakkia
Name[eu]=Eslovakia
Name[fa]=اسلواکی
Name[fr]=Slovaquie
Name[fy]=Slowakije
Name[ga]=An tSlóvaic
Name[gl]=Eslováquia
Name[he]=סלובקיה
Name[hr]=Slovačka
Name[hu]=Szlovákia
Name[is]=Slóvakía
Name[it]=Slovacchia
Name[ja]=スロバキア
Name[ka]=სლოვაკია
Name[kk]=Словакия
Name[km]=ស្លូវ៉ាគី
Name[ko]=슬로바키아
Name[lt]=Slovakija
Name[lv]=Slovākija
Name[mk]=Словачка
Name[nds]=Slowakei
Name[ne]=स्लोभाकिया
Name[nl]=Slowakije
Name[pa]=ਸਲੋਵਾਕਿਆ
Name[pl]=Słowacja
Name[pt]=Eslováquia
Name[pt_BR]=Eslováquia
Name[ro]=Slovacia
Name[ru]=Словакия
Name[se]=Slovákia
Name[sl]=Slovaška
Name[sr]=Словачка
Name[sr@latin]=Slovačka
Name[sv]=Slovakien
Name[ta]=சுலோவாக்கிய
Name[te]=స్లొవాకియా
Name[tg]=Услувок
Name[tr]=Slovakya
Name[uk]=Словакія
Name[uz]=Словакия
Name[vi]=Xlô-vák
Name[wa]=Eslovakeye
Name[x-test]=xxSlovakiaxx
Name[zh_TW]=斯洛伐克
Region=centraleurope
Languages=sk
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=Sk
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sk]=%a %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
