[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=nepomuksearchmodule
X-KDE-DBus-ModuleName=nepomuksearchmodule
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
Name=Nepomuk Search Module
Name[ar]=وحدة بحث نبومك
Name[bg]=Модул за търсене Nepomuk
Name[bn]=নেপোমুক সন্ধান মডিউল
Name[ca]=Mòdul de cerques del Nepomuk
Name[ca@valencia]=Mòdul de cerques del Nepomuk
Name[da]=Nepomuk søgemodul
Name[de]=Nepomuk-Suchmodul
Name[el]=Μονάδα Αναζήτησης Nepomuk
Name[en_GB]=Nepomuk Search Module
Name[es]=Módulo de búsqueda Nepomuk
Name[et]=Nepomuki otsingumoodul
Name[eu]=Nepomuk bilaketa mudulua
Name[fi]=Nepomukin hakumoduuli
Name[fr]=Service de recherche Nepomuk
Name[fy]=Nepomuk syk module
Name[ga]=Modúl Cuardaigh Nepomuk
Name[he]=מודול החיפוש של Nepomuk
Name[hi]=नेपोमक खोज मोड्यूल
Name[hr]=Nepomukov modul za pretraživanje
Name[hu]=Nepomuk keresőmodul
Name[ia]=Modulo de cerca de Nepomuk
Name[id]=Modul Pencarian Nepomuk
Name[is]=Nepomuk leitareining
Name[it]=Modulo di ricerca di Nepomuk
Name[ja]=Nepomuk 検索モジュール
Name[kk]=Nepomuk іздеу модулі
Name[km]=ម៉ូឌុល​ស្វែងរក​របស់ Nepomuk
Name[kn]=ನೆಪೋಮುಕ್ ಹುಡುಕು ಘಟಕ
Name[ko]=Nepomuk 검색 모듈
Name[lt]=Nepomuk paieškos modulis
Name[lv]=Nepomuk meklēšanas modulis
Name[mk]=Модул на Непомук за пребарување
Name[ml]=നെപ്പോമുക്ക് തെരച്ചില്‍ മൊഡ്യൂള്‍
Name[nb]=Nepomuk søkemodul
Name[nds]=Nepomuk-Söökmoduul
Name[nl]=Nepomuk-zoekmodule
Name[nn]=Nepomuk søkjemodul
Name[pa]=ਨਿਪੋਮੁਕ ਖੋਜ ਮੋਡੀਊਲ
Name[pl]=Moduł wyszukiwania Nepomuka
Name[pt]=Módulo de Pesquisa do Nepomuk
Name[pt_BR]=Módulo de pesquisa do Nepomuk
Name[ro]=Modul de căutare Nepomuk
Name[ru]=Модуль поиска Nepomuk
Name[sk]=Modul vyhľadávania Nepomuk
Name[sl]=Nepomukov modul za iskanje
Name[sr]=Претраживачки модул Непомука
Name[sr@ijekavian]=Претраживачки модул Непомука
Name[sr@ijekavianlatin]=Pretraživački modul Nepomuka
Name[sr@latin]=Pretraživački modul Nepomuka
Name[sv]=Nepomuk-sökmodul
Name[tg]=Хидматҳои ҷустуҷӯии Nepomuk
Name[th]=มอดูลค้นหาของบริการ Neomuk
Name[tr]=Nepomuk Arama Modülü
Name[uk]=Модуль пошуку Nepomuk
Name[x-test]=xxNepomuk Search Modulexx
Name[zh_CN]=Nepomuk 搜索模块
Name[zh_TW]=Nepomuk 搜尋模組
Comment=Helper module for KIO to ensure automatic updates of nepomuksearch listings.
Comment[ar]=وحدة مساعدة لKIO لتضمن التحديث الآلي لقوائم nepomuksearch
Comment[ca]=Mòdul ajudant per al KIO que assegura les actualitzacions automàtiques dels llistats del «nepomuksearch».
Comment[ca@valencia]=Mòdul ajudant per al KIO que assegura les actualitzacions automàtiques dels llistats del «nepomuksearch».
Comment[da]=Hjælpemodul til KIO til at sikre automatisk opdatering af nepomuksearchs oplistninger.
Comment[de]=Hilfsmodul für KIO zur automatischen Aktualisierung von Nepomuk Suchergebnis-Listen.
Comment[el]=Μονάδα βοήθειας για το KIO για να διασφαλιστούν οι αυτόματες ενημερώσεις στην λίστα του nepomuksearch.
Comment[en_GB]=Helper module for KIO to ensure automatic updates of nepomuksearch listings.
Comment[es]=Módulo auxiliar de KIO para asegurar la actualización automática de listados de búsquedas con Nepomuk.
Comment[et]=KIO abimoodul Nepomuki otsinguloendite automaatseks uuendamiseks.
Comment[eu]=KIOrentzako modulu laguntzailea nepomuksearch zerrenden eguneraketa automatikoa ziurtatzeko.
Comment[fi]=KIO-apumoduuli, joka takaa nepomuksearch-luettelointien automaattiset päivitykset
Comment[fr]=Module assistant pour KIO qui assure les mises à jours automatiques des listes de NepomukSearch 
Comment[fy]=Helper module foar KIO om wis te wêze dat nepomuksearch listen automatysk fernije.
Comment[ga]=Modúl cabhrach le haghaidh KIO a dhéanann cinnte go bhfuil eolairí nepomuksearch nuashonraithe go huathoibríoch.
Comment[hr]=Pomoćni modul za KIO koji osigurava automatsko ažuriranje izlistavanja nepomuk pretraga.
Comment[ia]=Modulo de Adjuta pro KIO per assecurar actualisationes automatic de listas de nepomuksearch.
Comment[id]=Modul penolong untuk KIO untuk memastikan pemutakhiran otomatis pengurutan nepomuksearch.
Comment[is]=KIO hjálpareining sem tryggir sjálfvirkar uppfærslur á leitarlistum Nepomuk leitareiningar.
Comment[it]=Modulo ausiliare per KIO per assicurare gli aggiornamenti automatici delle liste di ricerca di Nepomuk.
Comment[ja]=Nepomuk 検索一覧を自動的に更新するための KIO ヘルパーモジュール
Comment[kk]=nepomuksearch тізімдерін автоматты түрде жаңартуға арналған KIO-нің көмекші модулі
Comment[km]=ម៉ឌុល​កម្មវិធី​ជំនួយ​សម្រាប់ KIO ដើម្បី​ប្រាកដ​ថា ធ្វើ​​បច្ចុប្បន្នភាព​ការ​រាយ​របស់ nepomuksearch ដោយ​ស្វ័យ​ប្រវត្តិ ។
Comment[ko]=nepomuksearch 목록을 자동으로 업데이트하는 KIO 모듈입니다.
Comment[lt]=Pagalbos modulis, skirtas KIO, užtikrinantis automatinius atnaujinimus nepomuk paieškos sąrašuose.
Comment[nb]=Hjelpemodul for KIO – for å sikre automatiske oppdateringer av nepomuksearch-resultater.
Comment[nds]=Hülpmoduul för de KDE-In-/Utgaav för automaatsch Opfrischen vun Nepomuk-Sööklisten
Comment[nl]=Helper-module voor KIO om automatisch bijwerken van nepomukzoeklijsten.
Comment[nn]=Hjelpemodul for KIO – for å sikra automatiske oppdateringar av nepomuksearch-resultat.
Comment[pl]=Moduł pomocniczy dla KIO służący do zapewnienia automatycznych uaktualnień list nepomuksearch.
Comment[pt]=Módulo auxiliar do KIO para garantir as actualizações automáticas das listagens do 'nepomuksearch'.
Comment[pt_BR]=Módulo assistente do KIO para garantir atualizações automáticas das listagens do nepomuksearch.
Comment[ru]=Вспомогательный модуль KIO, необходимый для обновления результатов поиска.
Comment[sk]=Pomocný modul pre KIO, ktorý zabezpečuje automatickú aktualizáciu zoznamov nepomuksearch.
Comment[sl]=Pomožni modul za KIO, ki zagotavlja samodejne posodobitve seznamov nepomuksearch
Comment[sr]=Помоћни модул за К‑У/И који обезбеђује аутоматско ажурирање спискова Непомукове претраге.
Comment[sr@ijekavian]=Помоћни модул за К‑У/И који обезбеђује аутоматско ажурирање спискова Непомукове претраге.
Comment[sr@ijekavianlatin]=Pomoćni modul za K‑U/I koji obezbeđuje automatsko ažuriranje spiskova Nepomukove pretrage.
Comment[sr@latin]=Pomoćni modul za K‑U/I koji obezbeđuje automatsko ažuriranje spiskova Nepomukove pretrage.
Comment[sv]=Hjälpmodul för I/O-slavar för att försäkra att automatisk uppdatering görs av Nepomuk söklistningar.
Comment[th]=มอดูลช่วยสำหรับ KIO เพื่อให้แน่ใจว่าจะมีการปรับปรุงการทำรายการของ nepomuksearch
Comment[tr]=KIO'nun, nepomuksearch listelerinin otomatik güncellenmesini sağlaması için yardımcı modül.
Comment[uk]=Допоміжний модуль KIO для забезпечення автоматичного оновлення списків nepomuksearch.
Comment[x-test]=xxHelper module for KIO to ensure automatic updates of nepomuksearch listings.xx
Comment[zh_CN]=KIO 用于自动更新 Nepomuk 搜索列表的助手模块。
Comment[zh_TW]=KIO 協助模組，確定 nepomuk 搜尋清單會自動更新。
