[KCM Locale]
Name=Guinea-Bissau
Name[ar]=غينيا بيساو
Name[be]=Гвінэя-Бісаў
Name[bg]=Гвинея Бисау
Name[br]=Gine-Biso
Name[csb]=Gwinea-Bissau
Name[cy]=Gini-Bisaw
Name[el]=Γουινέα-Μπισσάου
Name[eo]=Gvineo Bisaŭa
Name[eu]=Ginea-Bissau
Name[fa]=گینه بیسائو
Name[fr]=Guinée-Bissau
Name[ga]=Guine-Bhissau
Name[he]=גינאה ביסאו
Name[hu]=Bissau-Guinea
Name[is]=Gínea-Bissá
Name[ja]=ギニアビサウ
Name[ka]=გვინეა ბისაუ
Name[kk]=Гвинея-Бисау
Name[km]=ហ្គីណេប៊ីសៅ
Name[ko]=기니비사우
Name[lv]=Gvineja-Bisava
Name[mk]=Гвинеја Бисао
Name[ne]=गुयना-बिसाउ
Name[pa]=ਗੁਇਨਿਆ-ਬਿਸ਼ਾਉ
Name[pl]=Gwinea-Bissau
Name[pt]=Guiné Bissau
Name[pt_BR]=Guiné-Bissau
Name[ru]=Гвинея-Бисау
Name[sr]=Гвинеја Бисао
Name[sr@latin]=Gvineja Bisao
Name[ta]=க்யுனியா-பிஸ்ஸா
Name[te]=గుయ్నియా-బిస్సౌ
Name[tg]=Гвинеи Биссои
Name[th]=กินี - บิสซอ
Name[tr]=Gine-Bissau
Name[uk]=Гвінея-Бісау
Name[uz]=Гвинея-Биссау
Name[vi]=Ghi-ni-Bi-xau
Name[wa]=Guinêye-Bissaw
Name[x-test]=xxGuinea-Bissauxx
Name[zh_TW]=幾內亞比紹
Region=westafrica
Languages=es
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=CFAF
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
