[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell componentchooser
Icon=misc
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_componentchooser
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=personal

Name=Default Applications
Name[be]=Праграмы па змаўчанні
Name[bg]=Конзолни програми
Name[de]=Standard-Komponenten
Name[el]=Προκαθορισμένες εφαρμογές
Name[es]=Aplicaciones predefinidas
Name[fa]=کاربردهای پیش‌فرض
Name[ga]=Feidhmchláir Réamhshocraithe
Name[he]=תוכניות ברירת מחדל
Name[ja]=標準アプリケーション
Name[km]=កម្មវិធី​លំនាំដើម​
Name[nds]=Standardprogrammen
Name[nl]=Standaard-toepassingen
Name[pa]=ਮੂਲ ਕਾਰਜ
Name[pt]=Aplicações de Terminal
Name[pt_BR]=Aplicativos Padrão
Name[sl]=Privzeti programi
Name[sv]=Standardprogram
Name[th]=แอพพลิเคชั่นปริยาย
Name[vi]=Ứng dụng mặc định
Name[zh_TW]=預設應用程式
Comment=Choose the default components for various services
Comment[af]=Kies die verstek komponente vir verskeie dienste
Comment[be]=Выбірае стандартныя кампаненты для розных сервісаў
Comment[bg]=Избор на предпочитани компоненти за е-поща, редактиране на текст и др.
Comment[ca]=Escull els components predeterminats per a diversos serveis
Comment[cs]=Vyberte výchozí komponenty pro různé služby
Comment[csb]=Wébiérk domëslnych kòmpònentów dlô wszelejaczich ùsłëżnotów
Comment[cy]=Dewiswch y cydrannau rhagosodedig i wasanaethau amrywiol
Comment[da]=Vælg standardkomponenterne for forskellige tjenester
Comment[de]=Die Standard-Komponenten für diverse Dienste
Comment[el]=Επιλέξτε τα προκαθορισμένα συστατικά για διάφορες υπηρεσίες
Comment[eo]=Elektu la normajn partojn por malsamaj servoj
Comment[es]=Elegir los componentes predeterminados para varios servicios
Comment[et]=Mitmete teenuste vaikekomponentide valimine
Comment[eu]=Hautatu zerbitzu batzuetarako osagai lehenetsiak
Comment[fa]=انتخاب مؤلفه‌های پیش‌فرض برای خدمات گوناگون
Comment[fi]=Calitse oletuskomponentit eri palveluille
Comment[fr]=Choix des composants par défaut pour différents services
Comment[fy]=Kies de standertkomponinten foar de ferskate tsjinsten
Comment[gl]=Escolla as compoñentes por defeito para varios servizos
Comment[he]=בחירת הרכיבים המשמשים כברירת מחדל עבור שירותים שונים
Comment[hr]=Odaberite zadane komponente za različite usluge
Comment[hu]=Az alapértelmezett komponensek kiválasztása a különféle szolgáltatásokhoz
Comment[is]=Velja sjálfgefnar einingar fyrir ýmsar þjónustur
Comment[it]=Scelta dei componenti predefiniti per vari servizi
Comment[ja]=各種サービスのための標準コンポーネントを選択
Comment[ka]=თავდაპირველი კომპონენტების არჩევა სხვა და სხვა მომსახურეობებისთვის
Comment[kk]=Түрлі қызметтердің әдетті компоненттерін таңдау
Comment[km]=ជ្រើស​សមាសភាគ​លំនាំដើម សម្រាប់​សេវា​ផ្សេងៗ
Comment[lt]=Pasirinkite numatytus komponentus įvairioms tarnyboms
Comment[lv]=Izvēlieties noklusējuma komponentes dažādiem servisiem
Comment[mk]=Изберете ги стандардните компоненти за разните сервиси
Comment[ms]=Pilih komponen piawai untuk pelbagai servis
Comment[nb]=Velg standardkomponenter for ulike tjenester
Comment[nds]=Wähl de Standardprogrammen för Deensten ut
Comment[ne]=विविध सेवाका लागि पूर्वनिर्धारित अवयवहरू रोज्नुहोस्
Comment[nl]=Kies de standaardcomponenten voor diverse services
Comment[nn]=Vel standardkomponentar for ymse tenester
Comment[pa]=ਵੱਖ ਵੱਖ ਸਰਵਿਸਾਂ ਲਈ ਮੂਲ ਇੰਦਰਾਜ਼ ਚੁਣੋ
Comment[pl]=Wybór domyślnych komponentów dla różnych usług
Comment[pt]=Escolha os componentes predefinidos para os vários serviços
Comment[pt_BR]=Escolha os componentes padrão para vários serviços
Comment[ro]=Alegeţi componentele implicite pentru diferite servicii
Comment[ru]=Выбор основных компонентов разнообразных служб
Comment[se]=Vállje bálválusaid standárdosiid
Comment[sl]=Izberite privzete komponente za različne storitve
Comment[sr]=Избор подразумеваних компоненти за разне сервисе
Comment[sr@latin]=Izbor podrazumevanih komponenti za razne servise
Comment[sv]=Väljer normalkomponenter för olika sorters tjänster
Comment[ta]=பலவிதமான சேவைகளுக்கும் முன்னிருந்த பகுதிகளை தேர்வு செய்யவும்
Comment[tg]=Интихоби қисматҳои асосӣ барои хизматҳои гуногун
Comment[th]=เลือกคอมโพเน็นต์ปริยายสำหรับบริการต่างๆ
Comment[tr]=Çeşitli servisler için öntanımlı bileşenleri seçin
Comment[uk]=Вибір типових компонентів для різноманітних служб
Comment[uz]=Турли хизматлар учун андоза компонентларни танлаш
Comment[vi]=Chọn các thành phần mặc định cho các dịch vụ khác nhau
Comment[x-test]=xxChoose the default components for various servicesxx
Comment[xh]=Khetha ingxenye zokungagqibekanga kweenkonzo eziliqela
Comment[zh_TW]=選擇各種服務的預設元件

Keywords=components,component chooser,resources,e-mail,email client,terminal emulator,applications
Keywords[be]=кампаненты,выбар кампанентаў,рэсурсы,кліент электроннай пошты,эмулятар тэрміналу,components,component chooser,resources, email client, terminal emulator
Keywords[bg]=Keywords=е-поща, ел, поща, редактор, стандартен, компонент, модул, components, component chooser, resources, email client, terminal emulator
Keywords[de]=Komponenten,Ressourcen,E-Mail,E-Mail-Programm,Terminal-Emulation,Programme,Anwendungen
Keywords[el]=συστατικά,επιλογέας συστατικών,πόροι, πελάτης email, email,προσομοιωτής τερματικού,εφαρμογές
Keywords[es]=componentes,selector de componentes,recursos,correo electrónico,cliente de correo,emulador de terminal,aplicaciones
Keywords[fa]=مؤلفه‌ها، انتخابگر مؤلفه، منابع، رایانامه، کارخواه رایانامه، مقلد رایانه، کاربردها
Keywords[ga]=comhpháirteanna,roghnóir comhpháirte,acmhainní,ríomhphost,cliant ríomhphoist,aithriseoir teirminéil
Keywords[he]=רכיבים,בוחר הרכיבים,משאבים,תוכנית דוא"ל ,הדמיית מסוף,components,component chooser, resources, email client, terminal emulator
Keywords[ja]=コンポーネント,選択,リソース,Eメール,クライアント,ターミナルエミュレータ,アプリケーション
Keywords[km]=សមាសភាគ កម្មវិធី​ជ្រើស​សមាសភាគ ធនធាន​ អ៊ីមែល កម្មវិធី​អ៊ីមែល វត្ថុ​ត្រាប់​តាម​ស្ថានីយកម្មវិធី 
Keywords[nds]=Komponenten,Komponenten utsöken,Ressourcen,E-Mail-Client,Nettpost-Programm,Terminalemulater,Programmen
Keywords[nl]=componenten,onderdelen,componentenkiezer,gegevensbronnen,e-mailprogramma,terminal,programma's,toepassingen,applicaties
Keywords[pa]=components,component chooser,ਸਰੋਤ,ਈਮੇਲ,ਈਮੇਲ ਕਲਾਂਇਟ,terminal emulator,ਕਾਰਜ
Keywords[pt]=componentes,selector de componentes,recursos,cliente de e-mail,emulador de terminal
Keywords[pt_BR]=componentes,seletor de componentes,recursos,e-mail,cliente de e-mail,emulador de terminal,aplicativos
Keywords[sv]=komponenter,komponentväljare,resurser,e-post,e-postklient,terminalemulator,program
Keywords[th]=คอมโพเน็นต์,เลือกคอมโพเน็นต์,ทรัพยากรโปรแกรมรับส่งอีเมล,ตัวจำลองเทอร์มินัล
Keywords[vi]=thành phần,bộ chọn thành phần,tài nguyên,thư điện tử,trình thư,mô phỏng thiết bị cuối,ứng dụng
