[KCM Locale]
Name=Seychelles
Name[ar]=سيشيل
Name[be]=Сэйшэлы
Name[bg]=Сейшелски острови
Name[br]=Sechell
Name[csb]=Seszele
Name[cy]=Ynysoedd y Seisi?l
Name[da]=Seychellerne
Name[de]=Seychellen
Name[el]=Σεϋχέλλες
Name[eo]=Sejŝeloj
Name[et]=Seišellid
Name[fa]=سیشل
Name[fi]=Seychellit
Name[fy]=Seychellen
Name[ga]=Na Séiséil
Name[gl]=Seicheles
Name[he]=איי סיישל
Name[hr]=Sejšeli
Name[is]=Seychelles-eyjar
Name[ja]=セーシェル
Name[ka]=სეიშელები
Name[kk]=Сейшел ар-ы
Name[km]=សីស្ហែល
Name[ko]=세이셸
Name[lv]=Seišeļu salas
Name[mk]=Сејшели
Name[nb]=Seychellene
Name[nds]=Seychellen
Name[ne]=सेचलेज
Name[nl]=Seychellen
Name[nn]=Seychellane
Name[pa]=ਸੀਲਚੀਲੀਸ
Name[pl]=Seszele
Name[pt]=Ilhas Seychelles
Name[ru]=Сейшельские острова
Name[se]=Seyšellat
Name[sl]=Sejšeli
Name[sr]=Сејшели
Name[sr@latin]=Sejšeli
Name[sv]=Seychellerna
Name[ta]=சேசெல்லஸ்
Name[te]=సెషెల్స్
Name[tg]=Сейшелӣ
Name[tr]=Seyşeller
Name[uk]=Сейшельські острови
Name[uz]=Сейшел Ороллари
Name[vi]=Xê-sel
Name[wa]=Seycheles
Name[x-test]=xxSeychellesxx
Name[zh_TW]=塞席爾
Region=southafrica
Languages=en_GB,fr
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=SR
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
