[KCM Locale]
Name=Seychelles
Name[ar]=سيشيل
Name[as]=ছেচেলছ
Name[be]=Сэйшэлы
Name[be@latin]=Sejšelskija vyspy
Name[bg]=Сейшелски острови
Name[bn]=সীচিলিস
Name[bn_IN]=সেশেলস
Name[br]=Sechell
Name[csb]=Seszele
Name[cy]=Ynysoedd y Seisi?l
Name[da]=Seychellerne
Name[de]=Seychellen
Name[el]=Σεϋχέλλες
Name[eo]=Sejŝeloj
Name[et]=Seišellid
Name[fa]=سیشل
Name[fi]=Seychellit
Name[fy]=Seychellen
Name[ga]=Na Séiséil
Name[gl]=Seicheles
Name[gu]=સેશેલ્સ
Name[he]=איי סיישל
Name[hi]=शेसेल्स
Name[hne]=सेसेल्स
Name[hr]=Sejšeli
Name[hsb]=Seychelle
Name[is]=Seychelles-eyjar
Name[ja]=セーシェル
Name[ka]=სეიშელები
Name[kk]=Сейшел ар-ы
Name[km]=សីស្ហែល
Name[kn]=ಸಿಶೆಲ್ಸ್
Name[ko]=세이셸
Name[ku]=Seyşelan
Name[lt]=Seišeliai
Name[lv]=Seišeļu salas
Name[mai]=सिचेलीस
Name[mk]=Сејшели
Name[ml]=സെയ്ഷെല്‍സ്
Name[mr]=सीचेलेस
Name[nb]=Seychellene
Name[nds]=Seychellen
Name[ne]=सेचलेज
Name[nl]=Seychellen
Name[nn]=Seychellane
Name[oc]=Seichèlas
Name[or]=ସିଚେଲେସ
Name[pa]=ਸੀਲਚੀਲੀਸ
Name[pl]=Seszele
Name[pt]=Ilhas Seychelles
Name[pt_BR]=Seicheles
Name[ru]=Сейшельские острова
Name[se]=Seyšellat
Name[sk]=Seychely
Name[sl]=Sejšeli
Name[sr]=Сејшели
Name[sr@latin]=Sejšeli
Name[sv]=Seychellerna
Name[ta]=சேசெல்லஸ்
Name[te]=సెషెల్స్
Name[tg]=Ҷазираҳои Сейшелӣ
Name[th]=เซย์เชลล์
Name[tr]=Seyşeller
Name[uk]=Сейшельські острови
Name[uz]=Seyshel Orollari
Name[uz@cyrillic]=Сейшел Ороллари
Name[vi]=Xê-sel
Name[wa]=Seycheles
Name[x-test]=xxSeychellesxx
Name[zh_CN]=塞舌尔
Name[zh_TW]=塞席爾
Region=southafrica
Languages=en_GB,fr
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=SR
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
