[KCM Locale]
Name=Mexico
Name[af]=Meksiko
Name[ar]=المكسيك
Name[bg]=Мексико
Name[br]=Mec'hiko
Name[ca]=Mèxic
Name[cs]=Mexiko
Name[cy]=Mecsico
Name[de]=Mexiko
Name[el]=Μεξικό
Name[eo]=Meksiko
Name[es]=México
Name[et]=Mehhiko
Name[eu]=Mexiko
Name[fa]=مکزیک
Name[fi]=Meksiko
Name[fr]=Mexique
Name[ga]=Meicsiceo
Name[gl]=México
Name[he]=מקסיקו
Name[hr]=Meksiko
Name[hu]=Mexikó
Name[is]=Mexíkó
Name[it]=Messico
Name[ja]=メキシコ
Name[ka]=მექსიკა
Name[kk]=Мексика
Name[km]=ម៉ិចស៊ិក
Name[ko]=멕시코
Name[lt]=Meksika
Name[lv]=Meksika
Name[mk]=Мексико
Name[nds]=Mexiko
Name[ne]=मेक्सिको
Name[pa]=ਮੈਕਸਿਕੋ
Name[pl]=Meksyk
Name[pt]=México
Name[pt_BR]=México
Name[ro]=Mexic
Name[ru]=Мексика
Name[sl]=Mehika
Name[sr]=Мексико
Name[sr@Latn]=Meksiko
Name[ta]=மெக்சிகோ
Name[te]=మెక్సికొ
Name[tg]=Мексико
Name[tr]=Meksika
Name[uk]=Мексика
Name[uz]=Мексика
Name[x-test]=xxMexicoxx
Name[zh_TW]=墨西哥
Region=northamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
CurrencySymbol=$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
