[Desktop Entry]
Keys=qwsh
Name=Qwant Shopping
Name[nl]=Qwant winkelen
Name[sk]=Qwant nakupovanie
Name[sv]=Qwant-shopping
Name[uk]=Qwant торгівля
Name[x-test]=xxQwant Shoppingxx
Query=https://www.qwant.com/single?q=\\{@}&client=kde&source=shopping
Query[nl]=https://www.qwant.com/single?q=\\{@}&client=kde&source=shopping
Query[sk]=https://www.qwant.com/single?q=\\{@}&client=kde&source=shopping
Query[sv]=https://www.qwant.com/single?q=\\{@}&client=kde&source=shopping
Query[uk]=https://www.qwant.com/single?q=\\{@}&client=kde&source=shopping
Query[x-test]=xxhttps://www.qwant.com/single?q=\\{@}&client=kde&source=shoppingxx
X-KDE-ServiceTypes=SearchProvider
Type=Service
