[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukstrigiservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk Strigi Service
Name[fi]=Nepomukin Strigi-palvelu
Name[ga]=Seirbhís Strigi Nepomuk
Name[gu]=નેપોમુક સ્ટ્રિગિ સર્વર
Name[km]=សេវា Nepomuk Strigi
Name[pt]=Serviço do Strigi para o Nepomuk
Name[pt_BR]=Serviço Strigi para o Nepomuk
Name[th]=บริการ Nepomuk Strigi
Name[zh_CN]=Nepomuk Strigi 服务
Name[zh_TW]=Nepomuk Strigi 服務
Comment=Nepomuk Service which controls the strigidaemon, i.e. indexes files on the desktop
Comment[fi]=Nepomuk-palvelu, joka hallitsee strigidaemon-prosessia tiedostojen indeksoimiseksi
Comment[km]=សេវា Nepomuk ដែល​គ្រប់គ្រង​លើ strigidaemon មានន័យថា ឯកសារ​លិបិក្រមនៅ​លើ​ផ្ទៃ​តុ
Comment[pt]=Um serviço do Nepomuk que controla o 'strigidaemon'; i.e. indexa os ficheiros no ambiente de trabalho
Comment[pt_BR]=Serviço do Nepomuk que controla o strigidaemon, i.e. indexa arquivos no ambiente de trabalho
Comment[zh_CN]=控制 strigidaemon 进程的 Nepomuk 服务，其作用比如对桌面上的文件进行索引
Comment[zh_TW]=控制 Strigi 桌面索引守護程式的 Nepomuk 服務
