[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukstrigiservice
X-KDE-Nepomuk-autostart=false
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk Strigi Service
Name[ca]=Servei Strigi del Nepomuk
Name[el]=Υπηρεσία Strigi του Nepomuk
Name[et]=Nepomuki Strigi teenus
Name[fi]=Nepomukin Strigi-palvelu
Name[ga]=Seirbhís Strigi Nepomuk
Name[gu]=નેપોમુક સ્ટ્રિગિ સર્વર
Name[ja]=Nepomuk Strigi サービス
Name[km]=សេវា Nepomuk Strigi
Name[nds]=Nepomuk-Strigi-Deenst
Name[pt]=Serviço do Strigi para o Nepomuk
Name[pt_BR]=Serviço Strigi para o Nepomuk
Name[ro]=Serviciu Strigi Nepomuk
Name[sl]=Storitev Strigi za Nepomuk
Name[sv]=Nepomuk-Strigitjänst
Name[th]=บริการ Nepomuk Strigi
Name[tr]=Nepomuk Strigi Servisi
Name[uk]=Служба Strigi Nepomuk
Name[x-test]=xxNepomuk Strigi Servicexx
Name[zh_CN]=Nepomuk Strigi 服务
Name[zh_TW]=Nepomuk Strigi 服務
Comment=Nepomuk Service which controls the strigidaemon, i.e. indexes files on the desktop
Comment[ca]=Servei del Nepomuk que controla el strigidaemon, p.ex. indexa els fitxers de l'escriptori
Comment[el]=Υπηρεσία Nepomuk η οποία ελέγχει το δαίμονα strigi, δηλαδή δημιουργία ευρετηρίων αρχείων στην επιφάνεια εργασίας
Comment[et]=Nepomuki teenus, mis kontrollib Strigi deemonit, s.t indekseerib töölaua faile.
Comment[fi]=Nepomuk-palvelu, joka hallitsee strigidaemon-prosessia tiedostojen indeksoimiseksi
Comment[gu]=નેપોમુક સેવા જે સ્ટ્રિગિડેમનને નિયંત્રિત કરે છે, દા.ત. ડેસ્કટોપ પર ફાઇલોને અનુક્રમિત કરવી
Comment[ja]=strigidaemon を制御する Nepomuk サービス (デスクトップ上のファイルのインデックスを作成)
Comment[km]=សេវា Nepomuk ដែល​គ្រប់គ្រង​លើ strigidaemon មានន័យថា ឯកសារ​លិបិក្រមនៅ​លើ​ផ្ទៃ​តុ
Comment[nds]=Nepomuk-Deenst, he stüert den Strigi-Dämoon, de Dateien op den Schriefdisch indizeert
Comment[pt]=Um serviço do Nepomuk que controla o 'strigidaemon'; i.e. indexa os ficheiros no ambiente de trabalho
Comment[pt_BR]=Serviço do Nepomuk que controla o strigidaemon, i.e. indexa arquivos no ambiente de trabalho
Comment[sl]=Nepomukova storitev, ki nadzira pritajeni program Strigi, ki gradi kazala do datotek
Comment[sv]=Nepomuk-tjänst som styr Strigi-demonen, dvs. indexerar filer på skrivbordet
Comment[tr]=Strigidaemon uygulamasını yöneten Nepomuk servisi, masaüstünüzdeki dosyaları indeksleyen bir uygulama
Comment[uk]=Служба Nepomuk, яка контролює фонову службу strigi, тобто, індексує файли на стільниці
Comment[x-test]=xxNepomuk Service which controls the strigidaemon, i.e. indexes files on the desktopxx
Comment[zh_CN]=控制 strigidaemon 进程的 Nepomuk 服务，其作用比如对桌面上的文件进行索引
Comment[zh_TW]=控制 Strigi 桌面索引守護程式的 Nepomuk 服務
