[KCM Locale]
Name=Indonesia
Region=southeastasia
Languages=id
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
NegativeMonetarySignPosition=1
DateFormat[id]=%A, %d %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e/%m/%Y
TimeFormat=%H:%M:%S
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=5
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=IDR
CurrencyCode=IDR
