[KCM Locale]
Name=Czech Republic
Name[be]=Чэхія
Name[bg]=Чешка република
Name[ca]=República Txeca
Name[csb]=Czeskô Repùblika
Name[de]=Tschechien
Name[el]=Δημοκρατία της Τσεχίας
Name[es]=República checa
Name[fa]=جمهوری چک
Name[ga]=Poblacht na Seice
Name[he]=צ'כיה
Name[ja]=チェコ
Name[km]=សាធារណ​រដ្ឋ​ឆេក
Name[nds]=Tschechsche Republiek
Name[nl]=Tsjechië
Name[pa]=ਚੈਕ ਗਣਰਾਜ
Name[pt]=República Checa
Name[pt_BR]=República Checa
Name[sl]=Češka republika
Name[sv]=Tjeckiska republiken
Name[th]=สาธารณรัฐเชค
Name[vi]=Cộng hoà Séc
Name[x-test]=xxCzech Republicxx
Name[zh_TW]=捷克共和國
Region=centraleurope
Languages=cs
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=Kč
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[cs]=%a %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e.%n.%Y
TimeFormat=%H:%M:%S
NounDeclension=true
DateMonthNamePossessive=true
