[KCM Locale]
Name=Mayotte
Name[ca]=Mayotte
Name[en_GB]=Mayotte
Name[et]=Mayotte
Name[pt]=Mayotte
Name[sv]=Mayotte
Name[uk]=Майотта
Name[x-test]=xxMayottexx

Region=southafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
