[KCM Locale]
Name=Mayotte
Name[ca]=Mayotte
Name[ca@valencia]=Mayotte
Name[da]=Mayotte
Name[de]=Mayotte
Name[el]=Μαγιότ
Name[en_GB]=Mayotte
Name[eo]=Mayotte
Name[es]=Mayotte
Name[et]=Mayotte
Name[eu]=Mayotte
Name[fi]=Mayotte
Name[fr]=Mayotte
Name[fy]=Mayotte
Name[hi]=मायोटे
Name[hr]=Mayotte
Name[id]=Mayotte
Name[it]=Mayotte
Name[ja]=マヨット
Name[kk]=Майотта
Name[km]=Mayotte
Name[kn]=ಮೆಯೋಟ್
Name[ko]=마요트
Name[lt]=Majotas
Name[lv]=Majota
Name[mai]=मयोटे
Name[mk]=Мајоте
Name[ml]=മയോട്ട്
Name[nb]=Mayotte
Name[nds]=Mayotte
Name[nl]=Mayotte
Name[nn]=Mayotte
Name[pl]=Majotta
Name[pt]=Mayotte
Name[pt_BR]=Maiote
Name[ro]=Mayotte
Name[ru]=Майотта
Name[sk]=Mayotte
Name[sl]=Mayotte
Name[sr]=Мајот
Name[sr@ijekavian]=Мајот
Name[sr@ijekavianlatin]=Majot
Name[sr@latin]=Majot
Name[sv]=Mayotte
Name[th]=มายอต
Name[uk]=Майотта
Name[wa]=Mayote
Name[x-test]=xxMayottexx
Name[zh_CN]=马约特
Name[zh_TW]=美亞特

Region=southafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
