[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=solidautoeject
X-KDE-DBus-ModuleName=solidautoeject
X-KDE-Kded-autoload=true
Name=Solid Auto-eject service
Name[ar]=خدمة سولد للإخراج التلقائي
Name[bg]=Solid Auto-eject service
Name[ca]=Servei Solid d'expulsió automàtica
Name[ca@valencia]=Servei Solid d'expulsió automàtica
Name[cs]=Služba automatického vysunutí pro Solid
Name[csb]=Ùsłëżnota aùtomatnegò wësëwaniô Solid
Name[da]=Solid auto-skub-ud-tjeneste
Name[de]=Automatischer Auswurfdienst von Solid
Name[el]=Υπηρεσία αυτόματης εξαγωγής Solid
Name[en_GB]=Solid Auto-eject service
Name[es]=Servicio de expulsión automática Solid
Name[et]=Solidi automaatse väljastamise teenus
Name[eu]=Solid-en auto-kanporatu zerbitzua
Name[fi]=Solid automaattinen poistamispalvelu
Name[fr]=Service d'auto-éjection de Solid
Name[fy]=Solid Auto-útsmyt tsjinst
Name[ga]=Seirbhís Díchurtha Uathoibríoch Solid
Name[gl]=Servizo de expulsión automática de Solid
Name[he]=שירות שליפה אוטומטית רגיל
Name[hr]=Solid usluga automatskog izbacivanja
Name[hu]=Solid automatikus lemezkilökő
Name[id]=Layanan keluar otomatis Solid
Name[is]=Solid þjónusta fyrir sjálfvirka útspýtingu
Name[it]=Servizio di espulsione automatica di Solid
Name[kk]=Solid автоалып-шығару қызметі
Name[km]=សេវា​ច្រានចេញ​ដោយ​ស្វ័យ​ប្រវត្តិ​
Name[kn]=ಸಾಲಿಡ್ ಸ್ವಯಂ-ಹೊರತಳ್ಳುವ ಸೇವೆ
Name[ko]=Solid 자동 꺼내기 서비스
Name[lt]=Solid įrenginio automatinis pašalinimas
Name[lv]=Solid auto-izgrūšanas serviss
Name[mai]=सोलिड आटो इजेक्ट सेवा
Name[ml]=സോളിഡിലെ സ്വയം പുറത്തെടുക്കാനുള്ള സേവനം
Name[nb]=Solid-tjeneste for automatisk utløsing
Name[nds]=Solid-Auto-Rutfohrdeenst
Name[nl]=Solid-dienst voor het automatisch uitwerpen
Name[nn]=Solid Auto-utløysar
Name[pa]=ਸਾਲਡ ਆਟੋ-ਬਾਹਰ ਕੱਢਣ ਸਰਵਿਸ
Name[pl]=Usługa automatycznego wysuwania
Name[pt]=Serviço de auto-ejecção do Solid
Name[pt_BR]=Serviço de ejeção automática do Solid
Name[ro]=Serviciu de scoatere automată Solid
Name[si]=දෘඩ ස්වයං-පිටතට ගැනීම් සේවා
Name[sk]=Služba automatického vysunutia pre Solid
Name[sl]=Storitev za samodejni izmet
Name[sr]=Солидов сервис аутоматског избацивања
Name[sr@ijekavian]=Солидов сервис аутоматског избацивања
Name[sr@ijekavianlatin]=Solidov servis automatskog izbacivanja
Name[sr@latin]=Solidov servis automatskog izbacivanja
Name[sv]=Solid automatisk utmatningstjänst
Name[tr]=Solid Otomatik-çıkarma servisi
Name[uk]=Служба автоматичного виштовхування Solid
Name[x-test]=xxSolid Auto-eject servicexx
Name[zh_CN]=Solid 自动弹出服务
Name[zh_TW]=實體自動退出服務
Comment=Allows to automatically release drives when their eject button is pushed
Comment[ar]=تسمح بإخراج  المشغلات عندما يضغط على زر الإخراج الخاص بهن
Comment[bg]=Автоматично освобождаване на устройствата при натискане на бутона за изваждане
Comment[ca]=Permet alliberar unitats automàticament quan es prem el seu botó d'expulsió
Comment[ca@valencia]=Permet alliberar unitats automàticament quan es prem el seu botó d'expulsió
Comment[cs]=Umožňuje automaticky uvolnit mechaniku při stisknutí tlačítka vysunutí
Comment[csb]=Zezwôlô na aùtomatné ùwòlnienié nëków przë wcësniãcô knąpë wësëwaniô
Comment[da]=Muliggør automatisk åbning af drev når der trykkes på deres skub ud-knap
Comment[de]=Ermöglicht das automatische Lösen der Laufwerkseinbindung, wenn der Auswurfknopf betätigt worden ist.
Comment[el]=Επιτρέπει την αυτόματη εξαγωγή μέσων σε οδηγούς όπου πιέστηκε το πλήκτρο εξαγωγής
Comment[en_GB]=Allows to automatically release drives when their eject button is pushed
Comment[es]=Permite liberar automáticamente los discos cuando se pulsa el botón de expulsión
Comment[et]=Võimaldab plaatidel automaatselt väljuda, kui vajutatakse väljastamisnuppu
Comment[eu]=Unitateak automatikoki askatzeko aukera eskaintzen du beraien kanporatzeko botoia sakatzen denean
Comment[fi]=Mahdollistaa asemien automaattisen vapautuksen, kun niiden poistopainiketta painetaan
Comment[fr]=Permet de libérer automatiquement les lecteurs de disque quand leur bouton d'éjection est pressé
Comment[fy]=Stiet it automatysk ferlossen fan stjoerprogramma's ta as der op har útsmyt knop drukt wurdt
Comment[ga]=Ceadaíonn sé seo tiomántán a scaoileadh nuair a bhrúitear a chnaipe díchurtha
Comment[gl]=Permite expulsar automaticamente os dispositivos cando se lles preme o botón de abrir
Comment[he]=מאפשר לשחרר אוטומטית כוננים כאשר כפתור השליפה נלחץ
Comment[hr]=Dozvoljava automatsko izbacivanje uređaja nakon pritiska na njihovu tipku za izbacivanje
Comment[hu]=Lehetővé teszi meghajtók leválasztását a kilökés gombbal
Comment[id]=Memungkinkan untuk secara otomatis melepas penggerak ketika tombol eject ditekan
Comment[is]=Leyfir að drif séu aftengd sjálfvirkt þegar ýtt er á útspýtingarhnapp þeirra
Comment[it]=Permette di liberare automaticamente i dispositivo rimovibili quando viene premuto il pulsante di espulsione
Comment[kk]=Алып-шығару батырмасын басқанда құрылғыны автоматты түрде босатуын рұқсат ету
Comment[km]=អនុញ្ញាត​ឲ្យ​ផ្សាយ​ដ្រាយ​ដោយ​ស្វ័យ​ប្រវត្តិ​នៅពេល​ចុច​ប៊ូតុង​ច្រានចេញ​របស់​វា
Comment[kn]=ಹೊರತಳ್ಳು ಗುಂಡಿಯನ್ನು ಒತ್ತಿದಾಗ ಡ್ರೈವ್‌ಗಳನ್ನು ಸ್ವಯಂಚಾಲಿತವಾಗಿ ಬಿಡುಗಡೆಗೊಳಿಸಲು ಅನುವು ಮಾಡುತ್ತದೆ
Comment[ko]=꺼내기 단추를 눌렀을 때 자동으로 드라이브의 잠금을 해제합니다
Comment[lv]=Ļauj automātiski atlaist diskus pēc izgrūšanas pogas nospiešanas
Comment[mk]=Овозможува автоматско ослободување на уредите кога е притиснато нивното копче за вадење
Comment[ml]=പുറത്തെടുക്കുവാനുള്ള ബട്ടണ്‍ അമര്‍ത്തുബോള്‍ ഉപകരണങ്ങള്‍ സ്വയം പുറത്തെടുക്കുവാന്‍ അനുവദിയ്ക്കുന്നു
Comment[nb]=Tillater at enheter utløses automatisk når utløserknappen trykkes
Comment[nds]=Gifft Loopwarken automaatsch free, wenn Een den Rutfohr-Knoop drückt.
Comment[nl]=Staat toe om automatisch apparaten vrij te geven als hun uitwerpknop wordt ingedrukt
Comment[nn]=Tillèt automatisk utløysing av einingar når det vert trykt på utløysingsknappen deira
Comment[pl]=Pozwala na automatyczne wysunięcie napędów po naciśnięciu przycisku
Comment[pt]=Permite libertar automaticamente as unidades quando se carrega no botão de ejecção
Comment[pt_BR]=Permite liberar automaticamente as unidades quando o botão de ejeção for pressionado
Comment[ro]=Permite eliberarea automată a unităților la apăsarea butonului de deschidere al acestora
Comment[si]=ඒවායේ පිටතට ගැනීමේ බොත්තම එබූ විට උපකරණ ස්වයංක්‍රීයව නිදහස් කිරීමට ඉඩ දේ.
Comment[sk]=Umožňuje automaticky uvoľniť mechaniku pri stlačení tlačidla vysunúť
Comment[sl]=Omogoča, da se ob pritisku gumba na pogonu nosilec samodejno izvrže
Comment[sr]=Аутоматско ослобађање уређаја када им се присне дугме за избацивање
Comment[sr@ijekavian]=Аутоматско ослобађање уређаја када им се присне дугме за избацивање
Comment[sr@ijekavianlatin]=Automatsko oslobađanje uređaja kada im se prisne dugme za izbacivanje
Comment[sr@latin]=Automatsko oslobađanje uređaja kada im se prisne dugme za izbacivanje
Comment[sv]=Tillåter att enheter automatiskt frisläpps vid tryck på deras utmatningsknapp
Comment[tr]=Çıkarma düğmesine basıldığında sürücüleri otomatik olarak ayırmayı sağlar
Comment[uk]=Автоматично вилучає файли пристроїв, після натискання на них кнопки виштовхування
Comment[x-test]=xxAllows to automatically release drives when their eject button is pushedxx
Comment[zh_CN]=当按下弹出钮时，可自动释放驱动器资源
Comment[zh_TW]=在按下退出鍵時可以自動釋放
