[KCM Locale]
Name=Namibia
Name[af]=Namibië
Name[ar]=ناميبيا
Name[bg]=Намибия
Name[br]=Namibi
Name[ca]=Namíbia
Name[cs]=Namíbie
Name[csb]=Liberijô
Name[el]=Ναμίμπια
Name[eo]=Namibio
Name[et]=Namiibia
Name[fa]=نامیبیا
Name[fr]=Namibie
Name[fy]=Namibië
Name[ga]=An Namaib
Name[gl]=Namíbia
Name[he]=נמיביה
Name[hr]=Namibija
Name[hu]=Namíbia
Name[is]=Namibía
Name[ja]=ナミビア
Name[ka]=ნამიბია
Name[kk]=Намибия
Name[km]=ណាមីប៊ី
Name[ko]=나미비아
Name[lt]=Namibija
Name[lv]=Namībija
Name[mk]=Намибија
Name[ne]=नामिबिया
Name[nl]=Namibië
Name[pa]=ਨਾਮੀਬੀਆ
Name[pt]=Namíbia
Name[pt_BR]=Namíbia
Name[ru]=Намибия
Name[sl]=Namibija
Name[sr]=Намибија
Name[sr@Latn]=Namibija
Name[ta]=நாமிபியா
Name[tg]=Намибиё
Name[tr]=Namibya
Name[uk]=Намібія
Name[uz]=Намибия
Name[x-test]=xxNamibiaxx
Name[zh_TW]=那米比亞
Region=southafrica
Languages=af,de,en_GB
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=N$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=0
DateFormat=%A %d %b %Y
DateFormatShort=%d-%m-%Y
TimeFormat=%H:%M:%S
WeekStartDay=7
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(P.O. Box %p\n)%l
AddressCountrzPosition=below

