[Desktop Entry]
Type=Service
Exec=ksecretsserviced
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.freedesktop.secrets
X-KDE-StartupNotify=false
Name=Secret Service Server
Name[bg]=Услуга за тайни
Name[ca]=Servidor de serveis de contrasenyes
Name[ia]=Servitor de servicio secrete
Name[nl]=Server voor geheimen-service
Name[pt]=Servidor de Serviços de Senhas
Name[pt_BR]=Servidor de serviços de senhas
Name[sv]=Secret Service-server
Name[uk]=Сервер служби паролів
Name[x-test]=xxSecret Service Serverxx
Name[zh_CN]=保密服务服务器
Comment=Secret Service Server
Comment[bg]=Услуга за тайни KSecretService
Comment[ca]=Servidor de serveis de contrasenyes
Comment[ia]=Servitor de servicio secrete
Comment[nl]=Server voor geheimen-service
Comment[pt]=Servidor de Serviços de Senhas
Comment[pt_BR]=Servidor de serviços de senhas
Comment[sv]=Secret Service-server
Comment[uk]=Сервер служби паролів
Comment[x-test]=xxSecret Service Serverxx
Comment[zh_CN]=保密服务服务器

