[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukremovablestorageservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk Removable Storage Service
Name[ca]=Servei d'emmagatzematge extraïble del Nepomuk
Name[csb]=Ùsłëznota Nepomuka dlô przenosnych mediów
Name[da]=Nepomuk-tjeneste til flytbare lagringsenheder
Name[de]=Nepomuk-Dienst für Wechselmedien
Name[en_GB]=Nepomuk Removable Storage Service
Name[es]=Servicio de almacenamiento extraíble de Nepomuk
Name[et]=Nepomuki eemaldatava salvesti teenus
Name[he]=שירות התקני אחסון נשלפים של Nepomuk
Name[is]=Nepomuk miðlari fyrir aftengjanlegar gagnageymslur
Name[nb]=Nepomuk flyttbar lagringstjeneste
Name[nds]=Nepomuk-Tuuschbor-Loopwark-Deenst
Name[pt]=Serviço de Armazenamento Removível do Nepomuk
Name[sl]=Storitev odstranljivih nosilcev za Nepomuk
Name[sv]=Nepomuk-tjänst för flyttbara medier
Name[uk]=Служба зберігання на портативних пристроях Nepomuk
Name[x-test]=xxNepomuk Removable Storage Servicexx
Name[zh_TW]=Nepomuk 可移除儲存服務
Comment=The Nepomuk removable storage service, providing access to Nepomuk metadata on removable storage devices.
Comment[ca]=El servei d'emmagatzematge extraïble del Nepomuk, proporciona accés a les metadades del Nepomuk en dispositius d'emmagatzematge extraïbles.
Comment[csb]=Ùsłëznota Nepomuka dlô przenoslnych mediów dôwô przëstãp do pòdôwków meta Nepomùka na wëmienialnych mediach.
Comment[da]=Nepomuk-tjenesten til flytbare lagringsenheder giver adgang til Nepomuk-metadata på flytbare lagringsenheder.
Comment[de]=Der Nepomuk-Dienst für Wechselmedien, ermöglicht Zugriff auf Nepomuk-Metadaten auf Wechselmedien.
Comment[en_GB]=The Nepomuk removable storage service, providing access to Nepomuk metadata on removable storage devices.
Comment[es]=El servicio de almacenamiento extraíble de Nepomuk, que proporciona aceso a metadatos de Nepomuk en dispositivos de almacenamiento extraíbles.
Comment[et]=Nepomuki eemaldatava salvesti teenus, mis võimaldab kasutada Nepomuki metaandmeid eemaldataval salvestusseadmel.
Comment[is]=Nepomuk miðlari fyrir aftengjanlegar gagnageymslur, gerir kleift að nálgast Nepomuk lýsigögn á aftengjanlegum gagnageymslum.
Comment[nb]=Nepomuk flyttbar lagringstjeneste som gir tilgang til Nepomuk metadata på flyttbare lagringsenheter.
Comment[nds]=De Nepomuk-Deenst för tuuschbor Loopwarken; stellt Togriep op Nepomuk-Metadaten op tuuschbor Spiekerreedschappen praat.
Comment[pt]=O serviço de armazenamento removíveis do Nepomuk, o qual fornece o acesso aos meta-dados do Nepomuk para os dispositivos removíveis de armazenamento.
Comment[sl]=Storitev odstranljivih nosilcev za semantično namizje, ki omogoča dostop do semantičnih metapodatkov na odstranljivih napravah za shranjevanje.
Comment[sv]=Nepomuks tjänst för flyttbara medier, vilken ger tillgång till Nepomuk metadata för flyttbara lagringsenheter.
Comment[uk]=Служба зберігання на портативних носіях Nepomuk надає вам доступ до метаданих Nepomuk, що зберігаються на портативних носіях.
Comment[x-test]=xxThe Nepomuk removable storage service, providing access to Nepomuk metadata on removable storage devices.xx
Comment[zh_TW]=Nepomuk 可移除儲存服務，提供存取可移除裝置的 Nepomuk 描述資料。
