[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukremovablestorageservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk Removable Storage Service
Name[da]=Nepomuk-tjeneste til flytbare lagringsenheder
Name[de]=Nepomuk-Dienst für Wechselmedien
Name[en_GB]=Nepomuk Removable Storage Service
Name[et]=Nepomuki eemaldatava salvesti teenus
Name[nb]=Nepomuk flyttbar lagringstjeneste
Name[nds]=Nepomuk-Tuuschbor-Loopwark-Deenst
Name[pt]=Serviço de Armazenamento Removível do Nepomuk
Name[sv]=Nepomuk-tjänst för flyttbara medier
Name[uk]=Служба зберігання на портативних пристроях Nepomuk
Name[x-test]=xxNepomuk Removable Storage Servicexx
Comment=The Nepomuk removable storage service, providing access to Nepomuk metadata on removable storage devices.
Comment[da]=Nepomuk-tjenesten til flytbare lagringsenheder giver adgang til Nepomuk-metadata på flytbare lagringsenheder.
Comment[de]=Der Nepomuk-Dienst für Wechselmedien, ermöglicht Zugriff auf Nepomuk-Metadaten auf Wechselmedien.
Comment[en_GB]=The Nepomuk removable storage service, providing access to Nepomuk metadata on removable storage devices.
Comment[et]=Nepomuki eemaldatava salvesti teenus, mis võimaldab kasutada Nepomuki metaandmeid eemaldataval salvestusseadmel.
Comment[nb]=Nepomuk flyttbar lagringstjeneste som gir tilgang til Nepomuk metadata på flyttbare lagringsenheter.
Comment[nds]=De Nepomuk-Deenst för tuuschbor Loopwarken; stellt Togriep op Nepomuk-Metadaten op tuuschbor Spiekerreedschappen praat.
Comment[pt]=O serviço de armazenamento removíveis do Nepomuk, o qual fornece o acesso aos meta-dados do Nepomuk para os dispositivos removíveis de armazenamento.
Comment[sv]=Nepomuks tjänst för flyttbara medier, vilken ger tillgång till Nepomuk metadata för flyttbara lagringsenheter.
Comment[uk]=Служба зберігання на портативних носіях Nepomuk надає вам доступ до метаданих Nepomuk, що зберігаються на портативних носіях.
Comment[x-test]=xxThe Nepomuk removable storage service, providing access to Nepomuk metadata on removable storage devices.xx
