[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukfilewatch
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=NepomukFileWatch
Name[ar]=مراقب ملفات نبومك
Name[be@latin]=NepomukFileWatch
Name[bg]=NepomukFileWatch
Name[bn]=NepomukFileWatch
Name[bn_IN]=NepomukFileWatch
Name[ca]=NepomukFileWatch
Name[ca@valencia]=NepomukFileWatch
Name[cs]=Nepomuk - sledování souboru 
Name[csb]=NepomukFileWatch
Name[da]=NepomukFileWatch
Name[de]=NepomukDateiMonitor
Name[el]=NepomukFileWatch
Name[en_GB]=NepomukFileWatch
Name[eo]=NepomukFileWatch
Name[es]=MonitorDeArchivosNepomuk
Name[et]=Nepomuki failijälgija
Name[eu]=NepomukFileWatch
Name[fi]=NepomukFileWatch
Name[fr]=NepomukFileWatch
Name[fy]=NepomukFileWatch
Name[ga]=NepomukFileWatch
Name[gl]=NepomukFileWatch
Name[gu]=નેપોમુકફાઇલવોચ
Name[he]=NepomukFileWatch
Name[hi]=नेपोमक-फ़ाइल-वाच
Name[hne]=नेपोमकफाइलवाच
Name[hr]=Nepomuk nadgledanje datoteka
Name[hsb]=NepomukFileWatch
Name[hu]=NepomukFileWatch
Name[ia]=NepomukFileWatch
Name[id]=Pengawas Berkas Nepomuk
Name[is]=Nepomuk skráavörður
Name[it]=Sorveglianza dei file di Nepomuk
Name[ja]=NepomukFileWatch
Name[kk]=NepomukFileWatch
Name[km]=NepomukFileWatch
Name[kn]=ನೆಪೋಮುಕ್ ಕಡತ ಕಾವಲು
Name[ko]=NepomukFileWatch
Name[ku]=NepomukNihêrînaPelê
Name[lt]=NepomukFailųStebėjimas
Name[lv]=NepomukFileWatch
Name[mai]=NepomukFileWatch
Name[mk]=NepomukFileWatch
Name[ml]=നെപ്പോമുക്ക് ഫയല്‍ നിരീക്ഷണം
Name[mr]=NepomukFileWatch
Name[nb]=Nepomuk filovervåking
Name[nds]=Nepomuk-Dateibeluern
Name[nl]=NepomukFileWatch
Name[nn]=Nepomuk filovervaking
Name[or]=Nepomukଫାଇଲ ଦର୍ଶନ
Name[pa]=ਨਿਪੋਮੁਕਫਾਇਲਵਾਚ
Name[pl]=Nepomuk - zmiany w plikach
Name[pt]=NepomukFileWatch
Name[pt_BR]=NepomukFileWatch
Name[ro]=NepomukFileWatch
Name[ru]=NepomukFileWatch
Name[si]=NepomukFileWatch
Name[sk]=Sledovanie súborov Nepomuku
Name[sl]=NepomukFileWatch
Name[sr]=Непомуков надзор фајлова
Name[sr@ijekavian]=Непомуков надзор фајлова
Name[sr@ijekavianlatin]=Nepomukov nadzor fajlova
Name[sr@latin]=Nepomukov nadzor fajlova
Name[sv]=Nepomuk-filövervakning
Name[ta]=NepomukFileWatch
Name[te]=Nepomukఫైల్ వాచ్
Name[tg]=NepomukFileWatch
Name[th]=NepomukFileWatch
Name[tr]=NepomukFileWatch
Name[uk]=NepomukFileWatch
Name[wa]=RiwaitaedjeFitchîNepomuk
Name[x-test]=xxNepomukFileWatchxx
Name[zh_CN]=Nepomuk 文件监视
Name[zh_TW]=Nepomuk 檔案監控
Comment=The Nepomuk file watch service for monitoring file changes
Comment[ar]=تقوم خدمة نبومك لمراقبة الملفات  برصد أي تغير في الملفات.
Comment[be@latin]=Słužba „Nepomuk”, jakaja naziraje za źmienami ŭ fajłach
Comment[bg]=Услугата NepomukFileWatch  следи за промяна във файловете
Comment[ca]=El servei de control de fitxers del Nepomuk per fer un seguiment dels canvis en fitxers
Comment[ca@valencia]=El servei de control de fitxers del Nepomuk per fer un seguiment dels canvis en fitxers
Comment[cs]=Služba Nepomuku, která sleduje změny v souborech
Comment[csb]=Ùsłëżnota Nepomùka mònitorëjącô zjinaczi lopków
Comment[da]=Nepomuk filovervågningstjeneste til overvågning af filændringer
Comment[de]=Nepomuk-Dateiüberwachung zur Überwachung von Dateiänderungen
Comment[el]=Η υπηρεσία εποπτείας αρχείου Nepomuk για την παρακολούθηση τροποποιήσεων αρχείων
Comment[en_GB]=The Nepomuk file watch service for monitoring file changes
Comment[eo]=La atend-servo de Nepomuk dosiero por monitora dosiero ŝanĝiĝis.
Comment[es]=Servicio de monitor de archivos de Nepomuk para monitorizar cambios de los archivos
Comment[et]=Nepomuki failijälgimise teenus failide muutuste jälgimiseks
Comment[eu]=Nepomuk fitxategi zaiintzailea, fitxategien aldaketak monitorizatzeko
Comment[fi]=Tiedostojen muutoksia tarkkaileva Nepomuk-tiedostonseurantapalvelu
Comment[fr]=Le service de surveillance des fichiers, pour relever les modifications de fichiers
Comment[fy]=De Nepomuk triem observaasje tsjinst foar triemferoarings
Comment[ga]=Seirbhís fhaire comhad Nepomuk a dhéanann monatóireacht ar athruithe
Comment[gl]=O servizo de vixilancia de ficheiros de Nepomuk para recoller as modificacións dos ficheiros
Comment[gu]=નેપોમુક ફાઇલ વોચ સર્વિસ ફાઇલ ફેરફારો પર નજર રાખે છે
Comment[he]=שירות מעקב הקבצים של Nepomuk לניטור שינויים בקבצים
Comment[hi]=फ़ाइल परिवर्तनों की मॉनिटरिंग के लिए नेपोमक फ़ाइल निगरानी सेवा
Comment[hne]=फाइल मं बदलाव बर नेपोमक फाइल देखइया सेवा
Comment[hr]=Nepomukova usluga nadgledanja datoteka za otkrivanje promjena nad istima
Comment[hsb]=Nepomukowe wobkedźbowanje datajow za zwěsćenje změnow
Comment[hu]=Nepomuk fájlfigyelő szolgáltatás fájlváltozások követéséhez
Comment[ia]=Servicio de guarda de file Nepomuk pro monitorar variationes de file
Comment[id]=Layanan pengawas berkas Nepomuk untuk memonitor perubahan pada berkas
Comment[is]=Nepomuk skráavarslan fylgist með breytingum á skrám
Comment[it]=Il servizio di sorveglianza di Nepomuk per monitorare i cambiamenti dei file
Comment[ja]=ファイルの変更を監視する Nepomuk サービス
Comment[kk]=Файл өзгерістерін қадағалайтын Nepomuk файл бақылау қызметі
Comment[km]=ឯកសារ​របស់ Nepomuk មើល​សេវា​សម្រាប់​ត្រួតពិនិត្យ​កា​រផ្លាស់ប្ដូរ​ឯកសារ
Comment[kn]=ಕಡತ ಬದಲಾವಣೆಗಳನ್ನು ಪರಿಶೀಲಿಸಲು ನೆಪೋಮುಕ್ ಕಡತ ಕಾವಲು ಸೇವೆ
Comment[ko]=파일 변화를 감시하는 Nepumuk 파일 감시 서비스
Comment[ku]=Nepomuk Servîsa nihêrîna pelê ji bo dîtina guherînan
Comment[lt]=Nepomuk failų stebėjimo tarnyba failų pakeitimams sekti
Comment[lv]=Nepomuk failu novērošanas serviss, kas novēro izmaiņas failos
Comment[mai]=फ़ाइल परिवर्तनक मानिटरिंगक लेल नेपोमक फ़ाइल निगरानी सेवा
Comment[ml]=ഫയല്‍ മാറ്റങ്ങള്‍ നിരീക്ഷിക്കുവാനുള്ള നെപ്പോമുക്ക് ഫയല്‍ നിരീക്ഷണ സേവനം.
Comment[nb]=Nepomuk filovervåkning for å detektere filendringer
Comment[nds]=Nepomuk sien Dateibeluurdeenst, de Ännern an Dateien vermeldt
Comment[nl]=NepomukFileWatch volgt uw systeem op bestandswijzigingen
Comment[nn]=Filovervakingstenesta Nepomuk tilbyr overvaking av endringar i filer
Comment[or]=ପାଇଲ ପରିବର୍ତ୍ତନଗୁଡ଼ିକୁ ନିରିକ୍ଷଣ କରିବା ପାଇଁ Nepomuk ଫାଇଲ ଦର୍ଶନ ସର୍ଭିସ
Comment[pa]=ਫਾਇਲ ਬਦਲਾਅ ਉੱਤੇ ਨਿਗਰਾਨੀ ਲਈ ਨਿਪੋਮੁਕ ਫਾਇਥ ਵਾਚ ਸਰਵਿਸ
Comment[pl]=Usługa Nepomuka do monitorowania zmian w plikach
Comment[pt]=O serviço de vigilância de ficheiros para vigiar as alterações dos ficheiros
Comment[pt_BR]=O serviço de inspeção de arquivos Nepomuk para monitorar as alterações dos arquivos
Comment[ro]=Serviciu de supraveghere a fișierelor Nepomuk, pentru monitorizarea modificării fișierelor
Comment[ru]=Отслеживание изменений в файлах
Comment[si]=The Nepomuk ගොනු නැරඹීමේ සේවාව ගොනු වෙනස්කම් පිරික්සයි
Comment[sk]=Služba Nepomuku, ktorá monitoruje zmeny súborov
Comment[sl]=Nepomukova storitev za spremljanje sprememb datotek
Comment[sr]=Непомуков сервис за надгледање измена над фајловима
Comment[sr@ijekavian]=Непомуков сервис за надгледање измијена над фајловима
Comment[sr@ijekavianlatin]=Nepomukov servis za nadgledanje izmijena nad fajlovima
Comment[sr@latin]=Nepomukov servis za nadgledanje izmena nad fajlovima
Comment[sv]=Nepomuks filövervakningstjänst för att bevaka filändringar
Comment[ta]=The Nepomuk file watch service for monitoring file changes
Comment[te]=ఫైల్ మార్పులను మానిటరింగ్ చేయుటకొరకు Nepomuk ఫైల్ వాచ్ సేవ
Comment[tg]=Системаи Nepomuk тағйиротҳоро дар файлҳо муайян мекунад
Comment[th]=บริการของ Nepomuk สำหรับคอยตรวจจับความเปลี่ยนแปลงของแฟ้ม
Comment[tr]=Dosya değişikliklerini izlemek için Nepomuk dosya izleme servisi
Comment[uk]=Служба Nepomuk для спостереження за змінами в файлах
Comment[wa]=Li siervice di rwaitaedje des fitchî di Nepomuk po corwaitî les candjmints e fitchîs
Comment[x-test]=xxThe Nepomuk file watch service for monitoring file changesxx
Comment[zh_CN]=用于监视文件变更的 Nepomuk 服务
Comment[zh_TW]=Nepomuk 檔案監控服務，監視檔案變化
