[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcm_nepomuk
Icon=preferences-system-nepomuk
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/nepomuk/index.html
X-KDE-Library=kcm_nepomuk
X-KDE-ParentApp=kcontrol
Name=Nepomuk
Name[sr]=Непомук
Comment=Nepomuk/Strigi Server Configuration
Comment[ca]=Configuració del servidor Nepomuk/Strigi
Comment[de]=Einrichtung des Nepomuk-/Strigi-Server
Comment[el]=Ρύθμιση εξυπηρετητή Nepomuk/Strigi
Comment[et]=Nepomuki/Strigi serveri seadistamine
Comment[ga]=Cumraíocht Freastalaí Nepomuk/Strigi
Comment[ja]=Nepomuk/Strigi サーバの設定
Comment[ko]=Nepomuk/Strigi 서버 설정
Comment[nds]=Nepomuk/Strigi-Serverinstellen
Comment[nl]=Nepomuk/Strigi-server instellen
Comment[nn]=Oppsett av Nepomuk-/Strigi-tenar
Comment[pt]=Configuração do Servidor Nepomuk/Strigi
Comment[pt_BR]=Configuração do Servidor Nepomuk/Strigi
Comment[sr]=Подешавање сервера Непомука/Стригија
Comment[sr@latin]=Podešavanje servera Nepomuka/Strigija
Comment[sv]=Tjänstinställning av Nepomuk- och Strigiserver
Comment[zh_CN]=Nepomuk/Strigi 服务器配置
Comment[zh_TW]=Nepomuk/Strigi 伺服器設定
Keywords=Nepomuk,Strigi,Metadata
Keywords[de]=Nepomuk,Strigi,Metadaten
Keywords[el]=Nepomuk,Strigi,μεταδεδομένα
Keywords[et]=Nepomuk,Strigi,metaandmed
Keywords[ga]=Nepomuk,Strigi,Meiteashonraí
Keywords[ja]=Nepomuk,Strigi,メタデータ
Keywords[ko]=Nepomuk,Strigi,메타데이터
Keywords[nds]=Nepomuk,Strigi,Metadaten
Keywords[pt]=Nepomuk,Strigi,Meta-dados
Keywords[pt_BR]=Nepomuk,Strigi,Metadados
Keywords[sr]=Nepomuk,Strigi,Metadata,Непомук,Стриги,метаподаци
Keywords[sr@latin]=Nepomuk,Strigi,Metadata,Nepomuk,Strigi,metapodaci
Keywords[sv]=Nepomuk,Strigi,metadata
Keywords[zh_CN]=Nepomuk,Strigi,Metadata,元数据
