[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDEDModule
X-KDE-Library=nepomukserver
X-KDE-FactoryName=nepomukserver
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
Name=Nepomuk Server
Name[ca]=Servidor Nepomuk
Name[de]=Nepomuk-Serverdienst
Name[el]=Εξυπηρετητής Nepomuk
Name[et]=Nepomuki server
Name[ga]=Freastalaí Nepomuk
Name[ja]=Nepomuk サービス
Name[ko]=Nepomuk 서버
Name[nds]=Nepomuk-Server
Name[nl]=Nepomuk-server
Name[nn]=Nepomuk-tenar
Name[pt]=Servidor do Nepomuk
Name[pt_BR]=Servidor Nepomuk
Name[sr]=Сервер Непомука
Name[sr@latin]=Server Nepomuka
Name[sv]=Nepomuk-server
Name[zh_CN]=Nepomuk 服务器
Name[zh_TW]=Nepomuk 伺服器
Comment=The Nepomuk Server providing Storage services and strigi controlling
Comment[de]=Der Nepomuk-Server stellt Speicherdienste und Strigi-Kontrolle zur Verfügung
Comment[el]=Ο εξυπηρετητής Nepomuk που παρέχει υπηρεσίες Αποθήκευσης και έλεγχο του Strigi
Comment[et]=Salvestusteenuseid ja Strigi juhtimist pakkuv Nepomuki server
Comment[ko]=저장소 서비스를 제공하는 Nepomuk 서버와 Strigi 제어
Comment[nds]=De Nepomuk-Server, stellt Spiekerdeensten un Strigi-Kuntrull praat
Comment[nl]=De Nepomuk-server levert opslagdiensten en bediening voor Strigi.
Comment[nn]=Nepomuk-tenaren tilbyr lagringstenester og strigi-kontroll
Comment[pt]=O Servidor do Nepomuk que oferece serviços de Armazenamento e o controlo do Strigi
Comment[pt_BR]=O Servidor Nepomuk provê serviços de Armazenamento e controle do strigi
Comment[sr]=Сервер Непомука даје уређаје за складиштење и контролу Стригија
Comment[sr@latin]=Server Nepomuka daje uređaje za skladištenje i kontrolu Strigija
Comment[sv]=Nepomuk-server som tillhandahåller lagringstjänster och styrning av Strigi
Comment[zh_CN]=Nepomuk 服务器提供了存储服务和 strigi 控制
Comment[zh_TW]=Nepomuk 伺服器提供儲存服務與 strigi 控制
