[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=nepomukserver
X-KDE-FactoryName=nepomukserver
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
Name=Nepomuk Server
Name[ca]=Servidor Nepomuk
Name[de]=Nepomuk-Serverdienst
Name[el]=Εξυπηρετητής Nepomuk
Name[eo]=Nepomuk servilo
Name[es]=Servidor Nepomuk
Name[et]=Nepomuki server
Name[eu]=Nepomuk zerbitzaria
Name[ga]=Freastalaí Nepomuk
Name[hu]=Nepomuk szolgáltatás
Name[ja]=Nepomuk サービス
Name[km]=ម៉ាស៊ីន​បម្រើ Nepomuk
Name[ko]=Nepomuk 서버
Name[lv]=Nepomuk serveris
Name[nb]=Nepomuk tjener
Name[nds]=Nepomuk-Server
Name[nl]=Nepomuk-server
Name[nn]=Nepomuk-tenar
Name[pa]=ਨਿਪੋਮੁਕ ਸਰਵਰ
Name[pl]=Serwer Nepomuk
Name[pt]=Servidor do Nepomuk
Name[pt_BR]=Servidor Nepomuk
Name[sl]=Strežnik Nepomuk
Name[sr]=Сервер Непомука
Name[sr@latin]=Server Nepomuka
Name[sv]=Nepomuk-server
Name[th]=เซิร์ฟเวอร์ Nepomuk
Name[wa]=Sierveu Nepomuk
Name[x-test]=xxNepomuk Serverxx
Name[zh_CN]=Nepomuk 服务器
Name[zh_TW]=Nepomuk 伺服器
Comment=The Nepomuk Server providing Storage services and strigi controlling
Comment[ca]=El servidor Nepomuk proporciona serveis d'emmagatzematge i de control de l'Strigi
Comment[de]=Der Nepomuk-Server stellt Speicherdienste und Strigi-Kontrolle zur Verfügung
Comment[el]=Ο εξυπηρετητής Nepomuk που παρέχει υπηρεσίες Αποθήκευσης και έλεγχο του Strigi
Comment[eo]=La nepomuk-servilo kiu provizas konservadan servon kaj strigi-serĉan direktadon
Comment[es]=Servidor de Nepomuk que proporciona servicios de almacenamiento y control strigi
Comment[et]=Salvestusteenuseid ja Strigi juhtimist pakkuv Nepomuki server
Comment[hu]=A Nepomuk szolgáltatás tárolási lehetőséget biztosít és a Strigi vezérlését végzi
Comment[km]=ម៉ាស៊ីន​បម្រើ Nepomuk ផ្ដល់​សេវា​ផ្ទុក និង​ការត្រួតពិនិត្យ strigi
Comment[ko]=저장소 서비스를 제공하는 Nepomuk 서버와 Strigi 제어
Comment[lv]=Nepomuk serveris nodrošina glabāšanas servisus un Strigi kontrolēšanu
Comment[nb]=Nepomuk-tjeneren som yter lagringstjenester og strigi-styring
Comment[nds]=De Nepomuk-Server, stellt Spiekerdeensten un Strigi-Kuntrull praat
Comment[nl]=De Nepomuk-server levert opslagdiensten en bediening voor Strigi.
Comment[nn]=Nepomuk-tenaren tilbyr lagringstenester og strigi-kontroll
Comment[pa]=ਨਿਪੋਮੁਕ ਸਰਵਰ ਸਟੋਰੇਜ਼ ਸਰਵਿਸਾਂ ਅਤੇ ਸਟਰੀਜੀ ਕੰਟਰੋਲਿੰਗ ਦਿੰਦਾ ਹੈ
Comment[pl]=Serwer Nepomuk udostępniający usługi przechowywania danych i kontrolę strigi
Comment[pt]=O Servidor do Nepomuk que oferece serviços de Armazenamento e o controlo do Strigi
Comment[pt_BR]=O Servidor Nepomuk provê serviços de Armazenamento e controle do strigi
Comment[sr]=Сервер Непомука даје уређаје за складиштење и контролу Стригија
Comment[sr@latin]=Server Nepomuka daje uređaje za skladištenje i kontrolu Strigija
Comment[sv]=Nepomuk-server som tillhandahåller lagringstjänster och styrning av Strigi
Comment[th]=เซิร์ฟเวอร์ Nepomuk จะให้บริการจัดเก็บและการควบคุม strigi
Comment[x-test]=xxThe Nepomuk Server providing Storage services and strigi controllingxx
Comment[zh_CN]=Nepomuk 服务器提供了存储服务和 strigi 控制
Comment[zh_TW]=Nepomuk 伺服器提供儲存服務與 strigi 控制
