[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDEDModule
X-KDE-Library=nepomukserver
X-KDE-FactoryName=nepomukserver
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
Name=Nepomuk Server
Name[el]=Εξυπηρετητής Nepomuk
Name[ja]=Nepomuk サービス
Name[pt]=Servidor do Nepomuk
Name[pt_BR]=Servidor Nepomuk
Name[zh_TW]=Nepomuk 伺服器
Comment=The Nepomuk Server providing Storage services and strigi controlling
Comment[el]=Ο εξυπηρετητής Nepomuk που παρέχει υπηρεσίες Αποθήκευσης και έλεγχο του Strigi
Comment[pt]=O Servidor do Nepomuk que oferece serviços de Armazenamento e o controlo do Strigi
Comment[pt_BR]=O Servidor Nepomuk provê serviços de Armazenamento e controle do strigi
Comment[zh_TW]=Nepomuk 伺服器提供儲存服務與 strigi 控制
