[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=globalaccel
X-KDE-DBus-ModuleName=kdedglobalaccel
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true

Name=KDED Global Shortcuts Server
Name[el]=Εξυπηρετητής καθολικών συντομεύσεων KDED
Name[gl]=Servidor de atallos de teclado globais de KDED
Name[gu]=KDED વૈશ્વીક ટૂંકાણો સર્વર
Name[hsb]=Serwer za globalne KDE-skrótšenki
Name[kk]=Жалпы жүйелік перне тіркесімдер KDED сервері:
Name[nb]=KDED-tjener for globale snarveier
Name[nds]=KDED-Tastkombinatschonen-Server
Name[pt]=Servidor de Atalhos Globais do KDED
Name[pt_BR]=Servidor de Atalhos Globais do KDED
Name[ro]=Server  de scurtături globale KDED
Name[sv]=KDED global snabbtangentserver
Name[tr]=KDED Genel Kısayol Sunucusu
Name[uk]=Сервер загальних клавіатурних скорочень KDED
Name[zh_TW]=KDED 全域鍵盤捷徑
