[KCM Locale]
Name=Liberia
Name[af]=Liberië
Name[ar]=ليبيريا
Name[bg]=Либерия
Name[ca]=Libèria
Name[cs]=Libérie
Name[el]=Λιβερία
Name[eo]=Liberio
Name[et]=Libeeria
Name[fa]=لیبریا
Name[fr]=Libéria
Name[ga]=An Libéir
Name[gl]=Libéria
Name[he]=לוב
Name[hr]=Liberija
Name[hu]=Libéria
Name[is]=Líbería
Name[ja]=リベリア
Name[ka]=ლიბერია
Name[kk]=Либерия
Name[km]=លីបេរីយ៉ា
Name[ko]=라이베리아
Name[lv]=Libērija
Name[mk]=Либерија
Name[ne]=लाइबेरिया
Name[pa]=ਲੀਬਿਰੀਆ
Name[pt]=Libéria
Name[pt_BR]=Libéria
Name[ru]=Либерия
Name[sl]=Liberija
Name[sr]=Либерија
Name[sr@Latn]=Liberija
Name[ta]=லிபிரியா
Name[te]=లైబీరియా
Name[tg]=Либериё
Name[tr]=Liberya
Name[uk]=Ліберія
Name[uz]=Либерия
Name[x-test]=xxLiberiaxx
Name[zh_TW]=賴比瑞亞
Region=westafrica
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
