[KCM Locale]
Author=Erik Kjær Pedersen <erik@binghamton.edu>
Name=Denmark
Name[af]=Denemarke
Name[ar]=الدنمارك
Name[be]=Данія
Name[br]=Danmark
Name[ca]=Dinamarca
Name[cs]=Dánsko
Name[csb]=Dëńskô
Name[cy]=Denmarc
Name[da]=Danmark
Name[de]=Dänemark
Name[el]=Δανία
Name[eo]=Danlando
Name[es]=Dinamarca
Name[et]=Taani
Name[eu]=Danimarka
Name[fa]=دانمارک
Name[fi]=Tanska
Name[fr]=Danemark
Name[fy]=Denemarken
Name[ga]=An Danmhairg
Name[gl]=Dinamarca
Name[he]=דנמרק
Name[hr]=Danska
Name[hu]=Dánia
Name[is]=Danmörk
Name[it]=Danimarca
Name[ja]=デンマーク
Name[ka]=დანია
Name[kk]=Дания
Name[km]=ដាណឺម៉ាក
Name[ko]=덴마크
Name[lt]=Danija
Name[lv]=Dānija
Name[mk]=Данска
Name[nb]=Danmark
Name[nds]=Dänmark
Name[ne]=डेनमार्क
Name[nl]=Denemarken
Name[nn]=Danmark
Name[pa]=ਡੈੱਨਮਾਰਕ
Name[pl]=Dania
Name[pt_BR]=Dinamarca
Name[ro]=Danemarca
Name[ru]=Дания
Name[se]=Dánmárku
Name[sl]=Danska
Name[sr]=Данска
Name[sr@latin]=Danska
Name[sv]=Danmark
Name[ta]=டென்மார்க்
Name[te]=డెన్మార్క్
Name[tg]=Денмарк
Name[tr]=Danimarka
Name[uk]=Данія
Name[uz]=Дания
Name[wa]=Daenmåtche
Name[x-test]=xxDenmarkxx
Name[zh_TW]=丹麥
Region=northeurope
Languages=da
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=kr
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[da]=%A den %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e/%n-%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%0(%n\n)%0(%cm\n)%0(%s\n)%0(Postboks %p\n)%z%w%l
AddressCountryPosition=below
