[KCM Locale]
Name=Nicaragua
Name[af]=Nikaragua
Name[ar]=نيكاراغوا
Name[br]=Nikwaraga
Name[cs]=Nikaragua
Name[csb]=Nikaragua
Name[cy]=Nicaragwa
Name[el]=Νικαράγουα
Name[eo]=Nikaragvo
Name[et]=Nikaraagua
Name[eu]=Nikaragua
Name[fa]=نیکاراگوئه
Name[fi]=Nikaragua
Name[ga]=Nicearagua
Name[he]=ניקרגווה
Name[hr]=Nikaragva
Name[is]=Níkaragva
Name[ja]=ニカラグア
Name[ka]=ნიკარაგუა
Name[kk]=Никарагуа
Name[km]=នីការ៉ាហ្គ័រ
Name[ko]=니카라과
Name[lt]=Nikaragva
Name[lv]=Nikaragva
Name[mk]=Никарагва
Name[ne]=निकारागुआ
Name[pa]=ਨਿਕਾਰਗੁਆ
Name[pl]=Nikaragua
Name[pt]=Nicarágua
Name[pt_BR]=Nicarágua
Name[ru]=Никарагуа
Name[sl]=Nikaragva
Name[sr]=Никарагва
Name[sr@latin]=Nikaragva
Name[ta]=நிகராகுவே
Name[te]=నికరాగువా
Name[tg]=Никарагуа
Name[tr]=Nikaragua
Name[uk]=Нікарагуа
Name[uz]=Никарагуа
Name[wa]=Nicaragwa
Name[x-test]=xxNicaraguaxx
Name[zh_TW]=尼加拉瓜
Region=centralamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=C$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%A, %e de %B de %Y
DateFormatShort=%d-%m-%y
TimeFormat=%H:%M:%S
WeekStartDay=1
PageSize=2
MeasureSystem=0
