[KCM Locale]
Name=Mauritius
Name[el]=Μαυρίκιος
Name[fr]=Île Maurice
Name[x-test]=xxMauritiusxx
Region=southafrica
Languages=en_GB,fr,hi
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=Mau Rs
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
