[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Image Displayer
Name[el]=Προβολή εικόνων
Name[ga]=Amharcán Íomhánna
Name[nds]=Bildwieser
Name[pt]=Visualizador de Imagens
Name[pt_BR]=Visualizador de Imagens
Name[sv]=Bildvisare
X-KDE-Library=librenimageplugin
ServiceTypes=RenameDialog/Plugin,image/jpeg,image/png
