[Desktop Entry]
Type=Service
Name=Image Displayer
Name[ar]=عارض الصور
Name[ca]=Visor d'imatges
Name[cs]=Prohlížeč obrázků
Name[cy]=Arddangosydd Delweddau
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Προβολή εικόνων
Name[eo]=Bildprezentilo
Name[es]=Muestra imágenes
Name[et]=Pildifailide näitaja
Name[eu]=Irudi bistaratzailea
Name[fa]=نمایش‌دهندۀ تصویر
Name[fi]=Kuvannäyttäjä
Name[fr]=Afficheur d'images
Name[ga]=Amharcán Íomhánna
Name[gl]=Visor de Imaxes
Name[he]=מציג תמונות
Name[hu]=Képmegjelenítő
Name[is]=Myndsjá
Name[it]=Visualizzatore di immagini
Name[ja]=イメージ表示ツール
Name[kk]=Кескін көрсеткіш
Name[km]=កម្មវិធី​បង្ហាញ​​រូបភាព
Name[lt]=Paveikslėlių rodytojas
Name[lv]=Attēlu Rādītājs
Name[mk]=Прикажувач на слики
Name[nb]=Bildeviser
Name[nds]=Bildwieser
Name[nl]=Afbeeldingenweergaveprogramma
Name[nn]=Biletvisar
Name[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Program wyświetlający obrazki
Name[pt_BR]=Visualizador de Imagens
Name[ro]=Vizualizor imagini
Name[ru]=просмотр изображений
Name[sl]=Prikazovalnik slik
Name[sr]=Приказивач слика
Name[sr@latin]=Prikazivač slika
Name[sv]=Bildvisare
Name[ta]=பிம்பக் காட்டி
Name[tg]=тамошои тасвир
Name[tr]=Resim Gösterici
Name[uk]=Перегляд зображень
Name[x-test]=xxImage Displayerxx
Name[xh]=Umbonisi wo Mfanekiso
Name[zh_TW]=影像顯示器
X-KDE-Library=librenimageplugin
ServiceTypes=RenameDialog/Plugin,image/jpeg,image/png
