[Desktop Entry]
X-DocPath=help:/plasma/index.html
Name=Plasma Manual
Name[da]=Manual til Plasma
Name[de]=Handbuch zu Plasma
Name[et]=Plasma käsiraamat
Name[fr]=Manuel de Plasma
Name[gl]=Manual de Plasma
Name[hu]=Plasma kézikönyv
Name[nds]=Plasma-Handbook
Name[nn]=Plasma-handbok
Name[pl]=Podręcznik Plazmy
Name[pt]=Manual do Plasma
Name[pt_BR]=Manual do Plasma
Name[sl]=Priročnik za Plazmo
Name[sv]=Handbok Plasma
Name[uk]=Підручник з Плазми
Name[zh_TW]=Plasma 手冊
