[Desktop Entry]
X-DocPath=help:/plasma/index.html
Name=Plasma Manual
Name[da]=Manual til Plasma
Name[nds]=Plasma-Handbook
Name[pt]=Manual do Plasma
Name[pt_BR]=Manual do Plasma
Name[sv]=Handbok Plasma
Name[uk]=Підручник з Плазми
