[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukontologyloader
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
X-KDE-Nepomuk-dependencies=nepomukstorage
Name=Nepomuk Ontology Loader
Name[ar]=محمل النظام لنبومك
Name[be@latin]=Słužba čytańnia ŭ pamiać antalohii „Nepomuk”
Name[bg]=Nepomuk Ontology Loader
Name[ca]=Carregador d'ontologies del Nepomuk
Name[ca@valencia]=Carregador d'ontologies del Nepomuk
Name[cs]=Zavaděč ontologie Nepomuku
Name[csb]=Ladowanié òntogiji Nepomuka
Name[da]=Nepomuk ontologi-indlæser
Name[de]=Nepomuk-Ontologie-Lader
Name[el]=Φορτωτής οντολογίας Nepomuk
Name[en_GB]=Nepomuk Ontology Loader
Name[eo]=Nepomuk-ontologia ŝargilo
Name[es]=Cargador de Ontología Nepomuk
Name[et]=Nepomuki ontoloogialaadur
Name[eu]=Nepomuk ontologia kargatzailea
Name[fr]=Chargeur d'ontologie de Nepomuk
Name[fy]=Nepomuk Ontology Lader
Name[ga]=Luchtóir Ointeolaíochtaí Nepomuk
Name[gl]=Cargador de ontoloxías de Nepomuk
Name[gu]=નેપોમુક ઓન્ટોલોજી લાવનાર
Name[hi]=नेपोमक ऑन्टोलॉज़ी लोडर
Name[hne]=नेपोमक ओन्टोलोजी लोडर
Name[hr]=Nepomuk Učitavač Ontologije
Name[hsb]=Nepomuk začitanje ontologije
Name[hu]=Nepomuk ontológiabetöltő
Name[is]=Nepomuk verufræðihöndlari (Ontology Loader)
Name[it]=Caricatore delle ontologie di Nepomuk
Name[ja]=Nepomuk オントロジーローダー
Name[kk]=Nepomuk онтология жүктеуі
Name[km]=កម្មវិធី​ផ្ទុក​ប្រាណវិទ្យា Nepomuk
Name[kn]=ನೆಪೋಮುಕ್ ಸತ್ತಾಶಾಸ್ತ್ರ (ಆಂಟಾಲಜಿ) ಉತ್ಥಾಪಕ
Name[ko]=Nepomuk 온톨로지 로더
Name[ku]=Nepomuk Barkerê Ontolojî
Name[lt]=Nepomuk ontologijos įkėliklis
Name[lv]=Nepomuk ontoloģiju ielādētājs
Name[mai]=नेपोमक ऑन्टोलॉज़ी लोडर
Name[ml]=Nepomuk ഓണ്‍ടോളജി ലോഡര്‍
Name[nb]=Nepomuk ontologi-laster
Name[nds]=Nepomuk-Weeswarklader
Name[nl]=Nepomuk ontologielader
Name[nn]=Nepomuk ontologilastar
Name[or]=Nepomuk Ontology ଧାରକ
Name[pa]=ਨਿਪੋਮੁਕ ਆਨਟੋਲੋਜੀ ਲੋਡਰ
Name[pl]=Wczytywanie ontologii Nepomuka
Name[pt]=Carga da Ontologia do Nepomuk
Name[pt_BR]=Carregador de ontologia do Nepomuk
Name[ro]=Încărcător de ontologie Nepomuk
Name[ru]=Загрузчик онтологии Nepomuk
Name[si]=Nepomuk Ontology Loader
Name[sk]=Nepomuk Ontology Loader
Name[sl]=Nepomukov nalagalnik ontologij
Name[sr]=Непомуков учитавач онтологија
Name[sr@latin]=Nepomukov učitavač ontologija
Name[sv]=Nepomuk-ontologiladdning
Name[ta]=Nepomuk Ontology Loader
Name[te]=Nepomuk ఆన్‌టోలజి లోడర్
Name[tg]=Загрузчик онтологии Nepomuk
Name[th]=ตัวโหลด Ontology ของ Nepomuk
Name[tr]=Nepomuk Ontoloji Yükleyici
Name[uk]=Завантажувач онтології Nepomuk
Name[wa]=Tcherdjeu d' ontolodjeye Nepomuk
Name[x-test]=xxNepomuk Ontology Loaderxx
Name[zh_CN]=Nepomuk 本体装载器
Name[zh_TW]=Nepomuk Ontology 載入器
Comment=Nepomuk Service which maintains the ontologies installed on the system
Comment[ar]=خدمة نبومك تحافظ على الملفات المثبتة على النظام
Comment[be@latin]=Słužba „Nepomuk”, jakaja absłuhoŭvaje antalohii, zainstalavanyja ŭ systemie
Comment[bg]=Услуга, която поддържа инсталираните на компютъра онтологии
Comment[ca]=Servei del Nepomuk que manté les ontologies instal·lades en el sistema
Comment[ca@valencia]=Servei del Nepomuk que manté les ontologies instal·lades en el sistema
Comment[cs]=Služba Nepomuku, která spravuje ontologie instalované v systému
Comment[csb]=Ùsłëżnota Nepomuka, jakô sprôwiô òntologijama winstalowónëmi w systemie
Comment[da]=Nepomuk-tjeneste som vedligeholder ontologierne som er installeret på systemet
Comment[de]=Nepomuk-Dienst zur Verwaltung der Semantikinformationen auf diesem System
Comment[el]=Υπηρεσία Nepomuk η οποία διατηρεί τις εγκατεστημένες οντολογίες στο σύστημα
Comment[en_GB]=Nepomuk Service which maintains the ontologies installed on the system
Comment[eo]=Nepomuk-servo kiu prizorgas la ontologiojn instalitaj en la sistemo
Comment[es]=Servicio Nepomuk que mantiene las ontologías instaladas en el sistema
Comment[et]=Neponuki teenus, mis haldab süsteemi paigaldatud ontoloogiaid
Comment[eu]=Sisteman instalatutako ontologiak mantentzen dituen Nepomuk zerbitzua
Comment[fr]=Service Nepomuk qui gère les ontologies installées sur le système
Comment[fy]=Nepomuk tsjinst hokker de ontologyen ynstallearre op it systeem beheard
Comment[ga]=Seirbhís Nepomuk a chothaíonn na hointeolaíochtaí atá suiteáilte ar do chóras
Comment[gl]=O servizo de Nepomuk que mantén as ontoloxías que teña instaladas no sistema
Comment[gu]=નેપોમુક સેવા જે સિસ્ટમમાં સ્થાપિત થયેલ ઓન્ટોલોજીની જાળવણી કરે છે
Comment[hne]=नेपोमक सेवा जउन सिस्टम मं इस्टाल ओन्टोलोजी मन ल मेंटेन करथे
Comment[hr]=Nepomukova usluga koja održava ontologije instalirane na sustav
Comment[hsb]=Nepomukowa słužba, kiž so stara wo instalowane ontologije
Comment[hu]=Nepomuk-szolgáltatás a rendszer ontológiáinak karbantartásához
Comment[is]=Nepomuk þjónusta sem viðheldur þeim verufræðitengingum (ontologies) sem uppsettar eru á kerfinu
Comment[it]=Servizio di Nepomuk che mantiene le ontologie installate sul sistema
Comment[ja]=システムにインストールされているオントロジーを管理する Nepomuk サービス
Comment[kk]=Жүйеңізде орнатылған онтологиясын сүйемелдейтін Nepomuk қызметі
Comment[km]=សេវា Nepomuk ដែល​ថែទាំ​ប្រាណវិទ្យា​ដែលបាន​ដំឡើង​នៅលើ​ប្រព័​ន្ធ
Comment[kn]=ವ್ಯವಸ್ಥೆಯಲ್ಲಿ ಅನುಸ್ಥಾಪಿಸಲಾದ ಸತ್ಥಾಶಾಸ್ತ್ರಗಳನ್ನು (ಆಂಟಾಲಜಿ) ಪಾಲಿಸುವ ನೆಪೋಮುಕ್ ಸೇವೆ
Comment[ko]=시스템에 설치된 온톨로지를 관리하는 Nepomuk 서비스
Comment[ku]=Servîsa Nepomuk yê ku ontolojî yên di pergalê de saz kirî peyda dike
Comment[lt]=Nepomuk tarnyba, palaikanti sistemoje įdiegtas ontologijas
Comment[lv]=Nepomuk serviss, kas uztur sistēmā instalētās ontoloģijas
Comment[ml]=സിസ്റ്റത്തില്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്തിരിക്കുന്ന ഓണ്‍ടോളജി കൈകാര്യം ചെയ്യുന്ന Nepomuk സേവനം
Comment[nb]=Nepomuk tjeneste som er ansvarlig for ontologiene som er installert på systemet
Comment[nds]=Nepomuk-Deenst, he pleegt de Weeswarken, de op't Systeem installeert sünd
Comment[nl]=Nepomuk-dienst die de ontologieën geïnstalleerd op deze computer beheert
Comment[nn]=Nepomuk-teneste som held orden på ontologiane som er installerte på systemet
Comment[or]=Nepomuk ସର୍ଭିସ ଯାହାକି ତନ୍ତ୍ରରେ ସ୍ଥାପିତ ontology ଗୁଡ଼ିକର ତତ୍ୱାବଧାନ କରିଥାଏ
Comment[pa]=ਨਿਪੋਮੁਕ ਸਰਵਿਸ, ਜੋ ਕਿ ਸਿਸਟਮ ਉੱਤੇ ਇੰਸਟਾਲ ਆਨਟੋਲੋਜੀਆਂ ਦਾ ਪਰਬੰਧ ਕਰਦੀ ਹੈ
Comment[pl]=Usługa Nepomuka, która zarządza ontologiami zainstalowanymi w systemie
Comment[pt]=Um serviço do Nepomuk que faz a manutenção das ontologias instaladas no sistema
Comment[pt_BR]=Serviço do Nepomuk que mantém as ontologias instaladas no sistema
Comment[ro]=Serviciu Nepomuk ce menține ontologiile instalate în sistem
Comment[ru]=Поддержка установленных в системе онтологий
Comment[si]=Nepomuk Service which maintains the ontologies installed on the system
Comment[sk]=Služba Nepomuk Ontology Loader udržiava ontológie nainštalované v systéme
Comment[sl]=Nepomukova storitev, ki vzdržuje ontologije, ki so nameščene na računalniku
Comment[sr]=Сервис Непомука за одржавање онтологија присутних на систему
Comment[sr@latin]=Servis Nepomuka za održavanje ontologija prisutnih na sistemu
Comment[sv]=Nepomuk-tjänst som hanterar ontologier installerade i systemet
Comment[ta]=Nepomuk Service which maintains the ontologies installed on the system
Comment[te]=సిస్టమ్ నందు సంస్థాపించిన ఆన్‌టాలజీస్‌ను నిర్వహించే Nepomuk సేవ
Comment[tg]=Служба Nepomuk, которая обслуживает онтологии, установленные в системе
Comment[th]=บริการของ Nepomuk สำหรับดูแล ontologies ที่ติดตั้งไว้บนระบบ
Comment[tr]=Sistemde yüklü olan ontolojileri yürüten Nepomuk servisi
Comment[uk]=Служба Nepomuk, яка здійснює супровід всіх онтологій встановлених у системі
Comment[wa]=Siervice Nepomuk ki wåde les ontolodjeyes astalêyes sol sistinme
Comment[x-test]=xxNepomuk Service which maintains the ontologies installed on the systemxx
Comment[zh_CN]=用于维护系统中已安装的 Nepomuk 本体的服务
Comment[zh_TW]=維護安裝於系統中的 ontology 的 Nepomuk 服務
