[KCM Locale]
Name=Benin
Name[af]=Denin
Name[ar]=بينين
Name[bg]=Бенин
Name[el]=Μπενίν
Name[eo]=Benino
Name[fa]=بنین
Name[fr]=Bénin
Name[ga]=Beinin
Name[he]=בנין
Name[is]=Benín
Name[ja]=ベナン
Name[ka]=ბენინი
Name[kk]=Бенин
Name[km]=បេណាំង
Name[ko]=베냉
Name[lv]=Benina
Name[mk]=Бенин
Name[ne]=बेनिन
Name[pa]=ਬੀਨਿਨ
Name[pt]=Benim
Name[ru]=Бенин
Name[sr]=Бенин
Name[ta]=பெனின்
Name[te]=బెనిన్
Name[tg]=Бенини
Name[uk]=Бенін
Name[uz]=Бенин
Name[x-test]=xxBeninxx
Name[zh_TW]=貝南
Region=westafrica
#Languages=
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=CFAF
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
