[KCM Locale]
Name=Bosnia and Herzegovina
Name[af]=Bosnië en Herzegovina
Name[ar]=البوسنا و الهرسك
Name[be]=Боснія і Герцагавіна
Name[br]=Bosni hag Herzigovi
Name[ca]=Bòsnia i Hercegovina
Name[cs]=Bosna a Herzegovina
Name[csb]=Bòsnijô ë Hercegòwina
Name[cy]=Bosnia a Hertsegofina
Name[da]=Bosnien-Herzegovina
Name[de]=Bosnien und Herzegowina
Name[el]=Βοσνία και Ερζεγοβίνη
Name[eo]=Bosnio kaj Hercegovino
Name[es]=Bosnia y Herzegovina
Name[et]=Bosnia ja Hertsegovina
Name[eu]=Bosnia eta Herzegovina
Name[fa]=بوسنی و هرزگوین
Name[fi]=Bosnia ja Herzegovina
Name[fr]=Bosnie herzégovine
Name[fy]=Bosnië en Herzegovina
Name[ga]=An Bhoisnia agus Heirseagóivéin
Name[gl]=Bosnia e Herzegovina
Name[he]=בוסניה הרצגובינה
Name[hr]=Bosna i Hercegovina
Name[hu]=Bosznia-Hercegovina
Name[is]=Bosnía og Hersegóvína
Name[it]=Bosnia e Erzegovina
Name[ja]=ボスニア・ヘルツェゴビナ
Name[ka]=ბოსნია და ჰერცოგოვინა
Name[kk]=Босния және Герцоговина
Name[km]=បូស្ន៊ី និង​ហឺហ្ស៊េហ្គោវីណា
Name[ko]=보스니아어와 헤르체고비나
Name[lt]=Bosnija ir Hercegovina
Name[lv]=Bosnija un Hercogovina
Name[mk]=Босна и Херцеговина
Name[nb]=Bosnia-Hercegovina
Name[nds]=Bosnien-Herzegowina
Name[ne]=बोस्नीया र हर्जगोभिना
Name[nl]=Bosnië en Herzegovina
Name[nn]=Bosnia-Hercegovina
Name[pa]=ਬੋਸਨੀਆ ਤੇ ਹਰਜ਼ੀਗੋਵਿਨਾ
Name[pl]=Bośnia i Hercegowina
Name[pt_BR]=Bósnia Herzegovina
Name[ro]=Bosnia şi Herţegovina
Name[ru]=Босния и Герцеговина
Name[se]=Bosnia ja Hercegovina
Name[sl]=Bosna in Hercegovina
Name[sr]=Босна и Херцеговина
Name[sr@latin]=Bosna i Hercegovina
Name[sv]=Bosnien och Herzegovina
Name[ta]=பொசுனியா மற்றும் ஹர்ஜிகோவினா
Name[te]=బొస్నియా మరయూ హెర్జెగొవినా
Name[tg]=Босния ва Герсогавина
Name[tr]=Bosna Hersek
Name[uk]=Боснія і Герцеговина
Name[uz]=Босния ва Герцоговина
Name[wa]=Bosneye
Name[x-test]=xxBosnia and Herzegovinaxx
Name[xh]=Bosnia ne Herzegovina
Name[zh_TW]=波士尼亞與赫塞哥維納
Region=southeurope
Languages=bs,hr,sr
DecimalSymbol=,
ThousandsSeparator=
CurrencySymbol=KM
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[bs]=%a, %d %B %Y.
DateFormat[hr]=%a, %d %B %Y.
DateFormat[sr]=%a, %d %B %Y.
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y.
TimeFormat=%H:%M:%S
