[KCM Locale]
Name=Bosnia and Herzegovina
Region=southeurope
Languages=bs,hr,sr
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[bs]=%a, %d %B %Y.
DateFormat[hr]=%a, %d %B %Y.
DateFormat[sr]=%a, %d %B %Y.
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y.
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BAM
CurrencyCode=BAM
