[KCM Locale]
Name=Oman
Name[be]=Аман
Name[bg]=Оман
Name[cs]=Omán
Name[csb]=Òman
Name[el]=Ομάν
Name[eo]=Omano
Name[es]=Omán
Name[et]=Omaan
Name[fa]=عمان
Name[gl]=Omán
Name[he]=עומאן
Name[hu]=Omán
Name[is]=Óman
Name[ja]=オマーン
Name[ka]=ომანი
Name[kk]=Оман
Name[km]=អូម៉ង់
Name[ko]=오만
Name[lt]=Omanas
Name[lv]=Omāna
Name[mk]=Оман
Name[ne]=ओमान
Name[pa]=ਓਮਾਨ
Name[pt]=Omã
Name[pt_BR]=Omã
Name[ru]=Оман
Name[sr]=Оман
Name[ta]=ஓமன்
Name[te]=ఒమాన్
Name[tg]=Оман
Name[tr]=Umman
Name[uk]=Оман
Name[uz]=Уммон
Name[x-test]=xxOmanxx
Name[xh]= Oman
Name[zh_TW]=阿曼
Region=middleeast
Languages=ar
DecimalSymbol=,
CurrencySymbol=OMR
FracDigits=2
DateFormatShort=%y/%m/%d
