[KCM Locale]
Name=Georgia
Name[af]=Georgië
Name[ar]=جورجيا
Name[as]=জৰ্জিয়া
Name[ast]=Xeorxa
Name[be]=Грузія
Name[be@latin]=Hruzija
Name[bg]=Грузия
Name[bn]=জর্জিয়া
Name[bn_IN]=জর্জিয়া
Name[br]=Jeorji
Name[bs]=Gruzija
Name[ca]=Geòrgia
Name[ca@valencia]=Geòrgia
Name[cs]=Gruzie
Name[csb]=Grëzëjô
Name[cy]=Georgia
Name[da]=Georgien
Name[de]=Georgien
Name[el]=Γεωργία
Name[en_GB]=Georgia
Name[eo]=Kartvelio
Name[es]=Georgia
Name[et]=Gruusia
Name[eu]=Georgia
Name[fa]=گرجستان
Name[fi]=Georgia
Name[fr]=Géorgie
Name[fy]=Georgië
Name[ga]=An tSeoirsia
Name[gl]=Xeorxia
Name[gu]=જ્યોર્જીઆ
Name[he]=גאורגיה
Name[hi]=ज्यार्जिया
Name[hne]=ज्यार्जिया
Name[hr]=Gruzija
Name[hsb]=Georgiska
Name[hu]=Grúzia
Name[ia]=Georgia
Name[id]=Georgia
Name[is]=Georgía
Name[it]=Georgia
Name[ja]=グルジア
Name[ka]=საქართველო
Name[kk]=Грузия
Name[km]=ហ្សកហ្ស៊ី
Name[kn]=ಜಾರ್ಜಿಯಾ
Name[ko]=조지아
Name[ku]=Gurcistan
Name[lt]=Gruzija
Name[lv]=Gruzija
Name[mai]=जार्जिया
Name[mk]=Грузија
Name[ml]=ജോര്‍ജ്ജിയ
Name[mr]=जार्जिया
Name[ms]=Georgia
Name[nb]=Georgia
Name[nds]=Georgien
Name[ne]=जर्जिया
Name[nl]=Georgië
Name[nn]=Georgia
Name[oc]=Georgia
Name[or]=ଜର୍ଜିଆ
Name[pa]=ਜਾਰਜੀਆ
Name[pl]=Gruzja
Name[pt]=Geórgia
Name[pt_BR]=Geórgia
Name[ro]=Georgia
Name[ru]=Грузия
Name[se]=Georgia
Name[si]=ජොර්ජියාව
Name[sk]=Gruzínsko
Name[sl]=Gruzija
Name[sr]=Грузија
Name[sr@ijekavian]=Грузија
Name[sr@ijekavianlatin]=Gruzija
Name[sr@latin]=Gruzija
Name[sv]=Georgien
Name[ta]=ஜியோர்ஜியா
Name[te]=జార్జియా
Name[tg]=Гурҷистон
Name[th]=จอร์เจีย
Name[tr]=Gürcistan
Name[ug]=جورجىيە
Name[uk]=Грузія
Name[uz]=Gurjiston
Name[uz@cyrillic]=Гуржистон
Name[vi]=Georgia
Name[wa]=Djeyordjeye
Name[x-test]=xxGeorgiaxx
Name[zh_CN]=格鲁吉亚
Name[zh_TW]=喬治亞
Region=easteurope
Languages=ka,ru
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%Y წლის %e %B, %A
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
PageSize=A4
MeasureSystem=Metric
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=GEL
CurrencyCode=GEL
