[KCM Locale]
Name=United Kingdom
Region=westeurope
Languages=en_GB,cy
NegativeMonetarySignPosition=1
DateFormat[en_GB]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
PageSize=0
MeasureSystem=0
WeekStartDay=7
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=GBP
CurrencyCode=GBP
AddressFormat=%0(%n\n)%0(%cm\n)%0(PO Box %p\n)%0(%s\n)%0(%L\n)%0(%r\n)%0(%z\n)
AddressCountryPosition=BELOW
