[KCM Locale]
# Western Samoa before 1997
Name=Samoa
Name[af]=Samoa
Name[ar]=ساموا
Name[as]=ছামোৱা
Name[ast]=Samoa
Name[be]=Самоа
Name[be@latin]=Samoa
Name[bg]=Самоа
Name[bn]=সামোয়া
Name[bn_IN]=সামোয়া
Name[br]=Inizi Samoe
Name[bs]=Samoa
Name[ca]=Samoa
Name[ca@valencia]=Samoa
Name[cs]=Samoa
Name[csb]=Samoa
Name[cy]=Samoa
Name[da]=Samoa
Name[de]=Samoa
Name[el]=Σαμόα
Name[en_GB]=Samoa
Name[eo]=Samoo
Name[es]=Samoa
Name[et]=Samoa
Name[eu]=Samoa
Name[fa]=ساموا
Name[fi]=Samoa
Name[fr]=Samoa
Name[fy]=Samoa
Name[ga]=Samó
Name[gl]=Samoa
Name[gu]=સામોઆ
Name[he]=סמואה
Name[hi]=सामोआ
Name[hne]=सामोआ
Name[hr]=Samoa
Name[hsb]=Samoa
Name[hu]=Szamoa
Name[ia]=Samoa
Name[id]=Samoa
Name[is]=Samóa
Name[it]=Samoa
Name[ja]=サモア
Name[ka]=სამოა
Name[kk]=Самоа
Name[km]=សាមូអា
Name[kn]=ಸಮೊವ
Name[ko]=사모아 제도
Name[ku]=Samoa
Name[lt]=Samoa
Name[lv]=Samoa
Name[mai]=समोआ
Name[mk]=Самоа
Name[ml]=സമോവ
Name[mr]=सामोआ
Name[ms]=Samoa
Name[nb]=Samoa
Name[nds]=Samoa
Name[ne]=सामोआ
Name[nl]=Samoa
Name[nn]=Samoa
Name[oc]=Samoa
Name[or]=ସାମୋଆ
Name[pa]=ਸਾਮੋਆ
Name[pl]=Samoa
Name[pt]=Samoa
Name[pt_BR]=Samoa
Name[ro]=Samoa
Name[ru]=Самоа
Name[se]=Samoa
Name[si]=සමෝවා
Name[sk]=Samoa
Name[sl]=Samoa
Name[sr]=Самоа
Name[sr@ijekavian]=Самоа
Name[sr@ijekavianlatin]=Samoa
Name[sr@latin]=Samoa
Name[sv]=Samoa
Name[ta]=சாமோயா
Name[te]=సమొవా
Name[tg]=Самоа
Name[th]=ซามัว
Name[tr]=Samoa
Name[ug]=ساموئا
Name[uk]=Самоа
Name[uz]=Samoa
Name[uz@cyrillic]=Самоа
Name[vi]=Samoa
Name[wa]=Samowa
Name[x-test]=xxSamoaxx
Name[zh_CN]=萨摩亚群岛
Name[zh_TW]=薩摩亞
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=WST
CurrencyCode=WST
