[KCM Locale]
Author=i18n-translation@lists.linux.net.cn
Name=China
Name[af]=China
Name[ar]=الصين
Name[as]=চীন
Name[ast]=China
Name[be]=Кітай
Name[be@latin]=Kitaj
Name[bg]=Китай
Name[bn]=চীন
Name[bn_IN]=চীন
Name[br]=Sina
Name[bs]=Kina
Name[ca]=Xina
Name[ca@valencia]=Xina
Name[cs]=Čína
Name[csb]=Chinë
Name[cy]=Tseina
Name[da]=Kina
Name[de]=China
Name[el]=Κίνα
Name[en_GB]=China
Name[eo]=Ĉinio
Name[es]=China
Name[et]=Hiina
Name[eu]=Txina
Name[fa]=چین
Name[fi]=Kiina
Name[fr]=Chine
Name[fy]=China
Name[ga]=An tSín
Name[gl]=China
Name[gu]=ચીન
Name[he]=סין
Name[hi]=चीन
Name[hne]=चीन
Name[hr]=Kina
Name[hsb]=Chinska
Name[hu]=Kína
Name[ia]=China
Name[id]=China
Name[is]=Kína
Name[it]=Cina
Name[ja]=中国
Name[ka]=ჩინეთი
Name[kk]=Қытай
Name[km]=ចិន
Name[kn]=ಚೈನಾ
Name[ko]=중국
Name[ku]=Çîn
Name[lt]=Kinija
Name[lv]=Ķīna
Name[mai]=चीन
Name[mk]=Кина
Name[ml]=ചൈന
Name[mr]=चीन
Name[ms]=China
Name[nb]=Kina
Name[nds]=China
Name[ne]=चीन
Name[nl]=China
Name[nn]=Kina
Name[oc]=China
Name[or]=ଚାଇନା
Name[pa]=ਚੀਨ
Name[pl]=Chiny
Name[pt]=China
Name[pt_BR]=China
Name[ro]=China
Name[ru]=Китай
Name[se]=Kiinná
Name[si]=චීනය
Name[sk]=Čína
Name[sl]=Kitajska
Name[sr]=Кина
Name[sr@ijekavian]=Кина
Name[sr@ijekavianlatin]=Kina
Name[sr@latin]=Kina
Name[sv]=Kina
Name[ta]=சீனா
Name[te]=చైనా
Name[tg]=Хитой
Name[th]=จีน
Name[tr]=Çin
Name[ug]=جۇڭگو
Name[uk]=Китай
Name[uz]=Xitoy
Name[uz@cyrillic]=Хитой
Name[vi]=Trung Quốc
Name[wa]=Chine
Name[xh]=China
Name[x-test]=xxChinaxx
Name[zh_CN]=中国
Name[zh_TW]=中國
Region=eastasia
Languages=zh_CN
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[zh_CN]=%Y年%n月%e日 %A
DateFormat[zh_TW]=%Y年%n月%e日 %A
#DateFormat[de]=%A %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H:%M:%S
WeekStartDay=1
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=0
MeasureSystem=0
PageSize=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=CNY
CurrencyCode=CNY
