[KCM Locale]
Author=i18n-translation@lists.linux.net.cn
Name=China
Name[be]=Кітай
Name[bg]=Китай
Name[br]=Sina
Name[ca]=Xina
Name[cs]=Čína
Name[csb]=Chinë
Name[cy]=Tseina
Name[da]=Kina
Name[el]=Κίνα
Name[eo]=Ĉinujo
Name[et]=Hiina
Name[eu]=Txina
Name[fa]=چین
Name[fi]=Kiina
Name[fr]=Chine
Name[ga]=An tSín
Name[he]=סין
Name[hr]=Kina
Name[hu]=Kína
Name[is]=Kína
Name[it]=Cina
Name[ja]=中国
Name[ka]=ჩინეთი
Name[kk]=Қытай
Name[km]=ចិន
Name[ko]=중국
Name[lt]=Kinija
Name[lv]=Ķīna
Name[mk]=Кина
Name[nb]=Kina
Name[ne]=चीन
Name[nn]=Kina
Name[pa]=ਚੀਨ
Name[pl]=Chiny
Name[ru]=Китай
Name[se]=Kiinná
Name[sl]=Kitajska
Name[sr]=Кина
Name[sr@latin]=Kina
Name[sv]=Kina
Name[ta]=சீனா
Name[te]=చైనా
Name[tg]=Хитой
Name[th]=จีน
Name[tr]=Çin
Name[uk]=Китай
Name[uz]=Хитой
Name[wa]=Chine
Name[x-test]=xxChinaxx
Name[zh_TW]=中國
Region=eastasia
Languages=zh_CN
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=￥
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[zh_CN]=%Y年%n月%e日 %A
DateFormat[zh_TW]=%Y年%n月%e日 %A
#DateFormat[de]=%A %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H:%M:%S
WeekStartDay=1
MeasureSystem=0
PageSize=0
