[KCM Locale]
Name=Brazil
Region=southamerica
Languages=pt_BR
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[pt_BR]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d-%m-%Y
TimeFormat=%H:%M:%S
WeekStartDay=7
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BRL
CurrencyCode=BRL
