[KCM Locale]
Name=Angola
Name[af]=Angola
Name[ar]=أنغولا
Name[as]=এঙ্গোলা
Name[ast]=Angola
Name[be]=Ангола
Name[be@latin]=Anhoła
Name[bg]=Ангола
Name[bn]=অ্যাঙ্গোলা
Name[bn_IN]=অ্যাঙ্গোলা
Name[br]=Angola
Name[bs]=Angola
Name[ca]=Angola
Name[ca@valencia]=Angola
Name[cs]=Angola
Name[csb]=Angòla
Name[cy]=Angola
Name[da]=Angola
Name[de]=Angola
Name[el]=Ανγκόλα
Name[en_GB]=Angola
Name[eo]=Angolo
Name[es]=Angola
Name[et]=Angola
Name[eu]=Angola
Name[fa]=آنگولا
Name[fi]=Angola
Name[fr]=Angola
Name[fy]=Angola
Name[ga]=Angóla
Name[gl]=Angola
Name[gu]=એન્ગોલા
Name[he]=אנגולה
Name[hi]=अंगोला
Name[hne]=अंगोला
Name[hr]=Angola
Name[hsb]=Angola
Name[hu]=Angola
Name[ia]=Angola
Name[id]=Angola
Name[is]=Angóla
Name[it]=Angola
Name[ja]=アンゴラ
Name[ka]=ანგოლა
Name[kk]=Ангола
Name[km]=អង់ហ្គោឡា
Name[kn]=ಅಂಗೋಲ
Name[ko]=앙골라
Name[ku]=Angola
Name[lt]=Angola
Name[lv]=Angola
Name[mai]=अंगोला
Name[mk]=Ангола
Name[ml]=അംഗോളാ
Name[mr]=अंगोला
Name[ms]=Angola
Name[nb]=Angola
Name[nds]=Angola
Name[ne]=अङ्गोला
Name[nl]=Angola
Name[nn]=Angola
Name[oc]=Angòla
Name[or]=ଆଙ୍ଗୋଲା
Name[pa]=ਅੰਗੋਲਾ
Name[pl]=Angola
Name[pt]=Angola
Name[pt_BR]=Angola
Name[ro]=Angola
Name[ru]=Ангола
Name[se]=Angola
Name[si]=ඇන්ගෝලාව
Name[sk]=Angola
Name[sl]=Angola
Name[sr]=Ангола
Name[sr@ijekavian]=Ангола
Name[sr@ijekavianlatin]=Angola
Name[sr@latin]=Angola
Name[sv]=Angola
Name[ta]=ஆங்கோலா
Name[te]=అంగొలా
Name[tg]=Ангола
Name[th]=แองโกลา
Name[tr]=Angola
Name[ug]=ئانگولا
Name[uk]=Ангола
Name[uz]=Angola
Name[uz@cyrillic]=Ангола
Name[vi]=Angola
Name[wa]=Angola
Name[x-test]=xxAngolaxx
Name[zh_CN]=安哥拉
Name[zh_TW]=安哥拉
Region=southafrica
Languages=pt
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=AOA
CurrencyCode=AOA
