[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukstorage
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=true
Name=Nepomuk Data Storage
Name[ca]=Emmagatzematge de dades del Nepomuk
Name[da]=Nepomuk datalagring
Name[de]=Nepomuk-Datendienst
Name[el]=Αποθήκη δεδομένων Nepomuk
Name[eo]=Nepomuk enmemorigo de datumoj
Name[et]=Nepomuki andmesalvesti
Name[fi]=Nepomuk-tietovarasto
Name[fr]=Stockage de données de Nepomuk
Name[fy]=Nepomuk Gegevens opslach
Name[ga]=Storáil Sonraí Nepomuk
Name[gl]=Armacén de datos de Nepomuk
Name[gu]=નેપોમુક માહિતી સંગ્રહ
Name[ja]=Nepomuk データストレージ
Name[km]=ឧបករណ៍​ផ្ទុក​ទិន្នន័យ Nepomuk
Name[ko]=Nepomuk 데이터 저장소
Name[lv]=Nepomuk datu glabātuve
Name[nds]=Nepomuk-Datenaflaag
Name[nl]=Nepomuk-gegevensopslag
Name[pa]=ਨਿਪੋਮੁਕ ਡਾਟਾ ਸਟੋਰੇਜ਼
Name[pt]=Armazenamento de Dados do Nepomuk
Name[pt_BR]=Armazenamento de Dados do Nepomuk
Name[ro]=Stocare date Nepomuk
Name[sl]=Hramba podatkov za Nepomuk
Name[sr]=Непомуково складиште
Name[sr@latin]=Nepomukovo skladište
Name[sv]=Nepomuk-datalagring
Name[tg]=Захирагоҳи Nepomuk
Name[th]=ที่จัดเก็บข้อมูลของ Nepomuk
Name[tr]=Nepomuk Veri Depolama
Name[uk]=Збереження даних Nepomuk
Name[wa]=Wårdaedje di dnêyes Nepomuk
Name[x-test]=xxNepomuk Data Storagexx
Name[zh_CN]=Nepomuk 数据存储
Name[zh_TW]=Nepomuk 資料儲存
Comment=The Core Nepomuk data storage service
Comment[ca]=El servei d'emmagatzematge de dades del nucli del Nepomuk
Comment[da]=Nepomuk kernetjeneste til datalagring
Comment[de]=Der Nepomuk-Basisdienst zum Speichern der Daten
Comment[el]=Η κύρια υπηρεσία αποθήκης δεδομένων του Nepomuk
Comment[eo]=La kerna Nepomuk-servo de datuma enmemorigo
Comment[et]=Nepomuki andmesalvestuse tuumikteenus
Comment[fi]=Nepomuk-tietovarastopalvelu
Comment[fr]=Le service central de stockage de données de Nepomuk
Comment[gl]=O servizo central de armacenaxe de datos de Nepomuk
Comment[gu]=મુખ્ય નોપોમુક માહિતી સંગ્રહ સેવા
Comment[km]=សេវា​ឧបករណ៍​ផ្ទុក​ទិន្នន័យ Nepomuk ស្នូល
Comment[ko]=코어 Nepomuk 데이터 저장소 서비스
Comment[lv]=Pamata Nepomuk datu glabāšanas serviss
Comment[nds]=De Karn vun den Nepomuk-Datenaflaagdeenst
Comment[nl]=De kern Nepomuk-gegevensopslagdienst
Comment[pt]=O motor de base para o armazenamento de dados do Nepomuk
Comment[pt_BR]=O serviço de armazenamento de dados do Nepomuk
Comment[sl]=Osnovna storitev hrambe podatkov za Nepomuk
Comment[sr]=Језгарни сервис Непомука за складиштење података
Comment[sr@latin]=Jezgarni servis Nepomuka za skladištenje podataka
Comment[sv]=Nepomuk-datalagringstjänstens kärna
Comment[th]=บริการจัดเก็บข้อมูล Core Nepomik
Comment[tr]=Nepomuk Ana veri depolama servisi
Comment[uk]=Ядро служби збереження даних Nepomuk
Comment[wa]=Li siervice core di wårdaedje di dnêyes Nepomuk
Comment[x-test]=xxThe Core Nepomuk data storage servicexx
Comment[zh_CN]=Nepomuk 核心数据存储服务
Comment[zh_TW]=核心 Nepomuk 資料儲存服務
