[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomukstorage
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=true
Name=Nepomuk Data Storage
Name[fi]=Nepomuk-tietovarasto
Name[ga]=Storáil Sonraí Nepomuk
Name[km]=ឧបករណ៍​ផ្ទុក​ទិន្នន័យ Nepomuk
Name[pt]=Armazenamento de Dados do Nepomuk
Name[pt_BR]=Armazenamento de Dados do Nepomuk
Name[zh_CN]=Nepomuk 数据存储
Name[zh_TW]=Nepomuk 資料儲存
Comment=The Core Nepomuk data storage service
Comment[fi]=Nepomuk-tietovarastopalvelu
Comment[km]=សេវា​ឧបករណ៍​ផ្ទុក​ទិន្នន័យ Nepomuk ស្នូល
Comment[pt]=O motor de base para o armazenamento de dados do Nepomuk
Comment[pt_BR]=O motor de base para o armazenamento de dados do Nepomuk
Comment[zh_CN]=Nepomuk 核心数据存储服务
Comment[zh_TW]=核心 Nepomuk 資料儲存服務
