[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukqueryservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=NepomukQueryService
Name[be@latin]=Słužba „NepomukQueryService”
Name[de]=Nepomuk-Abfragedienst
Name[el]=Υπηρεσία ερωτήματος Nepomuk
Name[gu]=નેપોમુકપ્રશ્નસેવા
Name[kn]=ನೆಪೋಮುಕ್ ವಿಚಾರಣಾ ಸೇವೆ
Name[ml]=Nepomuk ക്വെറി സേവനം
Name[nb]=Nepomuk spørretjeneste
Name[nds]=Nepomuk-Affraagdeenst
Name[sv]=Nepomuk-frågetjänst
Name[tr]=Nepomuk Sorgulama Servisi
Name[x-test]=xxNepomukQueryServicexx
Name[zh_TW]=Nepomuk 查詢服務
Comment=The Nepomuk Query Service provides an interface for persistent query folders
Comment[be@latin]=Słužba zapytaŭ „Nepomuk” absłuhoŭvaje interfejs dla stałych katalohaŭ, jakija biaruć źviestki ad zapytaŭ.
Comment[ca]=El servei de consultes del Nepomuk (NepomukQueryService) proporciona una interfície per a carpetes persistents de consultes
Comment[de]=Der Nepomuk-Abfragedienst stellt eine Schnittstelle für persistente Abfrage-Ordner bereit.
Comment[el]=Η υπηρεσία ερωτήματος Nepomuk προσφέρει μια διασύνδεση για τη συνεχή αναζήτηση σε φακέλους
Comment[gl]=O servizo de pesquisas de Nepomuk fornece unha interface para cartafoles persistente de pesquisas
Comment[hsb]=Nepomukowa naprašowanska słužba staji intefejs za persistentne naprašowanske zapiski k dispoziciji.
Comment[it]=Il servizio di ricerca Nepomuk fornisce un'interfaccia per cartelle di ricerca persistenti
Comment[kk]=Nepomuk сұраныс қызметі тұрақты сұраныс қапшытарына интерфейсті қамтамасыз етеді
Comment[km]=សេវា​សំណួរ Nepomuk ផ្ដល់​នូវ​ចំណុច​ប្រទាក់​សម្រាប់​ថត​សំណួរ​ជាប់លាប់
Comment[kn]=ಅವಿಚ್ಛಿನ್ನ ವಿಚಾರಣಾ (ಪರ್ಸಿಸ್ಟೆಂಟ್ ಕ್ವೆರಿ) ಕಡತಕೋಶಗಳಿಗೆ ನೆಪೋಮುಕ್ ವಿಚಾರಣಾ ಸೇವೆ ಒಂದು ಸಂಪರ್ಕತಟವನ್ನು (ಇಂಟರ್ಫೇಸ್) ನೀಡುತ್ತದೆ
Comment[ml]=Nepomuk ക്വെറി സേവനം ഇടയ്ക്കിടെ വരുന്ന ക്വെറി അറകള്‍ക്കായി ഒരു വിനിമയതലം നല്‍കുന്നു
Comment[nb]=Nepomuk spørretjeneste tilbyr en brukerflate for varige spørremapper
Comment[nds]=De Nepomuk-Affraagdeenst stellt en Koppelsteed to duerhaftig Affraagornern praat
Comment[nl]=De Nepomuk Query Service biedt een interface voor het persistent doorzoeken van mappen
Comment[pt]=O Serviço de Pesquisas do Nepomuk oferece uma interface para pastas de pesquisa persistentes
Comment[pt_BR]=O Serviço de Pesquisas do Nepomuk oferece uma interface para pastas de pesquisa persistentes
Comment[sv]=Nepomuks frågetjänst tillhandahåller ett gränssnitt för bestående frågekataloger
Comment[tr]=Nepomuk Sorgulama Servisi kalıcı sorgu dizinleri için bir arayüz sağlar
Comment[uk]=Служба запитів Nepomuk надає інтерфейс для постійних тек запитів
Comment[x-test]=xxThe Nepomuk Query Service provides an interface for persistent query foldersxx
Comment[zh_TW]=Nepomuk 查詢服務提供持續的查詢資料夾的介面
