[KCM Locale]
Name=Saint Martin
Name[et]=Saint Martin
Name[hu]=Saint-Martin
Name[ia]=Saint Martin
Name[kk]=Сен-Мартин
Name[km]=សាន់ម៉ាទីន
Name[lt]=San Martenas
Name[nb]=Saint Martin
Name[nds]=St. Martin
Name[nl]=Saint Martin
Name[pt]=Saint Martin
Name[pt_BR]=Saint Martin
Name[sv]=Saint Martin
Name[uk]=Сен-Мартен
Name[x-test]=xxSaint Martinxx
Name[zh_TW]=法屬聖馬丁
Region=caribbean
Languages=fr,nl
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%A %e %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(%s\n)%0(BP %p\n)%z%w%L
AddressCountryPosition=BELOW
DecimalPlaces=2
MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
