[KCM Locale]
Name=St. Vincent and the Grenadines
Name[af]=St. Vincent en die Grenadene
Name[ar]=سانت فينسنت و الغرينادين
Name[be]=Сэнт-Вінсэнт і Грэнадыны
Name[br]=S. Visant hag ar Grenadinez
Name[ca]=St. Vincent i les Granadines
Name[cs]=St. Vincent a Grenadiny
Name[csb]=St. Vincent ë Grenadyny
Name[cy]=Ynysoedd St. Finsent a'r Grenadinau
Name[da]=St. Vincent og Grenadinerne
Name[de]=St. Vincent und Grenadinen
Name[el]=Άγιος Βικέντιος και Γρεναδίνες
Name[eo]=Sent-Vincento kaj la Grenadinoj
Name[es]=San Vicente y las Granadinas
Name[et]=St. Vincent ja Grenadiinid
Name[eu]=St. Vincent eta Grenadines
Name[fa]=سنت وینسنت و گرنادینس
Name[fi]=St. Vincent ja Grenadiinit
Name[fr]=St Vincent et les Grenadines
Name[fy]=St. Vincent en de Grenadines
Name[ga]=St. Vincent agus Grenadines
Name[gl]=Santo Vicente e as Granadinas
Name[he]=סנט וינסנט והגרנדינים
Name[hr]=St. Vincent i Grenadini
Name[hu]=St. Vincent és Grenadines
Name[is]=Sankti Vinsent og Grenadíneyjar
Name[it]=Saint Vincent e Grenadines
Name[ja]=セントビンセント・グレナディーン
Name[ka]=სენ ვინცენტი და გრენადინები
Name[kk]=Сент-Винсент және Гренадин
Name[km]=សង់វាំងសង់ និង ហ្គ្រីណាឌីន
Name[ko]=세인트 빈센트 그레나딘
Name[lt]=Šv. Vincentas ir Grenadinai
Name[lv]=Sentvinsenta un Grenadīnes
Name[mk]=Св. Винсент и Гренадите
Name[ms]=St. Vincent dan Grenadines
Name[nb]=St. Vincent og Grenadinene
Name[nds]=St. Vincent un de Grenadinen
Name[ne]=सेन्ट भिसेन्ट र ग्रेनाडाइन
Name[nl]=St. Vincent en de Grenadines
Name[nn]=St. Vincent og Grenadinane
Name[pa]=ਸੇਂਟ ਵੀਨਸੈਂਟ ਤੇ ਗਰੀਨਾਜੀਨਸ
Name[pl]=St. Vincent i Grenadyny
Name[pt_BR]=São Vicente e Grenadines
Name[ro]=Sf. Vincent şi Grenadines
Name[ru]=Сент-Винсент и Гренадины
Name[se]=St. Vincent ja the Grenadiinnat
Name[sl]=Sv. Vincent in Grenadini
Name[sr]=Св. Винсент и Гренадини
Name[sr@latin]=Sv. Vinsent i Grenadini
Name[sv]=St. Vincent och Grenadinerna
Name[ta]=செயின்ட் வின்சென்ட் மற்றும் க்ரீனாடைன்ஸ்
Name[te]=సెం. వింసెంట్ మరయూ గ్రెనెడైన్స్
Name[tg]=Синт Винсент ва Гренадина
Name[tr]=St. Vincent ve Grenadines
Name[uk]=Сент-Вінсент і Гренадини
Name[uz]=Сент-Винсент ва Гренадина
Name[wa]=St. Vincint et les Grenadines
Name[x-test]=xxSt. Vincent and the Grenadinesxx
Name[xh]=St. Vincent ne Grenadines
Name[zh_TW]=聖文森及格納那丁
Region=caribbean
Languages=en_GB,en_US
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=EC
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[en_US]=%A %d %b %Y
DateFormat[en_GB]=%A %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%I:%M:%S %p
WeekStartDay=7
