[KCM Locale]
Name=Tonga
Name[be]=Тонга
Name[bg]=Тонга
Name[br]=Inizi Tonga
Name[el]=Τόνγκα
Name[eo]=Tongo
Name[fa]=تونگا
Name[he]=טונגה
Name[ja]=トンガ
Name[ka]=ტონგა
Name[kk]=Тонга
Name[km]=តុងហ្គា
Name[ko]=통가
Name[mk]=Тонга
Name[ne]=टोङ्गा
Name[pa]=ਟਾਂਗਾ
Name[ru]=Тонга
Name[sr]=Тонга
Name[ta]=டோங்கா
Name[te]=టొంగా
Name[tg]=Тонго
Name[uk]=Тонга
Name[uz]=Тонга
Name[vi]=Ton-ga
Name[x-test]=xxTongaxx
Name[zh_TW]=東加
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=PT
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
