[KCM Locale]
Name=Peru
Name[ar]=البيرو
Name[bg]=Перу
Name[br]=Perou
Name[ca]=Perú
Name[cy]=Periw
Name[el]=Περού
Name[eo]=Peruo
Name[es]=Perú
Name[et]=Peruu
Name[fa]=پرو
Name[fr]=Pérou
Name[ga]=Peiriú
Name[gl]=Perú
Name[he]=פרו
Name[is]=Perú
Name[it]=Perù
Name[ja]=ペルー
Name[ka]=პერუ
Name[kk]=Перу
Name[km]=ប៉េរូ
Name[ko]=페루
Name[mk]=Перу
Name[ne]=पेरू
Name[pa]=ਪੇਰੂ
Name[ru]=Перу
Name[sr]=Перу
Name[ta]=பெரு
Name[te]=పెరు
Name[tg]=Перу
Name[uk]=Перу
Name[uz]=Перу
Name[wa]=Perou
Name[x-test]=xxPeruxx
Name[zh_TW]=秘魯
Region=southamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
CurrencySymbol=S/
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
