[Currency Code]
CurrencyCodeIsoAlpha3=AED
CurrencyCodeIsoNumeric3=784
#Context for Name: Adjectival Country Name and Currency Name
Name=United Arab Emirates Dirham
Name[ar]=الدرهم الإماراتي
Name[ast]=Dirḥam de los Emiratos Árabes Xuníos
Name[bg]=Дирхам на ОАЕ
Name[bn]=সংযুক্ত আরব আমিরশাহি ডারহাম
Name[bs]=ujedinjenoarapskoemiratski dirham
Name[ca]=Dírham de la Unió dels Emirats Àrabs
Name[ca@valencia]=Dírham de la Unió dels Emirats Àrabs
Name[cs]=Dirham Spojených arabských emirátů
Name[csb]=Dirma ze Zjednónych Abrabsczich Emiratów
Name[da]=Forenende Arabiske Emirater dirham
Name[de]=VAE-Dirham
Name[el]=Ντίρχαμ Ηνωμένων Αραβικών Εμιράτων
Name[en_GB]=United Arab Emirates Dirham
Name[eo]=UAE-dirhamo
Name[es]=Dirham de los Emiratos Árabes Unidos
Name[et]=Araabia Ühendemiraatide dirham
Name[eu]=Dirham emirerribatuarra
Name[fa]=امارات متحده عربی دیرهام
Name[fi]=Yhdistyneiden Arabiemiraattien dirham
Name[fr]=Dirham des émirats arabes unis
Name[fy]=Ferienigde Arabyske Emiraten dirham
Name[ga]=Dirham Aontas na nÉimíríochtaí Arabacha
Name[gl]=Dirham dos Emiratos Árabes Unidos
Name[gu]=યુનાઇટેડ આરબ ઇમિરાત્સ દિરહામ
Name[he]=דריהם של איחוד האמירויות הערביות
Name[hi]=संयुक्त अरब अमीरात दिर्हम
Name[hr]=Dirham Ujedinjenih Arapskih Emirata
Name[hu]=Emirátusi dirham
Name[ia]=Dirham de Emirates Arabe Unite
Name[id]=Dirham Uni Emirat Arab
Name[is]=Sameinaða arabíska furstadæmið Dirham
Name[it]=Dirham degli Emirati Arabi Uniti
Name[ja]=UAE ディルハム
Name[kk]=Біріккен Араб Әмірліктердің дихрамы
Name[km]=អារ៉ាប់រួម ឌឺហែម
Name[kn]=ಯುನೈಟೆಡ್ ಅರಬ್ ಎಮಿರೈಟ್ಸಿನ ದಿರ್ಹಾಮ್
Name[ko]=아랍에미리트 디르함
Name[lt]=Jungtinių Arabų Emiratų dirhamas
Name[lv]=Apvienoto Arābu Emerātu dinārs
Name[mai]=संयुक्त अरब अमीरात दिरहम
Name[mk]=Дирхам од Обединети Арапски Емирати
Name[ml]=യുണൈറ്റഡ് അറബ് എമിറൈറ്റ്സിലെ ദിര്‍ഹം
Name[mr]=संयुक्त अरब अमीरात दिरहाम
Name[nb]=UAE Dirham
Name[nds]=VAE-Dirham
Name[nl]=Verenigde Arabische Emiraten Dirham
Name[nn]=Emiratarabisk dirham
Name[pa]=ਸੰਯੁਕਤ ਅਰਬ ਅਮੀਰਾਤ ਦੀਰਹਮ
Name[pl]=Dirham Zjednoczonych Emiratów Arabskich
Name[pt]=Diram dos Emiratos Árabes Unidos
Name[pt_BR]=Dirham emiradense
Name[ro]=Dirham EAU
Name[ru]=Дирхам ОАЭ
Name[si]=එක්සත් අරාබි එමීර් ඩිරාම්
Name[sk]=Spojené arabské emiráty dirham
Name[sl]=dirham Združenih arabskih emiratov
Name[sr]=уједињеноарапскоемиратски дирхам
Name[sr@ijekavian]=уједињеноарапскоемиратски дирхам
Name[sr@ijekavianlatin]=ujedinjenoarapskoemiratski dirham
Name[sr@latin]=ujedinjenoarapskoemiratski dirham
Name[sv]=Förenade arabemiraten dirham
Name[tg]=Дирҳами Аморатҳои Муттаҳидаи Араб
Name[th]=ไดรามสหรัฐอาหรับอีมิเรตส์
Name[tr]=Birleşik Arap Emirlikleri Dirhemi
Name[ug]=ئەرەب بىرلەشمە خەلىپىلىكى دەرھەمى
Name[uk]=Діргем Об’єднаних Арабських Еміратів
Name[wa]=Dirham dås Emirat Arabes Unis
Name[x-test]=xxUnited Arab Emirates Dirhamxx
Name[zh_CN]=阿联酋第纳尔
Name[zh_TW]=阿拉伯聯合大公國─迪爾漢（Dirham）
CurrencyNameIso=United Arab Emirates dirham
CurrencyUnitSymbols=د.إ,DH,Dhs,AED
CurrencyUnitSymbolDefault=د.إ
CurrencyUnitSymbolUnambiguous=د.إ
CurrencyUnitSingular=dirham
CurrencyUnitPlural=dirhams
CurrencySubunitSymbol=
CurrencySubunitSingular=fils
CurrencySubunitPlural=fils
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AE
