[Currency Code]
CurrencyCodeIsoAlpha3=ALL
CurrencyCodeIsoNumeric3=008
#Context for Name: Adjectival Country Name and Currency Name
Name=Albanian Lek
Name[bn]=অলবেনিয় লেক
Name[ca]=Lek albanès
Name[ca@valencia]=Lek albanés
Name[csb]=Albańsczi Lek
Name[da]=Albansk lek
Name[de]=Albanischer Lek
Name[el]=Λεκ Αλβανίας
Name[en_GB]=Albanian Lek
Name[eo]=Albana leko
Name[es]=Lek albanés
Name[et]=Albaania lek
Name[eu]=Albaniako Lek
Name[fi]=Albanian lek
Name[fr]=Lek albanais
Name[fy]=Albaneenske lek
Name[ga]=Lek na hAlbáine
Name[gu]=અલ્બાનિઆ લેક
Name[he]=לאק אלבני
Name[hi]=अल्बानिया लेक
Name[hr]=Albanski lek
Name[hu]=Albán lek
Name[ia]=Albanian Lek
Name[id]=Lek Albania
Name[is]=Albanskt lek
Name[it]=Lek albanese
Name[ja]=アルバニア・レク
Name[kk]=Албания легі
Name[km]=អាល់បានី ឡិក
Name[kn]=ಅಲ್ಬೇನಿಯಾದ ಲೇಕ್
Name[ko]=알바니아 레크
Name[lt]=Albanijos lekis
Name[lv]=Albāņu Lekas
Name[mai]=अलबानिया लेक
Name[mk]=Албански лек
Name[ml]=അല്‍ബേനിയയിലെ ലേക്
Name[nb]=Albanske Lek
Name[nds]=Albaansch Lek
Name[nl]=Albanese Lek
Name[nn]=Albansk lek
Name[pl]=Lek albański
Name[pt]=Lek Albanês
Name[pt_BR]=Lek albanês
Name[ro]=Lek albanez
Name[ru]=Албанский лек
Name[sk]=Albánsky lek
Name[sl]=albanski lek
Name[sr]=албански лек
Name[sr@ijekavian]=албански лек
Name[sr@ijekavianlatin]=albanski lek
Name[sr@latin]=albanski lek
Name[sv]=Albanska lek
Name[tg]=Леки Албания
Name[th]=เล็กแอลเบเนีย
Name[tr]=Arnavut Leki
Name[uk]=Албанський лек
Name[x-test]=xxAlbanian Lekxx
Name[zh_CN]=阿尔巴尼亚列克
Name[zh_TW]=阿爾巴尼亞─列克（Lek）
CurrencyNameIso=Albanian lek
CurrencyUnitSymbols=L,ALL
CurrencyUnitSymbolDefault=L
CurrencyUnitSymbolUnambiguous=L
CurrencyUnitSingular=lek
CurrencyUnitPlural=lekë
CurrencySubunitSymbol=
CurrencySubunitSingular=qindarkë
CurrencySubunitPlural=qindarka
CurrencyIntroducedDate=1992,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AL
