[Currency Code]
CurrencyCodeIsoAlpha3=AMD
CurrencyCodeIsoNumeric3=051
#Context for Name: Adjectival Country Name and Currency Name
Name=Armenian Dram
Name[ar]=الدرام الأرميني
Name[ast]=Dram armeniu
Name[bg]=Арменски драм
Name[bn]=আর্মেনিয় ড্রাম
Name[bs]=jermenski dram
Name[ca]=Dram armeni
Name[ca@valencia]=Dram armeni
Name[cs]=Arménský dram
Name[csb]=Armeńskô Drama
Name[da]=Armensk dram
Name[de]=Armenischer Dram
Name[el]=Ντραμ Αρμενίας
Name[en_GB]=Armenian Dram
Name[eo]=Armena dramo
Name[es]=Dram armenio
Name[et]=Armeenia drahm
Name[eu]=Dram armeniarra
Name[fa]=درام ارمنستان
Name[fi]=Armenian dram
Name[fr]=Dram arménienne
Name[fy]=Armeenske dram
Name[ga]=Dram na hAirméine
Name[gl]=Dram da Armenia
Name[gu]=અર્મેનિયન દ્રામ
Name[he]=דראם ארמני
Name[hi]=आर्मेनिया द्राम
Name[hr]=Armenski dram
Name[hu]=Örmény dram
Name[ia]=Armenian Dram
Name[id]=Dram Armenia
Name[is]=Armenskt dram
Name[it]=Dram armeno
Name[ja]=アルメニア・ドラム
Name[kk]=Армения драмы
Name[km]=អារមេនី ដ្រាម
Name[kn]=ಅರ್ಮೇನಿಯಾದ ದ್ರಾಮ್
Name[ko]=아르메니아 드람
Name[lt]=Armėnijos dramas
Name[lv]=Armēņu Dramas
Name[mai]=आर्मेनिया ड्रैम
Name[mk]=Ерменски драм
Name[ml]=അര്‍മേനിയയിലെ ഡ്രാം
Name[mr]=आर्मेनिया द्राम
Name[nb]=Armenske Dram
Name[nds]=Armeensch Dram
Name[nl]=Armeense Dram
Name[nn]=Armensk dram
Name[pa]=ਅਰਮੀਨੀਆ ਡਰਾਮ
Name[pl]=Dram armeński
Name[pt]=Dram Arménio
Name[pt_BR]=Dram armeno
Name[ro]=Dram armenesc
Name[ru]=Армянский драм
Name[si]=ආර්මේනියානු ඩාර්ම්
Name[sk]=Arménsky dram
Name[sl]=armenski dram
Name[sr]=јерменски драм
Name[sr@ijekavian]=јерменски драм
Name[sr@ijekavianlatin]=jermenski dram
Name[sr@latin]=jermenski dram
Name[sv]=Armeniska dram
Name[tg]=Драми Арманистон
Name[th]=แดรมอาร์เมเนีย
Name[tr]=Ermeni Dramı
Name[ug]=ئەرمېنىيە دىرامى
Name[uk]=Вірменський драм
Name[vi]=Dram của Armenia
Name[wa]=Dram da l' Årmeneye
Name[x-test]=xxArmenian Dramxx
Name[zh_CN]=亚美尼亚德拉姆
Name[zh_TW]=亞美尼亞─德拉姆（Dram）
CurrencyNameIso=Armenian dram
CurrencyUnitSymbols=դր,AMD
CurrencyUnitSymbolDefault=դր
CurrencyUnitSymbolUnambiguous=դր
CurrencyUnitSingular=dram
CurrencyUnitPlural=dram
CurrencySubunitSymbol=
CurrencySubunitSingular=luma
CurrencySubunitPlural=luma
CurrencyIntroducedDate=1993,11,22
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AM
