[Currency Code]
CurrencyCodeIsoAlpha3=ARS
CurrencyCodeIsoNumeric3=032
#Context for Name: Adjectival Country Name and Currency Name
Name=Argentine Peso
CurrencyNameIso=Argentine peso
CurrencyUnitSymbols=$,ARS
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=A$
CurrencyUnitSingular=peso
CurrencyUnitPlural=pesos
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1992,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AR
