[Currency Code]
CurrencyCodeIsoAlpha3=ARS
CurrencyCodeIsoNumeric3=032
#Context for Name: Adjectival Country Name and Currency Name
Name=Argentine Peso
Name[ar]=البيزو الأرجنتيني
Name[ast]=Pesu arxentín
Name[bg]=Аржентинско песо
Name[bn]=আর্জেন্টিনার পেসো
Name[bs]=argentinski pezos
Name[ca]=Pes argentí
Name[ca@valencia]=Pes argentí
Name[cs]=Argentinské peso
Name[csb]=Argentińsczé Peso
Name[da]=Argentinsk peso
Name[de]=Argentinischer Peso
Name[el]=Πέσο Αργεντινής
Name[en_GB]=Argentine Peso
Name[eo]=Argentina peso
Name[es]=Peso argentino
Name[et]=Argentina peeso
Name[eu]=Peso argentinarra
Name[fa]=پزوی آرژانتین
Name[fi]=Argentiinan peso
Name[fr]=Peso argentin
Name[fy]=Argentinyske peso
Name[ga]=Peso na hAirgintíne
Name[gl]=Peso arxentino
Name[gu]=આર્જેન્ટિન પેસો
Name[he]=פסו ארגנטינאי
Name[hi]=अर्जेंटीना पीसो
Name[hr]=Argentinski peso
Name[hu]=Argentin peso
Name[ia]=Argentine Peso
Name[id]=Peso Argentina
Name[is]=Argentínskur pesó
Name[it]=Peso argentino
Name[ja]=アルゼンチン・ペソ
Name[kk]=Аргентина песосы
Name[km]=អាហ្សង់ទីន ប៉េស្សូ
Name[kn]=ಅರ್ಜಂಟೀನಾದ ಪೆಸೊ
Name[ko]=아르헨티나 페소
Name[lt]=Argentinos pesas
Name[lv]=Argentīnas peso
Name[mai]=अर्जेन्टिना पेसो
Name[mk]=Аргентинско пезо
Name[ml]=അര്‍ജന്റീനയിലെ പെസോ
Name[mr]=अर्जेन्टिनाइन पेसो
Name[nb]=Argentinske pesos
Name[nds]=Argentiensch Peso
Name[nl]=Argentijnse Peso
Name[nn]=Argentinsk peso
Name[pa]=ਅਰਜ਼ਨਟੀਨਾ ਪਿਸੋ
Name[pl]=Peso argentyńskie
Name[pt]=Peso Argentino
Name[pt_BR]=Peso argentino
Name[ro]=Peso argentinian
Name[ru]=Аргентинское песо
Name[si]=ආර්ජන්ටිනා පෙසෝ
Name[sk]=Argentínske peso
Name[sl]=argentinski peso
Name[sr]=аргентински пезос
Name[sr@ijekavian]=аргентински пезос
Name[sr@ijekavianlatin]=argentinski pezos
Name[sr@latin]=argentinski pezos
Name[sv]=Argentinska peso
Name[tg]=Песои Аргентина
Name[th]=เปโซอาร์เจนตินา
Name[tr]=Arjantin Pesosu
Name[ug]=ئارگېنتىنا پېسوسى
Name[uk]=Аргентинське песо
Name[vi]=Peso của Argentina
Name[wa]=Peso årdjintin
Name[x-test]=xxArgentine Pesoxx
Name[zh_CN]=阿根廷比索
Name[zh_TW]=阿根廷─披索（Peso）
CurrencyNameIso=Argentine peso
CurrencyUnitSymbols=$,ARS
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=A$
CurrencyUnitSingular=peso
CurrencyUnitPlural=pesos
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1992,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AR
