[Currency Code]
CurrencyCodeIsoAlpha3=ATS
CurrencyCodeIsoNumeric3=040
#Context for Name: Adjectival Country Name and Currency Name
Name=Austrian Schilling
Name[bg]=Австрийски шилинг
Name[da]=Østrigsk schilling
Name[de]=Österreichischer Schilling
Name[en_GB]=Austrian Schilling
Name[et]=Austria šilling
Name[is]=Austurrískur shillingur
Name[ja]=オーストリア・シリング
Name[lv]=Austrijas šiliņš
Name[nb]=Østerrikske Schilling
Name[nds]=Österrieksch Schilling
Name[pt]=Xelim Austríaco
Name[sv]=Österrikiska schilling
Name[uk]=Австрійський шилінг
Name[x-test]=xxAustrian Schillingxx
CurrencyNameIso=Austrian schilling
CurrencyUnitSymbols=S,öS,ATS
CurrencyUnitSymbolDefault=S
CurrencyUnitSymbolUnambiguous=S
CurrencyUnitSingular=schilling
CurrencyUnitPlural=schilling
CurrencySubunitSymbol=
CurrencySubunitSingular=groschen
CurrencySubunitPlural=groschen
CurrencyIntroducedDate=1945,11,30
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
