[Currency Code]
CurrencyCodeIsoAlpha3=AUD
CurrencyCodeIsoNumeric3=036
#Context for Name: Adjectival Country Name and Currency Name
Name=Australian Dollar
Name[bg]=Австралийски долар
Name[ca]=Dòlar australià
Name[ca@valencia]=Dòlar australià
Name[csb]=Aùstralëjsczi Dolar
Name[da]=Australsk dollar
Name[de]=Australischer Dollar
Name[el]=Δολάριο Αυστραλίας
Name[en_GB]=Australian Dollar
Name[eo]=Aŭstrala dolaro
Name[es]=Dólar australiano
Name[et]=Austraalia dollar
Name[eu]=Australiako Dolarra
Name[fi]=Australian dollari
Name[fr]=Dollar australien
Name[fy]=Australyske dollar
Name[ga]=Dollar na hAstráile
Name[gu]=ઓસ્ટ્રેલિઅન ડોલર
Name[he]=דולר אוסטרלי
Name[hi]=आस्ट्रेलिया डॉलर
Name[hr]=Australski dolar
Name[hu]=Ausztrál dollár
Name[id]=Dollar Australia
Name[is]=Ástralskur dollari
Name[it]=Dollaro australiano
Name[ja]=オーストラリア・ドル
Name[kk]=Аустралия доллары
Name[km]=ដុល្លារ​អូស្ត្រាលី
Name[kn]=ಆಸ್ಟ್ರೇಲಿಯಾದ ಡಾಲರ್
Name[ko]=오스트레일리아 달러
Name[lt]=Australijos doleris
Name[lv]=Austrālijas dolārs
Name[mai]=आस्ट्रेलिया डालर
Name[mk]=Австралиски долар
Name[ml]=ഓസ്ട്രേലിയയിലെ ഡോളര്‍
Name[nb]=Australske dollar
Name[nds]=Austraalsch Dollar
Name[nl]=Australische Dollar
Name[nn]=Australsk dollar
Name[pa]=ਅਸਟਰੇਲੀਆਈ ਡਾਲਰ
Name[pl]=Dolar australijski
Name[pt]=Dólar Australiano
Name[pt_BR]=Dólar australiano
Name[ro]=Dolar australian
Name[ru]=Австралийский доллар
Name[sk]=Austrálsky dolár
Name[sl]=avstralski dolar
Name[sr]=аустралијански долар
Name[sr@ijekavian]=аустралијански долар
Name[sr@ijekavianlatin]=australijanski dolar
Name[sr@latin]=australijanski dolar
Name[sv]=Australiska dollar
Name[tg]=Австралия
Name[th]=ดอลลาร์ออสเตรเลีย
Name[uk]=Австралійський долар
Name[x-test]=xxAustralian Dollarxx
Name[zh_CN]=澳大利亚元
Name[zh_TW]=澳大利亞─澳元（Australian Dollar）
CurrencyNameIso=Australian dollar
CurrencyUnitSymbols=$,A$,AU$,AUD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=AU$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=c
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1966,02,14
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AU,CX,CC,HM,NF,KI,NR,TV
