[Currency Code]
CurrencyCodeIsoAlpha3=AWG
CurrencyCodeIsoNumeric3=533
#Context for Name: Adjectival Country Name and Currency Name
Name=Aruban Florin
Name[ca]=Florí d'Aruba
Name[csb]=Arubańsczi Florin
Name[da]=Arubisk florin
Name[de]=Aruba-Florin
Name[el]=Φλορίνι Αρούμπας
Name[en_GB]=Aruban Florin
Name[es]=Florín arubeño
Name[et]=Aruba floriin
Name[eu]=Arubaneko florina
Name[fy]=Arubaanske gûne
Name[gu]=અરુબાન ફ્લોરિઅન
Name[he]=פלורין של ארובה
Name[hr]=Aruban Florin
Name[hu]=Arubai florin
Name[id]=Florin Aruba
Name[is]=Arúbínskt florin
Name[ja]=アルバ・フロリン
Name[kk]=Аруби флорині
Name[ko]=아루바 길더
Name[ml]=അറുബന്‍ ഫ്ലൊറിന്‍
Name[nb]=Arubisk gylden
Name[nds]=Aruba-Florin
Name[nl]=Arubaanse Gulden
Name[pl]=Florin arubański
Name[pt]=Florim de Aruba
Name[pt_BR]=Florim de Aruba
Name[ru]=Арубанский флорин
Name[sl]=arubski florin
Name[sr]=арупски флорин
Name[sr@ijekavian]=арупски флорин
Name[sr@ijekavianlatin]=arupski florin
Name[sr@latin]=arupski florin
Name[sv]=Arubiska florin
Name[uk]=Гульден Аруби
Name[x-test]=xxAruban Florinxx
Name[zh_CN]=阿鲁巴岛弗罗林
Name[zh_TW]=阿魯巴─弗羅林（Florin）
CurrencyNameIso=Aruban guilder
CurrencyUnitSymbols=Afl,ƒ,AWG
CurrencyUnitSymbolDefault=Afl
CurrencyUnitSymbolUnambiguous=Afl
CurrencyUnitSingular=florin
CurrencyUnitPlural=florin
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1986,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AW
