[Currency Code]
CurrencyCodeIsoAlpha3=BDT
CurrencyCodeIsoNumeric3=050
#Context for Name: Adjectival Country Name and Currency Name
Name=Bangladeshi Taka
Name[en_GB]=Bangladeshi Taka
Name[ja]=バングラデシュ・タカ
Name[sv]=Bangladeshiska taka
Name[uk]=Бангладешська така
Name[x-test]=xxBangladeshi Takaxx
CurrencyNameIso=Bangladeshi taka
CurrencyUnitSymbols=Tk,BDT
CurrencyUnitSymbolDefault=Tk
CurrencyUnitSymbolUnambiguous=Tk
CurrencyUnitSingular=taka
CurrencyUnitPlural=taka
CurrencySubunitSymbol=
CurrencySubunitSingular=poisha
CurrencySubunitPlural=poisha
CurrencyIntroducedDate=1972,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BD
