[Currency Code]
CurrencyCodeIsoAlpha3=BEF
CurrencyCodeIsoNumeric3=056
#Context for Name: Adjectival Country Name and Currency Name
Name=Belgian Franc
Name[bg]=Белгийски франк
Name[csb]=Belgijsczi Frank
Name[da]=Belgisk franc
Name[de]=Belgischer Franken
Name[en_GB]=Belgian Franc
Name[es]=Franco belga
Name[et]=Belgia frank
Name[eu]=Belgikako Frankoa
Name[is]=Belgískur franki
Name[ja]=ベルギー・フラン
Name[lv]=Beļģijas franks
Name[nb]=Belgiske Franc
Name[nds]=Belgsch Franc
Name[pt]=Franco Belga
Name[sv]=Belgiska franc
Name[uk]=Бельгійський франк
Name[x-test]=xxBelgian Francxx
Name[zh_TW]=比利時─法郎（Franc）
CurrencyNameIso=Belgian franc
CurrencyUnitSymbols=fr.,BEF
CurrencyUnitSymbolDefault=fr.
CurrencyUnitSymbolUnambiguous=BEF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=c.
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1832,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
