[Currency Code]
CurrencyCodeIsoAlpha3=BGL
CurrencyCodeIsoNumeric3=100
#Context for Name: Adjectival Country Name and Currency Name
Name=Bulgarian Lev A/99
Name[en_GB]=Bulgarian Lev A/99
Name[ja]=旧ブルガリア・レフ
Name[uk]=Болгарський лев до 99
Name[x-test]=xxBulgarian Lev A/99xx
CurrencyNameIso=Bulgarian lev A/99
CurrencyUnitSymbols=лв,BGL
CurrencyUnitSymbolDefault=лв
CurrencyUnitSymbolUnambiguous=лв
CurrencyUnitSingular=lev
CurrencyUnitPlural=leva
CurrencySubunitSymbol=
CurrencySubunitSingular=stotinka
CurrencySubunitPlural=stotinki
CurrencyIntroducedDate=1962,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=1999,07,04
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
