[Currency Code]
CurrencyCodeIsoAlpha3=BGN
CurrencyCodeIsoNumeric3=975
#Context for Name: Adjectival Country Name and Currency Name
Name=Bulgarian Lev
Name[bg]=Български лев
Name[ca]=Lev búlgar
Name[csb]=Bùlgarskô Lewa
Name[da]=Bulgarsk lev
Name[de]=Bulgarischer Lew
Name[en_GB]=Bulgarian Lev
Name[eo]=Bulgaria levo
Name[es]=Lev búlgaro
Name[et]=Bulgaaria lev
Name[gu]=બલ્ગેરિઅન લેવ
Name[ja]=ブルガリア・レフ
Name[lv]=Bulgārijas leva
Name[nb]=Bulgarske Lev
Name[nds]=Bulgaarsch Lew
Name[pt]=Lev Búlgaro
Name[sl]=bolgarski lev
Name[sv]=Bulgariska lev
Name[uk]=Болгарський лев
Name[x-test]=xxBulgarian Levxx
Name[zh_TW]=保加利亞─列弗（Lev）
CurrencyNameIso=Bulgarian lev
CurrencyUnitSymbols=лв,BGN
CurrencyUnitSymbolDefault=лв
CurrencyUnitSymbolUnambiguous=лв
CurrencyUnitSingular=lev
CurrencyUnitPlural=leva
CurrencySubunitSymbol=
CurrencySubunitSingular=stotinka
CurrencySubunitPlural=stotinki
CurrencyIntroducedDate=1999,07,05
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BG
