[Currency Code]
CurrencyCodeIsoAlpha3=BGN
CurrencyCodeIsoNumeric3=975
#Context for Name: Adjectival Country Name and Currency Name
Name=Bulgarian Lev
Name[en_GB]=Bulgarian Lev
Name[ja]=ブルガリア・レフ
Name[sv]=Bulgariska lev
Name[uk]=Болгарський лев
Name[x-test]=xxBulgarian Levxx
CurrencyNameIso=Bulgarian lev
CurrencyUnitSymbols=лв,BGN
CurrencyUnitSymbolDefault=лв
CurrencyUnitSymbolUnambiguous=лв
CurrencyUnitSingular=lev
CurrencyUnitPlural=leva
CurrencySubunitSymbol=
CurrencySubunitSingular=stotinka
CurrencySubunitPlural=stotinki
CurrencyIntroducedDate=1999,07,05
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BG
