[Currency Code]
CurrencyCodeIsoAlpha3=BHD
CurrencyCodeIsoNumeric3=048
#Context for Name: Adjectival Country Name and Currency Name
Name=Bahraini Dinar
Name[ar]=الدينار البحريني
Name[ast]=Dinar baḥreiní
Name[bg]=Бахрейнски динар
Name[bn]=বাহরেনী দিনার
Name[bs]=bahreinski dinar
Name[ca]=Dinar de Bahrain
Name[ca@valencia]=Dinar de Bahrain
Name[cs]=Bahrajnský dinár
Name[csb]=Bahrajńsczi Dinar
Name[da]=Bahrainsk dinar
Name[de]=Bahrain-Dinar
Name[el]=Δηνάριο Μπαχρέιν
Name[en_GB]=Bahraini Dinar
Name[eo]=Barejna dinaro
Name[es]=Dinar bahreiní
Name[et]=Bahreini dinaar
Name[eu]=Dinar bahraindarra
Name[fa]=دینار بحرین
Name[fi]=Bahrainin dinaari
Name[fr]=Dinar bahreïni
Name[fy]=Baghreinske dinar
Name[ga]=Dinar na Bairéine
Name[gl]=Dinar do Barén
Name[gu]=બહેરિની દિનાર
Name[he]=דינר בחרייני
Name[hi]=बहारीन दिनार
Name[hr]=Bahreinski dinar 
Name[hu]=Bahreini dínár
Name[ia]=Bahraini Dinar
Name[id]=Dinar Bahrain
Name[is]=Bareinskur dínar
Name[it]=Dinaro del Bahrain
Name[ja]=バーレーン・ディナール
Name[kk]=Бахрейн динары
Name[km]=ឌីណា​បារ៉ែន
Name[kn]=ಬಹರೈನಿ ದಿನಾರ್
Name[ko]=바레인 디나르
Name[lt]=Bahreino dinaras
Name[lv]=Bahreinas dinārs
Name[mai]=बहरीन दिनार
Name[mk]=Бахреински динар
Name[ml]=ബഹ്റൈനിലെ ദിനാര്‍
Name[mr]=बहरीनी दिनार
Name[nb]=Bahrainske dinarer
Name[nds]=Bahrainsch Dinaar
Name[nl]=Bahreinse Dinar
Name[nn]=Bahrainsk dinar
Name[pa]=ਬਹਿਰੀਨੀ ਦੀਨਾਰ
Name[pl]=Dinar (Bahrajn)
Name[pt]=Dinar do Bahrain
Name[pt_BR]=Dinar baremense
Name[ro]=Dinar Bahrein
Name[ru]=Бахрейнский динар
Name[si]=බහරේන් ඩිනාර්
Name[sk]=Bahrajnský dinár
Name[sl]=bahrajnski dinar
Name[sr]=бахреински динар
Name[sr@ijekavian]=бахреински динар
Name[sr@ijekavianlatin]=bahreinski dinar
Name[sr@latin]=bahreinski dinar
Name[sv]=Bahrainska dinar
Name[tg]=Динори Баҳрайн
Name[th]=ดีนาร์บาห์เรน
Name[tr]=Bahreyn Dinarı
Name[ug]=بەھرەين دىنارى
Name[uk]=Бахрейнський динар
Name[vi]=Dinar của Bahrain
Name[wa]=Dinar då Bareyn
Name[x-test]=xxBahraini Dinarxx
Name[zh_CN]=巴林第纳尔
Name[zh_TW]=巴林─巴林第納爾（Bahraini Dinar）
CurrencyNameIso=Bahraini dinar
CurrencyUnitSymbols=.د.ب,BD,BHD
CurrencyUnitSymbolDefault=.د.ب
CurrencyUnitSymbolUnambiguous=.د.ب
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=fils
CurrencySubunitPlural=fils
CurrencyIntroducedDate=1965,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=BH
