[Currency Code]
CurrencyCodeIsoAlpha3=BSD
CurrencyCodeIsoNumeric3=044
#Context for Name: Adjectival Country Name and Currency Name
Name=Bahamian Dollar
Name[bg]=Бахамски долар
Name[ca]=Dòlar de les Bahames
Name[ca@valencia]=Dòlar de les Bahames
Name[cs]=Bahamský dolar
Name[csb]=Bahamiańsczi Dolar
Name[da]=Bahamansk dollar
Name[de]=Bahama-Dollar
Name[el]=Δολάριο Μπαχαμών
Name[en_GB]=Bahamian Dollar
Name[eo]=Bahama dolaro
Name[es]=Dólar bahameño
Name[et]=Bahama dollar
Name[eu]=Bahamiako Dolarra
Name[fi]=Bahamian dollari
Name[fr]=Dollar bahaméen
Name[fy]=Bahamyske dollar
Name[ga]=Dollar na mBahámaí
Name[gu]=બહામિઅન ડોલર
Name[he]=דולר בהאמי
Name[hi]=बहामी डॉलर
Name[hr]=Bahamski dolar 
Name[hu]=Bahamai dollár
Name[id]=Dollar Bahamia
Name[is]=Bahama dollari
Name[it]=Dollaro bahamense
Name[ja]=バハマ・ドル
Name[kk]=Багам доллары
Name[km]=Bahamian Dollar
Name[kn]=ಬಹಮಿಯಾದ ಡಾಲರ್
Name[ko]=바하마 달러
Name[lt]=Bahamų doleris
Name[lv]=Bahamu dolārs
Name[mai]=बहामा डालर
Name[mk]=Бахамски долар
Name[ml]=ബഹാമയിലെ ഡോളര്‍
Name[nb]=Bahamas-dollar
Name[nds]=Bahamaasch Dollar
Name[nl]=Bahamaanse Dollar
Name[nn]=Bahamansk dollar
Name[pl]=Dolar (Bahamy)
Name[pt]=Dólar das Bahamas
Name[pt_BR]=Dólar bahamense
Name[ru]=Багамский доллар
Name[sk]=Bahamský dolár
Name[sl]=bahamski dolar
Name[sr]=бахамски долар
Name[sr@ijekavian]=бахамски долар
Name[sr@ijekavianlatin]=bahamski dolar
Name[sr@latin]=bahamski dolar
Name[sv]=Bahamanska dollar
Name[th]=ดอลลาร์บาฮามาส
Name[tr]=Bahama Doları
Name[uk]=Багамський долар
Name[wa]=Dolår do Bahamas
Name[x-test]=xxBahamian Dollarxx
Name[zh_CN]=巴哈马元
Name[zh_TW]=巴哈馬─元（Dollar）
CurrencyNameIso=Bahamian dollar
CurrencyUnitSymbols=$,B$,BSD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=B$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1966,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BS
