[Currency Code]
CurrencyCodeIsoAlpha3=BYR
CurrencyCodeIsoNumeric3=974
#Context for Name: Adjectival Country Name and Currency Name
Name=Belarusian Ruble
Name[ar]=الروبل البلاروسي
Name[ast]=Rublu bielorrusu
Name[bg]=Беларуска рубла
Name[bn]=বেলারুসের রুবল
Name[bs]=beloruska rublja
Name[ca]=Ruble bielorús
Name[ca@valencia]=Ruble bielorús
Name[cs]=Běloruský rubl
Name[csb]=Biôłorësczi Rubel
Name[da]=Hviderussisk rubel
Name[de]=Weißrussischer Rubel
Name[el]=Ρούβλι Λευκορωσίας
Name[en_GB]=Belarusian Ruble
Name[eo]=Belorusia rublo
Name[es]=Rublo bielorruso
Name[et]=Valgevene rubla
Name[eu]=Errublo bielorrusiarra
Name[fa]=روبل بلاروسی
Name[fi]=Valko-Venäjän rupla
Name[fr]=Rouble biélorusse
Name[fy]=Wyt-Russyske rubbel
Name[ga]=Rúbal na Bealarúise
Name[gl]=Rublo bielorruso
Name[gu]=બેલારૂસીઅન રુબલ
Name[he]=רובל בלרוסי
Name[hi]=बेलारूस रूबल
Name[hr]=Bjeloruski rubalj
Name[hu]=Belarusz rubel
Name[ia]=Rublo Bielorusso
Name[id]=Ruble Belarus
Name[is]=Hvít-rússnesk rúbla
Name[it]=Rublo bielorusso
Name[ja]=ベラルーシ・ルーブル
Name[kk]=Белорус рублі
Name[km]=រ៉ូប៊ល បេឡារុស្ស
Name[kn]=ಬೆಲಾರುಸಿಯ ರೂಬಲ್
Name[ko]=벨라루스 루블
Name[lt]=Baltarusijos rublis
Name[lv]=Baltkrievijas rublis
Name[mai]=बेलारूस रूबल
Name[mk]=Белоруска рубља
Name[ml]=ബെലാറസിലെ റൂബിള്‍
Name[mr]=बेलारुसीयन रुबल
Name[nb]=Hviterussiske rubler
Name[nds]=Wittruss'sch Ruvel
Name[nl]=Wit-Russische Roebel
Name[nn]=Kviterussisk rubel
Name[pa]=ਬੇਲਾਰੂਸ ਰੂਬਲ
Name[pl]=Rubel białoruski
Name[pt]=Rublo Bielorrusso
Name[pt_BR]=Rublo bielorrusso
Name[ro]=Rublă bielorusă
Name[ru]=Белорусский рубль
Name[si]=බෙලරුසියන් රූබල්
Name[sk]=Bieloruský rubeľ
Name[sl]=beloruski rubelj
Name[sr]=белоруска рубља
Name[sr@ijekavian]=бјелоруска рубља
Name[sr@ijekavianlatin]=bjeloruska rublja
Name[sr@latin]=beloruska rublja
Name[sv]=Vitryska rubel
Name[tg]=Рубли Белорусия
Name[th]=รูเบิลเบลารุส
Name[tr]=Belarus Rublesi
Name[ug]=بېلارۇسىيە رۇبلىسى
Name[uk]=Білоруський рубль
Name[vi]=Rúp của Belarus
Name[wa]=Roube bielorûsse
Name[x-test]=xxBelarusian Rublexx
Name[zh_CN]=白俄罗斯卢布
Name[zh_TW]=白俄羅斯─盧布（Ruble）
CurrencyNameIso=Belarusian ruble
CurrencyUnitSymbols=Br,BYR
CurrencyUnitSymbolDefault=Br
CurrencyUnitSymbolUnambiguous=Br
CurrencyUnitSingular=ruble
CurrencyUnitPlural=rubles
CurrencySubunitSymbol=
CurrencySubunitSingular=kapeyka
CurrencySubunitPlural=kapeykas
CurrencyIntroducedDate=2000,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BY
