[Currency Code]
CurrencyCodeIsoAlpha3=CLP
CurrencyCodeIsoNumeric3=152
#Context for Name: Adjectival Country Name and Currency Name
Name=Chilean Peso
Name[bg]=Чилийско песо
Name[ca]=Pes xilè
Name[ca@valencia]=Pes xilè
Name[csb]=Czilëjsczé Peso
Name[da]=Chilensk peso
Name[de]=Chilenischer Peso
Name[el]=Πέσο Χιλής
Name[en_GB]=Chilean Peso
Name[eo]=Ĉilia peseto
Name[es]=Peso chileno
Name[et]=Tšiili peeso
Name[eu]=Txileko Pesoa
Name[fr]=Peso chilien
Name[fy]=Sileenske peso
Name[gu]=ચિલિઅન પેસો
Name[he]=פסו צ'ליאני
Name[hr]=Čileanski peso
Name[hu]=Chilei peso
Name[id]=Peso Chili
Name[is]=Chíleanskur pesó
Name[ja]=チリ・ペソ
Name[kk]=Чили песосы
Name[kn]=ಚಿಲಿಯ ಪೆಸೊ
Name[ko]=칠레 페소
Name[lv]=Čīles peso
Name[ml]=ചിലിയിലെ പെസൊ
Name[nb]=Chilenske pesos
Name[nds]=Chileensch Peso
Name[nl]=Chileense Peso
Name[pl]=Peso chilijskie
Name[pt]=Peso Chileno
Name[pt_BR]=Peso Chileno
Name[ru]=Чилийское песо
Name[sl]=čilski peso
Name[sr]=чилеански пезос
Name[sr@ijekavian]=чилеански пезос
Name[sr@ijekavianlatin]=čileanski pezos
Name[sr@latin]=čileanski pezos
Name[sv]=Chilenska peso
Name[uk]=Чилійське песо
Name[wa]=Peso chilyin
Name[x-test]=xxChilean Pesoxx
Name[zh_CN]=智利比索
Name[zh_TW]=智利─披索（Peso）
CurrencyNameIso=Chilean peso
CurrencyUnitSymbols=$,CL$,CLP
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=CL$
CurrencyUnitSingular=peso
CurrencyUnitPlural=pesos
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1975,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CL
