[Currency Code]
CurrencyCodeIsoAlpha3=CRC
CurrencyCodeIsoNumeric3=188
#Context for Name: Adjectival Country Name and Currency Name
Name=Costa Rican Colon
Name[da]=Costaricansk colon
Name[de]=Costa-Rica-Colón
Name[en_GB]=Costa Rican Colon
Name[et]=Costa Rica colon
Name[ja]=コスタリカ・コロン
Name[nb]=Costa Rica-Colon
Name[nds]=Costa-Ricaansch Colón
Name[pt]=Colombo da Costa Rica
Name[sv]=Costarikanska colón
Name[uk]=Костариканський колон
Name[x-test]=xxCosta Rican Colonxx
Name[zh_TW]=哥斯大黎加─科郎（Colon）
CurrencyNameIso=Costa Rican colon
CurrencyUnitSymbols=₡,CRC
CurrencyUnitSymbolDefault=₡
CurrencyUnitSymbolUnambiguous=₡
CurrencyUnitSingular=colon
CurrencyUnitPlural=colons
CurrencySubunitSymbol=
CurrencySubunitSingular=centimo
CurrencySubunitPlural=centimos
CurrencyIntroducedDate=1896,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CR
