[Currency Code]
CurrencyCodeIsoAlpha3=DJF
CurrencyCodeIsoNumeric3=262
#Context for Name: Adjectival Country Name and Currency Name
Name=Djibouti Franc
Name[ar]=الفرنك الجيبوتي
Name[ast]=Francu xibutianu
Name[bg]=Джибутски франк
Name[bn]=জিবৌতির ফ্রাঙ্ক
Name[bs]=džibutski franak
Name[ca]=Franc de Djibouti
Name[ca@valencia]=Franc de Djibouti
Name[cs]=Džibutský frank
Name[csb]=Dżibucczi Frank
Name[da]=Djiboutisk franc
Name[de]=Dschibuti-Franc
Name[el]=Φράγκο Τζιμπουτί
Name[en_GB]=Djibouti Franc
Name[eo]=Ĝibuta franko
Name[es]=Franco yibutiano
Name[et]=Djibouti frank
Name[eu]=Franko djibutiarra
Name[fa]=فرانک جیبوتی
Name[fi]=Djiboutin frangi
Name[fr]=Franc de Djibouti
Name[fy]=Djiboutyske frank
Name[ga]=Franc Djibouti
Name[gl]=Franco de Xibutí
Name[gu]=જીબુટિ ફ્રાન્ક
Name[he]=פרנק ג'יבוטי
Name[hi]=डिबौती फ्रांक
Name[hr]=Džibutijski franak
Name[hu]=Dzsibuti frank
Name[ia]=Djibouti Franc
Name[id]=Franc Djibouti
Name[is]=Djíbútí franki
Name[it]=Franco gibutiano
Name[ja]=ジブチ・フラン
Name[kk]=Джибути франкі
Name[km]=ហ្វ្រង់​ហ្ស៊ីបូទី
Name[kn]=ಜಿಬೌಟಿಯ ಫ್ರಾಂಕ್
Name[ko]=지부티 프랑
Name[lt]=Džibučio frankas
Name[lv]=Džibutijas franks
Name[mai]=दिबाती फ्रैक
Name[mk]=Џибутиски франк
Name[ml]=ജിബൂട്ടിയിലെ ഫ്രാങ്ക്
Name[mr]=डिज्बूयटी फ्रांक
Name[nb]=Djiboutiske franc
Name[nds]=Dschibuti-Franc
Name[nl]=Djiboutiaanse Frank
Name[nn]=Djiboutisk franc
Name[pa]=ਡਜੀਬੁਉਟੀ ਫਰੈਂਕ
Name[pl]=Frank (Dżibuti)
Name[pt]=Franco do Djibouti
Name[pt_BR]=Franco djibutiense
Name[ro]=Franc Djibouti
Name[ru]=Франк Джибути
Name[si]=ඩිජිබව්ටි ෆ්‍රෑන්ක්
Name[sk]=Džibutský frank
Name[sl]=džibuški frank
Name[sr]=џибутски франак
Name[sr@ijekavian]=џибутски франак
Name[sr@ijekavianlatin]=džibutski franak
Name[sr@latin]=džibutski franak
Name[sv]=Djiboutiska franc
Name[tg]=Франки Ҷибути
Name[th]=ฟรังก์จิบูติ
Name[tr]=Cibuti Frankı
Name[ug]=جىبۇتى فرانكى
Name[uk]=Франк Джибуті
Name[vi]=Frăng của Djibouti
Name[wa]=Franc da Djibouti
Name[x-test]=xxDjibouti Francxx
Name[zh_CN]=吉布提法郎
Name[zh_TW]=吉布地─法郎（Franc）
CurrencyNameIso=Djibouti franc
CurrencyUnitSymbols=Fdj,DJF
CurrencyUnitSymbolDefault=Fdj
CurrencyUnitSymbolUnambiguous=Fdj
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1949,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=DJ
