[Currency Code]
CurrencyCodeIsoAlpha3=DKK
CurrencyCodeIsoNumeric3=208
#Context for Name: Adjectival Country Name and Currency Name
Name=Danish Krone
Name[ar]=الكرون الدنماركي
Name[ast]=Corona danesa
Name[bg]=Датска крона
Name[bn]=ড্যানিশ ক্রোন
Name[bs]=danska kruna
Name[ca]=Corona danesa
Name[ca@valencia]=Corona danesa
Name[cs]=Dánská koruna
Name[csb]=Dëńskô Kòróna
Name[da]=Dansk krone
Name[de]=Dänische Krone
Name[el]=Κορόνα Δανίας
Name[en_GB]=Danish Krone
Name[eo]=Dana krono
Name[es]=Corona danesa
Name[et]=Taani kroon
Name[eu]=Koroa danimarkarra
Name[fa]=کرون دانمارک
Name[fi]=Tanskan kruunu
Name[fr]=Couronne danoise
Name[fy]=Deenske kroon
Name[ga]=Coróin na Danmhairge
Name[gl]=Coroa dinamarquesa
Name[gu]=ડેનિશ ક્રોન
Name[he]=כתר דני
Name[hi]=दानिश क्रोन
Name[hr]=Danska kruna
Name[hu]=Dán korona
Name[ia]=Corona danese
Name[id]=Krone Denmark
Name[is]=Dönsk króna
Name[it]=Corona danese
Name[ja]=デンマーク・クローネ
Name[kk]=Дания кронасы
Name[km]=Danish Krone
Name[kn]=ಡ್ಯಾನಿಶ್ ಕ್ರೋನ್
Name[ko]=덴마크 크로네
Name[lt]=Danijos krona
Name[lv]=Dāņu krona
Name[mai]=डैनिश क्रोन
Name[mk]=Данска круна
Name[ml]=ഡെന്മാര്‍ക്കിലെ ക്രോണ
Name[mr]=डेनिश क्रोन
Name[nb]=Danske kroner
Name[nds]=Däänsch Kroon
Name[nl]=Deense Kroon
Name[nn]=Dansk krone
Name[pa]=ਡੈਨਿਸ਼ ਕਰੋਨੀ
Name[pl]=Korona duńska
Name[pt]=Coroa Dinamarquesa
Name[pt_BR]=Coroa dinamarquesa
Name[ro]=Coroană daneză
Name[ru]=Датская крона
Name[si]=ඩෙන්මාර්ක ක්‍රෝන්
Name[sk]=Dánska koruna
Name[sl]=danska krona
Name[sr]=данска круна
Name[sr@ijekavian]=данска круна
Name[sr@ijekavianlatin]=danska kruna
Name[sr@latin]=danska kruna
Name[sv]=Danska kronor
Name[tg]=Кронаи Дания
Name[th]=โครนเดนมาร์ก
Name[tr]=Danimarka Kronu
Name[ug]=دانىيە كرونى
Name[uk]=Данська крона
Name[vi]=Krone của Đan Mạch
Name[wa]=Corone danwèse
Name[x-test]=xxDanish Kronexx
Name[zh_CN]=丹麦克朗
Name[zh_TW]=丹麥─克朗（Krone）
CurrencyNameIso=Danish krone
CurrencyUnitSymbols=kr,DKK
CurrencyUnitSymbolDefault=kr
CurrencyUnitSymbolUnambiguous=DKK
CurrencyUnitSingular=krone
CurrencyUnitPlural=kroner
CurrencySubunitSymbol=
CurrencySubunitSingular=øre
CurrencySubunitPlural=øre
CurrencyIntroducedDate=1914,08,02
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=DK,FO,GL
