[Currency Code]
CurrencyCodeIsoAlpha3=EGP
CurrencyCodeIsoNumeric3=818
#Context for Name: Adjectival Country Name and Currency Name
Name=Egyptian Pound
Name[bg]=Египетска лира
Name[ca]=Lliura egípcia
Name[csb]=Egipsczi Fùnt
Name[da]=Egyptisk pund
Name[de]=Ägyptisches Pfund
Name[en_GB]=Egyptian Pound
Name[eo]=Egiptia pundo
Name[es]=Libra egipcia
Name[et]=Egiptuse nael
Name[is]=Egypskt pund
Name[ja]=エジプト・ポンド
Name[lv]=Ēģiptes mārciņa
Name[nb]=Egyptiske pund
Name[nds]=Ägyptsch Pund
Name[pt]=Libra Egípcia
Name[sl]=egiptovski funt
Name[sv]=Egyptiska pund
Name[uk]=Єгипетський фунт
Name[x-test]=xxEgyptian Poundxx
Name[zh_TW]=埃及─鎊（Pound）
CurrencyNameIso=Egyptian pound
CurrencyUnitSymbols=£,LE,ج.م,EGP
CurrencyUnitSymbolDefault=LE
CurrencyUnitSymbolUnambiguous=LE
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=Pt.
CurrencySubunitSingular=piastres
CurrencySubunitPlural=piastres
CurrencyIntroducedDate=1834,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=EG
