[Currency Code]
CurrencyCodeIsoAlpha3=ERN
CurrencyCodeIsoNumeric3=232
#Context for Name: Adjectival Country Name and Currency Name
Name=Eritrean Nakfa
Name[ar]=النقفة الإرتيري
Name[ast]=Nakfa d'Eritrea
Name[bg]=Еритрейска накфа
Name[bn]=Eritrean Nakfa
Name[bs]=eritrejska nakfa
Name[ca]=Nakfa d'Eritrea
Name[ca@valencia]=Nakfa d'Eritrea
Name[cs]=Eritrejská nakfa
Name[csb]=Erytrejskô Nakfa
Name[da]=Eritreansk nakfa
Name[de]=Eritreischer Nakfa
Name[el]=Νάκφα Ερυθραίας
Name[en_GB]=Eritrean Nakfa
Name[eo]=Eritrea nakfo
Name[es]=Nakfa de Eritrea
Name[et]=Eritrea nakfa
Name[eu]=Nakfa eritrearra
Name[fa]=Eritrean Nakfa
Name[fi]=Eritrean nakfa
Name[fr]=Nakfa érythréen
Name[fy]=Eritreaanske nakfa
Name[ga]=Nakfa na hEiritré
Name[gl]=Nakfa eritreo
Name[gu]=ઇરિટ્રિયન નાક્ફા
Name[he]=נאפקה אריתריאית
Name[hi]=एरिट्रीया नाकफ
Name[hr]=Eritrejska nakfa
Name[hu]=Eritreai nakfa
Name[ia]=Eritrean Nakfa
Name[id]=Nakfa Eritrea
Name[is]=Erítresk nafka
Name[it]=Nakfa eritreo
Name[ja]=エリトリア・ナクファ
Name[kk]=Эритрея накфасы
Name[km]=ណាកហ្វា​អេរីទ្រា
Name[kn]=ಎರಿಟ್ರಿಯನ್ ನಕ್ಫಾ(Nakfa)
Name[ko]=에리트리아 나크파
Name[lt]=Eritrėjos nakfa
Name[lv]=Eritrejas nakfa
Name[mai]=इरीट्रियाइ नाक्फा
Name[ml]=എറിട്രിയയിലെ നകഫ
Name[mr]=एरिट्रियन नाक्फा
Name[nb]=Eritreiske Nakfa
Name[nds]=Eritreesch Nakfa
Name[nl]=Eritrese Nakfa
Name[nn]=Eritreisk nakfa
Name[pa]=ਈਰੀਟਰੀਆ ਨਾਕਾਫਾ
Name[pl]=Nakfa (Erytrea)
Name[pt]=Nakfa da Eritreia
Name[pt_BR]=Nafka eritreu
Name[ro]=Nakfa Eritreea
Name[ru]=Эритрейская накфа
Name[si]=එරිත්‍රියන් නක්ෆා
Name[sk]=Eritrejská nafka
Name[sl]=eritrejska nakfa
Name[sr]=еритрејска накфа
Name[sr@ijekavian]=еритрејска накфа
Name[sr@ijekavianlatin]=eritrejska nakfa
Name[sr@latin]=eritrejska nakfa
Name[sv]=Eritreanska nakfa
Name[tg]=Накфаи Эритрея
Name[th]=แนกฟาเอริเทรีย
Name[tr]=Eritre Nakfası
Name[ug]=ئېرىترېيە ناكفاسى
Name[uk]=Еритрейська накфа
Name[vi]=Nakfa của Eritrea
Name[wa]=Nakfa da l' Eritrêye
Name[x-test]=xxEritrean Nakfaxx
Name[zh_CN]=厄立特里亚纳克法
Name[zh_TW]=厄利垂亞─奈克法（Nakfa）
CurrencyNameIso=Nakfa
CurrencyUnitSymbols=Nfk,ERN
CurrencyUnitSymbolDefault=Nfk
CurrencyUnitSymbolUnambiguous=Nfk
CurrencyUnitSingular=nafka
CurrencyUnitPlural=nafka
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1997,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ER
