[Currency Code]
CurrencyCodeIsoAlpha3=FIM
CurrencyCodeIsoNumeric3=246
#Context for Name: Adjectival Country Name and Currency Name
Name=Finnish Markka
Name[da]=Finsk markka
Name[de]=Finnische Mark
Name[en_GB]=Finnish Markka
Name[et]=Soome mark
Name[is]=Finnskt mark
Name[ja]=フィンランド・マルッカ
Name[lv]=Somu marka
Name[nb]=Finske mark
Name[nds]=Finnsch Mark
Name[pt]=Markka Finlandês
Name[sv]=Finska mark
Name[uk]=Фінська марка
Name[x-test]=xxFinnish Markkaxx
Name[zh_TW]=芬蘭─馬克（Markka）
CurrencyNameIso=Finnish markka
CurrencyUnitSymbols=mk,FIM
CurrencyUnitSymbolDefault=mk
CurrencyUnitSymbolUnambiguous=mk
CurrencyUnitSingular=markka
CurrencyUnitPlural=markkaa
CurrencySubunitSymbol=
CurrencySubunitSingular=penni
CurrencySubunitPlural=pennia
CurrencyIntroducedDate=1860,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
