[Currency Code]
CurrencyCodeIsoAlpha3=FIM
CurrencyCodeIsoNumeric3=246
#Context for Name: Adjectival Country Name and Currency Name
Name=Finnish Markka
Name[ar]=المارك الفنلندي
Name[ast]=Marcu finlandés
Name[bg]=Финландска марка
Name[bn]=ফিনিশ মারক্কা
Name[bs]=finska marka
Name[ca]=Marc finlandès
Name[ca@valencia]=Marc finlandés
Name[cs]=Finská markka
Name[csb]=Fińskô Marka
Name[da]=Finsk markka
Name[de]=Finnische Mark
Name[el]=Φινλανδική μάρκα
Name[en_GB]=Finnish Markka
Name[eo]=Finna marko
Name[es]=Marco finlandés
Name[et]=Soome mark
Name[eu]=Marko finlandiarra
Name[fa]=مارکای فنلاندی
Name[fi]=Suomen markka
Name[fr]=Mark finlandais
Name[fy]=Finske markka
Name[ga]=Markka na Fionlainne
Name[gl]=Marco finés
Name[gu]=ફિનિશ માર્કકા
Name[he]=מרק פיני
Name[hi]=फिन्निश मारक्का
Name[hr]=Finska markka
Name[hu]=Finn márka
Name[ia]=Marco Finnese
Name[id]=Markka Finlandia
Name[is]=Finnskt mark
Name[it]=Marco finlandese
Name[ja]=フィンランド・マルッカ
Name[kk]=Финн маркасы
Name[km]=Finnish Markka
Name[kn]=ಫಿನ್ನಿಶ್ ಮಾರ್ಕಾ
Name[ko]=핀란드 마르카
Name[lt]=Suomijos markė
Name[lv]=Somu marka
Name[mai]=फिनिश मार्का
Name[ml]=ഫിന്‍ലന്റിലെ മാര്‍ക്ക
Name[mr]=फिनिश मार्क्का
Name[nb]=Finske mark
Name[nds]=Finnsch Mark
Name[nl]=Finse Mark
Name[nn]=Finsk mark
Name[pa]=ਫੈਨਿਸ਼ ਮਰੱਕਾ
Name[pl]=Marka fińska
Name[pt]=Markka Finlandês
Name[pt_BR]=Marco finlandês
Name[ro]=Marcă finlandeză
Name[ru]=Финляндская марка
Name[si]=ෆින්ලන්ත මාර්කා
Name[sk]=Fínska marka
Name[sl]=finska marka
Name[sr]=финска марка
Name[sr@ijekavian]=финска марка
Name[sr@ijekavianlatin]=finska marka
Name[sr@latin]=finska marka
Name[sv]=Finska mark
Name[tg]=Маркаи Финландия
Name[th]=มาร์กกาฟินแลนด์
Name[tr]=Fin Markkası
Name[ug]=فىنلاندىيە مارككاسى
Name[uk]=Фінська марка
Name[vi]=Markka của Phần Lan
Name[wa]=Markka finwesse
Name[x-test]=xxFinnish Markkaxx
Name[zh_CN]=芬兰马克
Name[zh_TW]=芬蘭─馬克（Markka）
CurrencyNameIso=Finnish markka
CurrencyUnitSymbols=mk,FIM
CurrencyUnitSymbolDefault=mk
CurrencyUnitSymbolUnambiguous=mk
CurrencyUnitSingular=markka
CurrencyUnitPlural=markkaa
CurrencySubunitSymbol=
CurrencySubunitSingular=penni
CurrencySubunitPlural=pennia
CurrencyIntroducedDate=1860,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
