[Currency Code]
CurrencyCodeIsoAlpha3=FKP
CurrencyCodeIsoNumeric3=238
#Context for Name: Adjectival Country Name and Currency Name
Name=Falkland Islands Pound
Name[ca]=Lliura de les Illes Malvines
Name[csb]=Fùnt z Falklandzczich Òstrowów
Name[da]=Falklandsøerne pund
Name[de]=Falkland-Pfund
Name[en_GB]=Falkland Islands Pound
Name[et]=Falklandi saarte nael
Name[fy]=Falklânske pûn
Name[gu]=ફોકલેન્ડ ટાપુઓ પાઉન્ડ
Name[he]=פאונד של איי פוקלנד
Name[id]=Pound Kepulauan Falkland
Name[is]=Falklandseyjapund
Name[ja]=フォークランド諸島・ポンド
Name[kk]=Фолкленд (Мальвин) фунты
Name[lv]=Folklendu salu mārciņa
Name[nb]=Falklandsøy-pund
Name[nds]=Falkland-Pund
Name[nl]=Falklandeilands pond
Name[pt]=Libra das Ilhas Falkland
Name[sl]=falklandski funt
Name[sv]=Falklandspund
Name[uk]=Фунт Фолклендських островів
Name[x-test]=xxFalkland Islands Poundxx
Name[zh_TW]=福克蘭群島─鎊（Pound）
CurrencyNameIso=Falkland Islands pound
CurrencyUnitSymbols=£,FK£,FKP
CurrencyUnitSymbolDefault=£
CurrencyUnitSymbolUnambiguous=FK£
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=p
CurrencySubunitSingular=penny
CurrencySubunitPlural=pence
CurrencyIntroducedDate=1971,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=FK
