[Currency Code]
CurrencyCodeIsoAlpha3=FKP
CurrencyCodeIsoNumeric3=238
#Context for Name: Adjectival Country Name and Currency Name
Name=Falkland Islands Pound
Name[ca]=Lliura de les Illes Malvines
Name[ca@valencia]=Lliura de les Illes Malvines
Name[csb]=Fùnt z Falklandzczich Òstrowów
Name[da]=Falklandsøerne pund
Name[de]=Falkland-Pfund
Name[el]=Λίρα Νήσων Φώκλαντ
Name[en_GB]=Falkland Islands Pound
Name[et]=Falklandi saarte nael
Name[eu]=Malvinak Uharteetako (Falkland islands) libera
Name[fr]=Livre des Îles Falkland
Name[fy]=Falklânske pûn
Name[gu]=ફોકલેન્ડ ટાપુઓ પાઉન્ડ
Name[he]=פאונד של איי פוקלנד
Name[hr]=Falklandska funta
Name[hu]=Falkland-szigeteki font
Name[id]=Pound Kepulauan Falkland
Name[is]=Falklandseyjapund
Name[ja]=フォークランド諸島・ポンド
Name[kk]=Фолкленд (Мальвин) фунты
Name[kn]=ಫಾಕ್‌ಲ್ಯಾಂಡ್ ಐಲ್ಯಾಂಡುಗಳ ಪೌಂಡ್
Name[ko]=포클랜드 제도 파운드
Name[lv]=Folklendu salu mārciņa
Name[ml]=ഫാക്‍ലാന്റ് ദ്വീപുകളിലെ പൌണ്ട്
Name[nb]=Falklandsøy-pund
Name[nds]=Falkland-Pund
Name[nl]=Falklandeilands pond
Name[nn]=Falklandsøy-pund
Name[pt]=Libra das Ilhas Falkland
Name[pt_BR]=Libra das Ilhas Falkland
Name[sl]=falklandski funt
Name[sr]=фокландска фунта
Name[sr@ijekavian]=фокландска фунта
Name[sr@ijekavianlatin]=foklandska funta
Name[sr@latin]=foklandska funta
Name[sv]=Falklandspund
Name[uk]=Фунт Фолклендських островів
Name[x-test]=xxFalkland Islands Poundxx
Name[zh_CN]=福克兰镑
Name[zh_TW]=福克蘭群島─鎊（Pound）
CurrencyNameIso=Falkland Islands pound
CurrencyUnitSymbols=£,FK£,FKP
CurrencyUnitSymbolDefault=£
CurrencyUnitSymbolUnambiguous=FK£
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=p
CurrencySubunitSingular=penny
CurrencySubunitPlural=pence
CurrencyIntroducedDate=1971,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=FK
