[Currency Code]
CurrencyCodeIsoAlpha3=GEL
CurrencyCodeIsoNumeric3=981
#Context for Name: Adjectival Country Name and Currency Name
Name=Georgian Lari
Name[ar]=اللاري الجورجي
Name[ast]=Lari xeorxanu
Name[bg]=Грузинска лари
Name[bn]=জর্জিয়ান লারি
Name[bs]=gruzijski lari
Name[ca]=Lari de Geòrgia
Name[ca@valencia]=Lari de Geòrgia
Name[cs]=Gruzínské lari
Name[csb]=Grëzëjsczi Lari
Name[da]=Georgisk lari
Name[de]=Georgischer Lari
Name[el]=Λάρι Γεωργίας
Name[en_GB]=Georgian Lari
Name[eo]=Kartvela Lari
Name[es]=Lari georgiano
Name[et]=Gruusia lari
Name[eu]=Lari georgiarra
Name[fa]=Georgian Lari
Name[fi]=Georgian lari
Name[fr]=Lari géorgien
Name[fy]=Georgyske lari
Name[ga]=Lari na Seoirsia
Name[gl]=Lari xeorxiano
Name[gu]=જ્યોર્જીઅન લારી
Name[he]=לארי גאורגי
Name[hi]=ज्यार्जिया लारी
Name[hr]=Gruzijski lari
Name[hu]=Grúz lari
Name[ia]=Georgian Lari
Name[id]=Lari Georgia
Name[is]=Georgískt larí
Name[it]=Lari georgiano
Name[ja]=グルジア・ラリ
Name[kk]=Гүржістан лариі
Name[km]=ឡារី​ហ្សកហ្ស៊ី
Name[kn]=ಜಾರ್ಜಿಯಾದ ಲಾರಿ
Name[ko]=조지아 라리
Name[lt]=Gruzijos laris
Name[lv]=Gruzijas lars
Name[mai]=जार्जिया लारी
Name[ml]=ജോര്‍ജ്ജിയയിലെ ലാരി
Name[mr]=जार्जियन लारी
Name[nb]=Georgiske Lari
Name[nds]=Georgsch Lari
Name[nl]=Georgische Lari
Name[nn]=Georgisk lari
Name[pa]=ਜਾਰਜੀਆ ਲਾਰੀ
Name[pl]=Lari gruzińskie
Name[pt]=Lari da Geórgia
Name[pt_BR]=Lari georgiano
Name[ro]=Lari georgian
Name[ru]=Грузинский лари
Name[si]=ජෝර්ජියානු ලැරි
Name[sk]=Gruzínsky lari
Name[sl]=gruzijski lari
Name[sr]=грузијски лари
Name[sr@ijekavian]=грузијски лари
Name[sr@ijekavianlatin]=gruzijski lari
Name[sr@latin]=gruzijski lari
Name[sv]=Georgiska lari
Name[tg]=Лари Гурҷистон
Name[th]=ลารีจอร์เจีย
Name[tr]=Gürcü Larisi
Name[ug]=گىرۇزىيە لارىسى
Name[uk]=Грузинське ларі
Name[vi]=Lari của Georgia
Name[wa]=Lari djeyordjyinne
Name[x-test]=xxGeorgian Larixx
Name[zh_CN]=格鲁吉亚拉里
Name[zh_TW]=喬治亞─拉里（Lari）
CurrencyNameIso=Lari
CurrencyUnitSymbols=GEL
CurrencyUnitSymbolDefault=GEL
CurrencyUnitSymbolUnambiguous=GEL
CurrencyUnitSingular=lari
CurrencyUnitPlural=lari
CurrencySubunitSymbol=
CurrencySubunitSingular=tetri
CurrencySubunitPlural=tetri
CurrencyIntroducedDate=1995,10,02
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=GE
