[Currency Code]
CurrencyCodeIsoAlpha3=GHS
CurrencyCodeIsoNumeric3=936
#Context for Name: Adjectival Country Name and Currency Name
Name=Ghana Cedi
Name[ar]=سيدي غانا
Name[ast]=Cedi ghanés
Name[bg]=Ганайско седи
Name[bn]=ঘানা সেডি
Name[bs]=ganski sjedi
Name[ca]=Cedi de Ghana
Name[ca@valencia]=Cedi de Ghana
Name[cs]=Ghanský cedi
Name[csb]=Ghanańsczé Cedi
Name[da]=Ghanesisk cedi
Name[de]=Ghanaischer Cedi
Name[el]=Σέντι Γκάνας
Name[en_GB]=Ghana Cedi
Name[eo]=Ganaa cedio
Name[es]=Cedi ghanés
Name[et]=Ghana cedi
Name[eu]=Cedi ghanatarra
Name[fa]=Ghana Cedi
Name[fi]=Ghanan cedi
Name[fr]=Cedi ghanéen
Name[fy]=Ghanaaske cedi
Name[ga]=Cedi Gánach
Name[gl]=Cedi de Ghana
Name[gu]=ઘાના સેડી
Name[he]=סדי גאני
Name[hi]=घाना सेदी
Name[hr]=Ganski cedi
Name[hu]=Ghánai cedi
Name[ia]=Ghana Cedi
Name[id]=Cedi Ghana
Name[is]=Ganaískt cedí
Name[it]=Cedi ghanese
Name[ja]=ガーナ・セディ
Name[kk]=Гана седиі
Name[km]=សេឌី​ហ្កាណា
Name[kn]=ಘಾನಾ ಸೆಡಿ
Name[ko]=가나 세디
Name[lt]=Ganos sedis
Name[lv]=Ganas sedi
Name[ml]=ഘാന സെഡി
Name[mr]=घाना सेडी
Name[nb]=Ghana Cedi
Name[nds]=Ghana-Cedi
Name[nl]=Ghanese Cedi
Name[nn]=Ghanesisk cedi
Name[pa]=ਘਾਨਾ ਸਿਡੀ
Name[pl]=Cedi ghańskie
Name[pt]=Cedi do Gana
Name[pt_BR]=Cedi ganense
Name[ro]=Cedi ghanez
Name[ru]=Ганский седи
Name[si]=ගානා සෙඩි
Name[sk]=Ghana cedi
Name[sl]=ganski cedi
Name[sr]=гански седи
Name[sr@ijekavian]=гански седи
Name[sr@ijekavianlatin]=ganski sedi
Name[sr@latin]=ganski sedi
Name[sv]=Ghana cedi
Name[tg]=Седи Гана
Name[th]=เซดีกานา
Name[tr]=Gana Sedisi
Name[ug]=گانا سېدىسى
Name[uk]=Ганське седі
Name[vi]=Cedi Ghana
Name[wa]=Cedi då Gana
Name[x-test]=xxGhana Cedixx
Name[zh_CN]=加纳塞地
Name[zh_TW]=迦納─塞地（Cedi）
CurrencyNameIso=Cedi
CurrencyUnitSymbols=GH₵,GHS
CurrencyUnitSymbolDefault=GH₵
CurrencyUnitSymbolUnambiguous=GH₵
CurrencyUnitSingular=cedi
CurrencyUnitPlural=cedi
CurrencySubunitSymbol=
CurrencySubunitSingular=pesewa
CurrencySubunitPlural=pesewa
CurrencyIntroducedDate=2007,07,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=GH
