[Currency Code]
CurrencyCodeIsoAlpha3=GMD
CurrencyCodeIsoNumeric3=270
#Context for Name: Adjectival Country Name and Currency Name
Name=Gambian Dalasi
Name[ca]=Dalasi de Gàmbia
Name[ca@valencia]=Dalasi de Gàmbia
Name[csb]=Gambijsczé Dalasi
Name[da]=Gambisk dalasi
Name[de]=Gambianischer Dalasi
Name[el]=Νταλάσι Γκάμπιας
Name[en_GB]=Gambian Dalasi
Name[es]=Dalasi gambiano
Name[et]=Gambia dalasi
Name[eu]=Gambiako dalasi
Name[fi]=Gambia dalasi
Name[fr]=Dalasi gambien
Name[fy]=Gambiaanske dalasi
Name[ga]=Dalasi na Gaimbia
Name[gu]=ગામ્બિયન ડાલાસી
Name[he]=דאלאסי גמביני
Name[hi]=जाम्बिया दालासी
Name[hr]=Gambijski dalasi
Name[hu]=Gambiai dalasi
Name[id]=Dalasi Gambia
Name[it]=Dalasi gambese
Name[ja]=ガンビア・ダラシ
Name[kk]=Гамбия даласиі
Name[km]=ដាឡាស៊ី​ហ្កាំប៊ី
Name[kn]=ಗಾಂಬಿಯಾದ ಡಲಾಸಿ
Name[ko]=감비아 달라시
Name[ml]=ഗാംബിയയിലെ ദലാസി
Name[nb]=Gambiske Dalasi
Name[nds]=Gambiaansch Dalasi
Name[nl]=Gambiaanse Dalasi
Name[nn]=Gambisk dalasi
Name[pl]=Dalasi gambijskie
Name[pt]=Dalasi do Gâmbia
Name[pt_BR]=Dalasi gambiano
Name[ro]=Dalasi gambez
Name[sk]=Gambské dalasi
Name[sl]=gambijski dalasi
Name[sr]=гамбијски даласи
Name[sr@ijekavian]=гамбијски даласи
Name[sr@ijekavianlatin]=gambijski dalasi
Name[sr@latin]=gambijski dalasi
Name[sv]=Gambiska dalasi
Name[tg]=Гамбия
Name[uk]=Гамбійський даласі
Name[x-test]=xxGambian Dalasixx
Name[zh_CN]=冈比亚法拉西
Name[zh_TW]=甘比亞─達拉西（Dalasi）
CurrencyNameIso=Dalasi
CurrencyUnitSymbols=D,GMD
CurrencyUnitSymbolDefault=D
CurrencyUnitSymbolUnambiguous=D
CurrencyUnitSingular=dalasi
CurrencyUnitPlural=dalasis
CurrencySubunitSymbol=
CurrencySubunitSingular=butut
CurrencySubunitPlural=bututs
CurrencyIntroducedDate=1971,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=GM
