[Currency Code]
CurrencyCodeIsoAlpha3=GYD
CurrencyCodeIsoNumeric3=328
#Context for Name: Adjectival Country Name and Currency Name
Name=Guyanese Dollar
Name[ca]=Dòlar de Guyana
Name[ca@valencia]=Dòlar de Guyana
Name[csb]=Gùjansczi Dolar
Name[da]=Guyanesisk dollar
Name[de]=Guyana-Dollar
Name[el]=Δολάριο Guyanese
Name[en_GB]=Guyanese Dollar
Name[eo]=Guyana dolaro
Name[et]=Guyana dollar
Name[eu]=Guyanako dolar
Name[fr]=Dollar guyanien
Name[fy]=Guyaneeske dollar
Name[gu]=ગુઆનીઝ ડોલર
Name[he]=דולר גינאי
Name[hr]=Gvajanski dolar
Name[hu]=Guyanai dollár
Name[id]=Dollar Guyana
Name[ja]=ガイアナ・ドル
Name[kk]=Гвиана доллары
Name[kn]=ಗಯಾನೀಸ್ ಡಾಲರ್
Name[ko]=기아나 달러
Name[lv]=Gviānas dolārs
Name[ml]=ഗയാനയിലെ ഡോളര്‍
Name[nb]=Gyuana-dollar
Name[nds]=Guyaneesch Dollar
Name[nl]=Guyanese Dollar
Name[pt]=Dólar da Guiana
Name[pt_BR]=Dólar da Guiana
Name[ru]=Гайанский доллар
Name[sl]=gvajanski dolar
Name[sr]=гијански долар
Name[sr@ijekavian]=гијански долар
Name[sr@ijekavianlatin]=gijanski dolar
Name[sr@latin]=gijanski dolar
Name[sv]=Guyanska dollar
Name[uk]=Гайанський долар
Name[wa]=Dolår gwiyanesse
Name[x-test]=xxGuyanese Dollarxx
Name[zh_CN]=圭亚那元
Name[zh_TW]=蓋亞那─元（Dollar）
CurrencyNameIso=Guyana dollar
CurrencyUnitSymbols=$,G$,GYD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=G$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1955,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=GY
