[Currency Code]
CurrencyCodeIsoAlpha3=HRK
CurrencyCodeIsoNumeric3=191
#Context for Name: Adjectival Country Name and Currency Name
Name=Croatian Kuna
Name[csb]=Chòrwackô Kùna
Name[da]=Kroatisk kuna
Name[de]=Kroatische Kuna
Name[en_GB]=Croatian Kuna
Name[et]=Horvaatia kuna
Name[is]=Króatísk kruna
Name[ja]=クロアチア・クーナ
Name[lv]=Horvātijas kuna
Name[nb]=Kroatiske Kuna
Name[nds]=Kroaatsch Kuna
Name[pt]=Coroa Croata
Name[sv]=Kroatiska kuna
Name[uk]=Хорватська куна
Name[x-test]=xxCroatian Kunaxx
Name[zh_TW]=克羅埃西亞─庫納（Kuna）
CurrencyNameIso=Croatian kuna
CurrencyUnitSymbols=kn,HRK
CurrencyUnitSymbolDefault=kn
CurrencyUnitSymbolUnambiguous=kn
CurrencyUnitSingular=kuna
CurrencyUnitPlural=kuna
CurrencySubunitSymbol=lp
CurrencySubunitSingular=lipa
CurrencySubunitPlural=lipa
CurrencyIntroducedDate=1994,05,30
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=HR
