[Currency Code]
CurrencyCodeIsoAlpha3=IDR
CurrencyCodeIsoNumeric3=360
#Context for Name: Adjectival Country Name and Currency Name
Name=Indonesian Rupiah
Name[bg]=Индонезийска рупия
Name[ca]=Rupia d'Indonèsia
Name[ca@valencia]=Rupia d'Indonèsia
Name[csb]=Indonezëjskô Rupja
Name[da]=Indonesisk rupiah
Name[de]=Indonesische Rupiah
Name[el]=Ινδονησία ρούπια
Name[en_GB]=Indonesian Rupiah
Name[es]=Rupia indonesia
Name[et]=Indoneesia ruupia
Name[fr]=Roupie indonésienne
Name[fy]=Indonesyske rupiah
Name[gu]=ઇન્ડોનેશિઅન રુપિઆ
Name[he]=רופיה אינדונזית
Name[hr]=Indonezijski rupija
Name[hu]=Indonéz rúpia
Name[id]=Rupiah Indonesia
Name[is]=Indónesísk rúpía
Name[ja]=インドネシア・ルピア
Name[kk]=Индонезия рупиясы
Name[kn]=ಇಂಡೋನೇಶಿಯಾದ ರುಪೈಯಾ
Name[ko]=인도네시아 루피아
Name[lv]=Indonēzijas rūpija
Name[ml]=ഇന്‍ഡോനേഷ്യയിലെ റുപയ്യ
Name[nb]=Indonesiske rupier
Name[nds]=Indoneesch Rupje
Name[nl]=Indonesische Rupiah
Name[pt]=Rupia Indonésia
Name[pt_BR]=Rúpia Indonésia
Name[sl]=indonezijska rupija
Name[sr]=индонезијска рупија
Name[sr@ijekavian]=индонезијска рупија
Name[sr@ijekavianlatin]=indonezijska rupija
Name[sr@latin]=indonezijska rupija
Name[sv]=Indonesiska rupie
Name[uk]=Індонезійська рупія
Name[x-test]=xxIndonesian Rupiahxx
Name[zh_CN]=印度尼西亚卢比
Name[zh_TW]=印尼─盾（Rupiah）
CurrencyNameIso=Rupiah
CurrencyUnitSymbols=Rp,IDR
CurrencyUnitSymbolDefault=Rp
CurrencyUnitSymbolUnambiguous=IDR
CurrencyUnitSingular=rupiah
CurrencyUnitPlural=rupiah
CurrencySubunitSymbol=
CurrencySubunitSingular=sen
CurrencySubunitPlural=sen
CurrencyIntroducedDate=1965,12,13
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ID,TL
