[Currency Code]
CurrencyCodeIsoAlpha3=ILS
CurrencyCodeIsoNumeric3=376
#Context for Name: Adjectival Country Name and Currency Name
Name=Israeli New Sheqel
CurrencyNameIso=Israeli new sheqel
CurrencyUnitSymbols=₪,ILS
CurrencyUnitSymbolDefault=₪
CurrencyUnitSymbolUnambiguous=₪
CurrencyUnitSingular=shekel
CurrencyUnitPlural=shekalim
CurrencySubunitSymbol=
CurrencySubunitSingular=agora
CurrencySubunitPlural=agorot
CurrencyIntroducedDate=1986,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=IL,PL
