[Currency Code]
CurrencyCodeIsoAlpha3=IQD
CurrencyCodeIsoNumeric3=368
#Context for Name: Adjectival Country Name and Currency Name
Name=Iraqi Dinar
Name[bg]=Иракски динар
Name[da]=Irakisk dinar
Name[de]=Irak-Dinar
Name[en_GB]=Iraqi Dinar
Name[et]=Iraagi dinaar
Name[ja]=イラク・ディナール
Name[lv]=Irākas dinārs
Name[nb]=Irakiske dinarer
Name[nds]=Iraksch Dinaar
Name[pt]=Dinar Iraquiano
Name[sv]=Irakiska dinar
Name[uk]=Іракський динар
Name[x-test]=xxIraqi Dinarxx
CurrencyNameIso=Iraqi dinar
CurrencyUnitSymbols=ع.د,IQD
CurrencyUnitSymbolDefault=ع.د
CurrencyUnitSymbolUnambiguous=ع.د
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=fils
CurrencySubunitPlural=fils
CurrencyIntroducedDate=1932,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=IQ
