[Currency Code]
CurrencyCodeIsoAlpha3=IRR
CurrencyCodeIsoNumeric3=364
#Context for Name: Adjectival Country Name and Currency Name
Name=Iranian Rial
Name[bg]=Ирански риал
Name[ca]=Rial iranià
Name[csb]=Irańsczi Rial
Name[da]=Iransk rial
Name[de]=Iranischer Rial
Name[en_GB]=Iranian Rial
Name[eo]=Irana rialo
Name[es]=Rial iraní
Name[et]=Iraani riaal
Name[gu]=ઈરાનીઅલ રીઆલ
Name[he]=ריאל איראני
Name[is]=Íranskur ríal
Name[ja]=イラン・リアル
Name[lv]=Irānas riāls
Name[nb]=Iranske rial
Name[nds]=Iraansch Rial
Name[nl]=Iraanse rial
Name[pt]=Rial Iraniano
Name[sl]=iranski rial
Name[sv]=Iranska rial
Name[uk]=Іранський ріал
Name[x-test]=xxIranian Rialxx
Name[zh_TW]=伊朗─里亞爾（Rial）
CurrencyNameIso=Iranian rial
CurrencyUnitSymbols=﷼,IRR
CurrencyUnitSymbolDefault=﷼
CurrencyUnitSymbolUnambiguous=﷼
CurrencyUnitSingular=rial
CurrencyUnitPlural=rials
CurrencySubunitSymbol=
CurrencySubunitSingular=dinar
CurrencySubunitPlural=dinars
CurrencyIntroducedDate=1932,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=IR
