[Currency Code]
CurrencyCodeIsoAlpha3=ISK
CurrencyCodeIsoNumeric3=
#Context for Name: Adjectival Country Name and Currency Name
Name=Iceland krona
Name[da]=Islandsk krone
Name[de]=Isländische Krone
Name[en_GB]=Iceland krona
Name[et]=Islandi kroon
Name[is]=Íslensk króna
Name[ja]=アイスランド・クローナ
Name[lv]=Īslandes krona
Name[nb]=Islandske kroner
Name[nds]=Islannsch Kroon
Name[pt]=Coroa Islandesa
Name[sv]=Isländska kronor
Name[uk]=Ісландська крона
Name[x-test]=xxIceland kronaxx
CurrencyNameIso=Iceland krona
CurrencyUnitSymbols=kr,Íkr,ISK
CurrencyUnitSymbolDefault=kr
CurrencyUnitSymbolUnambiguous=ISK
CurrencyUnitSingular=krona
CurrencyUnitPlural=kronur
CurrencySubunitSymbol=
CurrencySubunitSingular=eyrir
CurrencySubunitPlural=aurar
CurrencyIntroducedDate=1981,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=IS
