[Currency Code]
CurrencyCodeIsoAlpha3=ITL
CurrencyCodeIsoNumeric3=380
#Context for Name: Adjectival Country Name and Currency Name
Name=Italian Lira
Name[ar]=الليرة الإيطالية
Name[ast]=Lira italiana
Name[bg]=Италианска лира
Name[bn]=ইতালীয় লিরা
Name[bs]=italijanska lira
Name[ca]=Lira Italiana
Name[ca@valencia]=Lira Italiana
Name[cs]=Italská lira
Name[csb]=Italsczi Lir
Name[da]=Italiensk lire
Name[de]=Italienische Lira
Name[el]=Ιταλική λίρα
Name[en_GB]=Italian Lira
Name[eo]=Itala liro
Name[es]=Lira italiana
Name[et]=Itaalia liir
Name[eu]=Lira italiarra
Name[fa]=لیره ایتالیایی
Name[fi]=Italina liira
Name[fr]=Lire italienne
Name[fy]=Italiaanske lira
Name[ga]=Lira na hIodáile
Name[gl]=Lira italiana
Name[gu]=ઈટાલીઅન લીરા
Name[he]=לירה איטלקית
Name[hi]=इताली लीरा
Name[hr]=Talijanska lira
Name[hu]=Olasz líra
Name[ia]=Lira Italiano
Name[id]=Lira Italia
Name[is]=Ítölsk líra
Name[it]=Lira italiana
Name[ja]=イタリア・リラ
Name[kk]=Италия лирі
Name[km]=Italian Lira
Name[kn]=ಇಟಿಲಿಯಾದ ಲಿರಾ
Name[ko]=이탈리아 리라
Name[lt]=Italijos lira
Name[lv]=Itālijas lira
Name[mai]=इटालियन लीरा
Name[mk]=Италијанска лира
Name[ml]=ഇറ്റലിയിലെ ലിറ
Name[mr]=इटालीयन लिरा
Name[nb]=Italienske lire
Name[nds]=Italieensch Lira
Name[nl]=Italiaanse lire
Name[nn]=Italiensk lire
Name[pa]=ਇਟਲੀ ਲੀਰਾ
Name[pl]=Lira włoska
Name[pt]=Lira Italiana
Name[pt_BR]=Lira italiana
Name[ro]=Liră italiană
Name[ru]=Итальянская лира
Name[si]=ඉතාලි ලීරා
Name[sk]=Talianska líra
Name[sl]=italijanska lira
Name[sr]=италијанска лира
Name[sr@ijekavian]=италијанска лира
Name[sr@ijekavianlatin]=italijanska lira
Name[sr@latin]=italijanska lira
Name[sv]=Italienska lire
Name[tg]=Лираи Италия
Name[th]=ลีร์อิตาลี
Name[tr]=İtalyan Lirası
Name[ug]=ئىتالىيە لىراسى
Name[uk]=Італійська ліра
Name[vi]=Lira Ý
Name[wa]=Lire italyinne
Name[x-test]=xxItalian Liraxx
Name[zh_CN]=意大利里拉
Name[zh_TW]=義大利─里拉（Lira）
CurrencyNameIso=Italian lira
CurrencyUnitSymbols=₤,L,ITL
CurrencyUnitSymbolDefault=₤
CurrencyUnitSymbolUnambiguous=₤
CurrencyUnitSingular=lira
CurrencyUnitPlural=lire
CurrencySubunitSymbol=
CurrencySubunitSingular=centesimo
CurrencySubunitPlural=centesimi
CurrencyIntroducedDate=1861,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
