[Currency Code]
CurrencyCodeIsoAlpha3=KES
CurrencyCodeIsoNumeric3=404
#Context for Name: Adjectival Country Name and Currency Name
Name=Kenyan Shilling
Name[bg]=Кенийски шилинг
Name[ca]=Xíling kenyà
Name[ca@valencia]=Xíling kenyà
Name[csb]=Keńjańsczi Sziling
Name[da]=Kenyansk shilling
Name[de]=Kenia-Schilling
Name[el]=Σελίνι Κένυας
Name[en_GB]=Kenyan Shilling
Name[eo]=Kenja ŝilingo
Name[es]=Chelín keniano
Name[et]=Keenia šilling
Name[fr]=Shilling kényan
Name[fy]=Kenyaanske schilling
Name[gu]=કેન્યન શીલિંગ
Name[he]=שילינג קנייתי
Name[hr]=Kenijski šiling
Name[hu]=Kenyai shilling
Name[id]=Shilling Kenya
Name[is]=Kenískur skildingur
Name[ja]=ケニヤ・シリング
Name[kk]=Кения шиллингі
Name[km]=Kenyan Shilling
Name[kn]=ಕೀನ್ಯಾದ ಶಿಲಿಂಗ್
Name[ko]=케냐 실링
Name[lv]=Kenijas šiliņš
Name[ml]=കെനിയയിലെ ഷില്ലിങ്ങ്
Name[nb]=Kenyanske shilling
Name[nds]=Keniaansch Schilling
Name[nl]=Keniaanse shilling
Name[pt]=Xelim Queniano
Name[pt_BR]=Xelim Queniano
Name[ru]=Кенийский шиллинг
Name[sl]=kenijski šiling
Name[sr]=кенијски шилинг
Name[sr@ijekavian]=кенијски шилинг
Name[sr@ijekavianlatin]=kenijski šiling
Name[sr@latin]=kenijski šiling
Name[sv]=Kenyanska shilling
Name[uk]=Кенійський шилінг
Name[x-test]=xxKenyan Shillingxx
Name[zh_CN]=肯尼亚先令
Name[zh_TW]=肯亞─先令（Shilling）
CurrencyNameIso=Kenyan shilling
CurrencyUnitSymbols=KSh,KES
CurrencyUnitSymbolDefault=KSh
CurrencyUnitSymbolUnambiguous=KSh
CurrencyUnitSingular=shilling
CurrencyUnitPlural=shillings
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1966,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KE
