[Currency Code]
CurrencyCodeIsoAlpha3=KGS
CurrencyCodeIsoNumeric3=417
#Context for Name: Adjectival Country Name and Currency Name
Name=Kyrgyzstani Som
Name[ar]=السوم القيرغيزستاني
Name[ast]=Som kirguís
Name[bg]=Киргистански сум
Name[bn]=কির্গিজস্তানী সোম
Name[bs]=kirgistanski som
Name[ca]=Som de Kirguizistan
Name[ca@valencia]=Som de Kirguizistan
Name[cs]=Kyrgyzský som
Name[csb]=Kirgijsczi Som
Name[da]=Kirgisisk som
Name[de]=Som
Name[el]=Σομ Κιργιζιστάν
Name[en_GB]=Kyrgyzstani Som
Name[eo]=Kirgiza somo
Name[es]=Som kirguís
Name[et]=Kõrgõzstani som
Name[eu]=Som kirgizistandarra
Name[fa]=سم قرقیزستان
Name[fi]=Kirgisian som
Name[fr]=Som kirghiz
Name[fy]=Kyrgyzstaanske som
Name[ga]=Som na Cirgeastáine
Name[gl]=Som quirguiz
Name[gu]=કિર્ગીસ્તાની સોમ
Name[he]=סום קירגיזי
Name[hi]=किर्गिजिस्तान सोम
Name[hr]=Kyrgyzstanski som
Name[hu]=Kirgiz szom
Name[ia]=Kyrgyzstani Som
Name[id]=Som Kyrgyzstan
Name[is]=Kirgisistanskt som
Name[it]=Som kirghizo
Name[ja]=キルギス・ソム
Name[kk]=Қырғызстан сомы
Name[km]=Kyrgyzstani Som
Name[kn]=ಕಿರ್ಗಿಸ್ತಾನಿನ ಸೋಮ್
Name[ko]=키르기스스탄 솜
Name[lt]=Kirgistano somas
Name[lv]=Kirgizstānas soms
Name[ml]=കിര്‍ഗിസ്ഥാനിലെ സോം
Name[mr]=कीर्गीझस्तानी सोम
Name[nb]=Kirgisisk Som
Name[nds]=Kirgiisch Som
Name[nl]=Kirgizische som
Name[nn]=Kirgisisk som
Name[pa]=ਕਿਰਗਸਤਾਨ ਸੋਮ
Name[pl]=Som kirgiski
Name[pt]=Som do Quirguistão
Name[pt_BR]=Som quirguiz
Name[ro]=Som kîrgîz
Name[ru]=Киргизский сом
Name[si]=කිර්ගිස්තාන සොම්
Name[sk]=Kirgijský som
Name[sl]=kirgizistanski som
Name[sr]=киргистански сом
Name[sr@ijekavian]=киргистански сом
Name[sr@ijekavianlatin]=kirgistanski som
Name[sr@latin]=kirgistanski som
Name[sv]=Kirgizistanska som
Name[tg]=Соми Қирғизистон
Name[th]=ซอมคีร์กีซสถาน
Name[tr]=Kırgızistan Somu
Name[ug]=قىرغىزىستان سومى
Name[uk]=Киргизький сом
Name[vi]=Som Kyrgyzstan
Name[wa]=Som då Kirguiztan
Name[x-test]=xxKyrgyzstani Somxx
Name[zh_CN]=吉尔吉斯斯坦索姆
Name[zh_TW]=吉爾吉斯─薩姆（Som）
CurrencyNameIso=Som
CurrencyUnitSymbols=KGS
CurrencyUnitSymbolDefault=KGS
CurrencyUnitSymbolUnambiguous=KGS
CurrencyUnitSingular=som
CurrencyUnitPlural=som
CurrencySubunitSymbol=
CurrencySubunitSingular=tyiyn
CurrencySubunitPlural=tyiyn
CurrencyIntroducedDate=1993,05,10
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KG
