[Currency Code]
CurrencyCodeIsoAlpha3=KHR
CurrencyCodeIsoNumeric3=116
#Context for Name: Adjectival Country Name and Currency Name
Name=Cambodian Riel
Name[bg]=Камбоджански риал
Name[ca]=Riel de Cambodja
Name[ca@valencia]=Riel de Cambodja
Name[csb]=Kambòdżańsczi Riel
Name[da]=Cambodiansk riel
Name[de]=Kambodschanischer Riel
Name[el]=Ριέλ Καμπότζης
Name[en_GB]=Cambodian Riel
Name[es]=Riel camboyano
Name[et]=Kambodža riel
Name[fy]=Cambodjaanske riel
Name[gu]=કંબોડિઅન રીઅલ
Name[he]=ריאל קמבודי
Name[hu]=Kambodzsai riel
Name[id]=Riel Kamboja
Name[ja]=カンボジア・リエル
Name[kk]=Камбоджа риелі
Name[kn]=ಕಾಂಬೋಡಿಯಾದ ರೀಲ್
Name[ko]=캄보디아 리엘
Name[ml]=കംപോഡിയയിലെ റിയെല്‍
Name[nb]=Kambodsjanske riel
Name[nds]=Kambodschaansch Riel
Name[nl]=Cambodjaanse riel
Name[pt]=Riel do Cambodja
Name[pt_BR]=Riel do Camboja
Name[sl]=kamboški riel
Name[sr]=камбоџански ријел
Name[sr@ijekavian]=камбоџански ријел
Name[sr@ijekavianlatin]=kambodžanski rijel
Name[sr@latin]=kambodžanski rijel
Name[sv]=Kambodjanska riel
Name[uk]=Камбоджійський рієль
Name[x-test]=xxCambodian Rielxx
Name[zh_CN]=柬埔寨利尔斯
Name[zh_TW]=柬埔寨─瑞爾（Riel）
CurrencyNameIso=Riel
CurrencyUnitSymbols=KHR
CurrencyUnitSymbolDefault=KHR
CurrencyUnitSymbolUnambiguous=KHR
CurrencyUnitSingular=riel
CurrencyUnitPlural=riel
CurrencySubunitSymbol=
CurrencySubunitSingular=sen
CurrencySubunitPlural=sen
CurrencyIntroducedDate=1980,04,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
CurrencySubunits=2
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KH
