[Currency Code]
CurrencyCodeIsoAlpha3=KRW
CurrencyCodeIsoNumeric3=410
#Context for Name: Adjectival Country Name and Currency Name
Name=South Korean Won
Name[en_GB]=South Korean Won
Name[sv]=Sydkoreanska won
Name[uk]=Південнокорейська вона
Name[x-test]=xxSouth Korean Wonxx
CurrencyNameIso=South Korean won
CurrencyUnitSymbols=₩,KRW
CurrencyUnitSymbolDefault=₩
CurrencyUnitSymbolUnambiguous=₩
CurrencyUnitSingular=won
CurrencyUnitPlural=won
CurrencySubunitSymbol=
CurrencySubunitSingular=jeon
CurrencySubunitPlural=jeon
CurrencyIntroducedDate=1962,06,09
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KR
