[Currency Code]
CurrencyCodeIsoAlpha3=KWD
CurrencyCodeIsoNumeric3=414
#Context for Name: Adjectival Country Name and Currency Name
Name=Kuwaiti Dinar
Name[ar]=الدينار الكويتي
Name[ast]=Dinar kuwaití
Name[bg]=Кувейтски динар
Name[bn]=কুয়েতী দিনার
Name[bs]=kuvajtski dinar
Name[ca]=Dinar kuwaitià
Name[ca@valencia]=Dinar kuwaitià
Name[cs]=Kuvajtský dinár
Name[csb]=Kùwajtsczi Dinar
Name[da]=Kuwaitisk dinar
Name[de]=Kuwait-Dinar
Name[el]=Δηνάριο Κουβέιτ
Name[en_GB]=Kuwaiti Dinar
Name[eo]=Kuvajta dinaro
Name[es]=Dinar kuwaití
Name[et]=Kuveidi dinaar
Name[eu]=Dinar kuwaitarra
Name[fa]=دینار کویتی
Name[fi]=Kuwaitin dinaari
Name[fr]=Dinar koweïtien
Name[fy]=Koeweitske dinar
Name[ga]=Dinar na Cuáite
Name[gl]=Dinar kuwaití
Name[gu]=કુવેત્તી દિનાર
Name[he]=דינר כוויתי
Name[hi]=कुवैती दिनार
Name[hr]=Kuvajtski dinar
Name[hu]=Kuvaiti dínár
Name[ia]=Kuwaiti Dinar
Name[id]=Dinar Kuwait
Name[is]=Kúveitskur dínar
Name[it]=Dinaro kuwaitiano
Name[ja]=クウェート・ディナール
Name[kk]=Кувейт динары
Name[km]=ឌីណា​គុយវ៉ែត
Name[kn]=ಕುವೈತಿನ ದಿನಾರ್
Name[ko]=쿠웨이트 디나르
Name[lt]=Kuveito dinaras
Name[lv]=Kuveitas dinārs
Name[mk]=Кувајтски динар
Name[ml]=കുവൈറ്റിലെ ദിനാര്‍
Name[mr]=कुवैती दिनार
Name[nb]=Kuwaitiske dinarer
Name[nds]=Kuwaitsch Dinaar
Name[nl]=Koeweitse dinar
Name[nn]=Kuwaitiske dinar
Name[pa]=ਕੁਵੈਤ ਦੀਨਾਰ
Name[pl]=Dinar kuwejcki
Name[pt]=Dinar do Koweit
Name[pt_BR]=Dinar kuwaitiano
Name[ro]=Dinar kuweitian
Name[ru]=Кувейтский динар
Name[si]=ක්වේට් ඩිනාර්
Name[sk]=Kuvajtský dinár
Name[sl]=kuvajtski dinar
Name[sr]=кувајтски динар
Name[sr@ijekavian]=кувајтски динар
Name[sr@ijekavianlatin]=kuvajtski dinar
Name[sr@latin]=kuvajtski dinar
Name[sv]=Kuwaitiska dinar
Name[tg]=Динори Қувайт
Name[th]=ดีนาร์คูเวต
Name[tr]=Kuveyt Dinarı
Name[ug]=كۇۋەيت دىنارى
Name[uk]=Кувейтський динар
Name[vi]=Dinar Kuwait
Name[wa]=Dinar då Koweit
Name[x-test]=xxKuwaiti Dinarxx
Name[zh_CN]=科威特第纳尔
Name[zh_TW]=科威特─第納爾（Dinar）
CurrencyNameIso=Kuwaiti dinar
CurrencyUnitSymbols=د.ك,KWD
CurrencyUnitSymbolDefault=د.ك
CurrencyUnitSymbolUnambiguous=د.ك
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=fils
CurrencySubunitPlural=fils
CurrencyIntroducedDate=1961,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=KW
