[Currency Code]
CurrencyCodeIsoAlpha3=KYD
CurrencyCodeIsoNumeric3=136
#Context for Name: Adjectival Country Name and Currency Name
Name=Cayman Islands Dollar
Name[da]=Cayman-øerne-dollar
Name[de]=Kaiman-Dollar
Name[en_GB]=Cayman Islands Dollar
Name[et]=Kaimanisaarte dollar
Name[is]=Caymaneyjadollari
Name[ja]=ケイマン諸島ドル
Name[lv]=Kaimanu salu dolārs
Name[nb]=Kaymanøyene-dollar
Name[nds]=Kaiman-Dollar
Name[pt]=Dólar das Ilhas Caimão
Name[sv]=Kaymanska dollar
Name[uk]=Долар Кайманових островів
Name[x-test]=xxCayman Islands Dollarxx
CurrencyNameIso=Cayman Islands dollar
CurrencyUnitSymbols=$,CI$,KYD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=CI$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1972,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KY
