[Currency Code]
CurrencyCodeIsoAlpha3=LAK
CurrencyCodeIsoNumeric3=418
#Context for Name: Adjectival Country Name and Currency Name
Name=Lao Kip
Name[csb]=Laòsczi Kip
Name[da]=Laotisk kip
Name[de]=Kip
Name[en_GB]=Lao Kip
Name[et]=Laose kip
Name[ja]=ラオス・キップ
Name[nb]=Laotiske kip
Name[nds]=Laootsch Kip
Name[pt]=Kip do Laos
Name[sv]=Laotiska kip
Name[uk]=Лаоський кіп
Name[x-test]=xxLao Kipxx
Name[zh_TW]=寮國─基普（Kip）
CurrencyNameIso=Kip
CurrencyUnitSymbols=₭,₭N,LAK
CurrencyUnitSymbolDefault=₭
CurrencyUnitSymbolUnambiguous=₭
CurrencyUnitSingular=kip
CurrencyUnitPlural=kip
CurrencySubunitSymbol=
CurrencySubunitSingular=att
CurrencySubunitPlural=att
CurrencyIntroducedDate=1979,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=LA
