[Currency Code]
CurrencyCodeIsoAlpha3=LKR
CurrencyCodeIsoNumeric3=144
#Context for Name: Adjectival Country Name and Currency Name
Name=Sri Lankan Rupee
Name[ar]=الروبية السريلانكية
Name[ast]=Rupia de Sri Lanka
Name[bg]=Шриланкска рупия
Name[bn]=শ্রীলঙ্কার রুপী
Name[bs]=šrilankanska rupija
Name[ca]=Rupia de Sri Lanka
Name[ca@valencia]=Rupia de Sri Lanka
Name[cs]=Srílanská rupie
Name[csb]=Rupja ze Sri Lanczi
Name[da]=Srilankansk rupee
Name[de]=Sri-Lanka-Rupie
Name[el]=Σρι Λάνκα ρούπε
Name[en_GB]=Sri Lankan Rupee
Name[eo]=Sri-Lanka rupeo
Name[es]=Rupia de Sri Lanka
Name[et]=Sri Lanka ruupia
Name[eu]=Errupia srilankarra
Name[fa]=روپیه سریلانکا
Name[fi]=Sri Lankan rupia
Name[fr]=Roupie srilankaise
Name[fy]=Srilankaanske rupee
Name[ga]=Rúipí Srí Lanca
Name[gl]=Rupia de Sri Lanka
Name[gu]=શ્રી લંકન રુપી
Name[he]=רופיה של סרי לנקה
Name[hi]=श्रीलंका रुप्या
Name[hr]=Šri Lankski rupi
Name[hu]=Srí Lanka-i rúpia
Name[ia]=Sri Lankan Rupee
Name[id]=Rupee Sri Lanka
Name[is]=Srí Lanka rúpía
Name[it]=Rupia singalese
Name[ja]=スリランカ・ルピー
Name[kk]=Шри-Ланка рупиясы
Name[km]=រ៉ូពី​ស្រីលង្កា
Name[kn]=ಶ್ರೀಲಂಕಾದ ರುಪೀ
Name[ko]=스리랑카 루피
Name[lt]=Šri Lankos rupija
Name[lv]=Šrilankas rūpija
Name[ml]=ശ്രീലങ്കയിലെ രൂപ
Name[mr]=श्रीलंकन रुपी 
Name[nb]=Srilankisk rupi
Name[nds]=Sri-lankeesch Rupje
Name[nl]=Srilankaanse roepie
Name[nn]=Srilankisk rupi
Name[pa]=ਸ੍ਰੀਲੰਕਾ ਰੁਪਇਆ
Name[pl]=Rupia (Sri Lanka)
Name[pt]=Rupia do Sri Lanka
Name[pt_BR]=Rúpia cingalesa
Name[ro]=Rupia Sri Lanka
Name[ru]=Шри-Ланкийская рупия
Name[si]=ශ්‍රී ලංකානු රුපියල්
Name[sk]=Srílanská rupia
Name[sl]=šrilanška rupija
Name[sr]=шриланканска рупија
Name[sr@ijekavian]=шриланканска рупија
Name[sr@ijekavianlatin]=šrilankanska rupija
Name[sr@latin]=šrilankanska rupija
Name[sv]=Srilankesiska rupie
Name[tg]=Рупияи Шри Ланка
Name[th]=รูปีศรีลังกา
Name[tr]=Sri Lanka Rupisi
Name[ug]=سىرىلانكا رۇپىيىسى
Name[uk]=Рупія Шрі-Ланки
Name[vi]=Rupee Sri Lanka
Name[wa]=Roupeye sri-lankesse
Name[x-test]=xxSri Lankan Rupeexx
Name[zh_CN]=斯里兰卡卢比
Name[zh_TW]=斯里蘭卡─盧比（Rupee）
CurrencyNameIso=Sri Lanka rupee
CurrencyUnitSymbols=Rs,₨,SL₨s,SLRs,LKR
CurrencyUnitSymbolDefault=Rs
CurrencyUnitSymbolUnambiguous=SLRs
CurrencyUnitSingular=rupee
CurrencyUnitPlural=rupees
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=LK
