[Currency Code]
CurrencyCodeIsoAlpha3=LRD
CurrencyCodeIsoNumeric3=430
#Context for Name: Adjectival Country Name and Currency Name
Name=Liberian Dollar
Name[ar]=الدولار الليبيري
Name[ast]=Dólar liberianu
Name[bg]=Либерийски долар
Name[bn]=লাইবেরিয়ার ডলার
Name[bs]=liberijski dolar
Name[ca]=Dòlar de Libèria
Name[ca@valencia]=Dòlar de Libèria
Name[cs]=Liberijský dolar
Name[csb]=Liberjańsczi Dolar
Name[da]=Liberiansk dollar
Name[de]=Liberianischer Dollar
Name[el]=Δολάριο Λιβερίας
Name[en_GB]=Liberian Dollar
Name[eo]=Libera dolaro
Name[es]=Dólar liberiano
Name[et]=Libeeria dollar
Name[eu]=Dolar liberiarra
Name[fa]=دلار لیبریایی
Name[fi]=Liberian dollari
Name[fr]=Dollar libérien
Name[fy]=Liberiaanske dollar
Name[ga]=Dollar na Libéire
Name[gl]=Dólar liberiano
Name[gu]=લાઇબેરિઅન ડોલર
Name[he]=דולר ליברי
Name[hi]=लाइबेरियाई डॉलर
Name[hr]=Liberijski dolar
Name[hu]=Libériai dollár
Name[ia]=Liberian Dollar
Name[id]=Dollar Liberia
Name[is]=Líberíudollari
Name[it]=Dollaro liberiano
Name[ja]=リベリア・ドル
Name[kk]=Либерия доллары
Name[km]=ដុល្លារ​លីបេរីយ៉ា
Name[kn]=ಲೈಬೀರಿಯಾದ ಡಾಲರ್
Name[ko]=라이베리아 달러
Name[lt]=Liberijos doleris
Name[lv]=Libērijas dolārs
Name[mk]=Либеријски долар
Name[ml]=ലൈബീരിയയിലെ ഡോളര്‍
Name[mr]=लाइबेरियन डॉलर
Name[nb]=Liberisk dollar
Name[nds]=Liberiaansch Dollar
Name[nl]=Liberiaanse dollar
Name[nn]=Liberisk dollar
Name[pa]=ਲਬੀਰੀਆਈ ਡਾਲਰ
Name[pl]=Dolar liberyjski
Name[pt]=Dólar da Libéria
Name[pt_BR]=Dólar liberiano
Name[ro]=Dolar liberian
Name[ru]=Либерийский доллар
Name[si]=ලිබේරියන් ඩොලර්
Name[sk]=Libérijský dolár
Name[sl]=liberijski dolar
Name[sr]=либеријски долар
Name[sr@ijekavian]=либеријски долар
Name[sr@ijekavianlatin]=liberijski dolar
Name[sr@latin]=liberijski dolar
Name[sv]=Liberianska dollar
Name[tg]=Доллари Либерия
Name[th]=ดอลลาร์ไลบีเรีย
Name[tr]=Liberya Doları
Name[ug]=لىبېرىيە دوللىرى
Name[uk]=Ліберійський долар
Name[vi]=Đôla Liberia
Name[wa]=Dolår liberyin
Name[x-test]=xxLiberian Dollarxx
Name[zh_CN]=利比里亚元
Name[zh_TW]=賴比瑞亞─元（Dollar）
CurrencyNameIso=Liberian dollar
CurrencyUnitSymbols=$,L$,LRD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=L$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=LR
