[Currency Code]
CurrencyCodeIsoAlpha3=LTL
CurrencyCodeIsoNumeric3=440
#Context for Name: Adjectival Country Name and Currency Name
Name=Lithuanian Litas
Name[ca]=Litas lituà
Name[ca@valencia]=Litas lituà
Name[csb]=Lëtewsczi Lit
Name[da]=Litauisk litas
Name[de]=Litauischer Litas
Name[el]=Λίτας Λιθουανίας
Name[en_GB]=Lithuanian Litas
Name[es]=Litas lituana
Name[et]=Leedu litt
Name[eu]=Lituaniako litas
Name[fi]=Liettuan litas
Name[fr]=Litas lituanien
Name[fy]=Litouwske litas
Name[gu]=લિથુઆનિઅન લિતાસ
Name[he]=ליטס ליטאי
Name[hi]=लिथुआनिया लिता
Name[hr]=Litvanski litas
Name[hu]=Litván litas
Name[id]=Litas Lithuania
Name[it]=Litas lituano
Name[ja]=リトアニア・リタス
Name[kk]=Литва литы
Name[kn]=ಲಿಥುವೇನಿಯಾದ ಲಿಟಾಸ್
Name[ko]=리투아니아 리타스
Name[lv]=Lietuvas lits
Name[ml]=ലിത്വാനിയയിലെ ലിതാസ്
Name[nb]=Litauiske litas
Name[nds]=Litausch Litas
Name[nl]=Litouwse litas
Name[nn]=Litauisk litas
Name[pl]=Lit litewski
Name[pt]=Litas da Lituânia
Name[pt_BR]=Lita da Lituânia
Name[ro]=Litas lituanian
Name[ru]=Литовский лит
Name[sk]=Litovský litas
Name[sl]=litvanski litas
Name[sr]=литвански литас
Name[sr@ijekavian]=литвански литас
Name[sr@ijekavianlatin]=litvanski litas
Name[sr@latin]=litvanski litas
Name[sv]=Lettländska litas
Name[tg]=Литва
Name[uk]=Литовський лит
Name[x-test]=xxLithuanian Litasxx
Name[zh_CN]=立陶宛里塔斯
Name[zh_TW]=立陶宛─立特（Litas）
CurrencyNameIso=Lithuanian litas
CurrencyUnitSymbols=Lt,LTL
CurrencyUnitSymbolDefault=Lt
CurrencyUnitSymbolUnambiguous=Lt
CurrencyUnitSingular=litas
CurrencyUnitPlural=litai
CurrencySubunitSymbol=
CurrencySubunitSingular=centas
CurrencySubunitPlural=centai
CurrencyIntroducedDate=1993,06,25
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=LT
