[Currency Code]
CurrencyCodeIsoAlpha3=MDL
CurrencyCodeIsoNumeric3=498
#Context for Name: Adjectival Country Name and Currency Name
Name=Moldovan Leu
Name[ca]=Leu moldau
Name[ca@valencia]=Leu moldau
Name[csb]=Mòłdawsczi Lej
Name[da]=Moldovisk leu
Name[de]=Moldau-Leu
Name[el]=Λέι Μολδαβίας
Name[en_GB]=Moldovan Leu
Name[eo]=Moldovia leŭo
Name[es]=Leu moldavo
Name[et]=Moldova leu
Name[eu]=Moldaviako leu
Name[fi]=Moldovan leu
Name[fr]=Leu moldave
Name[fy]=Moldavyske leu
Name[gu]=મોલ્ડોવન લેઉ
Name[he]=לאו מולדובי
Name[hr]=Moldavski leu
Name[hu]=Moldován lej
Name[id]=Leu Moldova
Name[ja]=モルドバ・レウ
Name[kk]=Молдова лейі
Name[ko]=몰도바 레우
Name[lv]=Moldāvijas leja
Name[ml]=മോള്‍ഡോവയിലെ ലിയു
Name[nb]=Moldoviske Leu
Name[nds]=Moldaawsch Leu
Name[nl]=Moldavische leu
Name[nn]=Moldovisk leu
Name[pl]=Leu mołdawskie
Name[pt]=Leu da Moldávia
Name[sl]=moldavijski leu
Name[sr]=молдавски леј
Name[sr@ijekavian]=молдавски леј
Name[sr@ijekavianlatin]=moldavski lej
Name[sr@latin]=moldavski lej
Name[sv]=Moldavisk leu
Name[uk]=Молдовська лея
Name[x-test]=xxMoldovan Leuxx
Name[zh_CN]=摩尔多瓦列伊
Name[zh_TW]=摩爾多瓦─列伊（Leu）
CurrencyNameIso=Moldovan leu
CurrencyUnitSymbols=MDL
CurrencyUnitSymbolDefault=MDL
CurrencyUnitSymbolUnambiguous=MDL
CurrencyUnitSingular=leu
CurrencyUnitPlural=lei
CurrencySubunitSymbol=
CurrencySubunitSingular=ban
CurrencySubunitPlural=bani
CurrencyIntroducedDate=1993,11,29
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MD
