[Currency Code]
CurrencyCodeIsoAlpha3=MGA
CurrencyCodeIsoNumeric3=969
#Context for Name: Adjectival Country Name and Currency Name
Name=Malagasy Ariary
CurrencyNameIso=Malagasy ariary
CurrencyUnitSymbols=MGA
CurrencyUnitSymbolDefault=MGA
CurrencyUnitSymbolUnambiguous=MGA
CurrencyUnitSingular=ariary
CurrencyUnitPlural=ariary
#CurrencySubunitSymbol=
CurrencySubunitSingular=iraimbilanja
CurrencySubunitPlural=iraimbilanja
#Exact date in July uncertain
CurrencyIntroducedDate=2003,07,31
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=5
CurrencyDecimalPlacesDisplay=1
CurrencyCountriesInUse=MG
