[Currency Code]
CurrencyCodeIsoAlpha3=MKD
CurrencyCodeIsoNumeric3=807
#Context for Name: Adjectival Country Name and Currency Name
Name=Macedonian Denar
Name[bg]=Македонски денар
Name[ca]=Denar macedònic
Name[ca@valencia]=Denar macedònic
Name[csb]=Macedońsczi Denar
Name[da]=Makedonisk denar
Name[de]=Mazedonischer Denar
Name[el]=Δηνάριο Σκόπια
Name[en_GB]=Macedonian Denar
Name[eo]=Makedonia dinaro
Name[es]=Dinar macedonio
Name[et]=Makedoonia denar
Name[fy]=Macedoniyske denar
Name[gu]=મેસેડોનિઅન દિનાર
Name[he]=דינר מקדוני
Name[hr]=Makedonski denar
Name[hu]=Macedón dénár
Name[id]=Denar Macedonia
Name[ja]=マケドニア・ディナール
Name[kk]=Македония денары
Name[kn]=ಮೆಸೆಡೋನಿಯಾದ ಡೆನಾರ್
Name[ko]=마케도니아 달러
Name[ml]=മാസിഡോണിയയിലെ ഡെനാര്‍
Name[nb]=Makedonske denarer
Name[nds]=Makedoonsch Dinaar
Name[nl]=Macedonische denar
Name[pt]=Dinar Macedónio
Name[sl]=makedonski denar
Name[sr]=македонски денар
Name[sr@ijekavian]=македонски денар
Name[sr@ijekavianlatin]=makedonski denar
Name[sr@latin]=makedonski denar
Name[sv]=Makedonisk denar
Name[uk]=Македонський денар
Name[x-test]=xxMacedonian Denarxx
Name[zh_CN]=马其顿第纳尔
Name[zh_TW]=馬其頓─第納爾（Denar）
CurrencyNameIso=Denar
CurrencyUnitSymbols=ден,MKD
CurrencyUnitSymbolDefault=ден
CurrencyUnitSymbolUnambiguous=ден
CurrencyUnitSingular=denar
CurrencyUnitPlural=denari
CurrencySubunitSymbol=
CurrencySubunitSingular=deni
CurrencySubunitPlural=deni
CurrencyIntroducedDate=1993,05,05
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MK
