[Currency Code]
CurrencyCodeIsoAlpha3=MLF
CurrencyCodeIsoNumeric3=
#Context for Name: Adjectival Country Name and Currency Name
Name=Mali Franc
Name[csb]=Malijsczi Frank
Name[da]=Malesisk franc
Name[de]=Mali-Franc
Name[en_GB]=Mali Franc
Name[et]=Mali frank
Name[is]=Malískur franki
Name[ja]=マリ・フラン
Name[lv]=Mali franks
Name[nb]=Mali Franc
Name[nds]=Mali-Franc
Name[pt]=Franco do Mali
Name[sv]=Malinesiska franc
Name[uk]=Малійський франк
Name[x-test]=xxMali Francxx
Name[zh_TW]=馬利─法朗（Franc）
CurrencyNameIso=Mali franc
CurrencyUnitSymbols=fr.,F,MLF
CurrencyUnitSymbolDefault=fr.
CurrencyUnitSymbolUnambiguous=MLF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1962,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=1984,01,01
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
