[Currency Code]
CurrencyCodeIsoAlpha3=MLF
CurrencyCodeIsoNumeric3=
#Context for Name: Adjectival Country Name and Currency Name
Name=Mali Franc
Name[ar]=الفرنك المالي
Name[ast]=Francu maliense
Name[bg]=Малийски франк
Name[bn]=মালিস ফ্রাঙ্ক
Name[bs]=malijski franak
Name[ca]=Franc de Mali
Name[ca@valencia]=Franc de Mali
Name[cs]=Malijský frank
Name[csb]=Malijsczi Frank
Name[da]=Malisk franc
Name[de]=Mali-Franc
Name[el]=Φράγκο Μαλί
Name[en_GB]=Mali Franc
Name[eo]=Mala franko
Name[es]=Franco maliense
Name[et]=Mali frank
Name[eu]=Franko maliarra
Name[fa]=فرانک مالی
Name[fi]=Malin frangi
Name[fr]=Franc malien
Name[fy]=Malineeske frank
Name[ga]=Franc Mhailí
Name[gl]=Franco de Mali
Name[gu]=માલી ફ્રાન્ક
Name[he]=פרנק מאלי
Name[hi]=माली फ्रांक
Name[hr]=Malski frank
Name[hu]=Mali frank
Name[ia]=Mali Franc
Name[id]=Franc Mali
Name[is]=Malískur franki
Name[it]=Franco maliano
Name[ja]=マリ・フラン
Name[kk]=Мали франкі
Name[km]=ហ្វ្រង់​បារាំង
Name[kn]=ಮಾಲಿ ಫ್ರಾಂಕ್
Name[ko]=말리 프랑
Name[lt]=Malio frankas
Name[lv]=Mali franks
Name[ml]=മാലിയിലെ ഫ്രാങ്ക്
Name[mr]=माली फ्रांक
Name[nb]=Malisk franc
Name[nds]=Mali-Franc
Name[nl]=Malinese frank
Name[nn]=Malisk franc
Name[pa]=ਮਾਲੀ ਫਰੈਂਕ
Name[pl]=Frank malijski
Name[pt]=Franco do Mali
Name[pt_BR]=Franco malês
Name[ro]=Franc malez
Name[ru]=Малийский франк
Name[si]=මාලේ ෆ්‍රෑන්ක්
Name[sk]=Malijský frank
Name[sl]=malijski frank
Name[sr]=малијски франак
Name[sr@ijekavian]=малијски франак
Name[sr@ijekavianlatin]=malijski franak
Name[sr@latin]=malijski franak
Name[sv]=Malinesiska franc
Name[tg]=Франки Малӣ
Name[th]=ฟรังก์มาลี
Name[tr]=Mali Frankı
Name[ug]=مالى فرانكى
Name[uk]=Малійський франк
Name[vi]=Frăng Mali
Name[wa]=Franc malyin
Name[x-test]=xxMali Francxx
Name[zh_CN]=马里法郎
Name[zh_TW]=馬利─法朗（Franc）
CurrencyNameIso=Mali franc
CurrencyUnitSymbols=fr.,F,MLF
CurrencyUnitSymbolDefault=fr.
CurrencyUnitSymbolUnambiguous=MLF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1962,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=1984,01,01
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
