[Currency Code]
CurrencyCodeIsoAlpha3=MMK
CurrencyCodeIsoNumeric3=104
#Context for Name: Adjectival Country Name and Currency Name
Name=Myanma Kyat
Name[ca]=Kyat de Myanmar
Name[ca@valencia]=Kyat de Myanmar
Name[csb]=Myanmarsczi Kyat
Name[da]=Myanmarsk kyat
Name[de]=Kyat
Name[el]=Κυάτ Μιανμάρ
Name[en_GB]=Myanma Kyat
Name[et]=Birma kyat
Name[fy]=Myanmarske kyat
Name[gu]=મ્યાનમા ક્યાત
Name[he]=קייאט מיאנמרי
Name[hu]=Mianmari kjap
Name[id]=Kyat Myanmar
Name[is]=Mjanmarskt kyat
Name[ja]=ミャンマー・チャット
Name[kk]=Мьянма кияты
Name[ko]=미얀마 캿
Name[ml]=മ്യാന്‍മറിലെ ക്യാറ്റ്
Name[nb]=Myanmar Kvat
Name[nds]=Myanmaarsch (Birmeesch) Kyat
Name[nl]=Myanmar kyat
Name[pt]=Kyat do Myanmar
Name[sl]=mjanmarski kjat
Name[sr]=мјанмарски кјат
Name[sr@ijekavian]=мјанмарски кјат
Name[sr@ijekavianlatin]=mjanmarski kjat
Name[sr@latin]=mjanmarski kjat
Name[sv]=Myanmar kyat
Name[uk]=М'янмський к’ят
Name[x-test]=xxMyanma Kyatxx
Name[zh_CN]=缅元
Name[zh_TW]=緬甸─緬甸元（Kyat）
CurrencyNameIso=Kyat
CurrencyUnitSymbols=K,MMK
CurrencyUnitSymbolDefault=K
CurrencyUnitSymbolUnambiguous=K
CurrencyUnitSingular=kyat
CurrencyUnitPlural=kyats
CurrencySubunitSymbol=
CurrencySubunitSingular=pya
CurrencySubunitPlural=pyas
CurrencyIntroducedDate=1952,07,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MM
