[Currency Code]
CurrencyCodeIsoAlpha3=MMK
CurrencyCodeIsoNumeric3=104
#Context for Name: Adjectival Country Name and Currency Name
Name=Myanma Kyat
Name[ar]=الكيات الميانماري
Name[ast]=Kyat birmanu
Name[bg]=Мианмарски кият
Name[bn]=মিয়ানমা কেয়াট
Name[bs]=mjanmarski kjat
Name[ca]=Kyat de Myanmar
Name[ca@valencia]=Kyat de Myanmar
Name[cs]=Myanmarský kyat
Name[csb]=Myanmarsczi Kyat
Name[da]=Myanmarsk kyat
Name[de]=Kyat
Name[el]=Κυάτ Μιανμάρ
Name[en_GB]=Myanma Kyat
Name[eo]=Birma kjato
Name[es]=Kyat birmano
Name[et]=Birma kyat
Name[eu]=Kyat myanmartarra
Name[fa]=کیات میانما
Name[fi]=Myanmarin kyat
Name[fr]=Kyat birman
Name[fy]=Myanmarske kyat
Name[ga]=Kyat Mhaemar
Name[gl]=Kiat de myanmar
Name[gu]=મ્યાનમા ક્યાત
Name[he]=קייאט מיאנמרי
Name[hi]=म्यनमार क्यात
Name[hr]=Mianmarski kyat
Name[hu]=Mianmari kjap
Name[ia]=Myanma Kyat
Name[id]=Kyat Myanmar
Name[is]=Mjanmarskt kyat
Name[it]=Kyat birmano
Name[ja]=ミャンマー・チャット
Name[kk]=Мьянма кияты
Name[km]=គីយ៉ាត​មីយ៉ាន់ម៉ា
Name[kn]=ಮಿಯನ್ಮಾರ್ ಕ್ಯಟ್(Kyat)
Name[ko]=미얀마 캿
Name[lt]=Mianmaro kijatas
Name[lv]=Mjanmas kjats
Name[ml]=മ്യാന്‍മറിലെ ക്യാറ്റ്
Name[mr]=म्यानमार क्याट
Name[nb]=Myanmarsk kyat
Name[nds]=Myanmaarsch (Birmeesch) Kyat
Name[nl]=Myanmar kyat
Name[nn]=Myanmarsk kyat
Name[pa]=ਮਿਆਂਮਾਰ ਕਯਾਤ
Name[pl]=Kyat birmański
Name[pt]=Kyat do Myanmar
Name[pt_BR]=Kyat birmanês
Name[ro]=Kyat Myanmar
Name[ru]=Мьянманский кьят
Name[si]=මියන්මාර කයිට්
Name[sk]=Myanmar kyat
Name[sl]=mjanmarski kjat
Name[sr]=мјанмарски кјат
Name[sr@ijekavian]=мјанмарски кјат
Name[sr@ijekavianlatin]=mjanmarski kjat
Name[sr@latin]=mjanmarski kjat
Name[sv]=Myanmar kyat
Name[tg]=Кяти Мянма
Name[th]=จ๊าดพม่า
Name[tr]=Myanmar Kıyatı
Name[ug]=مىيانمار كىياتى
Name[uk]=М'янмський к’ят
Name[vi]=Kyat Myanma
Name[wa]=Kyat dal Birmaneye
Name[x-test]=xxMyanma Kyatxx
Name[zh_CN]=缅元
Name[zh_TW]=緬甸─緬甸元（Kyat）
CurrencyNameIso=Kyat
CurrencyUnitSymbols=K,MMK
CurrencyUnitSymbolDefault=K
CurrencyUnitSymbolUnambiguous=K
CurrencyUnitSingular=kyat
CurrencyUnitPlural=kyats
CurrencySubunitSymbol=
CurrencySubunitSingular=pya
CurrencySubunitPlural=pyas
CurrencyIntroducedDate=1952,07,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MM
