[Currency Code]
CurrencyCodeIsoAlpha3=MNT
CurrencyCodeIsoNumeric3=496
#Context for Name: Adjectival Country Name and Currency Name
Name=Mongolian Tugrik
Name[ar]=التوغريك المنغولي
Name[ast]=Tugrik mongol
Name[bg]=Монголски тугрик
Name[bn]=মোঙ্গোলিয়ার টুগরিক
Name[bs]=mongolski tugrik
Name[ca]=Tugrik de Mongòlia
Name[ca@valencia]=Tugrik de Mongòlia
Name[cs]=Mongolský tugrik
Name[csb]=Mòngòlsczi Tugrik
Name[da]=Mongolsk tugrik
Name[de]=Tögrög
Name[el]=Τούγκρικ Μογγολίας
Name[en_GB]=Mongolian Tugrik
Name[eo]=Mongolio tugriko
Name[es]=Tugrik mongol
Name[et]=Mongoolia tugrik
Name[eu]=Tugrik mongoliarra
Name[fa]=توگریک مغولستان
Name[fi]=Mongolia tugrik
Name[fr]=Tugrik mongol
Name[fy]=Mongoolske tugrik
Name[ga]=Tugrik na Mongóile
Name[gl]=Tugrik mongol
Name[gu]=મોંગોલિઅન તુગ્રિક
Name[he]=טוגריק מונגולי
Name[hi]=मंगोलिया तुग्रिक
Name[hr]=Mongolski tugrik
Name[hu]=Mongol tugrik
Name[ia]=Mongolian Tugrik
Name[id]=Tugrik Mongolia
Name[is]=Mongólskt tugrík
Name[it]=Tugrik mongolo
Name[ja]=モンゴル・トゥグルグ
Name[kk]=Монғолия тугригі
Name[km]=ទូហ្គ្រីក​ម៉ុងហ្គោលី
Name[kn]=ಮಂಗೋಲಿಯಾದ ಟುಗ್ರಿಕ್
Name[ko]=몽골 투그릭
Name[lt]=Mongolijos tugrikas
Name[lv]=Mongolijas tugriks
Name[ml]=മംഗോളിയയിലെ തുഗ്രിക്
Name[mr]=मोंगोलियन तुग्रिक
Name[nb]=Mongolsk tugrik
Name[nds]=Mongoolsch Tögrög
Name[nl]=Mongoliaanse tugrik
Name[nn]=Mongolsk tugrik
Name[pa]=ਮੰਗੋਲੀਆ ਤੁਗਰਿਕ
Name[pl]=Tugrik mongolski
Name[pt]=Tugrik da Mongólia
Name[pt_BR]=Tugrik mongol
Name[ro]=Tugrik mongol
Name[ru]=Монгольский тугрик
Name[si]=මොන්ගෝලියානු ටග්රික්
Name[sk]=Mongolský tugrik
Name[sl]=mongolski tugrik
Name[sr]=монголски тугрик
Name[sr@ijekavian]=монголски тугрик
Name[sr@ijekavianlatin]=mongolski tugrik
Name[sr@latin]=mongolski tugrik
Name[sv]=Mongoliska tugrik
Name[tg]=Тугрики Муғулистон
Name[th]=ทูกริกมองโกเลีย
Name[tr]=Moğol Tugriki
Name[ug]=موڭغۇلىيە تۈگرىكى
Name[uk]=Монгольський тугрик
Name[vi]=Tugrik Mông Cổ
Name[wa]=Tugrik mongol
Name[x-test]=xxMongolian Tugrikxx
Name[zh_CN]=蒙古格里克
Name[zh_TW]=蒙古─圖格裡克（Tugrik）
CurrencyNameIso=Tugrik
CurrencyUnitSymbols=₮,MNT
CurrencyUnitSymbolDefault=₮
CurrencyUnitSymbolUnambiguous=₮
CurrencyUnitSingular=tugrik
CurrencyUnitPlural=tugrik
CurrencySubunitSymbol=
CurrencySubunitSingular=mongo
CurrencySubunitPlural=mongo
CurrencyIntroducedDate=1925,12,09
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MN
