[Currency Code]
CurrencyCodeIsoAlpha3=MRO
CurrencyCodeIsoNumeric3=478
#Context for Name: Adjectival Country Name and Currency Name
Name=Mauritanian Ouguiya
Name[ca]=Ouguiya de Mauritània
Name[csb]=Maùretańskô Ouguiya
Name[da]=Mauretanesisk ouguiya
Name[de]=Ouguiya
Name[el]=Ουγκουίγια Μαυριτανίας
Name[en_GB]=Mauritanian Ouguiya
Name[et]=Mauritaania ouguiya
Name[fy]=Mauritaanske ouguiya
Name[gu]=મોરીશિનિઅન ઓઉગુયા
Name[he]=אאוגוניה מאוריטנית
Name[hu]=Mauritániai ouguiya
Name[id]=Ouguiya Mauritania
Name[ja]=モーリタニア・ウギア
Name[kk]=Мавритания угуиясы
Name[ko]=모리타니 오귀야
Name[ml]=മൌരിട്ടാനിയയിലെ ഔഗിയ
Name[nb]=Mauritanske ouguiya
Name[nds]=Mauretaansch Ouguiya
Name[nl]=Mauritanische ouguiya
Name[pt]=Ouguiya da Mauritânia
Name[sl]=mavretanska uguija
Name[sr]=мауританијска угија
Name[sr@ijekavian]=мауританијска угија
Name[sr@ijekavianlatin]=mauritanijska ugija
Name[sr@latin]=mauritanijska ugija
Name[sv]=Mauritaniska ouguiya
Name[uk]=Мавританська угія
Name[x-test]=xxMauritanian Ouguiyaxx
Name[zh_CN]=毛里塔尼亚乌吉亚
Name[zh_TW]=茅利塔尼亞─烏吉拉（Ouguiya）
CurrencyNameIso=Ouguiya
CurrencyUnitSymbols=UM,MRO
CurrencyUnitSymbolDefault=UM
CurrencyUnitSymbolUnambiguous=UM
CurrencyUnitSingular=ouguiya
CurrencyUnitPlural=ouguiya
CurrencySubunitSymbol=
CurrencySubunitSingular=khoums
CurrencySubunitPlural=khoums
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=5
CurrencyDecimalPlacesDisplay=1
CurrencyCountriesInUse=MR
