[Currency Code]
CurrencyCodeIsoAlpha3=MTL
CurrencyCodeIsoNumeric3=470
#Context for Name: Adjectival Country Name and Currency Name
Name=Maltese Lira
Name[ca]=Lira maltesa
Name[ca@valencia]=Lira maltesa
Name[csb]=Maltejsczi Lir
Name[da]=Maltesisk lire
Name[de]=Maltesische Lira
Name[el]=Λίρα Μάλτας
Name[en_GB]=Maltese Lira
Name[es]=Lira maltesa
Name[et]=Malta liir
Name[eu]=Maltako lira
Name[fi]=Maltan liira
Name[fr]=Lire maltaise
Name[fy]=Malteeske lire
Name[gu]=માલ્તેસિ લીરા
Name[he]=לירה מלזית
Name[hr]=Malteška lira
Name[hu]=Máltai líra
Name[id]=Lira Malta
Name[is]=Maltnesk líra
Name[ja]=マルタ・リラ
Name[kk]=Мальта лирі
Name[kn]=ಮಾಲ್ಟೀಸ್ ಲಿರಾ
Name[ko]=몰타 리라
Name[lv]=Maltas lira
Name[ml]=മാള്‍ട്ടയിലെ ലിറ
Name[nb]=Maltesiske lire
Name[nds]=Malteesch Lira
Name[nl]=Maltese lire
Name[nn]=Maltesiske lire
Name[pt]=Lira Maltesa
Name[sl]=malteška lira
Name[sr]=малтешка лира
Name[sr@ijekavian]=малтешка лира
Name[sr@ijekavianlatin]=malteška lira
Name[sr@latin]=malteška lira
Name[sv]=Maltesiska lira
Name[uk]=Мальтійська ліра
Name[x-test]=xxMaltese Liraxx
Name[zh_CN]=马尔他里拉
Name[zh_TW]=馬爾他─里拉（Lira）
CurrencyNameIso=Maltese lira
CurrencyUnitSymbols=Lm,£,MTL
CurrencyUnitSymbolDefault=Lm
CurrencyUnitSymbolUnambiguous=Lm
CurrencyUnitSingular=lira
CurrencyUnitPlural=liri
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1972,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2007,12,31
CurrencySubunits=2
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
