[Currency Code]
CurrencyCodeIsoAlpha3=MTL
CurrencyCodeIsoNumeric3=470
#Context for Name: Adjectival Country Name and Currency Name
Name=Maltese Lira
Name[ar]=الليرة المالطية
Name[ast]=Lira maltesa
Name[bg]=Малтийска лира
Name[bn]=মল্টিস লিরা
Name[bs]=malteška lira
Name[ca]=Lira maltesa
Name[ca@valencia]=Lira maltesa
Name[cs]=Maltézská lira
Name[csb]=Maltejsczi Lir
Name[da]=Maltesisk lire
Name[de]=Maltesische Lira
Name[el]=Λίρα Μάλτας
Name[en_GB]=Maltese Lira
Name[eo]=Malta liro
Name[es]=Lira maltesa
Name[et]=Malta liir
Name[eu]=Lira maltarra
Name[fa]=لیره مالتزی
Name[fi]=Maltan liira
Name[fr]=Lire maltaise
Name[fy]=Malteeske lire
Name[ga]=Lira Mhálta
Name[gl]=Lira maltesa
Name[gu]=માલ્તેસિ લીરા
Name[he]=לירה מלטית
Name[hi]=मलेशिया लीरा
Name[hr]=Malteška lira
Name[hu]=Máltai líra
Name[ia]=Maltese Lira
Name[id]=Lira Malta
Name[is]=Maltnesk líra
Name[it]=Lira maltese
Name[ja]=マルタ・リラ
Name[kk]=Мальта лирі
Name[km]=ឡីរ៉ា​ម៉ាឡេស៊ី
Name[kn]=ಮಾಲ್ಟೀಸ್ ಲಿರಾ
Name[ko]=몰타 리라
Name[lt]=Malaizijos lira
Name[lv]=Maltas lira
Name[mk]=Малтешка лира
Name[ml]=മാള്‍ട്ടയിലെ ലിറ
Name[mr]=माल्टीज लिरा
Name[nb]=Maltesisk lire
Name[nds]=Malteesch Lira
Name[nl]=Maltese lire
Name[nn]=Maltesisk lire
Name[pa]=ਮਾਲਟੀ ਲੀਰਾ
Name[pl]=Lira maltańska
Name[pt]=Lira Maltesa
Name[pt_BR]=Lira maltesa
Name[ro]=Liră malteză
Name[ru]=Мальтийская лира
Name[si]=මෝල්ටීස් ලීරා
Name[sk]=Maltská líra
Name[sl]=malteška lira
Name[sr]=малтешка лира
Name[sr@ijekavian]=малтешка лира
Name[sr@ijekavianlatin]=malteška lira
Name[sr@latin]=malteška lira
Name[sv]=Maltesiska lira
Name[tg]=Лираи Малайзия
Name[th]=ลีร์มอลตา
Name[tr]=Malezya Lirası
Name[ug]=مالتا لىراسى
Name[uk]=Мальтійська ліра
Name[vi]=Lira Malta
Name[wa]=Lire maltesse
Name[x-test]=xxMaltese Liraxx
Name[zh_CN]=马尔他里拉
Name[zh_TW]=馬爾他─里拉（Lira）
CurrencyNameIso=Maltese lira
CurrencyUnitSymbols=Lm,£,MTL
CurrencyUnitSymbolDefault=Lm
CurrencyUnitSymbolUnambiguous=Lm
CurrencyUnitSingular=lira
CurrencyUnitPlural=liri
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1972,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2007,12,31
CurrencySubunits=2
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
