[Currency Code]
CurrencyCodeIsoAlpha3=MUR
CurrencyCodeIsoNumeric3=480
#Context for Name: Adjectival Country Name and Currency Name
Name=Mauritius Rupee
Name[ar]=الروبية الموريشيوسية
Name[ast]=Rupia de Mauriciu
Name[bg]=Маврицийска рупия
Name[bn]=মরিশাস রুপী
Name[bs]=mauricijuska rupija
Name[ca]=Rupia de Maurici
Name[ca@valencia]=Rupia de Maurici
Name[cs]=Mauricijská rupie
Name[csb]=Mauretańskô Rupja
Name[da]=Mauritisk rupee
Name[de]=Mauritius-Rupie
Name[el]=Ρουπία Μαυρικίου
Name[en_GB]=Mauritius Rupee
Name[eo]=Maŭrica rupeo
Name[es]=Rupia de Mauricio
Name[et]=Mauritiuse ruupia
Name[eu]=Errupia mauriziarra
Name[fa]=روپی ماریسی
Name[fi]=Mauritiuksen rupia
Name[fr]=Roupie mauricienne
Name[fy]=Mauritiaanske rupee
Name[ga]=Rúipí an Oileáin Mhuirís
Name[gl]=Rupia das Illas Mauricios
Name[gu]=મોરિશિઅસ રુપી
Name[he]=רופי מאוריציני
Name[hi]=मॉरीशस रुपया
Name[hr]=Mauricijska rupija
Name[hu]=Mauritiusi rúpia
Name[ia]=Mauritian Rupee
Name[id]=Rupee Mauritius
Name[is]=Máritíus-rúpía
Name[it]=Rupia mauriziana
Name[ja]=モーリシャス・ルピー
Name[kk]=Маврикий рупиясы
Name[km]=រ៉ូពី​ម៉ូរីទុស
Name[kn]=ಮಾರಿಷಸ್ ರುಪೀ
Name[ko]=모리셔스 루피
Name[lt]=Mauricijaus rupija
Name[lv]=Maurīciju rūpija
Name[ml]=മൌറീഷ്യസിലെ രൂപ
Name[mr]=मोरेशियस रुपी
Name[nb]=Mauritisk rupi
Name[nds]=Mauritius-Rupje
Name[nl]=Mauritiaanse rupee
Name[nn]=Mauritisk rupi
Name[pa]=ਮਾਉਰੀਟਿਸ ਰੁਪਿਆ
Name[pl]=Rupia mauritiuska
Name[pt]=Rupia da Mauritânia
Name[pt_BR]=Rúpia maurícia
Name[ro]=Rupie Mauritius
Name[ru]=Маврикийская рупия
Name[si]=මෞරුටීස් රුපී
Name[sk]=Maurícijská rupia
Name[sl]=mavricijska rupija
Name[sr]=маурицијуска рупија
Name[sr@ijekavian]=маурицијуска рупија
Name[sr@ijekavianlatin]=mauricijuska rupija
Name[sr@latin]=mauricijuska rupija
Name[sv]=Mauritiska rupie
Name[tg]=Рупияи Маврикия
Name[th]=รูปีมอริเชียส
Name[tr]=Mauritus Rupisi
Name[ug]=ماۋرىتىئۇس رۇپىيەسى
Name[uk]=Маврикійська рупія
Name[vi]=Rupee Mauritius
Name[wa]=Roupeye môricyinne
Name[x-test]=xxMauritius Rupeexx
Name[zh_CN]=毛里求斯卢比
Name[zh_TW]=模里西斯─盧比（Rupee）
CurrencyNameIso=Mauritius rupee
CurrencyUnitSymbols=R,MUR
CurrencyUnitSymbolDefault=R
CurrencyUnitSymbolUnambiguous=MUR
CurrencyUnitSingular=rupee
CurrencyUnitPlural=rupees
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1877,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MU
