[Currency Code]
CurrencyCodeIsoAlpha3=MWK
CurrencyCodeIsoNumeric3=454
#Context for Name: Adjectival Country Name and Currency Name
Name=Malawian Kwacha
CurrencyNameIso=Kwacha
CurrencyUnitSymbols=MK,MWK
CurrencyUnitSymbolDefault=MK
CurrencyUnitSymbolUnambiguous=MK
CurrencyUnitSingular=kwacha
CurrencyUnitPlural=kwacha
CurrencySubunitSymbol=
CurrencySubunitSingular=tambala
CurrencySubunitPlural=tambala
CurrencyIntroducedDate=1971,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MW
