[Currency Code]
CurrencyCodeIsoAlpha3=MXV
CurrencyCodeIsoNumeric3=979
#Context for Name: Adjectival Country Name and Currency Name
Name=Mexican Unidad de Inversion
Name[ca]=Unitat d'inversió mexicana
Name[ca@valencia]=Unitat d'inversió mexicana
Name[cs]=Mexická Unidad de Inversion
Name[csb]=Meksykańsczé Unidad de Inversion
Name[da]=Mexicansk unidad de inversion
Name[de]=Mexican Unidad de Inversion
Name[el]=Μεξικάνικο Γιουνιντάτ ντε Ινβερσιόν
Name[en_GB]=Mexican Unidad de Inversion
Name[eo]=Meksika peso
Name[es]=Unidad de Inversión mexicana
Name[et]=Mehhiko Unidad de inversion
Name[eu]=Mexikoko unidad de inversion
Name[fi]=Meksikon Unidad de Inversion
Name[fr]=Unité d'inversion mexicaine
Name[fy]=Meksikaanske Unidad de Inversion
Name[gu]=મેક્સિકન યુનિડાડ ડી ઇન્વેર્ઝન
Name[hr]=Mexican Unidad de Inversion
Name[hu]=Mexikói Unidad de Inversión
Name[ia]=Mexican Unidad de Inversion
Name[id]=Unidad de Inversion Meksiko
Name[it]=Unidad de Inversion messicana
Name[kk]=Мексика Unidad de Inversion-ы
Name[km]=Mexican Unidad de Inversion
Name[ko]=멕시코 유니다드 데 인베르시온
Name[lt]=Meksikos Unidad de Inversion
Name[ml]=മെക്സിക്കോയിലെ യുണിദാദ് ദെ ഇന്‍വര്‍ഷണ്‍
Name[nb]=Mexikansle Unidad de Inversion
Name[nds]=Mexikaansch Unidad de Inversion
Name[nl]=Mexicaanse Unidad de Inversion
Name[nn]=Meksikansk unidad de inversion (UDI)
Name[pl]=Unidad de Inversion meksykański
Name[pt]=Unidade de Investimento do México
Name[pt_BR]=Unidade de Inversão mexicana
Name[sk]=Mexické Unidad de Inversion (UDI)
Name[sl]=mehiška indeskna enota
Name[sr]=мексички унидад де инверсион
Name[sr@ijekavian]=мексички унидад де инверсион
Name[sr@ijekavianlatin]=meksički unidad de inversion
Name[sr@latin]=meksički unidad de inversion
Name[sv]=Mexikansk Unidad de Inversion
Name[uk]=Мексиканський Unidad de Inversion (UDI
Name[wa]=Unidad de Inversion mecsikinne
Name[x-test]=xxMexican Unidad de Inversionxx
Name[zh_CN]=墨西哥 UDI
Name[zh_TW]=墨西哥─轉換單位（Unidad de Inversion）
CurrencyNameIso=Mexican Unidad de Inversion
CurrencyUnitSymbols=UDI,MXV
CurrencyUnitSymbolDefault=UDI
CurrencyUnitSymbolUnambiguous=UDI
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MX
