[Currency Code]
CurrencyCodeIsoAlpha3=MXV
CurrencyCodeIsoNumeric3=979
#Context for Name: Adjectival Country Name and Currency Name
Name=Mexican Unidad de Inversion
Name[da]=Mexicansk unidad de inversion
Name[en_GB]=Mexican Unidad de Inversion
Name[et]=Mehhiko Unidad de inversion
Name[nb]=Mexikansle Unidad de Inversion
Name[nds]=Mexikaansch Unidad de Inversion
Name[pt]=Unidade de Investimento do México
Name[sv]=Mexikansk Unidad de Inversion
Name[uk]=Мексиканський Unidad de Inversion (UDI
Name[x-test]=xxMexican Unidad de Inversionxx
Name[zh_TW]=墨西哥─轉換單位（Unidad de Inversion）
CurrencyNameIso=Mexican Unidad de Inversion
CurrencyUnitSymbols=UDI,MXV
CurrencyUnitSymbolDefault=UDI
CurrencyUnitSymbolUnambiguous=UDI
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MX
