[Currency Code]
CurrencyCodeIsoAlpha3=MZM
CurrencyCodeIsoNumeric3=508
#Context for Name: Adjectival Country Name and Currency Name
Name=Mozambican Metical
Name[da]=Mozambiquisk metical
Name[de]=Metical
Name[en_GB]=Mozambican Metical
Name[et]=Mosambiigi metical
Name[ja]=モザンビーク・メティカル
Name[nb]=Mozambiske metical
Name[nds]=Mosambikaansch Metical
Name[pt]=Metical Moçambicano
Name[sv]=Mozambique metical
Name[uk]=Мозамбікський метикал
Name[x-test]=xxMozambican Meticalxx
CurrencyNameIso=Mozambican metical
CurrencyUnitSymbols=MTn,MZM
CurrencyUnitSymbolDefault=MTn
CurrencyUnitSymbolUnambiguous=MZM
CurrencyUnitSingular=metical
CurrencyUnitPlural=meticals
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1980,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2006,06,30
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
