[Currency Code]
CurrencyCodeIsoAlpha3=MZN
CurrencyCodeIsoNumeric3=943
#Context for Name: Adjectival Country Name and Currency Name
Name=Mozambican Metical
Name[ca]=Metical de Moçambic
Name[csb]=Mòzambijsczi Metical
Name[da]=Mozambiquisk metical
Name[de]=Metical
Name[el]=Μετικάλ Μοζαμβίκης
Name[en_GB]=Mozambican Metical
Name[es]=Metical mozambiqueño
Name[et]=Mosambiigi metical
Name[fy]=Mozambikaanske metical
Name[gu]=મોઝામ્બિકન મેટિકલ
Name[he]=מטיקל מוזמביני
Name[hr]=Mozambiski metical
Name[hu]=Mozambiki metical
Name[id]=Metical Mozambik
Name[ja]=モザンビーク・メティカル
Name[kk]=Мозамбик метикалы
Name[ko]=모잠비크 메티칼
Name[ml]=മോസാമ്പിക്കന്‍ മെറ്റിക്കല്‍
Name[nb]=Mozambiske metical
Name[nds]=Mosambikaansch Metical
Name[nl]=Mozambikaanse metical
Name[pt]=Metical Moçambicano
Name[sl]=mozambiški metikal
Name[sr]=мозамбијски метикал
Name[sr@ijekavian]=мозамбијски метикал
Name[sr@ijekavianlatin]=mozambijski metikal
Name[sr@latin]=mozambijski metikal
Name[sv]=Mozambique metical
Name[uk]=Мозамбікський метикал
Name[wa]=Metical mozambikyin
Name[x-test]=xxMozambican Meticalxx
Name[zh_CN]=莫桑比克梅蒂卡尔
Name[zh_TW]=莫三比克─梅蒂卡爾（Metical）
CurrencyNameIso=Metical
CurrencyUnitSymbols=MTn,MZN
CurrencyUnitSymbolDefault=MTn
CurrencyUnitSymbolUnambiguous=MTn
CurrencyUnitSingular=metical
CurrencyUnitPlural=meticals
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=2006,07,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MZ
