[Currency Code]
CurrencyCodeIsoAlpha3=NIO
CurrencyCodeIsoNumeric3=566
#Context for Name: Adjectival Country Name and Currency Name
Name=Nicaraguan Cordoba Oro
Name[ca]=Córdoba Or de Nicaragua
Name[ca@valencia]=Córdoba Or de Nicaragua
Name[csb]=Nikaragùańsczé Oro
Name[da]=Nicaraguansk cordoba ord
Name[de]=Córdoba Oro
Name[el]=Κόρντομπα Oρo Νικαράγουας
Name[en_GB]=Nicaraguan Cordoba Oro
Name[es]=Córdoba nicaragüense
Name[et]=Nicaragua Cordoba Oro
Name[eu]=Nikaraguako kordoba oro
Name[fi]=Kolmas Nicaraguan córdoba
Name[fr]=Córdoba nicaraguayen d'or
Name[fy]=Nikaraguaanske cordoba oro
Name[gu]=નિકારાગુઆન કોર્ડોબા ઓરો
Name[he]=קורדובה ניקרגואית
Name[hr]=Nikaragvanska córdoba
Name[hu]=Nicaraguai córdoba
Name[id]=Cordoba Oro Nikaragua
Name[ja]=コルドバ・オロ
Name[kk]=Никарагуа кордоба оросы
Name[ko]=니카라과 코르도바 오로
Name[ml]=നിക്കരാഗ്വയിലെ കോര്‍ഡോബാ ഓറോ
Name[nb]=Nicaraguanske Cordoba Oro
Name[nds]=Nicaraguaansch Cordoba Oro
Name[nl]=Nicaraguaanse cordoba oro
Name[pt]=Ouro de Córdoba da Nicarágua
Name[sl]=nikaragvijska zlata kordova
Name[sr]=никарагвански кордоба оро
Name[sr@ijekavian]=никарагвански кордоба оро
Name[sr@ijekavianlatin]=nikaragvanski kordoba oro
Name[sr@latin]=nikaragvanski kordoba oro
Name[sv]=Nicaraguanska cordoba
Name[uk]=Нікарагуанська кордоба
Name[wa]=Cordoba Oro nicaragwayin
Name[x-test]=xxNicaraguan Cordoba Oroxx
Name[zh_CN]=尼加拉瓜科罗巴
Name[zh_TW]=尼加拉瓜─科多巴（Cordoba Oro）
CurrencyNameIso=Cordoba oro
CurrencyUnitSymbols=
CurrencyUnitSymbolDefault=
CurrencyUnitSymbolUnambiguous=
CurrencyUnitSingular=cordoba
CurrencyUnitPlural=cordoba
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1991,04,30
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=NI
