[Currency Code]
CurrencyCodeIsoAlpha3=NPR
CurrencyCodeIsoNumeric3=524
#Context for Name: Adjectival Country Name and Currency Name
Name=Nepalese Rupee
Name[bg]=Непалска рупия
Name[ca]=Rupia nepalesa
Name[csb]=Nepalskô Rupja
Name[da]=Nepalesisk rupee
Name[de]=Nepalesische Rupie
Name[en_GB]=Nepalese Rupee
Name[es]=Rupia nepalí
Name[et]=Nepali ruupia
Name[ja]=ネパール・ルピー
Name[lv]=Nepālas rūpija
Name[nb]=Nepalesiske rupier
Name[nds]=Nepaleesch Rupje
Name[pt]=Rupia Nepalesa
Name[sl]=nepalska rupija
Name[sv]=Nepalesiska rupie
Name[uk]=Непальська рупія
Name[x-test]=xxNepalese Rupeexx
Name[zh_TW]=尼泊爾─盧比（Rupee）
CurrencyNameIso=Nepalese rupee
CurrencyUnitSymbols=Rs,₨,रू.,NPR
CurrencyUnitSymbolDefault=Rs
CurrencyUnitSymbolUnambiguous=NPR
CurrencyUnitSingular=rupee
CurrencyUnitPlural=rupees
CurrencySubunitSymbol=
CurrencySubunitSingular=paisa
CurrencySubunitPlural=paisa
CurrencyIntroducedDate=1932,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=NP
