[Currency Code]
CurrencyCodeIsoAlpha3=NZD
CurrencyCodeIsoNumeric3=554
#Context for Name: Adjectival Country Name and Currency Name
Name=New Zealand Dollar
Name[bg]=Новозеландски долар
Name[ca]=Dòlar de Nova Zelanda
Name[csb]=Nowò Zelandzczi Dolar
Name[da]=Newzealandsk dollar
Name[de]=Neuseeland-Dollar
Name[en_GB]=New Zealand Dollar
Name[es]=Dólar neozelandés
Name[et]=Uus-Meremaa dollar
Name[gu]=ન્યુ ઝીલેન્ડ ડોલર
Name[is]=Nýsjálenskur dollari
Name[ja]=ニュージーランド・ドル
Name[lv]=Jaunzēlandes dolārs
Name[nb]=New Zealand-dollar
Name[nds]=Niegseeland-Dollar
Name[pt]=Dólar da Nova Zelândia
Name[sl]=novozelandski dolar
Name[sv]=Nyzeeländska dollar
Name[uk]=Новозеландський долар
Name[x-test]=xxNew Zealand Dollarxx
Name[zh_TW]=紐西蘭─元（Dollar）
CurrencyNameIso=New Zealand Dollar
CurrencyUnitSymbols=$,NZ$,NZD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=NZ$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=c
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1967,07,10
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=NZ,CK,NU,PN,TK
