[Currency Code]
CurrencyCodeIsoAlpha3=OMR
CurrencyCodeIsoNumeric3=512
#Context for Name: Adjectival Country Name and Currency Name
Name=Omani Rial
Name[da]=Omansk rial
Name[de]=Omanischer Rial
Name[en_GB]=Omani Rial
Name[et]=Omaani riaal
Name[ja]=オーマン・リヤル
Name[nb]=Omanske rialer
Name[nds]=Omaansch Rial
Name[pt]=Rial do Omã
Name[sv]=Omanska rial
Name[uk]=Оманський ріал
Name[x-test]=xxOmani Rialxx
Name[zh_TW]=阿曼─里亞爾（Rial）
CurrencyNameIso=Rial Omani
CurrencyUnitSymbols=ر.ع.,OMR
CurrencyUnitSymbolDefault=ر.ع.
CurrencyUnitSymbolUnambiguous=ر.ع.
CurrencyUnitSingular=rial
CurrencyUnitPlural=rials
CurrencySubunitSymbol=
CurrencySubunitSingular=baisa
CurrencySubunitPlural=baisa
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=
