[Currency Code]
CurrencyCodeIsoAlpha3=PLN
CurrencyCodeIsoNumeric3=985
#Context for Name: Adjectival Country Name and Currency Name
Name=Polish Zloty
Name[bg]=Полска злота
Name[csb]=Pòlsczi Złoti
Name[da]=Polsk zloty
Name[de]=Złoty
Name[en_GB]=Polish Zloty
Name[et]=Poola zlott
Name[ja]=ポーランド・ズロチ
Name[lv]=Polijas zlots
Name[nb]=Polske zloty
Name[nds]=Poolsch Zloty
Name[pt]=Zloty Polaco
Name[sv]=Polska zloty
Name[uk]=Польський злотий
Name[x-test]=xxPolish Zlotyxx
Name[zh_TW]=波蘭─茲羅提（Zloty）
CurrencyNameIso=Zloty
CurrencyUnitSymbols=zł,PLN
CurrencyUnitSymbolDefault=zł
CurrencyUnitSymbolUnambiguous=zł
CurrencyUnitSingular=zloty
CurrencyUnitPlural=
CurrencySubunitSymbol=gr
CurrencySubunitSingular=grosz
CurrencySubunitPlural=groszy
CurrencyIntroducedDate=1995,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PL
