[Currency Code]
CurrencyCodeIsoAlpha3=PTE
CurrencyCodeIsoNumeric3=620
#Context for Name: Adjectival Country Name and Currency Name
Name=Portuguese Escudo
Name[bg]=Португалско ескудо
Name[ca]=Escut portuguès
Name[ca@valencia]=Escut portugués
Name[csb]=Pòrtugalsczé Eskùdo
Name[da]=Portugisisk escudo
Name[de]=Portugiesischer Escudo
Name[el]=Πορτογαλέζικο εσκούδο
Name[en_GB]=Portuguese Escudo
Name[eo]=Portugala eskudo
Name[es]=Escudo portugués
Name[et]=Portugali eskuudo
Name[eu]=Portugaleko escudo
Name[fr]=Escudo portugais
Name[fy]=Portugeeske escudo
Name[gu]=પોર્ટુગીઝી એસ્કુડો
Name[he]=אסקודו פורטוגזי
Name[hr]=Portugalski eskudo
Name[hu]=Portugál escudo
Name[id]=Escudo Portugal
Name[is]=Portúgalskur eskúdó
Name[ja]=ポルトガル・エスクード
Name[kk]=Португалия эскудосы
Name[ko]=포르투갈 에스쿠도
Name[lv]=Portugāles eskudo
Name[mai]=पुर्तगाली एस्कुडो
Name[ml]=പറങ്കികളുടെ എസ്കൂഡോ
Name[nb]=Portugisiske escudos
Name[nds]=Portugeesch Escudo
Name[nl]=Portugese escudo
Name[nn]=Portugisiske escudo
Name[pt]=Escudo Português
Name[sl]=portugalski eskudo
Name[sr]=португалски ескудо
Name[sr@ijekavian]=португалски ескудо
Name[sr@ijekavianlatin]=portugalski eskudo
Name[sr@latin]=portugalski eskudo
Name[sv]=Portugisiska escudo
Name[uk]=Португальське ескудо
Name[wa]=Escoudo portuguès
Name[x-test]=xxPortuguese Escudoxx
Name[zh_CN]=葡萄牙埃斯库多
Name[zh_TW]=葡萄牙─埃斯庫多（Escudo）
CurrencyNameIso=Portuguese escudo
CurrencyUnitSymbols=$,PTE
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=PTE
CurrencyUnitSingular=escudo
CurrencyUnitPlural=escudos
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1911,05,22
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
