[Currency Code]
CurrencyCodeIsoAlpha3=RUB
CurrencyCodeIsoNumeric3=643
#Context for Name: Adjectival Country Name and Currency Name
Name=Russian Ruble
Name[bg]=Руска рубла
Name[ca]=Ruble rus
Name[ca@valencia]=Ruble rus
Name[csb]=Rusczi Rubel
Name[da]=Russisk rubel
Name[de]=Russischer Rubel
Name[el]=Ρούβλι Ρωσίας
Name[en_GB]=Russian Ruble
Name[eo]=Rusa rublo
Name[es]=Rublo ruso
Name[et]=Venemaa rubla
Name[eu]=Errusiako errubloa
Name[fi]=Venäjän rupla
Name[fr]=Rouble russe
Name[fy]=Russiske roebel
Name[gu]=રશિયન રુબલ
Name[he]=רובל רוסי
Name[hr]=Ruski rubalj
Name[id]=Ruble Rusia
Name[is]=Rússnesk rúbla
Name[ja]=ロシア・ルーブル
Name[kk]=Ресей рублі
Name[kn]=ರಷ್ಯಾದ ರೂಬೆಲ್
Name[ko]=러시아 루블
Name[lv]=Krievijas rublis
Name[ml]=റഷ്യയിലെ റൂബിള്‍
Name[nb]=Russiske rubler
Name[nds]=Russ'sch Ruvel
Name[nl]=Russische roebel
Name[nn]=Russiske rublar
Name[pa]=ਰੂਸੀ ਰੂਬਲ
Name[pt]=Rublo Russo
Name[sl]=ruski rubelj
Name[sr]=руска рубља
Name[sr@ijekavian]=руска рубља
Name[sr@ijekavianlatin]=ruska rublja
Name[sr@latin]=ruska rublja
Name[sv]=Ryska rubel
Name[uk]=Російський рубль
Name[x-test]=xxRussian Rublexx
Name[zh_CN]=俄罗斯卢布
Name[zh_TW]=俄羅斯─盧布（Ruble）
CurrencyNameIso=Russian rouble
CurrencyUnitSymbols=руб.,Р.,р.,RUB
CurrencyUnitSymbolDefault=руб.
CurrencyUnitSymbolUnambiguous=руб.
CurrencyUnitSingular=ruble
CurrencyUnitPlural=rubles
CurrencySubunitSymbol=к.
CurrencySubunitSingular=kopek
CurrencySubunitPlural=kopeks
CurrencyIntroducedDate=1998,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=RU
