[Currency Code]
CurrencyCodeIsoAlpha3=SAR
CurrencyCodeIsoNumeric3=682
#Context for Name: Adjectival Country Name and Currency Name
Name=Saudi Riyal
Name[bg]=Саудитски риал
Name[ca]=Riyal saudita
Name[csb]=Saùdejsczi Riyal
Name[da]=Saudisk riyal
Name[de]=Saudi Riyal
Name[en_GB]=Saudi Riyal
Name[et]=Saudi riaal
Name[gu]=સાઉદી રીઆલ
Name[is]=Sádi-Arabískur ríal
Name[ja]=サウジ・リヤル
Name[nb]=Saudiske riyal
Name[nds]=Saudsch Rial
Name[pt]=Rial Saudita
Name[sl]=saudski rial
Name[sv]=Saudiarabiska riyal
Name[uk]=Саудівський ріал
Name[x-test]=xxSaudi Riyalxx
Name[zh_TW]=沙烏地阿拉伯─沙烏地里亞爾（Saudi Riyal）
CurrencyNameIso=Saudi riyal
CurrencyUnitSymbols=ر.س,SR,SAR
CurrencyUnitSymbolDefault=ر.س
CurrencyUnitSymbolUnambiguous=ر.س
CurrencyUnitSingular=riyal
CurrencyUnitPlural=riyal
CurrencySubunitSymbol=
CurrencySubunitSingular=halala
CurrencySubunitPlural=halala
CurrencyIntroducedDate=1963,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SA
