[Currency Code]
CurrencyCodeIsoAlpha3=SBD
CurrencyCodeIsoNumeric3=090
#Context for Name: Adjectival Country Name and Currency Name
Name=Solomon Islands Dollar
Name[ar]=دولار جزر سليمان
Name[ast]=Dólar de les Islles Salomón
Name[bg]=Долар на Соломоновите острови
Name[bn]=সলোমন দ্বীপপুঞ্জের ডলার
Name[bs]=solomonski dolar
Name[ca]=Dòlar de les Illes Salomó
Name[ca@valencia]=Dòlar de les Illes Salomó
Name[cs]=Šalamounovy ostrovy (dolar)
Name[csb]=Dolar z Òstrowów Salomona
Name[da]=Salomonøerne-dollar
Name[de]=Salomonen-Dollar
Name[el]=Δολάριο Νήσων Σολομώντος
Name[en_GB]=Solomon Islands Dollar
Name[eo]=Salomona dolaro
Name[es]=Dólar de las Islas Salomón
Name[et]=Saalomoni saarte dollar
Name[eu]=Dolar salomondarra
Name[fa]=دلار جزایر سولومون
Name[fi]=Salomonsaarten dollari
Name[fr]=Dollar des Îles Salomon
Name[fy]=Salomon-dollar
Name[ga]=Dollar Na nOileán Sholamón
Name[gl]=Dólar das Illas Salomón
Name[gu]=સોલોમન ટાપુઓ ડોલર
Name[he]=דולר של איי שלמה
Name[hi]=सोलोमन आइलैंड डॉलर
Name[hr]=Dolar solomonskih otoka
Name[hu]=Salamon-szigeteki dollár
Name[ia]=Solomon Islands Dollar
Name[id]=Dollar Kepulauan Solomon
Name[is]=Salómonseyjadollari
Name[it]=Dollaro delle Isole Salomone
Name[ja]=ソロモン諸島・ドル
Name[kk]=Соломон доллары
Name[km]=ដុល្លារ​កោះ​សូឡូម៉ូន
Name[kn]=ಸೊಲೊಮನ್ ದ್ವೀಪಗಳ ಡಾಲರ್
Name[ko]=솔로몬 제도 달러
Name[lt]=Saliamono salų doleris
Name[lv]=Solomonu salu dolārs
Name[mk]=Долар од Соломонските Острови
Name[ml]=സോളമന്‍ ദ്വീപുകളിലെ ഡോളര്‍
Name[mr]=सोलोमन द्वीप डॉलर
Name[nb]=Salomonsk dollar
Name[nds]=Salomonen-Dollar
Name[nl]=Salomon-dollar
Name[nn]=Salomonsk dollar
Name[pa]=ਸੋਲੋਮੋਨ ਆਈਸਲੈਂਡ ਡਾਲਰ
Name[pl]=Dolar (Wyspy Salomona)
Name[pt]=Dólar das Ilhas Salomão
Name[pt_BR]=Dólar salomônico
Name[ro]=Dolar Insulele Solomon
Name[ru]=Доллар Соломоновых Островов
Name[si]=සොලමන් දූපත් ඩොලර්
Name[sk]=Dolár Šalamúnových ostrovov
Name[sl]=dolar Salomonovih otokov
Name[sr]=соломонски долар
Name[sr@ijekavian]=соломонски долар
Name[sr@ijekavianlatin]=solomonski dolar
Name[sr@latin]=solomonski dolar
Name[sv]=Salomondollar
Name[tg]=Доллари Ҷазираҳои Соломон
Name[th]=ดอลลาร์หมู่เกาะโซโลมอน
Name[tr]=Solomon Adaları Doları
Name[ug]=سولومون تاقىم ئاراللىرى دوللىرى
Name[uk]=Долар Соломонових островів
Name[vi]=Đô la Quần đảo Solomon
Name[wa]=Dolår dås Iyes Solomon
Name[x-test]=xxSolomon Islands Dollarxx
Name[zh_CN]=所罗门元
Name[zh_TW]=索羅門群島─元（Dollar）
CurrencyNameIso=Solomon Islands dollar
CurrencyUnitSymbols=$,SI$,SBD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=SI$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1977,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SB
