[Currency Code]
CurrencyCodeIsoAlpha3=SBD
CurrencyCodeIsoNumeric3=090
#Context for Name: Adjectival Country Name and Currency Name
Name=Solomon Islands Dollar
Name[csb]=Dolar z Òstrowów Salomona
Name[da]=Solomonøerne-dollar
Name[de]=Salomonen-Dollar
Name[en_GB]=Solomon Islands Dollar
Name[et]=Saalomoni saarte dollar
Name[is]=Salómonseyjadollari
Name[ja]=ソロモン諸島・ドル
Name[lv]=Solomonu salu dolārs
Name[nb]=Salomonøy-dollar
Name[nds]=Salomonen-Dollar
Name[pt]=Dólar das Ilhas Salomão
Name[sv]=Salomondollar
Name[uk]=Долар Соломонових островів
Name[x-test]=xxSolomon Islands Dollarxx
Name[zh_TW]=索羅門群島─元（Dollar）
CurrencyNameIso=Solomon Islands dollar
CurrencyUnitSymbols=$,SI$,SBD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=SI$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1977,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SB
