[Currency Code]
CurrencyCodeIsoAlpha3=SCR
CurrencyCodeIsoNumeric3=690
#Context for Name: Adjectival Country Name and Currency Name
Name=Seychellois Rupee
Name[bg]=Сейшелска рупия
Name[da]=Seychellisk rupee
Name[de]=Seychellen-Rupie
Name[en_GB]=Seychellois Rupee
Name[et]=Seišellide ruupia
Name[ja]=セーシェル・ルピー
Name[lv]=Seišeļu salu rūpija
Name[nb]=Seychellene-rupier
Name[nds]=Seychelleensch Rupje
Name[pt]=Rupia das Seychelles
Name[sv]=Seychelliska rupee
Name[uk]=Рупія Сейшельських островів
Name[x-test]=xxSeychellois Rupeexx
Name[zh_TW]=塞席爾─盧比（Rupee）
CurrencyNameIso=Seychelles rupee
CurrencyUnitSymbols=SR,SRe,SCR
CurrencyUnitSymbolDefault=SR
CurrencyUnitSymbolUnambiguous=SR
CurrencyUnitSingular=rupee
CurrencyUnitPlural=rupees
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1914,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SC
