[Currency Code]
CurrencyCodeIsoAlpha3=SDD
CurrencyCodeIsoNumeric3=810
#Context for Name: Adjectival Country Name and Currency Name
Name=Sudanese Dinar
Name[ar]=الدينار السوداني
Name[ast]=Dinar sudanés
Name[bg]=Судански динар
Name[bn]=সুদানি দিনার
Name[bs]=sudanski dinar
Name[ca]=Dinar de Sudan
Name[ca@valencia]=Dinar de Sudan
Name[cs]=Súdánský dinár
Name[csb]=Sudańsczi Dinar
Name[da]=Sudansk dinar
Name[de]=Sudanesischer Dinar
Name[el]=Δηνάριο Σουδάν
Name[en_GB]=Sudanese Dinar
Name[eo]=Sudana dinaro
Name[es]=Dinar sudanés
Name[et]=Sudaani dinaar
Name[eu]=Dinar sudandarra
Name[fa]=دینار سودان
Name[fi]=Sudanin dinaari
Name[fr]=Dinar soudanais
Name[fy]=Sudaneeske dinar
Name[ga]=Dinar na Súdáine
Name[gl]=Dinar sudanés
Name[gu]=સુદાનીઝ દિનાર
Name[he]=דינר סודני
Name[hi]=सूदानी दिनार
Name[hr]=Sudanski dinar
Name[hu]=Szudáni dínár
Name[ia]=Sudanese Dinar
Name[id]=Dinar Sudan
Name[is]=Súdanskur dínar
Name[it]=Dinaro sudanese
Name[ja]=スーダン・ディナール
Name[kk]=Судан динары
Name[km]=Sudanese Dinar
Name[kn]=ಸೂಡಾನೀಸ್ ದಿನಾರ್
Name[ko]=수단 디나르
Name[lt]=Sudano doleris
Name[lv]=Sudānas dinārs
Name[mk]=Судански динар
Name[ml]=സുധാനിലെ ദിനാര്‍
Name[mr]=सुदानीज दिनार
Name[nb]=Sudansk dinar
Name[nds]=Sudaneesch Dinaar
Name[nl]=Soedanese dinar
Name[nn]=Sudansk dinar
Name[pa]=ਸੁਡਾਨੀ ਦੀਨਾਰ
Name[pl]=Dinar sudański
Name[pt]=Dinar Sudanês
Name[pt_BR]=Dinar sudanês
Name[ro]=Dinar sudanez
Name[ru]=Суданский динар
Name[si]=සුඩාන ඩිනාර්
Name[sk]=Sudánsky dinár
Name[sl]=sudanski dinar
Name[sr]=судански динар
Name[sr@ijekavian]=судански динар
Name[sr@ijekavianlatin]=sudanski dinar
Name[sr@latin]=sudanski dinar
Name[sv]=Sudanesiska dinar
Name[tg]=Динори Судан
Name[th]=ดีนาร์ซูดาน
Name[tr]=Sudan Dinarı
Name[ug]=سۇدان دىنارى
Name[uk]=Суданський динар
Name[vi]=Dina Sudan
Name[wa]=Dinår soudanès
Name[x-test]=xxSudanese Dinarxx
Name[zh_CN]=苏丹第纳尔
Name[zh_TW]=蘇丹─第納爾（Dinar）
CurrencyNameIso=Sudanese dinar
CurrencyUnitSymbols=LSd,£Sd,SDD
CurrencyUnitSymbolDefault=LSd
CurrencyUnitSymbolUnambiguous=LSd
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinars
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1992,06,08
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2007,01,10
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
