[Currency Code]
CurrencyCodeIsoAlpha3=SDG
CurrencyCodeIsoNumeric3=938
#Context for Name: Adjectival Country Name and Currency Name
Name=Sudanese Pound
Name[ar]=الجنيه السوداني
Name[ast]=Llibra sudanesa
Name[bg]=Суданска лира
Name[bn]=সুদানি পাউন্ড
Name[bs]=sudanska funta
Name[ca]=Lliura de Sudan
Name[ca@valencia]=Lliura de Sudan
Name[cs]=Súdánská libra
Name[csb]=Sudańsczi Fùnt
Name[da]=Sudansk pund
Name[de]=Sudanesisches Pfund
Name[el]=Λίρα Σουδάν
Name[en_GB]=Sudanese Pound
Name[eo]=Sudana pundo
Name[es]=Libra sudanesa
Name[et]=Sudaani nael
Name[eu]=Libera sudandarra
Name[fa]=پوند سودان
Name[fi]=Sudanin punta
Name[fr]=Livre soudanaise
Name[fy]=Sudaneeske pûn
Name[ga]=Punt na Súdáine
Name[gl]=Libra sudanesa
Name[gu]=સુદાનીઝ પાઉન્ડ
Name[he]=לירה סודנית
Name[hi]=सूदानी पोंड
Name[hr]=Sudanska funta
Name[hu]=Szudáni font
Name[ia]=Sudanese Pound
Name[id]=Pound Sudan
Name[is]=Súdanskt pund
Name[it]=Sterlina sudanese
Name[ja]=スーダン・ポンド
Name[kk]=Судан фунты
Name[km]=Sudanese Pound
Name[kn]=ಸೂಡಾನೀಸ್ ಪೌಂಡ್
Name[ko]=수단 파운드
Name[lt]=Sudano svaras
Name[lv]=Sudānas mārciņa
Name[mk]=Суданска фунта
Name[ml]=സുഡാനിലെ പൌണ്ട്
Name[mr]=सुदानीज पाउंड
Name[nb]=Sudansk pund
Name[nds]=Sudaneesch Pund
Name[nl]=Sudanees pond
Name[nn]=Sudansk pund
Name[pa]=ਸੁਡਾਨੀ ਪੌਂਡ
Name[pl]=Funt sudański
Name[pt]=Libra Sudanesa
Name[pt_BR]=Libra sudanês
Name[ro]=Liră sudaneză
Name[ru]=Суданский фунт
Name[si]=සුඩාන පවුම්
Name[sk]=Sudánska libra
Name[sl]=sudanski funt
Name[sr]=суданска фунта
Name[sr@ijekavian]=суданска фунта
Name[sr@ijekavianlatin]=sudanska funta
Name[sr@latin]=sudanska funta
Name[sv]=Sudanesiska pund
Name[tg]=Фунти Судан
Name[th]=ปอนด์ซูดาน
Name[tr]=Sudan Poundu
Name[ug]=سۇدان پوندى
Name[uk]=Суданський фунт
Name[vi]=Bảng Sudan
Name[wa]=Live soudanesse
Name[x-test]=xxSudanese Poundxx
Name[zh_CN]=苏丹镑
Name[zh_TW]=蘇丹─鎊（Pound）
CurrencyNameIso=Sudanese pound
CurrencyUnitSymbols=SDG
CurrencyUnitSymbolDefault=SDG
CurrencyUnitSymbolUnambiguous=SDG
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=
CurrencySubunitSingular=piastre
CurrencySubunitPlural=piastres
CurrencyIntroducedDate=2007,01,10
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SD
