[Currency Code]
CurrencyCodeIsoAlpha3=SGD
CurrencyCodeIsoNumeric3=702
#Context for Name: Adjectival Country Name and Currency Name
Name=Singapore Dollar
Name[bg]=Сингапурски долар
Name[ca]=Dòlar de Singapur
Name[csb]=Singapùrsczi Dolar
Name[da]=Singaporeansk dollar
Name[de]=Singapur-Dollar
Name[en_GB]=Singapore Dollar
Name[eo]=Singapura dolaro
Name[et]=Singapuri dollar
Name[gu]=સિંગાપોર ડોલર
Name[ja]=シンガポール・ドル
Name[lv]=Singapūras dolārs
Name[nb]=Singapore-dollar
Name[nds]=Singapur-Dollar
Name[pt]=Dólar de Singapura
Name[sl]=singapurski dolar
Name[sv]=Singaporianska dollar
Name[uk]=Сингапурський долар
Name[x-test]=xxSingapore Dollarxx
Name[zh_TW]=新加坡─元（Dollar）
CurrencyNameIso=Singapore dollar
CurrencyUnitSymbols=$,S$,SGD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=S$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1967,04,07
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SG
