[Currency Code]
CurrencyCodeIsoAlpha3=SGD
CurrencyCodeIsoNumeric3=702
#Context for Name: Adjectival Country Name and Currency Name
Name=Singapore Dollar
Name[bg]=Сингапурски долар
Name[ca]=Dòlar de Singapur
Name[ca@valencia]=Dòlar de Singapur
Name[cs]=Singapůrský dolar
Name[csb]=Singapùrsczi Dolar
Name[da]=Singaporeansk dollar
Name[de]=Singapur-Dollar
Name[el]=Δολάριο Σινγκαπούρης
Name[en_GB]=Singapore Dollar
Name[eo]=Singapura dolaro
Name[es]=Dólar de Singapur
Name[et]=Singapuri dollar
Name[eu]=Singapurreko dolar
Name[fi]=Singaporen dollari
Name[fr]=Dollar de Singapour
Name[fy]=Singaporeeske dollar
Name[ga]=Dollar Singeapór
Name[gu]=સિંગાપોર ડોલર
Name[he]=דולר סינגפורי
Name[hi]=सिंगापोर डॉलर
Name[hr]=Singapurški dolar
Name[ia]=Singapore Dollar
Name[id]=Dollar Singapura
Name[it]=Dollaro di Singapore
Name[ja]=シンガポール・ドル
Name[kk]=Сингапур доллары
Name[km]=ដុល្លារ សិង្ហបុរី
Name[kn]=ಸಿಂಗಪೂರ್ ಡಾಲರ್
Name[ko]=싱가포르 달러
Name[lt]=Singapūro doleris
Name[lv]=Singapūras dolārs
Name[mk]=Сингапурски долар
Name[ml]=സിംഗപ്പൂരിലെ ഡോളര്‍
Name[nb]=Singapore-dollar
Name[nds]=Singapur-Dollar
Name[nl]=Singaporese dollar
Name[nn]=Singaporsk dollar
Name[pa]=ਸਿੰਘਾਪੁਰ ਡਾਲਰ
Name[pl]=Dolar singapurski
Name[pt]=Dólar de Singapura
Name[pt_BR]=Dólar cingapuriano
Name[ro]=Dolar singaporez
Name[ru]=Сингапурский доллар
Name[sk]=Singapurský dolár
Name[sl]=singapurski dolar
Name[sr]=сингапурски долар
Name[sr@ijekavian]=сингапурски долар
Name[sr@ijekavianlatin]=singapurski dolar
Name[sr@latin]=singapurski dolar
Name[sv]=Singaporianska dollar
Name[tg]=Сингапур
Name[th]=ดอลลาร์สิงคโปร์
Name[uk]=Сінгапурський долар
Name[x-test]=xxSingapore Dollarxx
Name[zh_CN]=新加坡元
Name[zh_TW]=新加坡─元（Dollar）
CurrencyNameIso=Singapore dollar
CurrencyUnitSymbols=$,S$,SGD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=S$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1967,04,07
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SG
