[Currency Code]
CurrencyCodeIsoAlpha3=SIT
CurrencyCodeIsoNumeric3=705
#Context for Name: Adjectival Country Name and Currency Name
Name=Slovenian Tolar
Name[bg]=Словенски толар
Name[ca]=Tolar eslovè
Name[ca@valencia]=Tolar eslovè
Name[cs]=Slovinský tolar
Name[csb]=Sloweńsczi Tolar
Name[da]=Slovensk tolar
Name[de]=Tolar
Name[el]=Σλοβένικο τόλαρ
Name[en_GB]=Slovenian Tolar
Name[es]=Tólar esloveno
Name[et]=Sloveenia tolar
Name[eu]=Esloveniako tolar
Name[fi]=Slovenian tolar
Name[fr]=Tolar slovène
Name[fy]=Sloveenske tolar
Name[ga]=Tolar na Slóivéine
Name[gu]=સ્લોવેનિઅન તોલાર
Name[he]=טולר סלובני
Name[hi]=स्लोवेनियाई तोलार
Name[hr]=Slovenski tolar
Name[ia]=Slovenian Tolar
Name[id]=Tolar Slovenia
Name[it]=Tallero sloveno
Name[ja]=スロベニア・トラール
Name[kk]=Словения толар
Name[km]=តូឡា​ស្លូវ៉ានី
Name[kn]=ಸ್ಲೊವೆನಿಯಾದ ಟೊಲಾರ್
Name[ko]=슬로베니아 톨라
Name[lt]=Slovėnijos taleris
Name[lv]=Slovēnijas tolars
Name[mk]=Словенски толар
Name[ml]=സ്ലോവേനിയയിലെ ടോളാര്‍
Name[nb]=Slovenske tolar
Name[nds]=Sloweensch Taler
Name[nl]=Sloveense tolar
Name[nn]=Slovensk tolar
Name[pl]=Tolar słoweński
Name[pt]=Tolar Esloveno
Name[pt_BR]=Tolar esloveno
Name[ro]=Taler sloven
Name[ru]=Словенский толар
Name[sk]=Slovinský toliar
Name[sl]=slovenski tolar
Name[sr]=словеначки толар
Name[sr@ijekavian]=словеначки толар
Name[sr@ijekavianlatin]=slovenački tolar
Name[sr@latin]=slovenački tolar
Name[sv]=Slovenska tolar
Name[tg]=Словения
Name[th]=ทอลาร์สโลวีเนีย
Name[uk]=Словенський толар
Name[x-test]=xxSlovenian Tolarxx
Name[zh_CN]=斯洛文尼亚拖拉
Name[zh_TW]=斯洛伐尼亞─托拉（Tolar）
CurrencyNameIso=Slovenian tolar
CurrencyUnitSymbols=
CurrencyUnitSymbolDefault=
CurrencyUnitSymbolUnambiguous=
CurrencyUnitSingular=tolar
CurrencyUnitPlural=tolarjev
CurrencySubunitSymbol=
CurrencySubunitSingular=stotin
CurrencySubunitPlural=stotinov
CurrencyIntroducedDate=1991,10,08
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2007,01,01
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
