[Currency Code]
CurrencyCodeIsoAlpha3=SIT
CurrencyCodeIsoNumeric3=705
#Context for Name: Adjectival Country Name and Currency Name
Name=Slovenian Tolar
Name[da]=Slovensk tolar
Name[de]=Tolar
Name[en_GB]=Slovenian Tolar
Name[et]=Sloveenia tolar
Name[ja]=スロベニア・トラール
Name[nb]=Slovenske tolar
Name[nds]=Sloweensch Taler
Name[pt]=Tolar Esloveno
Name[sv]=Slovenska tolar
Name[uk]=Словенський толар
Name[x-test]=xxSlovenian Tolarxx
CurrencyNameIso=Slovenian tolar
CurrencyUnitSymbols=
CurrencyUnitSymbolDefault=
CurrencyUnitSymbolUnambiguous=
CurrencyUnitSingular=tolar
CurrencyUnitPlural=tolarjev
CurrencySubunitSymbol=
CurrencySubunitSingular=stotin
CurrencySubunitPlural=stotinov
CurrencyIntroducedDate=1991,10,08
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2007,01,01
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
