[Currency Code]
CurrencyCodeIsoAlpha3=SRD
CurrencyCodeIsoNumeric3=968
#Context for Name: Adjectival Country Name and Currency Name
Name=Surinamese Dollar
Name[ar]=الدولار السورينامي
Name[ast]=Dólar surinamés
Name[bg]=Суринамски долар
Name[bn]=সুরিনাম ডলার
Name[bs]=surinamski dolar
Name[ca]=Dòlar de Surinam
Name[ca@valencia]=Dòlar de Surinam
Name[cs]=Surinamský dolar
Name[csb]=Surinamsczi Dolar
Name[da]=Surinamsk dollar
Name[de]=Suriname-Dollar
Name[el]=Δολάριο Σουρινάμ
Name[en_GB]=Surinamese Dollar
Name[eo]=Surinama dolaro
Name[es]=Dólar surinamés
Name[et]=Suriname dollar
Name[eu]=Dolar surinamdarra
Name[fa]=دلار سورینام
Name[fi]=Surinamin dollari
Name[fr]=Dollar surinamien
Name[fy]=Surinaamske dollar
Name[ga]=Dollar Saranam
Name[gl]=Dólar do Surinam
Name[gu]=સુરિનામીઝ ડોલર
Name[he]=דולר סורינאמי
Name[hi]=सूरीनाम डॉलर
Name[hr]=Surinamski dolar
Name[hu]=Suriname-i dollár
Name[ia]=Surinamese Dollar
Name[id]=Dolar Suriname
Name[is]=Súrínamdollari
Name[it]=Dollaro surinamese
Name[ja]=スリナム・ドル
Name[kk]=Суринам доллары
Name[km]=ដុល្លារ​ស៊ូរីណាមី
Name[kn]=ಸುರಿನಾಮ್‌ನ ಡಾಲರ್
Name[ko]=수리남 달러
Name[lt]=Surinamo doleris
Name[lv]=Surinamas dolārs
Name[mk]=Суринамски долар
Name[ml]=സുരിനാമിലെ ഡോളര്‍
Name[mr]=सुरीनामीज डॉलर
Name[nb]=Surinamsk dollar
Name[nds]=Surinameesch Dollar
Name[nl]=Surinaamse dollar
Name[nn]=Surinamsk dollar
Name[pa]=ਸੂਰੀਨਾਮੀ ਡਾਲਰ
Name[pl]=Dolar surinamski
Name[pt]=Dólar do Suriname
Name[pt_BR]=Dólar surinamês
Name[ro]=Dolar surinamez
Name[ru]=Суринамский доллар
Name[si]=සුරිනාමීස් ඩොලර්
Name[sk]=Surinamský dolár
Name[sl]=surinamski dolar
Name[sr]=суринамски долар
Name[sr@ijekavian]=суринамски долар
Name[sr@ijekavianlatin]=surinamski dolar
Name[sr@latin]=surinamski dolar
Name[sv]=Surinamesisk dollar
Name[tg]=Доллари Суринам
Name[th]=ดอลลาร์ซูรีนามิ
Name[tr]=Surinam Doları
Name[ug]=سۇرىنام دوللىرى
Name[uk]=Суринамський долар
Name[vi]=Đôla Suriname
Name[wa]=Dolår då Suriname
Name[x-test]=xxSurinamese Dollarxx
Name[zh_CN]=苏里南元
Name[zh_TW]=蘇利南─元（Dollar）
CurrencyNameIso=Surinam dollar
CurrencyUnitSymbols=$,SRD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=SRD
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=2004,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SR
