[Currency Code]
CurrencyCodeIsoAlpha3=SSP
#CurrencyCodeIsoNumeric3=
#Context for Name: Adjectival Country Name and Currency Name
Name=South Sudanese Pound
Name[ast]=Llibra sudanesa del sur
Name[bg]=Южносуданска лира
Name[bn]=দক্ষিণ সুদানি পাউন্ড
Name[bs]=Južnosudanska funta
Name[ca]=Lliura de Sudan del Sud
Name[ca@valencia]=Lliura de Sudan del Sud
Name[cs]=Jihosúdánská libra
Name[da]=Sydsudansk pund
Name[de]=Südsudanesisches Pfund
Name[el]=Λίρα Νοτίου Σουδάν
Name[eo]=Sudsudana pundo
Name[es]=Libra de Sudán del Sur
Name[et]=Lõuna-Sudaani nael
Name[eu]=Libera hegosudandarra
Name[fa]=پوند سودان جنوبی
Name[fi]=Etelä-Sudanin punta
Name[fr]=Livre sud-soudanaise
Name[ga]=Punt na Súdáine Theas
Name[gl]=Libra sur sudanesa
Name[gu]=દક્ષિણ સુદાનીઝ પાઉન્ડ
Name[hi]=दक्षणी सूदानी पाउंड
Name[hu]=Dél-szudáni font
Name[ia]=Pound Sud Sudanese
Name[id]=Pound Sudan Selatan
Name[is]=Suður-súdanskt pund
Name[it]=Sterlina sudsudanese
Name[ja]=南スーダン・ポンド
Name[kk]=Оңтүстік Судан фунты
Name[km]=South Sudanese Pound
Name[ko]=남수단 파운드
Name[lt]=Pietų Sudano svaras
Name[lv]=Dienvidsudānas mārciņa
Name[mr]=दक्षिण सुदानीज पाउंड
Name[nb]=Sør-sudansk pund
Name[nds]=Söödsudaneesch Pund
Name[nl]=Zuid-Soedanees pond
Name[nn]=Sørsudansk pund
Name[pa]=ਦੱਖਣੀ ਸੁਡਾਨੀ ਪੌਂਡ
Name[pl]=Południowo-sudański  funt
Name[pt]=Libra do Sudão do Sul
Name[pt_BR]=Libra do Sudão do Sul
Name[ro]=Liră sud-sudaneză
Name[ru]=Южносуданский фунт
Name[si]=දකුණු සුඩාන පවුම්
Name[sk]=Juhosudánska libra
Name[sl]=južnosudanski funt
Name[sr]=јужносуданска фунта
Name[sr@ijekavian]=јужносуданска фунта
Name[sr@ijekavianlatin]=južnosudanska funta
Name[sr@latin]=južnosudanska funta
Name[sv]=Sydsudanesiska pund
Name[tg]=Фунти Судани Ҷанубӣ
Name[tr]=South Sudanese Pound
Name[ug]=غەربىي سۇدان فوندستېرلىڭى
Name[uk]=Південносуданський фунт
Name[vi]=Bảng Nam Sudan
Name[wa]=Live soudanesse del nonne
Name[x-test]=xxSouth Sudanese Poundxx
Name[zh_CN]=南苏丹镑
Name[zh_TW]=南蘇丹─鎊（Pound）
CurrencyNameIso=South Sudanese pound
CurrencyUnitSymbols=SSP
CurrencyUnitSymbolDefault=SSP
CurrencyUnitSymbolUnambiguous=SSP
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=
CurrencySubunitSingular=piastre
CurrencySubunitPlural=piastres
CurrencyIntroducedDate=2007,01,10
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SS
