[Currency Code]
CurrencyCodeIsoAlpha3=STD
CurrencyCodeIsoNumeric3=678
#Context for Name: Adjectival Country Name and Currency Name
Name=São Tomé and Príncipe Dobra
Name[ca]=Dobra de Sao Tomé i Príncipe
Name[ca@valencia]=Dobra de Sao Tomé i Príncipe
Name[csb]=Dobra z Sao Tome ë Principe
Name[da]=São Tomé og Príncipe dobra
Name[de]=São-toméischer Dobra
Name[el]=Ντόμπρα Σάο Τομέ και Πρίνσιπε
Name[en_GB]=São Tomé and Príncipe Dobra
Name[es]=Dobra de Santo Tomé y Príncipe
Name[et]=São Tomé ja Príncipe dobra
Name[eu]=Sao Tome eta Principeko dobra
Name[fi]=São Tomén ja Príncipen dobra
Name[fr]=Dobra santoméen
Name[fy]=Sao Tome en Principe dobra
Name[gu]=સાઓ ટોમ અને પ્રિન્સપિ ડોબ્રા
Name[he]=דוברה של סאו טומה ופרינסיפה
Name[hi]=साओ टोम तथा प्रिंसिपी
Name[hr]=Dobra Sv. Tome i Principa
Name[id]=Dobra São Tomé dan Príncipe
Name[it]=Dobra di São Tomé e Príncipe
Name[ja]=サントメ・プリンシペ・ドブラ
Name[kk]=Сан-Томе және Принсипи добрасы
Name[kn]=ಸಾವೋ ಟೋಮ್ ಮತ್ತು ಪ್ರಿನ್ಸಿಪಿ ಡೋಬ್ರಾ
Name[ko]=상투메 프린시페 도브라
Name[ml]=സാവോ ടോമിലേം പ്രിന്‍സിപ്പിയിലേം ഡൊബ്ര
Name[nb]=São Tomé og Príncipe dobra
Name[nds]=Sao-Tomee-un-Principe-Dobra
Name[nl]=Sao Tomé en Principe dobra
Name[nn]=Saotomesisk dobra
Name[pl]=Dobra (São Tomé i Príncipe)
Name[pt]=Dobra de São Tomé e Príncipe
Name[sl]=dobra São Tomé and Príncipe
Name[sr]=саотомеипринципска добра
Name[sr@ijekavian]=саотомеипринципска добра
Name[sr@ijekavianlatin]=saotomeiprincipska dobra
Name[sr@latin]=saotomeiprincipska dobra
Name[sv]=São Tomé och Príncipe dobra
Name[uk]=Добра Сан-Томе і Принсипі
Name[x-test]=xxSão Tomé and Príncipe Dobraxx
Name[zh_CN]=圣多美和普林西比多布拉
Name[zh_TW]=聖多美及普林西比─多布拉（Dobra）
CurrencyNameIso=Dobra
CurrencyUnitSymbols=Db,STD
CurrencyUnitSymbolDefault=Db
CurrencyUnitSymbolUnambiguous=STD
CurrencyUnitSingular=dobra
CurrencyUnitPlural=dobras
CurrencySubunitSymbol=
CurrencySubunitSingular=centimo
CurrencySubunitPlural=centimos
CurrencyIntroducedDate=1977,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ST
