[Currency Code]
CurrencyCodeIsoAlpha3=STD
CurrencyCodeIsoNumeric3=678
#Context for Name: Adjectival Country Name and Currency Name
Name=São Tomé and Príncipe Dobra
Name[ca]=Dobra de Sao Tomé i Príncipe
Name[csb]=Dobra z Sao Tome ë Principe
Name[da]=Sao Tome og Principe dobra
Name[de]=São-toméischer Dobra
Name[en_GB]=São Tomé and Príncipe Dobra
Name[et]=São Tomé ja Príncipe dobra
Name[gu]=સાઓ ટોમ અને પ્રિન્સપિ ડોબ્રા
Name[ja]=サントメ・プリンシペ・ドブラ
Name[nb]=São Tomé og Príncipe dobra
Name[nds]=Sao-Tomee-un-Principe-Dobra
Name[pt]=Dobra de São Tomé e Príncipe
Name[sl]=dobra São Tomé and Príncipe
Name[sv]=São Tomé och Príncipe dobra
Name[uk]=Добра Сан-Томе і Принсипі
Name[x-test]=xxSão Tomé and Príncipe Dobraxx
Name[zh_TW]=聖多美及普林西比─多布拉（Dobra）
CurrencyNameIso=Dobra
CurrencyUnitSymbols=Db,STD
CurrencyUnitSymbolDefault=Db
CurrencyUnitSymbolUnambiguous=STD
CurrencyUnitSingular=dobra
CurrencyUnitPlural=dobras
CurrencySubunitSymbol=
CurrencySubunitSingular=centimo
CurrencySubunitPlural=centimos
CurrencyIntroducedDate=1977,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ST
