[Currency Code]
CurrencyCodeIsoAlpha3=STD
CurrencyCodeIsoNumeric3=678
#Context for Name: Adjectival Country Name and Currency Name
Name=São Tomé and Príncipe Dobra
Name[ar]=دوبرا ساو تومي وبرينسيبي
Name[ast]=Dobra de Santo Tomé y Príncipe
Name[bg]=Сао Томе и Принсипе добра
Name[bn]=সাও টোমে এবং প্রিন্সিপে ডোবরা
Name[bs]=saotomeiprincipska dobra
Name[ca]=Dobra de Sao Tomé i Príncipe
Name[ca@valencia]=Dobra de Sao Tomé i Príncipe
Name[cs]=Svatotomášská dobra
Name[csb]=Dobra z Sao Tome ë Principe
Name[da]=São Tomé og Príncipe dobra
Name[de]=São-toméischer Dobra
Name[el]=Ντόμπρα Σάο Τομέ και Πρίνσιπε
Name[en_GB]=São Tomé and Príncipe Dobra
Name[eo]=Saotomea dobro
Name[es]=Dobra de Santo Tomé y Príncipe
Name[et]=São Tomé ja Príncipe dobra
Name[eu]=Dobra saotometarra
Name[fa]=دوبرای سائوتومه و پرنسیپ
Name[fi]=São Tomén ja Príncipen dobra
Name[fr]=Dobra santoméen
Name[fy]=Sao Tome en Principe dobra
Name[ga]=Dobra São Tomé agus Príncipe
Name[gl]=Dobra de Santo Tomé e Príncipe
Name[gu]=સાઓ ટોમ અને પ્રિન્સપિ ડોબ્રા
Name[he]=דוברה של סאו טומה ופרינסיפה
Name[hi]=साओ टोम तथा प्रिंसिपी
Name[hr]=Dobra Sv. Tome i Principa
Name[hu]=São Tomé and Príncipe-i dobra
Name[ia]=San Tomé and Príncipe Dobra
Name[id]=Dobra São Tomé dan Príncipe
Name[is]=Saó Tóme og Prinsípeskt dobra
Name[it]=Dobra di São Tomé e Príncipe
Name[ja]=サントメ・プリンシペ・ドブラ
Name[kk]=Сан-Томе және Принсипи добрасы
Name[km]=ដូប្រា​សៅតូម និង​ព្រីនស៊ីព
Name[kn]=ಸಾವೋ ಟೋಮ್ ಮತ್ತು ಪ್ರಿನ್ಸಿಪಿ ಡೋಬ್ರಾ
Name[ko]=상투메 프린시페 도브라
Name[lt]=San Tomės ir Prinsipės dobra
Name[lv]=Santomes un Prinsipi dobra
Name[ml]=സാവോ ടോമിലേം പ്രിന്‍സിപ്പിയിലേം ഡൊബ്ര
Name[mr]=साओ टोम व प्रिंसिपी डोब्रा
Name[nb]=Saotomesisk dobra
Name[nds]=Sao-Tomee-un-Principe-Dobra
Name[nl]=Sao Tomé en Principe dobra
Name[nn]=Saotomesisk dobra
Name[pa]=ਸਾਓ ਟੋਮੀ ਤੇ ਪਰੀਸਿਪੀ ਡੋਬਰਾ
Name[pl]=Dobra (São Tomé i Príncipe)
Name[pt]=Dobra de São Tomé e Príncipe
Name[pt_BR]=Dobra são-tomense
Name[ro]=Dobra din Sao Tome și Principe
Name[ru]=Добра Сан-Томе и Принсипи
Name[si]=සැඕ ටොමේ සහ ප්‍රින්සිපේ ඩොබ්රා
Name[sk]=Svätotomášska dobra
Name[sl]=saotomejska dobra
Name[sr]=саотомеипринципска добра
Name[sr@ijekavian]=саотомеипринципска добра
Name[sr@ijekavianlatin]=saotomeiprincipska dobra
Name[sr@latin]=saotomeiprincipska dobra
Name[sv]=São Tomé och Príncipe dobra
Name[tg]=Добраи Сан-Томе ва Принсипи
Name[tr]=Sao Tome ve Principe Dobrası
Name[ug]=سان-تومې ۋە پىرىنسىپى دوبراسى
Name[uk]=Добра Сан-Томе і Принсипі
Name[vi]=São Tomé và Príncipe Dobra
Name[wa]=Dobra da São Tomé et Prince
Name[x-test]=xxSão Tomé and Príncipe Dobraxx
Name[zh_CN]=圣多美和普林西比多布拉
Name[zh_TW]=聖多美及普林西比─多布拉（Dobra）
CurrencyNameIso=Dobra
CurrencyUnitSymbols=Db,STD
CurrencyUnitSymbolDefault=Db
CurrencyUnitSymbolUnambiguous=STD
CurrencyUnitSingular=dobra
CurrencyUnitPlural=dobras
CurrencySubunitSymbol=
CurrencySubunitSingular=centimo
CurrencySubunitPlural=centimos
CurrencyIntroducedDate=1977,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ST
