[Currency Code]
CurrencyCodeIsoAlpha3=SVC
CurrencyCodeIsoNumeric3=222
#Context for Name: Adjectival Country Name and Currency Name
Name=Salvadoran Colon
Name[ca]=Colón salvadorenc
Name[ca@valencia]=Colón salvadorenc
Name[csb]=Salwadorsczi Colon
Name[da]=Salvadoransk colon
Name[de]=El-Salvador-Colón
Name[el]=Κόλον Σαλβαδόρ
Name[en_GB]=Salvadoran Colon
Name[es]=Colón salvadoreño
Name[et]=Salvadori colon
Name[eu]=El Salvadorreko colon
Name[fi]=El Salvadorin colon
Name[fr]=Colon salvadorien
Name[fy]=Salvadoraaske colon
Name[he]=קולון סלוואדורי
Name[hr]=Salvadorski kolon
Name[hu]=Salvadori colon
Name[id]=Colon Salvador
Name[it]=Colón salvadoregno
Name[ja]=エルサルバドル・コロン
Name[kk]=Сальвадор колоны
Name[km]=Salvadoran Colon
Name[kn]=ಸಾಲ್ವೊಡೊರಾನ್ ಕೊಲೊನ್
Name[ko]=살바도르 콜론
Name[ml]=സല്‍വാദോരണ്‍ കോളണ്‍
Name[nb]=Salvadoranske colon
Name[nds]=El-salvadoriaansch Colón
Name[nl]=Salvadoraanse colon
Name[nn]=Salvadoransk colon
Name[pl]=Colon salwadorski
Name[pt]=Colombo Salvadorenho
Name[pt_BR]=Colon salvadorenho
Name[ru]=Сальвадорский колон
Name[sk]=Salvádorský colón
Name[sl]=salvadorski kolon
Name[sr]=салвадорски колон
Name[sr@ijekavian]=салвадорски колон
Name[sr@ijekavianlatin]=salvadorski kolon
Name[sr@latin]=salvadorski kolon
Name[sv]=El Salvador-colon
Name[uk]=Сальвадорський колон
Name[wa]=Colon do Salvador
Name[x-test]=xxSalvadoran Colonxx
Name[zh_CN]=萨尔瓦多克朗
Name[zh_TW]=薩爾瓦多─科朗（Colon）
CurrencyNameIso=Salvadoran colon
CurrencyUnitSymbols=SVC
CurrencyUnitSymbolDefault=SVC
CurrencyUnitSymbolUnambiguous=SVC
CurrencyUnitSingular=colon
CurrencyUnitPlural=colonc
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1919,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,01,01
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
