[Currency Code]
CurrencyCodeIsoAlpha3=SYP
CurrencyCodeIsoNumeric3=760
#Context for Name: Adjectival Country Name and Currency Name
Name=Syrian Pound
Name[da]=Syrisk pund
Name[en_GB]=Syrian Pound
Name[ja]=シリア・ポンド
Name[nds]=Syrsch Pund
Name[pt]=Libra Síria
Name[sv]=Syriska pund
Name[uk]=Сирійський фунт
Name[x-test]=xxSyrian Poundxx
CurrencyNameIso=Syrian pound
CurrencyUnitSymbols=SYP
CurrencyUnitSymbolDefault=SYP
CurrencyUnitSymbolUnambiguous=SYP
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=
CurrencySubunitSingular=piastre
CurrencySubunitPlural=piastres
CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
