[Currency Code]
CurrencyCodeIsoAlpha3=SZL
CurrencyCodeIsoNumeric3=748
#Context for Name: Adjectival Country Name and Currency Name
Name=Swazi Lilangeni
Name[csb]=Suazijsczi Lilangeni
Name[da]=Swazi lilangeni
Name[de]=Lilangeni
Name[en_GB]=Swazi Lilangeni
Name[et]=Svaasimaa lilangeni
Name[ja]=スワジランド・リランゲニ
Name[nb]=Swazi Lilangeni
Name[nds]=Swasilannsch Lilangeni
Name[pt]=Lilangeni da Suazilândia
Name[sv]=Swaziland lilangeni
Name[uk]=Лілангені Свазіленду
Name[x-test]=xxSwazi Lilangenixx
Name[zh_TW]=史瓦濟蘭─里蘭吉尼（Lilangeni）
CurrencyNameIso=Lilangeni
CurrencyUnitSymbols=
CurrencyUnitSymbolDefault=
CurrencyUnitSymbolUnambiguous=
CurrencyUnitSingular=lilangeni
CurrencyUnitPlural=emalangeni
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1974,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SZ
