[Currency Code]
CurrencyCodeIsoAlpha3=THB
CurrencyCodeIsoNumeric3=764
#Context for Name: Adjectival Country Name and Currency Name
Name=Thai Baht
Name[csb]=Tajsczi Baht
Name[da]=Thailandsk baht
Name[de]=Baht
Name[en_GB]=Thai Baht
Name[et]=Tai baht
Name[ja]=タイ・バーツ
Name[lv]=Taizemes bats
Name[nb]=Thailandske baht
Name[nds]=T&hailannsch Baht
Name[pt]=Baht Tailandês
Name[sv]=Thailändska baht
Name[uk]=Тайський бат
Name[x-test]=xxThai Bahtxx
Name[zh_TW]=泰國─銖（Baht）
CurrencyNameIso=Baht
CurrencyUnitSymbols=฿,THB
CurrencyUnitSymbolDefault=฿
CurrencyUnitSymbolUnambiguous=฿
CurrencyUnitSingular=baht
CurrencyUnitPlural=baht
CurrencySubunitSymbol=
CurrencySubunitSingular=satang
CurrencySubunitPlural=satang
CurrencyIntroducedDate=1897,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TH
