[Currency Code]
CurrencyCodeIsoAlpha3=THB
CurrencyCodeIsoNumeric3=764
#Context for Name: Adjectival Country Name and Currency Name
Name=Thai Baht
CurrencyNameIso=Baht
CurrencyUnitSymbols=฿,THB
CurrencyUnitSymbolDefault=฿
CurrencyUnitSymbolUnambiguous=฿
CurrencyUnitSingular=baht
CurrencyUnitPlural=baht
CurrencySubunitSymbol=
CurrencySubunitSingular=satang
CurrencySubunitPlural=satang
CurrencyIntroducedDate=1897,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TH
