[Currency Code]
CurrencyCodeIsoAlpha3=TJS
CurrencyCodeIsoNumeric3=972
#Context for Name: Adjectival Country Name and Currency Name
Name=Tajikistani Somoni
Name[ar]=الساماني الطاجيكي
Name[ast]=Somoni taxiku
Name[bg]=Таджикистански сомони
Name[bn]=তাজিকিস্তানের সোমনি
Name[bs]=tadžikistanski somoni
Name[ca]=Somoni de Tadjikistan
Name[ca@valencia]=Somoni de Tadjikistan
Name[cs]=Tádžikistánský somoni
Name[csb]=Tadżykistónsczé Somoni
Name[da]=Tadsjikisk somoni
Name[de]=Somoni
Name[el]=Σομόνι Τατζικιστάν
Name[en_GB]=Tajikistani Somoni
Name[eo]=Taĝika somonio
Name[es]=Somoni tayiko
Name[et]=Tadžikistani somoni
Name[eu]=Somoni tajikistandarra
Name[fa]=سومونی تاجیکستان
Name[fi]=Tadžikistanin somoni
Name[fr]=Somoni tadjik
Name[fy]=Tadjikistaanske somoni
Name[ga]=Somoni na Táidsíceastáine
Name[gl]=Somoni do taxiquistán
Name[gu]=તાજીકિસ્તાની સોમાની
Name[he]=סומוני טג'יקיסטני
Name[hi]=ताजिकिस्तान सोमोनी
Name[hr]=Tadžikistanski somoni
Name[hu]=Tádzsik szomoni
Name[ia]=Tajikistani Somoni
Name[id]=Somoni Tajikistan
Name[is]=Tadsjikiskut somoni
Name[it]=Somoni tagico
Name[ja]=タジキスタン・ソモニ
Name[kk]=Тәжікстан сомониі
Name[km]=សូម៉ូនី តាហ្ស៊ីគីស្តង់
Name[kn]=ತಜಿಕಿಸ್ತಾನ್‌ನ ಸೊಮಾನಿ
Name[ko]=타지키스탄 소모니
Name[lt]=Tadžikijos somonis
Name[lv]=Tadžikistānas somoni
Name[ml]=താജികിസ്ഥാനിലെ സൊമോണി
Name[mr]=ताजीकिस्तानी सोमोनी
Name[nb]=Tadsjikisk somoni
Name[nds]=Tadschikisch Somoni
Name[nl]=Tadzjikistan somoni
Name[nn]=Tadsjikisk somoni
Name[pa]=ਤਜ਼ਾਕਸਤਾਨ ਸੋਮੋਨੀ
Name[pl]=Somoni tadżyckie
Name[pt]=Somoni do Tajiquistão
Name[pt_BR]=Somoni tajique
Name[ro]=Somoni Tadjikistan
Name[ru]=Таджикский сомони
Name[si]=ටජිකිස්තාන සොමොනි
Name[sk]=Tadžické somoni
Name[sl]=tadžikistanski somoni
Name[sr]=таџикистански сомони
Name[sr@ijekavian]=таџикистански сомони
Name[sr@ijekavianlatin]=tadžikistanski somoni
Name[sr@latin]=tadžikistanski somoni
Name[sv]=Tadzjikiska somoni
Name[tg]=Сомонии Тоҷикистон
Name[th]=โซโมนีทาจิกิสถาน
Name[tr]=Tacik Somonu
Name[ug]=تاجىكىستان سومونى
Name[uk]=Таджицький сомоні
Name[vi]=Somoni Tajikistan
Name[wa]=Somoni då Tadjikistan
Name[x-test]=xxTajikistani Somonixx
Name[zh_CN]=塔吉克斯坦索莫尼
Name[zh_TW]=塔吉克─索莫尼（Somoni）
CurrencyNameIso=Somoni
CurrencyUnitSymbols=TJS
CurrencyUnitSymbolDefault=TJS
CurrencyUnitSymbolUnambiguous=TJS
CurrencyUnitSingular=somoni
CurrencyUnitPlural=somoni
CurrencySubunitSymbol=
CurrencySubunitSingular=diram
CurrencySubunitPlural=diram
CurrencyIntroducedDate=2000,10,30
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TJ
