[Currency Code]
CurrencyCodeIsoAlpha3=TMM
CurrencyCodeIsoNumeric3=795
#Context for Name: Adjectival Country Name and Currency Name
Name=Turkmenistani Old Manat
Name[ca]=Manat antic del Turkmenistan
Name[ca@valencia]=Manat antic del Turkmenistan
Name[csb]=Turkmeństkô Stôrô Manta
Name[da]=Turkmensk gammel manat
Name[de]=Alter Manat von Turkmenistan
Name[el]=Παλαιό Μανάτ Τουρκμενιστάν
Name[en_GB]=Turkmenistani Old Manat
Name[et]=Türkmenistani vana manat
Name[fr]=Ancien manat turkmène
Name[fy]=Turkmenistaanske old manat
Name[he]=מאנאט ישן של טורקמניסטן
Name[hr]=Turkmenistanski stari manat
Name[id]=Manat Lama Turkmenistan
Name[ja]=旧トルクメニスタン・マナト
Name[kk]=Түрікменстан бұрыңғы манаты
Name[kn]=ತುರ್ಕಮೆನಿಸ್ತಾನ್‌ನ ಓಲ್ಡ್ ಮನಾಟ್
Name[ko]=투르크메니스탄 구 마나트
Name[ml]=തുര്‍ക്‌മേനിസ്ഥാനിലെ പഴയ മാനറ്റ്
Name[nb]=Turkmenistansle gamle Manat
Name[nds]=Turkmeensch ole Manat
Name[nl]=Turkmenistan oude manat
Name[pt]=Manat Antigo do Turquemenistão
Name[sl]=turkmenistanski stari manat
Name[sr]=туркменистански стари манат
Name[sr@ijekavian]=туркменистански стари манат
Name[sr@ijekavianlatin]=turkmenistanski stari manat
Name[sr@latin]=turkmenistanski stari manat
Name[sv]=Turkmenistansk gammal manat
Name[uk]=Туркменський старий манат
Name[x-test]=xxTurkmenistani Old Manatxx
Name[zh_CN]=旧土库曼斯坦马纳特
Name[zh_TW]=土庫曼─舊馬納特（Old Manat）
CurrencyNameIso=Turkmenistani manat
CurrencyUnitSymbols=m,TMM
CurrencyUnitSymbolDefault=m
CurrencyUnitSymbolUnambiguous=TMM
CurrencyUnitSingular=manat
CurrencyUnitPlural=manat
CurrencySubunitSymbol=
CurrencySubunitSingular=tennesi
CurrencySubunitPlural=tennesi
CurrencyIntroducedDate=1993,11,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2008,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
