[Currency Code]
CurrencyCodeIsoAlpha3=TND
CurrencyCodeIsoNumeric3=788
#Context for Name: Adjectival Country Name and Currency Name
Name=Tunisian Dinar
Name[ar]=الدينار التونسي
Name[ast]=Dinar tunecinu
Name[bg]=Тунизийски динар
Name[bn]=টিউনিসিয় দিনার
Name[bs]=tuniški dinar
Name[ca]=Dinar tunisià
Name[ca@valencia]=Dinar tunisià
Name[cs]=Tuniský dinár
Name[csb]=Tunezëjsczi Dinar
Name[da]=Tunesisk dinar
Name[de]=Tunesischer Dinar
Name[el]=Δηνάριο Τυνησίας
Name[en_GB]=Tunisian Dinar
Name[eo]=Tunizia dinaro
Name[es]=Dinar tunecino
Name[et]=Tuneesia dinaar
Name[eu]=Dinar tunisiarra
Name[fa]=دینار تونس
Name[fi]=Tunisian dinaari
Name[fr]=Dinar tunisien
Name[fy]=Tunesyske dinar
Name[ga]=Dinar na Túinéise
Name[gl]=Dinar tunisiano
Name[gu]=ટ્યુનિશિઅન દિનાર
Name[he]=דינר תוניסאי
Name[hi]=ट्यूनीशियाई दिनार
Name[hr]=Tuniski dinar
Name[hu]=Tunéziai dínár
Name[ia]=Tunisian Dinar
Name[id]=Dinar Tunisia
Name[is]=Túnískur dínar
Name[it]=Dinaro tunisino
Name[ja]=チュニジア・ディナール
Name[kk]=Тунис динары
Name[km]=ឌីណា ទុយណេស៊ី
Name[kn]=ಟುನಿಶಿಯಾದ ದಿನಾರ್
Name[ko]=튀니지 디나르
Name[lt]=Tuniso dinaras
Name[lv]=Tunisijas dinārs
Name[mk]=Туниски динар
Name[ml]=ടുണീഷ്യയിലെ ദിനാര്‍
Name[mr]=ट्युनीसीयन दिनार
Name[nb]=Tunisisk dinar
Name[nds]=Tuneesch Dinaar
Name[nl]=Tunesische dinar
Name[nn]=Tunisisk dinar
Name[pa]=ਟੁਨੀਸ਼ੀਆ ਦੀਨਾਰ
Name[pl]=Dinar tunezyjski
Name[pt]=Dinar Tunisino
Name[pt_BR]=Dinar tunisiano
Name[ro]=Dinar tunisian
Name[ru]=Тунисский динар
Name[si]=ටියුනීසියානු ඩිනාර්
Name[sk]=Tuniský dinár
Name[sl]=tunizijski dinar
Name[sr]=тунишки динар
Name[sr@ijekavian]=тунишки динар
Name[sr@ijekavianlatin]=tuniški dinar
Name[sr@latin]=tuniški dinar
Name[sv]=Tunisiska dinar
Name[tg]=Динори Тунис
Name[th]=ดีนาร์ตูนีเซีย
Name[tr]=Tunus Dinarı
Name[ug]=تۇنىس دىنارى
Name[uk]=Туніський динар
Name[vi]=Dinar Tunisia
Name[wa]=Dinar tunizyin
Name[x-test]=xxTunisian Dinarxx
Name[zh_CN]=突尼斯第纳尔
Name[zh_TW]=突尼西亞─第納爾（Dinar）
CurrencyNameIso=Tunisian dinar
CurrencyUnitSymbols=د.ت,DT,TND
CurrencyUnitSymbolDefault=د.ت
CurrencyUnitSymbolUnambiguous=د.ت
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=milim
CurrencySubunitPlural=milim
CurrencyIntroducedDate=1960,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=TN
