[Currency Code]
CurrencyCodeIsoAlpha3=TTD
CurrencyCodeIsoNumeric3=780
#Context for Name: Adjectival Country Name and Currency Name
Name=Trinidad and Tobago Dollar
Name[da]=Trinidadisk dollar
Name[en_GB]=Trinidad and Tobago Dollar
Name[ja]=トリニダード・トバゴ・ドル
Name[nds]=Trinidad-un-Tobago-Dollar
Name[pt]=Dólar de Trindade e Tobago
Name[sv]=Trinidad och Tobago-dollar
Name[uk]=Долар Тринідаду та Тобаго
Name[x-test]=xxTrinidad and Tobago Dollarxx
CurrencyNameIso=Trinidad and Tobago dollar
CurrencyUnitSymbols=$,TT$,TTD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=TT$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=¢
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1964,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TT
