[Currency Code]
CurrencyCodeIsoAlpha3=TWD
CurrencyCodeIsoNumeric3=901
#Context for Name: Adjectival Country Name and Currency Name
Name=New Taiwan Dollar
Name[ca]=Dòlar nou de Taiwan
Name[ca@valencia]=Dòlar nou de Taiwan
Name[csb]=Nowi Tajwańsczi Dolar
Name[da]=Ny taiwansk dollar
Name[de]=Neuer Taiwan-Dollar
Name[el]=Νέο δολάριο Ταϊβάν
Name[en_GB]=New Taiwan Dollar
Name[es]=Nuevo dólar taiwanés
Name[et]=Uus Taiwani dollar
Name[fr]=Nouveau dollar taïwanais
Name[fy]=Nije Taiwaneeske dollar
Name[gu]=નવો તાઈવાન ડોલર
Name[he]=דולר טיוואני חדש
Name[hr]=Novozelandski dolar
Name[id]=Dollar Taiwan Baru
Name[is]=Nýr tævanskur dollari
Name[ja]=新台湾ドル
Name[kk]=Тайванның жаңа доллары
Name[kn]=ನ್ಯೂ ತೈವಾನ್ ಡಾಲರ್
Name[ko]=신 대만 달러
Name[lv]=Jaunais Taivānas dolārs
Name[ml]=പുതിയ തായ്‌വാന്‍ ഡോളര്‍
Name[nb]=New Taiwan Dollar
Name[nds]=Nieg Taiwan-Dollar
Name[nl]=nieuwe Taiwanese dollar
Name[pa]=ਨਿਊ ਤਾਈਵਾਨ ਡਾਲਰ
Name[pt]=Novo Dólar de Taiwan
Name[sl]=novi tajvanski dolar
Name[sr]=тајвански нови долар
Name[sr@ijekavian]=тајвански нови долар
Name[sr@ijekavianlatin]=tajvanski novi dolar
Name[sr@latin]=tajvanski novi dolar
Name[sv]=Nya taiwanesiska dollar
Name[uk]=Новий тайванський долар
Name[x-test]=xxNew Taiwan Dollarxx
Name[zh_CN]=新台币
Name[zh_TW]=臺灣─新臺幣（NT Dollar）
CurrencyNameIso=New Taiwan dollar
CurrencyUnitSymbols=$,NT$,TWD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=NT$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1949,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TW
