[Currency Code]
CurrencyCodeIsoAlpha3=UAH
CurrencyCodeIsoNumeric3=980
#Context for Name: Adjectival Country Name and Currency Name
Name=Ukrainian Hryvnia
Name[ar]=الهريفنا الأوكرانية
Name[ast]=Grivna ucraniana
Name[bg]=Украинска гривна
Name[bn]=ইউক্রেনীয় হৃভনিয়া
Name[bs]=ukrajinska grivna
Name[ca]=Hrívnia d'Ucraïna
Name[ca@valencia]=Hrívnia d'Ucraïna
Name[cs]=Ukrajinská hřivna
Name[csb]=Ùkrajińskô Hrywna
Name[da]=Ukrainsk grynia
Name[de]=Hrywnja
Name[el]=Hryvnia Ουκρανίας
Name[en_GB]=Ukrainian Hryvnia
Name[eo]=Ukraina hrivno
Name[es]=Grivna ucraniana
Name[et]=Ukraina grivna
Name[eu]=Hrivnia ukrainarra
Name[fa]=هریونیای اکراینی
Name[fi]=Ukrainan hryvnja
Name[fr]=Hryvnia ukrainienne
Name[fy]=Ukrainyske hryvnia
Name[ga]=Hryvnia na hÚcráine
Name[gl]=Hryvnia ucraína
Name[gu]=યુક્રેનિયન હ્રુવિનિઆ
Name[he]=הרביניה אוקראינית
Name[hi]=उक्रेनी ह्रिवनिया
Name[hr]=Ukrajinska grivnja
Name[hu]=Ukrán hrivnya
Name[ia]=Ukrainian Hryvnia
Name[id]=Hryvnia Ukraina
Name[is]=Úkraínsk hryvnía
Name[it]=Grivnia ucraina
Name[ja]=ウクライナ・フリヴニャ
Name[kk]=Украина гривнасы
Name[km]=Ukrainian Hryvnia
Name[ko]=우크라이나 흐리브니아
Name[lt]=Ukrainos grivna
Name[lv]=Ukrainas grivna
Name[ml]=ഉക്രേനിലെ ഹ്രിവ്നിയ
Name[mr]=युक्रेनीयन ह्रिव्नीआ
Name[nb]=Ukrainsk hryvnia
Name[nds]=Ukrainsch Griwnja
Name[nl]=Oekraïense grivna
Name[nn]=Ukrainsk hryvnia
Name[pa]=ਯੂਕਰੇਨੀ ਹਰਵਨੀਆ
Name[pl]=Hrywna ukraińska
Name[pt]=Hryvnia Ucraniano
Name[pt_BR]=Hryvnia ucraniano
Name[ro]=Hrivnă ucraineană
Name[ru]=Украинская гривна
Name[si]=යුක්රේනියන් හර්ව්නියා
Name[sk]=Ukrajinská hryvna
Name[sl]=ukrajinska hrivnija
Name[sr]=украјинска гривна
Name[sr@ijekavian]=украјинска гривна
Name[sr@ijekavianlatin]=ukrajinska grivna
Name[sr@latin]=ukrajinska grivna
Name[sv]=Ukrainska hryvnja
Name[tg]=Гривнаи Украина
Name[th]=ฮริฟเนียยูเครน
Name[tr]=Ukrayna Grivnası
Name[ug]=ئۇكرائىنا گرىۋناسى
Name[uk]=Українська гривня
Name[vi]=Hryvnia Ukraine
Name[wa]=Hryvnia oucrinnyinne
Name[x-test]=xxUkrainian Hryvniaxx
Name[zh_CN]=乌克兰赫夫米
Name[zh_TW]=烏克蘭─格里夫納（Hryvnia）
CurrencyNameIso=Hryvnia
CurrencyUnitSymbols=₴,UAH
CurrencyUnitSymbolDefault=₴
CurrencyUnitSymbolUnambiguous=₴
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1996,09,02
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=UA
