[Currency Code]
CurrencyCodeIsoAlpha3=UAH
CurrencyCodeIsoNumeric3=980
#Context for Name: Adjectival Country Name and Currency Name
Name=Ukrainian Hryvnia
Name[da]=Ukrainsk grynia
Name[de]=Hrywnja
Name[en_GB]=Ukrainian Hryvnia
Name[et]=Ukraina grivna
Name[ja]=ウクライナ・フリヴニャ
Name[lv]=Ukrainas grivna
Name[nb]=Ukrainske hryvnia
Name[nds]=Ukrainsch Griwnja
Name[pt]=Hryvnia Ucraniano
Name[sv]=Ukrainska hryvnja
Name[uk]=Українська гривня
Name[x-test]=xxUkrainian Hryvniaxx
Name[zh_TW]=烏克蘭─格里夫納（Hryvnia）
CurrencyNameIso=Hryvnia
CurrencyUnitSymbols=₴,UAH
CurrencyUnitSymbolDefault=₴
CurrencyUnitSymbolUnambiguous=₴
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1996,09,02
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=UA
