[Currency Code]
CurrencyCodeIsoAlpha3=VEF
CurrencyCodeIsoNumeric3=937
#Context for Name: Adjectival Country Name and Currency Name
Name=Venezuelan Bolívar Fuerte
Name[ca]=Bolívar fort de Veneçuela
Name[da]=Venezuelansk bolivar fuerte
Name[de]=Venezolanischer Bolívar
Name[en_GB]=Venezuelan Bolívar Fuerte
Name[et]=Venezuela Bolívar Fuerte
Name[ja]=ベネズエラ・ボリバル
Name[nb]=Venezuelanske Bolivar Fuerte
Name[nds]=Venezolaansch Bolivar Fuerte
Name[pt]=Bolivar Forte Venezuelano
Name[sl]=venezuelski bolivar
Name[sv]=Venezuelanska bolivar
Name[uk]=Венесуельський Bolívar Fuerte
Name[x-test]=xxVenezuelan Bolívar Fuertexx
Name[zh_TW]=委內瑞拉─玻利瓦爾（Bolivar Fuerte）
CurrencyNameIso=Venezuelan bolívar fuerte
CurrencyUnitSymbols=Bs. F,VEF
CurrencyUnitSymbolDefault=Bs. F
CurrencyUnitSymbolUnambiguous=Bs. F
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=2008,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=VE
