[Currency Code]
CurrencyCodeIsoAlpha3=VND
CurrencyCodeIsoNumeric3=704
#Context for Name: Adjectival Country Name and Currency Name
Name=Vietnamese Dong
Name[ar]=الدونغ الفيتنامي
Name[ast]=Dong vietnamés
Name[bg]=Виетнамски донг
Name[bn]=ভিয়েতনামের ডং
Name[bs]=vijetnamski dong
Name[ca]=Dong de Vietnam
Name[ca@valencia]=Dong de Vietnam
Name[cs]=Vietnamský dong
Name[csb]=Wietnamsczo Dong
Name[da]=Vietnamesisk dong
Name[de]=Đồng
Name[el]=Ντονγκ Βιετνάμ
Name[en_GB]=Vietnamese Dong
Name[eo]=Vjetnama dongo
Name[es]=Dong vietnamita
Name[et]=Vietnami dong
Name[eu]=Dong vietnamdarra
Name[fa]=دونگ ویتنام
Name[fi]=Vietnamin dong
Name[fr]=Dong vietnamien
Name[fy]=Fiëtnameeske dong
Name[ga]=Dong Vítneamach
Name[gl]=Dong vietnamita
Name[gu]=વિએતનામીઝ ડોંગ
Name[he]=דונג וייטנאמי
Name[hi]=विएतनाम दोंग
Name[hr]=Vijetnamski dong
Name[hu]=Vietnami dong
Name[ia]=Vietnamese Dong
Name[id]=Dong Vietnam
Name[is]=Víetnamskt dong
Name[it]=Đồng vietnamita
Name[ja]=ベトナム・ドン
Name[kk]=Вьетнам донгы
Name[km]=ដុង​វៀតណាម
Name[kn]=ವಿಯೆಟ್ನಾಮ್‌ನ ಡಾಂಗ್
Name[ko]=베트남 동
Name[lt]=Vietnamo dongas
Name[lv]=Vjetnamas dongs
Name[mk]=Виетнамски донг
Name[ml]=വിയറ്റ്നാമിലെ ഡോങ്
Name[mr]=वियेतनामीज डोंग
Name[nb]=Vietnamesisk dong
Name[nds]=Vietnameesch Dong
Name[nl]=Vietnamese dong
Name[nn]=Vietnamesisk dong
Name[pa]=ਵੀਅਤਨਾਮ ਡੌਂਗ
Name[pl]=Dong wietnamski
Name[pt]=Dong Vietnamita
Name[pt_BR]=Dong vietnamita
Name[ro]=Dong vietnamez
Name[ru]=Вьетнамский донг
Name[si]=වියට්නාම ඩොන්ග්
Name[sk]=Vietnamský dong
Name[sl]=vietnamski dong
Name[sr]=вијетнамски донг
Name[sr@ijekavian]=вијетнамски донг
Name[sr@ijekavianlatin]=vijetnamski dong
Name[sr@latin]=vijetnamski dong
Name[sv]=Vietnamesiska dong
Name[tg]=Донги Виетнам
Name[th]=ดองเวียดนาม
Name[tr]=Vietnam Dongu
Name[ug]=ۋىيېتنام دوڭى
Name[uk]=В’єтнамський донг
Name[vi]=Đồng Việt Nam
Name[wa]=Dong vietnamyin
Name[x-test]=xxVietnamese Dongxx
Name[zh_CN]=越南盾
Name[zh_TW]=越南─盾（Dong）
CurrencyNameIso=Vietnamese đồng
CurrencyUnitSymbols=₫,VND
CurrencyUnitSymbolDefault=₫
CurrencyUnitSymbolUnambiguous=₫
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1978,05,03
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=VN
