[Currency Code]
CurrencyCodeIsoAlpha3=WST
CurrencyCodeIsoNumeric3=882
#Context for Name: Adjectival Country Name and Currency Name
Name=Samoan Tala
Name[ar]=التالا الساموائية
Name[ast]=Tala de Samoa
Name[bg]=Самоанска тала
Name[bn]=সামোয়ার টালা
Name[bs]=samoanska tala
Name[ca]=Tala de Samoa
Name[ca@valencia]=Tala de Samoa
Name[cs]=Samojská Tala
Name[csb]=Samoańskô Tala
Name[da]=Samoansk tala
Name[de]=Samoanischer Tala
Name[el]=Τάλα Σαμόας 
Name[en_GB]=Samoan Tala
Name[eo]=Samoa talao
Name[es]=Tala de Samoa
Name[et]=Samoa tala
Name[eu]=Tala samoarra
Name[fa]=تالا ساموآیی
Name[fi]=Samoan tala
Name[fr]=Tala samoan
Name[fy]=Samoaanske tala
Name[ga]=Tala Samóch
Name[gl]=Tala samoana
Name[gu]=સામોઆન તાલા
Name[he]=טאלה של סמואה
Name[hi]=सामोआ ताला
Name[hr]=Samoanska tala
Name[hu]=Szamoai tala
Name[ia]=Samoan Tala
Name[id]=Tala Samoa
Name[is]=Samóskt tala
Name[it]=Tala samoano
Name[ja]=サモア・タラ
Name[kk]=Самоа таласы
Name[km]=តាឡា​សាមូអា
Name[kn]=ಸಮೊವದ ಟಾಲಾ
Name[ko]=사모아 제도 탈라
Name[lt]=Samoa tala
Name[lv]=Samoas tala
Name[ml]=സമോവയിലെ ടല
Name[mr]=सामोअन टाला
Name[nb]=Samoansk tala
Name[nds]=Samoaansch Tala
Name[nl]=Samoaanse tala
Name[nn]=Samoansk tala
Name[pa]=ਸਾਮੋਆਨ ਟਾਲਾ
Name[pl]=Tala samoańskie
Name[pt]=Tala Samoano
Name[pt_BR]=Tala samoano
Name[ro]=Tala Samoa
Name[ru]=Самоанская тала
Name[si]=සමොඅන් ටාලා
Name[sk]=Samojská tala
Name[sl]=samojska tala
Name[sr]=самоанска тала
Name[sr@ijekavian]=самоанска тала
Name[sr@ijekavianlatin]=samoanska tala
Name[sr@latin]=samoanska tala
Name[sv]=Samoaniska tala
Name[tg]=Талаи Самоа
Name[tr]=Samoa Talası
Name[ug]=ساموئا تالاسى
Name[uk]=Самоанська тала
Name[vi]=Tala Samoa
Name[wa]=Tala samowan
Name[x-test]=xxSamoan Talaxx
Name[zh_CN]=萨摩亚塔拉
Name[zh_TW]=薩摩牙─˙塔拉（Tala）
CurrencyNameIso=Samoan tala
CurrencyUnitSymbols=WS$,SAT,ST,T,WST
CurrencyUnitSymbolDefault=WS$
CurrencyUnitSymbolUnambiguous=WS$
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1967,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=WS
