[Currency Code]
CurrencyCodeIsoAlpha3=XAF
CurrencyCodeIsoNumeric3=950
#Context for Name: Adjectival Country Name and Currency Name
Name=Central African CFA Franc
Name[ar]=الفرنك الوسط أفريقي
Name[ast]=Francu CFA de la República Centroafricana
Name[bg]=Централноафрикански CFA франк
Name[bn]=মধ্য আফ্রিকান CFA ফ্রাঙ্ক
Name[bs]=centralnoafrički CFA franak
Name[ca]=Franc CFA d'Àfrica Central
Name[ca@valencia]=Franc CFA d'Àfrica Central
Name[cs]=Středoadoafrický CFA frank
Name[csb]=Westrzódno Afrikańsczi Frank
Name[da]=Centralafrikansk CFA-franc
Name[de]=CFA-Franc BEAC
Name[el]=Φράγκο Δημοκρατίας Κεντρικής Αφρικής
Name[en_GB]=Central African CFA Franc
Name[eo]=Centrafrika CFA-franko
Name[es]=Franco CFA de la República Centroafricana
Name[et]=Kesk-Aafrika CFA frank
Name[eu]=Afrika Erdiko Errepublikako CFA frankoa
Name[fa]=فرانک CFA آفریقای مرکزی
Name[fi]=Keski-Afrikan tasavallan CFA frangi
Name[fr]=Franc CFA centrafricain
Name[fy]=Sintraal Afrikaanske CFA frank
Name[ga]=Franc Phoblacht na hAfraice Láir
Name[gl]=Franco CFA centroafricano
Name[gu]=સેન્ટ્રલ આફિક્રન CFA ફ્રાન્ક
Name[he]=פרנק של מרכז אפריקה (CFA)
Name[hi]=सेंट्रल अफ्रीकन CFA फ्रांक
Name[hr]=CFA Franak Centralne Afrike
Name[hu]=Közép-afrikai CFA frank
Name[ia]=CFA Franc de Africa Central
Name[id]=Franc CFA Afrika Tengah
Name[is]=Mið-Afríkulýðveldis CFA franki
Name[it]=Franco CFA dell'Africa centrale
Name[ja]=中部アフリカ CFA フラン
Name[kk]=Орталық Африка CFA франкі
Name[km]=សាធារណរដ្ឋ​អាហ្វ្រិក​កណ្ដាល CFA
Name[kn]=ಮಧ್ಯ ಆಫ್ರಿಕಾದ CFA ಫ್ರಾಂಕ್
Name[ko]=중앙 아프리카 CFA 프랑
Name[lt]=Centrinės Afrikos Respublikos frankas
Name[lv]=Centrālāfrikas CFA franks
Name[ml]=സെന്‍ട്രല്‍ ആഫ്രിക്കന്‍ സിഎഫ്എയിലെ ഫ്രാങ്ക്
Name[mr]=केंद्रीय आफ्रिकी CFA फ्रांक
Name[nb]=Sentralafrikansk CFA-franc
Name[nds]=Zentraalafrikaansch CFA-Franc
Name[nl]=Centraal Afrikaanse CFA-frank
Name[nn]=Sentralafrikansk CFA-franc
Name[pa]=ਕੇਂਦਰੀ ਅਫਰੀਕੀ ਸੀਐਫਏ ਫਰੈਂਕ
Name[pl]=Frank środkowoafrykański
Name[pt]=Franco da República Central Africana
Name[pt_BR]=Franco da CFA central
Name[ro]=CFA Franc Africa Centrală
Name[ru]=Центральноафриканский франк КФА
Name[si]=මධ්‍යම අප්‍රිකානු CFA ෆ්‍රෑන්ක්
Name[sk]=Stredoafrický frank CFA
Name[sl]=frank CFA (srednjeafriški)
Name[sr]=централноафрички ЦФА франак
Name[sr@ijekavian]=централноафрички ЦФА франак
Name[sr@ijekavianlatin]=centralnoafrički CFA franak
Name[sr@latin]=centralnoafrički CFA franak
Name[sv]=Centralafrikanska CFA-franc
Name[tg]=Франки Ҷумҳурии Африкои Марказӣ
Name[th]=ฟรังก์สาธารณรัฐแอฟริกากลาง
Name[tr]=Orta Afrika Mali İşbirliği Frankı
Name[ug]=ئوتتۇرا ئافرىقا فرانكى
Name[uk]=Центрально-африканський франк CFA
Name[vi]=Frăng CFA Trung Phi
Name[wa]=Franc CFA cintrafrikin
Name[x-test]=xxCentral African CFA Francxx
Name[zh_CN]=中非法郎
Name[zh_TW]=中非共和國─CFA 法郎（CFA Franc）
CurrencyNameIso=CFA franc BEAC
CurrencyUnitSymbols=FCFA,XAF
CurrencyUnitSymbolDefault=FCFA
CurrencyUnitSymbolUnambiguous=FCFA
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1945,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CM,CF,CG,TD,GQ,GA
