[Currency Code]
CurrencyCodeIsoAlpha3=XOF
CurrencyCodeIsoNumeric3=952
#Context for Name: Adjectival Country Name and Currency Name
Name=West African CFA Franc
Name[ca]=Franc CFA de l'Àfrica Occidental
Name[ca@valencia]=Franc CFA de l'Àfrica Occidental
Name[csb]=Zôpadno Afrikańsczi Frank
Name[da]=Vestafrikansk CFA franc
Name[de]=CFA-Franc BCEAO
Name[el]=Φράγκο Δημοκρατίας Κεντρικής Αφρικής
Name[en_GB]=West African CFA Franc
Name[eo]=Okcidenta afrika CFA franko
Name[es]=Franco CFA de África Occidental
Name[et]=Lääne-Aafrika CFA frank
Name[eu]=Mendebaldeko Afrikako CFA libera
Name[fi]=Länsi-Afrikan CFA frangi
Name[fr]=Franc CFA ouest-africain
Name[fy]=West Afrikaanske CFA frank
Name[gu]=પશ્ચિમ આફ્રિકન CFA ફ્રાન્ક
Name[he]=West African CFA Franc
Name[hr]=Zapadno afrički CFA frank
Name[id]=CFA Franc Afrika Barat
Name[is]=Vestur-afrískur CFA franki
Name[it]=Franco CFA dell'africa occidentale
Name[ja]=西部アフリカ CFA フラン
Name[kk]=Батыс Африка CFA франкі
Name[km]=West African CFA Franc
Name[kn]=ಪಶ್ಚಿಮ ಆಫ್ರಿಕನ್ CFA ಫ್ರಾಂಕ್
Name[ko]=서 아프리카 CFA 프랑
Name[ml]=പശ്ചിമ ആഫ്രിക്കന്‍ സിഎഫ്എ ഫ്രാങ്ക്
Name[nb]=Vestafrikanske CFA-.franc
Name[nds]=Westafrikaansch CFA-Franc
Name[nl]=West Afrikaanse CFA-frank
Name[nn]=Vestafrikansk CFA-franc
Name[pl]=Frank zachodnioafrykański CFA
Name[pt]=Franco AFC da África Ocidental
Name[pt_BR]=Franco CFA ocidental
Name[sk]=Západoafrický frank CFA
Name[sl]=CFA frank BCEAO
Name[sr]=западноафрички ЦФА франак
Name[sr@ijekavian]=западноафрички ЦФА франак
Name[sr@ijekavianlatin]=zapadnoafrički CFA franak
Name[sr@latin]=zapadnoafrički CFA franak
Name[sv]=Västafrikanska CFA-franc
Name[uk]=Західно-африканський франк CFA
Name[x-test]=xxWest African CFA Francxx
Name[zh_CN]=西非法郎
Name[zh_TW]=西非─CFA 法郎（CFA Franc）
CurrencyNameIso=CFA Franc BCEAO
CurrencyUnitSymbols=CFA,XOF
CurrencyUnitSymbolDefault=CFA
CurrencyUnitSymbolUnambiguous=CFA
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1945,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BJ,BF,CI,GW,ML,NE,SN,TG

