[Currency Code]
CurrencyCodeIsoAlpha3=XPF
CurrencyCodeIsoNumeric3=953
#Context for Name: Adjectival Country Name and Currency Name
Name=CFP Franc
CurrencyNameIso=CFP franc
CurrencyUnitSymbols=F,XPF
CurrencyUnitSymbolDefault=F
CurrencyUnitSymbolUnambiguous=XPF
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1945,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PF,NC,WF

