[Currency Code]
CurrencyCodeIsoAlpha3=XPF
CurrencyCodeIsoNumeric3=953
#Context for Name: Adjectival Country Name and Currency Name
Name=CFP Franc
Name[csb]=CFP Frank
Name[da]=CFP franc
Name[de]=CFP Franc
Name[en_GB]=CFP Franc
Name[et]=CFP frank
Name[is]=CFP franki
Name[ja]=CFP フラン
Name[nb]=CFP Franc
Name[nds]=CFP-Franc
Name[pt]=Franco do CFP
Name[sv]=CFP-franc
Name[uk]=Франк CFP
Name[x-test]=xxCFP Francxx
Name[zh_TW]=CFP 法郎（CFP Franc）
CurrencyNameIso=CFP franc
CurrencyUnitSymbols=F,XPF
CurrencyUnitSymbolDefault=F
CurrencyUnitSymbolUnambiguous=XPF
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1945,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PF,NC,WF

