[Currency Code]
CurrencyCodeIsoAlpha3=YER
CurrencyCodeIsoNumeric3=886
#Context for Name: Adjectival Country Name and Currency Name
Name=Yemeni Rial
Name[ar]=الريال اليمني
Name[ast]=Rial yemení
Name[bg]=Йеменски риал
Name[bn]=ইয়েমেনের রিয়াল
Name[bs]=jemenski rijal
Name[ca]=Rial iemenita
Name[ca@valencia]=Rial iemenita
Name[cs]=Jemenský rial
Name[csb]=Jemeńsczi Rial
Name[da]=Yemenitisk rial
Name[de]=Jemen-Rial
Name[el]=Ριάλ Υεμένης
Name[en_GB]=Yemeni Rial
Name[eo]=Jemena rialo
Name[es]=Rial yemení
Name[et]=Jeemeni riaal
Name[eu]=Riyal yemendarra
Name[fa]=ریال یمنی
Name[fi]=Jemenin rial
Name[fr]=Rial yéménite
Name[fy]=Jemenityske rial
Name[ga]=Rial na hÉimine
Name[gl]=Rial do Iemen
Name[gu]=યમની રીઆલ
Name[he]=ריאל תימני
Name[hi]=यमनी रियाल
Name[hr]=Jemenski rijal
Name[hu]=Jemeni rial
Name[ia]=Yemeni Rial
Name[id]=Rial Yemeni
Name[is]=Jemenskur ríal
Name[it]=Riyal yemenita
Name[ja]=イエメン・リアル
Name[kk]=Йемен риалы
Name[km]=រៀល​យេមែន
Name[kn]=ಯೆಮನ್‌ನ ರಿಯಾಲ್
Name[ko]=예멘 리알
Name[lt]=Jemeno rialas
Name[lv]=Jemena reāls
Name[ml]=യെമനിലെ റിയാല്‍
Name[mr]=यमनी रिआल
Name[nb]=Jemenittisk rial
Name[nds]=Jemeensch Rial
Name[nl]=Jemenitische rial
Name[nn]=Jemenittisk rial
Name[pa]=ਯਮਨ ਰਿਆਲ
Name[pl]=Rial jemeński
Name[pt]=Rial do Iémen
Name[pt_BR]=Rial iemenita
Name[ro]=Rial Yemen
Name[ru]=Йеменский риал
Name[si]=යේමන රියාල්
Name[sk]=Jemenský rial
Name[sl]=jemenski rial
Name[sr]=јеменски ријал
Name[sr@ijekavian]=јеменски ријал
Name[sr@ijekavianlatin]=jemenski rijal
Name[sr@latin]=jemenski rijal
Name[sv]=Yemenitiska rial
Name[tg]=Риёли Яман
Name[th]=เรียลเยเมน
Name[tr]=Yemen Riyali
Name[ug]=يەمەن رىيالى
Name[uk]=Єменський ріал
Name[vi]=Rial Yemeni
Name[wa]=Rial yemenite
Name[x-test]=xxYemeni Rialxx
Name[zh_CN]=也门里亚尔
Name[zh_TW]=葉門─里亞爾（Rial）
CurrencyNameIso=Yemeni rial
CurrencyUnitSymbols=YER
CurrencyUnitSymbolDefault=YER
CurrencyUnitSymbolUnambiguous=YER
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1990,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=YE
