[Currency Code]
CurrencyCodeIsoAlpha3=YER
CurrencyCodeIsoNumeric3=886
#Context for Name: Adjectival Country Name and Currency Name
Name=Yemeni Rial
Name[en_GB]=Yemeni Rial
Name[ja]=イエメン・リアル
Name[sv]=Yemenitiska rial
Name[uk]=Єменський ріал
Name[x-test]=xxYemeni Rialxx
CurrencyNameIso=Yemeni rial
CurrencyUnitSymbols=YER
CurrencyUnitSymbolDefault=YER
CurrencyUnitSymbolUnambiguous=YER
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1990,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=YE
