[Currency Code]
CurrencyCodeIsoAlpha3=ZWL
CurrencyCodeIsoNumeric3=932
#Context for Name: Adjectival Country Name and Currency Name
Name=Zimbabwean Dollar
Name[ar]=الدولار الزمبابويّ
Name[ast]=Dólar zimbabuense
Name[bg]=Зимбабвийски долар
Name[bn]=জিম্বাবোয়ের ডলার
Name[bs]=zimbabveanski dolar
Name[ca]=Dòlar de Zimbabwe
Name[ca@valencia]=Dòlar de Zimbabwe
Name[cs]=Zimbabwský dolar
Name[csb]=Zimbawijsczi Dolar
Name[da]=Zimbabwisk dollar
Name[de]=Simbabwe-Dollar
Name[el]=Δολάριο Ζιμπάμπουε
Name[en_GB]=Zimbabwean Dollar
Name[eo]=Zimbabva dolaro
Name[es]=Dólar zimbabuense
Name[et]=Zimbabwe dollar
Name[eu]=Dolar zimbabwetarra
Name[fa]=دلار زیمبابوه
Name[fi]=Zimbabwen dollari
Name[fr]=Dollar zimbabwéen
Name[fy]=Zimbabwyske dollar
Name[ga]=Dollar na Siombáibe
Name[gl]=Dólar cimbabués
Name[gu]=ઝીમ્બાબવિઅન ડોલર
Name[he]=דולר זימבבואי
Name[hi]=जिम्बाबवे डॉलर
Name[hr]=Zimbabveski dolar
Name[hu]=Zimbabwei dollár
Name[ia]=Zimbabwean Dollar
Name[id]=Dollar Zimbabwe
Name[is]=Simbabve dollari
Name[it]=Dollaro zimbabwiano
Name[ja]=ジンバブエ・ドル
Name[kk]=Зимбабве доллары
Name[km]=ដុល្លារ​ហ្ស៊ីមបាវ៉េ
Name[kn]=ಝಿಂಬಾಬ್ವೆಯ ಡಾಲರ್
Name[ko]=짐바브웨 달러
Name[lt]=Zimbabvės doleris
Name[lv]=Zimbabves dolārs
Name[mk]=Зимбабвешки долар
Name[ml]=സിംബാബ്വേയിലെ ഡോളര്‍
Name[mr]=झिम्बाब्वेयन डॉलर
Name[nb]=Zimbabwisk dollar
Name[nds]=Simbabweesch Dollar
Name[nl]=Zimbabwaanse dollar
Name[nn]=Zimbabwisk dollar
Name[pa]=ਜਿੰਬਾਬਵੇਂ ਡਾਲਰ
Name[pl]=Dolar zimbabweński
Name[pt]=Dólar do Zimbabwe
Name[pt_BR]=Dólar zimbabuano
Name[ro]=Dolar zimbabwez
Name[ru]=Зимбабвийский доллар
Name[si]=සිම්බාවේ ඩොලර්
Name[sk]=Zimbabwiansky dolár
Name[sl]=zimbabvejski dolar
Name[sr]=зимбабвеански долар
Name[sr@ijekavian]=зимбабвеански долар
Name[sr@ijekavianlatin]=zimbabveanski dolar
Name[sr@latin]=zimbabveanski dolar
Name[sv]=Zimbabwiska dollar
Name[tg]=Доллари Зимбабве
Name[th]=ดอลลาร์ซิมบับเว
Name[tr]=Zimbabve Doları
Name[ug]=زىمبابۋې دوللىرى
Name[uk]=Зімбабвійський долар
Name[vi]=Đôla Zimbabwe
Name[wa]=Dolår zimbabweyin
Name[x-test]=xxZimbabwean Dollarxx
Name[zh_CN]=津巴布韦元
Name[zh_TW]=辛巴威─元（Dollar）
CurrencyNameIso=Zimbabwe dollar
CurrencyUnitSymbols=$,Z$,ZWL
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=Z$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=2009,02,02
CurrencySuspendedDate=2009,04,12
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ZW
