[KCM Locale]
Name=Kyrgyzstan
Region=centralasia
Languages=ru
#DecimalSymbol=,
#ThousandsSeparator=
# FIXME Currency is som, symbol is unkonwn
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=5
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=KGS
CurrencyCode=KGS
