[KCM Locale]
Name=Egypt
Name[af]=Egipte
Name[ar]=مصر
Name[bg]=Египет
Name[br]=Ejipt
Name[ca]=Egipte
Name[cy]=Yr Aifft
Name[da]=Egypten
Name[de]=Ägypten
Name[el]=Αίγυπτος
Name[eo]=Egiptujo
Name[es]=Egipto
Name[et]=Egiptus
Name[eu]=Egipto
Name[fa]=مصر
Name[fi]=Egypti
Name[fr]=Égypte
Name[fy]=Egypte
Name[ga]=An Éigipt
Name[gl]=Exipto
Name[he]=מצרים
Name[hr]=Egipat
Name[hu]=Egyiptom
Name[is]=Egyptaland
Name[it]=Egitto
Name[ja]=エジプト
Name[ka]=ეგვიპტე
Name[kk]=Мысыр
Name[km]=អេហ្ស៊ីប
Name[ko]=이집트
Name[lt]=Egiptas
Name[lv]=Ēģipte
Name[mk]=Египет
Name[ms]=Mesir
Name[nds]=Ägypten
Name[ne]=इजिप्ट
Name[nl]=Egypte
Name[pa]=ਮਿਸਰ
Name[pl]=Egipt
Name[pt]=Egipto
Name[pt_BR]=Egito
Name[ro]=Egipt
Name[ru]=Египет
Name[se]=Egypta
Name[sl]=Egipt
Name[sr]=Египат
Name[sr@Latn]=Egipat
Name[sv]=Egypten
Name[ta]=எகிப்து
Name[te]=ఈజిప్ట్
Name[tg]=Миср
Name[tr]=Mısır
Name[uk]=Єгипет
Name[uz]=Миср
Name[x-test]=xxEgyptxx
Name[zh_TW]=埃及
Region=northafrica
Languages=ar
DecimalSymbol=,
CurrencySymbol=EGP
FracDigits=2
DateFormatShort=%y/%m/%d
