[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcm_phononxine
Icon=phonon
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/phononxine/index.html

X-KDE-Library=kcm_phononxine
X-KDE-FactoryName=kcm_phononxine
X-KDE-ParentComponents=phonon_xine

Name=Phonon Xine
Comment=Xine Backend Configuration
Keywords=Xine
