[KCM Locale]
Author=Meni Livne <livne@kde.org>
Name=Israel
Region=middleeast
Languages=he,ar
#DecimalSymbol=
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=
#PositiveMonetarySignPosition=
NegativeMonetarySignPosition=1
DateFormat[he]=%A, %e ב%B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e/%n/%Y
TimeFormat=%H:%M:%S
WeekStartDay=7
WorkingWeekStartDay=7
WorkingWeekEndDay=4
WeekDayOfPray=6
#PageSize=
#MeasureSystem=
#Civil calendar is Gregorian, religious is Hebrew
#CalendarSystem=gregorian
AddressFormat=%0(%n\n)%0(%cm\n)%0(ת.ד. %p\n)%0(%s\n)%0(%l%w%z)
AddressCountryPosition=BELOW
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=ILS
CurrencyCode=ILS
