[KCM Locale]
Name=Nepal
Name[ar]=نيبال
Name[be]=Непал
Name[cs]=Nepál
Name[el]=Νεπάλ
Name[eo]=Nepalo
Name[fa]=نپال
Name[fr]=Népal
Name[ga]=Neipeal
Name[he]=נפאל
Name[hu]=Nepál
Name[ja]=ネパール
Name[ka]=ნეპალი
Name[kk]=Непал
Name[km]=នេប៉ាល់
Name[ko]=네팔
Name[lt]=Nepalas
Name[lv]=Nepāla
Name[mk]=Непал
Name[ne]=नेपाल
Name[pa]=ਨੇਪਾਲ
Name[ru]=Непал
Name[sr]=Непал
Name[ta]=நேபாளம்
Name[te]=నెపాల్
Name[tg]=Нипол
Name[uk]=Непал
Name[uz]=Непал
Name[x-test]=xxNepalxx
Name[zh_TW]=尼泊爾
Region=southasia
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=NRs
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
