[KCM Locale]
Name=Nepal
Name[el]=Νεπάλ
Name[fr]=Népal
Name[x-test]=xxNepalxx
Region=southasia
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=NRs
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
