[KCM Locale]
Name=Solomon Islands
Name[af]=Solomon Eilande
Name[ar]=جزر سليمان
Name[be]=Саламонавы астравы
Name[bg]=Соломонови острови
Name[br]=Inizi Salaun
Name[ca]=Illes Solomon
Name[cs]=Šalamounovy ostrovy
Name[csb]=Òstrowë Salomona
Name[cy]=Ynysoedd Solomon
Name[da]=Salomon-øerne
Name[de]=Salomon-Inseln
Name[el]=Νήσοι Σολομώντος
Name[eo]=Salomonoj
Name[es]=Islas Salomón
Name[et]=Saalomoni saared
Name[eu]=Solomon Irlak
Name[fa]=جزایر سلیمان
Name[fi]=Solomon-saaret
Name[fr]=Îles Salomon
Name[fy]=Solomon Eilannen
Name[ga]=Oileáin Sholamón
Name[gl]=Illas Salomón
Name[he]=איי סולומון
Name[hr]=Solomonova otočja
Name[hu]=Salamon-szigetek
Name[is]=Salómonseyjar
Name[it]=Isole Salomone
Name[ja]=ソロモン諸島
Name[ka]=სოლომონის კუნძულები
Name[kk]=Соломон ар-ы
Name[km]=កោះ​សូឡូម៉ូន
Name[ko]=솔로몬 제도
Name[lt]=Saliamono salos
Name[lv]=Solomonu salas
Name[mk]=Соломонски Острови
Name[nb]=Salomonøyene
Name[nds]=Salomonen
Name[ne]=सोलोमन द्विप
Name[nl]=Solomon Eilanden
Name[nn]=Salomonøyane
Name[pa]=ਸੋਲੋਮੋਨ ਆਈਸਲੈਂਡ
Name[pl]=Wyspy Salomona
Name[pt]=Ilhas Salomão
Name[pt_BR]=Ilhas Salomão
Name[ro]=Insulele Solomon
Name[ru]=Соломоновы острова
Name[se]=Salomonsullot
Name[sl]=Solomonovi otoki
Name[sr]=Соломонова острва
Name[sr@latin]=Solomonova ostrva
Name[sv]=Salomonöarna
Name[ta]=சாலமன் தீவுகள்
Name[te]=సొలొమొన్ ద్విపాలు
Name[tg]=Ҷазираи Сулаймон
Name[tr]=Solomon Adaları
Name[uk]=Соломонові острови
Name[uz]=Соломон Ороллари
Name[vi]=Quần đảo Xô-lo-monh
Name[wa]=Iyes Salomon
Name[x-test]=xxSolomon Islandsxx
Name[zh_TW]=索羅門群島
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=Sl$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
