[KCM Locale]
Name=Faroe Islands
Name[af]=Faroe Eilande
Name[ar]=جزر الفيرو
Name[bg]=Острови Фаро
Name[br]=Enez Faroe
Name[ca]=Illes Faroe
Name[cs]=Faerské ostrovy
Name[csb]=Faroe Òstrowë
Name[cy]=Ynysoedd Ffar?e
Name[da]=Færøerne
Name[de]=Färöer-Inseln
Name[el]=Νήσοι Φερόε
Name[eo]=Ferooj
Name[es]=islas Faroe
Name[et]=Fääri saared
Name[eu]=Faroe Irlak
Name[fa]=جزایر فارو
Name[fi]=Färsaaret
Name[fr]=Îles Féroé
Name[fy]=Faroe Eilannen
Name[ga]=Na Scigirí (Oileáin Fharó)
Name[gl]=Illas Feroe
Name[he]=איי פארו
Name[hr]=Farski otoci
Name[hu]=Faroe-szigetek
Name[is]=Færeyjar
Name[it]=Isole Fær Øer
Name[ja]=フェロー諸島
Name[ka]=ფარერის კუნძულები
Name[kk]=Фарер ар-ы
Name[km]=កោះ​ហ្វារ៉ូ
Name[ko]=페로 제도
Name[lt]=Faroe salos
Name[lv]=Fēru salas
Name[mk]=Фарски Острови
Name[nb]=Færøyene
Name[nds]=Färöereilannen
Name[ne]=फारोइ आइसल्याण्ड
Name[nl]=Faroe Eilanden
Name[nn]=Færøyane
Name[pa]=ਫਾਰੋਈ ਟਾਪੂ
Name[pl]=Wyspy Faroe
Name[pt]=Ilhas Faroe
Name[pt_BR]=Ilhas Faroe
Name[ro]=Insulele Feroe
Name[ru]=Фарерские острова
Name[se]=Fearsuolu
Name[sl]=Otoki Faroe
Name[sr]=Фарска острва
Name[sr@Latn]=Farska ostrva
Name[sv]=Färöarna
Name[ta]=ஃபரோ தீவுகள்
Name[tg]=Ҷазираи Фару
Name[tr]=Faroe Adaları
Name[uk]=Фарерські острови
Name[uz]=Фарер Ороллари
Name[x-test]=xxFaroe Islandsxx
Name[zh_TW]=法羅群島
Region=northeurope
Languages=fa,da
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=kr
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[fo]=%A %d %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
