[KCM Locale]
Name=Niger
Name[be]=Нігер
Name[bg]=Нигер
Name[br]=Nijer
Name[ca]=Níger
Name[el]=Νίγηρας
Name[eo]=Niĝero
Name[fa]=نیجر
Name[fi]=Nigeria
Name[ga]=An Nígir
Name[gl]=Níxer
Name[he]=ניג'ר
Name[is]=Níger
Name[ja]=ニジェール
Name[ka]=ნიგერია
Name[kk]=Нигер
Name[km]=នីហ្សេរ
Name[ko]=니제르
Name[lv]=Nigēra
Name[mk]=Нигер
Name[ne]=नाइजर
Name[pa]=ਨਿਜੀਰ
Name[pt]=Nigéria
Name[pt_BR]=Nigéria
Name[ru]=Нигер
Name[sr]=Нигер
Name[ta]=நிஜர்
Name[te]=నైజర్
Name[tg]=Нигерӣ
Name[tr]=Nijerya
Name[uk]=Нігер
Name[uz]=Нигер
Name[wa]=Nidjer
Name[x-test]=xxNigerxx
Name[zh_TW]=尼日
Region=westafrica
Languages=fr,ar
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=CFAF
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
