[KCM Locale]
Name=Romania
Name[af]=Romenië
Name[ar]=رومانيا
Name[bg]=Румъния
Name[br]=Roumani
Name[cs]=Rumunsko
Name[csb]=Rumùńskô
Name[da]=Rumænien
Name[de]=Rumänien
Name[el]=Ρουμανία
Name[eo]=Rumanio
Name[es]=Rumanía
Name[et]=Rumeenia
Name[eu]=Errumania
Name[fa]=رومانی
Name[fr]=Roumanie
Name[fy]=Roemenië
Name[ga]=An Rómáin
Name[gl]=Románia
Name[he]=רומניה
Name[hr]=Rumunjska
Name[hu]=Románia
Name[is]=Rúmenía
Name[ja]=ルーマニア
Name[ka]=რუმინეთი
Name[kk]=Румыния
Name[km]=រូម៉ានី
Name[ko]=루마니아
Name[lt]=Rumunija
Name[lv]=Rumānija
Name[mk]=Романија
Name[nds]=Rumänien
Name[ne]=रोमानिया
Name[nl]=Roemenië
Name[pa]=ਰੋਮਾਨੀਆ
Name[pl]=Rumunia
Name[pt]=Roménia
Name[pt_BR]=Romênia
Name[ro]=România
Name[ru]=Румыния
Name[se]=Románia
Name[sl]=Romunija
Name[sr]=Румунија
Name[sr@Latn]=Rumunija
Name[sv]=Rumänien
Name[ta]=ருமேனியா
Name[te]=రొమెనియా
Name[tg]=Руминия
Name[tr]=Romanya
Name[uk]=Румунія
Name[uz]=Руминия
Name[x-test]=xxRomaniaxx
Name[zh_TW]=羅馬尼亞
Region=easteurope
Languages=ro
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=Lei
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[ro]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d %m %Y
TimeFormat=%H:%M:%S
