[KCM Locale]
Name=Romania
Name[af]=Romenië
Name[ar]=رومانيا
Name[as]=ৰোমানিয়া
Name[ast]=Rumanía
Name[be]=Румынія
Name[be@latin]=Rumynija
Name[bg]=Румъния
Name[bn]=রুমেনিয়া
Name[bn_IN]=রোমানিয়া
Name[br]=Roumani
Name[bs]=Rumunija
Name[ca]=Romania
Name[ca@valencia]=Romania
Name[cs]=Rumunsko
Name[csb]=Rumùńskô
Name[cy]=Romania
Name[da]=Rumænien
Name[de]=Rumänien
Name[el]=Ρουμανία
Name[en_GB]=Romania
Name[eo]=Rumanio
Name[es]=Rumanía
Name[et]=Rumeenia
Name[eu]=Errumania
Name[fa]=رومانی
Name[fi]=Romania
Name[fr]=Roumanie
Name[fy]=Roemenië
Name[ga]=An Rómáin
Name[gl]=Romanía
Name[gu]=રોમાનિઆ
Name[he]=רומניה
Name[hi]=रोमानिया
Name[hne]=रोमानिया
Name[hr]=Rumunjska
Name[hsb]=Rumunska
Name[hu]=Románia
Name[ia]=Romania
Name[id]=Rumania
Name[is]=Rúmenía
Name[it]=Romania
Name[ja]=ルーマニア
Name[ka]=რუმინეთი
Name[kk]=Румыния
Name[km]=រូម៉ានី
Name[kn]=ರೊಮೇನಿಯ
Name[ko]=루마니아
Name[ku]=Romanya
Name[lt]=Rumunija
Name[lv]=Rumānija
Name[mai]=रोमानिया
Name[mk]=Романија
Name[ml]=റോമാനിയ
Name[mr]=रोमानिया
Name[ms]=Romania
Name[nb]=Romania
Name[nds]=Rumänien
Name[ne]=रोमानिया
Name[nl]=Roemenië
Name[nn]=Romania
Name[oc]=Romania
Name[or]=ରୋମାନିଆ
Name[pa]=ਰੋਮਾਨੀਆ
Name[pl]=Rumunia
Name[pt]=Roménia
Name[pt_BR]=Romênia
Name[ro]=România
Name[ru]=Румыния
Name[se]=Románia
Name[si]=රොමේනියාව
Name[sk]=Rumunsko
Name[sl]=Romunija
Name[sr]=Румунија
Name[sr@ijekavian]=Румунија
Name[sr@ijekavianlatin]=Rumunija
Name[sr@latin]=Rumunija
Name[sv]=Rumänien
Name[ta]=ருமேனியா
Name[te]=రొమెనియా
Name[tg]=Руминия
Name[th]=โรมาเนีย
Name[tr]=Romanya
Name[ug]=رۇمىنىيە
Name[uk]=Румунія
Name[uz]=Ruminiya
Name[uz@cyrillic]=Руминия
Name[vi]=Romania
Name[wa]=Roumaneye
Name[xh]=Romania
Name[x-test]=xxRomaniaxx
Name[zh_CN]=罗马尼亚
Name[zh_TW]=羅馬尼亞
Region=easteurope
Languages=ro
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[ro]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d %m %Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=RON
CurrencyCode=RON
