[KCM Locale]
Name=Jordan
Name[fr]=Jordanie
Name[x-test]=xxJordanxx
Region=middleeast
Languages=ar
DecimalSymbol=,
CurrencySymbol=JOD
FracDigits=2
DateFormatShort=%y/%m/%d
