[KCM Locale]
Name=Jordan
Name[af]=Jordaan
Name[be]=Іарданія
Name[bg]=Йордания
Name[br]=Jordani
Name[ca]=Jordània
Name[cs]=Jordán
Name[csb]=Jordanijô
Name[cy]=Gwlad Iorddonen
Name[de]=Jordanien
Name[el]=Ιορδανία
Name[eo]=Jordanio
Name[es]=Jordania
Name[et]=Jordaania
Name[eu]=Jordania
Name[fa]=اردن
Name[fi]=Jordania
Name[fr]=Jordanie
Name[fy]=Jordanië
Name[ga]=An Iordáin
Name[gl]=Xordánia
Name[he]=ירדן
Name[hu]=Jordánia
Name[is]=Jórdanía
Name[it]=Giordania
Name[ja]=ヨルダン
Name[ka]=იორდანია
Name[kk]=Иордания
Name[km]=ហ្ស៊កដានី
Name[ko]=요르단
Name[lt]=Jordanija
Name[lv]=Jordānija
Name[mk]=Јордан
Name[nds]=Jordanien
Name[ne]=जोर्डन
Name[nl]=Jordanië
Name[pa]=ਜਾਰਡਨ
Name[pl]=Jordania
Name[pt]=Jordânia
Name[pt_BR]=Jordânia
Name[ro]=Iordania
Name[ru]=Иордания
Name[se]=Jordánia
Name[sl]=Jordanija
Name[sr]=Јордан
Name[sv]=Jordanien
Name[ta]=ஜோர்டான்
Name[te]=జార్డన్
Name[tg]=Урдон
Name[th]=จอร์แดน
Name[tr]=Ürdün
Name[uk]=Йорданія
Name[uz]=Иордан
Name[vi]=Gioa-đan
Name[wa]=Djordaneye
Name[x-test]=xxJordanxx
Name[zh_TW]=約旦
Region=middleeast
Languages=ar
DecimalSymbol=,
CurrencySymbol=JOD
FracDigits=2
DateFormatShort=%y/%m/%d
