[KCM Locale]
Name=Jordan
Region=middleeast
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
WorkingWeekStartDay=7
WorkingWeekEndDay=4
WeekDayOfPray=5
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=JOD
CurrencyCode=JOD
