[KCM Locale]
Name=Luxembourg
Name[af]=Luxenburg
Name[ar]=لوكسمبورغ
Name[be]=Люксембург
Name[br]=Luksembourg
Name[ca]=Luxemburg
Name[cs]=Lucembursko
Name[csb]=Luksembùrskô
Name[cy]=Lwcsembwrg
Name[de]=Luxemburg
Name[el]=Λουξεμβούργο
Name[eo]=Luksemburgo
Name[es]=Luxemburgo
Name[et]=Luksemburg
Name[eu]=Luxenburgo
Name[fa]=لوکزامبورگ
Name[fi]=Luxemburg
Name[fy]=Luxemburg
Name[ga]=Lucsamburg
Name[gl]=Luxemburgo
Name[he]=לוקסמבורג
Name[hr]=Luksemburg
Name[hu]=Luxemburg
Name[is]=Lúxemborg
Name[it]=Lussemburgo
Name[ja]=ルクセンブルグ
Name[ka]=ლუქსემბურგი
Name[kk]=Люксембург
Name[km]=លុចហ្សំបួរ
Name[ko]=룩셈부르크
Name[lt]=Liuksemburgas
Name[lv]=Luksemburga
Name[mk]=Луксембург
Name[nds]=Luxemborg
Name[ne]=लक्जेम्बर्ग
Name[nl]=Luxemburg
Name[pa]=ਲਕਸ਼ਮਬਰਗ
Name[pl]=Luksemburg
Name[pt]=Luxemburgo
Name[pt_BR]=Luxemburgo
Name[ro]=Luxemburg
Name[ru]=Люксембург
Name[se]=Luxemburg
Name[sl]=Luksemburg
Name[sr]=Луксембург
Name[sr@latin]=Luksemburg
Name[sv]=Luxemburg
Name[ta]=லக்சம்போர்க்
Name[te]=లక్సెంబర్గ్
Name[tg]=Лукзамбург
Name[tr]=Lüksemburg
Name[uk]=Люксембург
Name[uz]=Люксембург
Name[wa]=Lussimbork
Name[x-test]=xxLuxembourgxx
Name[zh_TW]=盧森堡
Region=westeurope
Languages=de,fr
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=€
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=4
NegativeMonetarySignPosition=4
DateFormat[de]=%a %d %b %Y
DateFormat[fr]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
