[KCM Locale]
Name=Armenia
Region=middleeast
Languages=hy
DecimalSymbol=,
ThousandsSeparator=.
# FIXME Name is Dram, symbol is unknown
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
DateFormat[hy]=%A,%B %e, %Y
DateFormatShort=%m/%d/%y
TimeFormat=%H:%M:%S
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=AMD
CurrencyCode=AMD
