[KCM Locale]
Name=Congo, The Democratic Republic of the
Name[af]=Kongo, Demokratiese republiek van die
Name[be]=Дэмакратычная Рэспубліка Конга
Name[bg]=ДР Конго
Name[ca]=Congo, República Democràtica del
Name[cs]=Kongo
Name[csb]=Kòngò, Demòkraticznô Repùblika Kòngò
Name[cy]=Congo, Gweriniaeth Democrataidd y
Name[da]=Congo, den demokratiske republik
Name[de]=Kongo, Republik
Name[el]=Κονγκό, Δημοκρατία του
Name[eo]=Kongo, la Demokratia Respubliko de la
Name[es]=Congo, República democrática del
Name[et]=Kongo (DV)
Name[eu]=Kongoko Errepublika Demokratikoa
Name[fa]=جمهوری دموکراسیِِ کنگو
Name[fi]=Kongon demokraattinen tasavalta
Name[fr]=République Démocratique du Congo
Name[fy]=Kongo, de democratische republyk van de
Name[ga]=Poblacht Dhaonlathach an Chongó
Name[gl]=Congo, República Democrática do
Name[he]=קונגו, הרפובליקה הדמוקרטית של
Name[hr]=Kongo, Demokratska republika
Name[hu]=Kongói Demokratikus Köztársaság
Name[is]=Kongó, Austur
Name[it]=Congo, Repubblica Democratica del
Name[ja]=コンゴ
Name[ka]=კონგო, დემოკრატიული რესპუბლიკა
Name[kk]=Конго (КДР)
Name[km]=សាធារណរដ្ឋ​ប្រជាធិបតេយ្យ​កុងហ្គោ
Name[lt]=Kongo demokratinė respublika
Name[lv]=Kongo demokrātiskā republika
Name[mk]=Конго, Демократска Република на
Name[nb]=Kongo
Name[nds]=Kongo (De demokraatsche Republiek)
Name[ne]=प्रजातान्त्रिक गणराज्य कङ्गो
Name[nl]=Congo, Democratische republiek
Name[nn]=Kongo
Name[pa]=ਕਾਂਗੋ, ਲੋਕਤੰਤਰੀ ਗਣਰਾਜ
Name[pl]=Republika Demokratyczna Kongo
Name[pt]=Congo, República Democrática do
Name[pt_BR]=República Democrática do Congo
Name[ro]=Congo, Republica Democrată
Name[ru]=Демократическая Республика Конго
Name[se]=Kongo
Name[sl]=Kongo, demokratična republika
Name[sr]=Конго, Демократска Република
Name[sr@latin]=Kongo, Demokratska Republika
Name[sv]=Demokratiska republiken Kongo
Name[ta]=கான்கோ, குடியரசு
Name[te]=కాంగొ, ప్రజాస్వామ్య రిపబ్లిక్
Name[tg]=Ҷумҳурии демократии Ҳонконг
Name[tr]=Demokratik Kongo Cumhuriyeti
Name[uk]=Конго, демократична республіка
Name[uz]=Конго Демократик Республикаси
Name[wa]=Congo, republike democratike
Name[x-test]=xxCongo, The Democratic Republic of thexx
Name[zh_TW]=剛果民主共和國
Region=centralafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
# FIXME, Currency is France, symbol is unknown
CurrencySymbol=F
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
