[KCM Locale]
Name=Uganda
Name[ar]=أوغندا
Name[bg]=Уганда
Name[br]=Ouganda
Name[cy]=Wganda
Name[el]=Ουγκάντα
Name[eo]=Ugando
Name[fa]=اوگاندا
Name[fr]=Ouganda
Name[he]=אוגנדה
Name[is]=Úganda
Name[ja]=ウガンダ
Name[ka]=უგანდა
Name[kk]=Уганда
Name[km]=អ៊ូហ្គង់ដា
Name[ko]=우간다
Name[mk]=Уганда
Name[ne]=यूगाण्डा
Name[pa]=ਯੂਗਾਂਡਾ
Name[ru]=Уганда
Name[sr]=Уганда
Name[ta]=உகான்டா
Name[tg]=Угондо
Name[uk]=Уганда
Name[uz]=Уганда
Name[x-test]=xxUgandaxx
Name[zh_TW]=烏干達
Region=centralafrica
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=USh
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
