[KCM Locale]
Name=North Korea
Region=eastasia
Languages=ko
DateFormat[ko]=%Y %B %e %A
DateFormat[eo]=%A, la %ea de %B %Y
#DateFormatShort=
TimeFormat=%H:%M:%S
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=KPW
CurrencyCode=KPW
