[KCM Locale]
Name=Uruguay
Name[be]=Уругвай
Name[bg]=Уругвай
Name[ca]=Uruguai
Name[csb]=Urugwaj
Name[cy]=Wrwgw?i
Name[el]=Ουρουγουάη
Name[eo]=Urugvajo
Name[et]=Uruguai
Name[fa]=اروگوئه
Name[ga]=Uragua
Name[gl]=Uruguai
Name[he]=אורוגוואי
Name[hr]=Urugvaj
Name[is]=Úrúgvæ
Name[ja]=ウルグアイ
Name[ka]=ურუგვაი
Name[kk]=Уругвай
Name[km]=អ៊ុយរុយហ្គាយ
Name[ko]=우루과이
Name[lt]=Urugvajus
Name[lv]=Urugvaja
Name[mk]=Уругвај
Name[ne]=उरुग्वे
Name[pa]=ਉਰੂਗਵੇ
Name[pl]=Urugwaj
Name[pt]=Uruguai
Name[pt_BR]=Uruguai
Name[ro]=Uruguai
Name[ru]=Уругвай
Name[sl]=Urugvaj
Name[sr]=Уругвај
Name[sr@latin]=Urugvaj
Name[ta]=உருகுவே
Name[te]=యురుగ్వె
Name[tg]=Уругвай
Name[uk]=Уругвай
Name[uz]=Уругвай
Name[vi]=U-ru-guay
Name[wa]=Ourougway
Name[x-test]=xxUruguayxx
Name[zh_TW]=烏拉圭
Region=southamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
CurrencySymbol=$U
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
