[KCM Locale]
Name=Colombia
Name[af]=Colombië
Name[be]=Калумбія
Name[bg]=Колумбия
Name[br]=Kolumbi
Name[ca]=Colòmbia
Name[cs]=Kolumbie
Name[csb]=Kòlumbijô
Name[de]=Kolumbien
Name[el]=Κολομβία
Name[eo]=Kolumbio
Name[et]=Kolumbia
Name[eu]=Kolonbia
Name[fa]=کلمبیا
Name[fi]=Kolumbia
Name[fr]=Colombie
Name[fy]=Columbia
Name[ga]=An Cholóim
Name[gl]=Colómbia
Name[he]=קולומביה
Name[hr]=Kolumbija
Name[hu]=Kolumbia
Name[is]=Kólumbía
Name[ja]=コロンビア
Name[ka]=კოლუმბია
Name[kk]=Колумбия
Name[km]=កូឡុំប៊ី
Name[ko]=콜롬비아
Name[lt]=Kolumbija
Name[lv]=Kolumbija
Name[mk]=Колумбија
Name[nds]=Kolumbien
Name[ne]=कोलम्बीया
Name[nl]=Columbia
Name[pa]=ਕੋਲੰਬੀਆ
Name[pl]=Kolumbia
Name[pt]=Colômbia
Name[pt_BR]=Colômbia
Name[ro]=Columbia
Name[ru]=Колумбия
Name[se]=Kolombia
Name[sl]=Kolumbija
Name[sr]=Колумбија
Name[sr@latin]=Kolumbija
Name[ta]=கொலம்பியா
Name[te]=కొలంబియా
Name[tg]=Колумбия
Name[tr]=Kolombiya
Name[uk]=Колумбія
Name[uz]=Колумбия
Name[wa]=Colombeye
Name[x-test]=xxColombiaxx
Name[xh]=Columbia
Name[zh_TW]=哥倫比亞
Region=southamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
CurrencySymbol=$
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
