[Desktop Entry]
Type=Service
Exec=nepomukserver
X-KDE-StartupNotify=false
X-KDE-autostart-condition=nepomukserverrc:Basic Settings:Start Nepomuk:true
OnlyShowIn=KDE;
X-KDE-autostart-phase=1
Name=Nepomuk Server
Name[ar]=خادم  نيبموك
Name[ast]=Sirvidor Nepomuk
Name[be@latin]=Server „Nepomuk”
Name[bg]=Сървър Nepomuk
Name[bn]=নেপোমুক সার্ভার
Name[bn_IN]=Nepomuk সার্ভার
Name[bs]=Server Nepomuka
Name[ca]=Servidor Nepomuk
Name[ca@valencia]=Servidor Nepomuk
Name[cs]=Server Nepomuku
Name[csb]=Serwer Nepomuk
Name[da]=Nepomuk-server
Name[de]=Nepomuk-Serverdienst
Name[el]=Εξυπηρετητής Nepomuk
Name[en_GB]=Nepomuk Server
Name[eo]=Nepomuk servilo
Name[es]=Servidor Nepomuk
Name[et]=Nepomuki server
Name[eu]=Nepomuk zerbitzaria
Name[fi]=Nepomuk-palvelin
Name[fr]=Serveur Nepomuk
Name[fy]=Nepomuk tsjinner
Name[ga]=Freastalaí Nepomuk
Name[gl]=Servidor Nepomuk
Name[gu]=નેપોમુક સર્વર
Name[he]=שרת Nepomuk
Name[hi]=नेपोमक सर्वर
Name[hne]=नेपोमक सेवा
Name[hr]=Poslužitelj Nepomuk
Name[hsb]=Nepomuk Serwer
Name[hu]=Nepomuk szolgáltatás
Name[ia]=Servitor de Nepomuk
Name[id]=Server Nepomuk
Name[is]=Nepomuk miðlari
Name[it]=Server di Nepomuk
Name[ja]=Nepomuk サーバ
Name[kk]=Nepomuk сервері
Name[km]=ម៉ាស៊ីន​បម្រើ Nepomuk
Name[kn]=ನೆಪೋಮುಕ್ ಪರಿಚಾರಕ (ಸರ್ವರ್)
Name[ko]=Nepomuk 서버
Name[ku]=Pêşkêşkerê Nepomuk
Name[lt]=Nepomuk serveris
Name[lv]=Nepomuk serveris
Name[mai]=नेपोमक सर्वर
Name[mk]=Nepomuk-сервер
Name[ml]=നെപ്പോമുക്ക് സെര്‍വര്‍
Name[mr]=Nepomuk सर्वर
Name[nb]=Nepomuk tjener
Name[nds]=Nepomuk-Server
Name[nl]=Nepomuk-server
Name[nn]=Nepomuk-tenar
Name[or]=Nepomuk ସର୍ଭର
Name[pa]=ਨਿਪੋਮੁਕ ਸਰਵਰ
Name[pl]=Serwer Nepomuk
Name[pt]=Servidor do Nepomuk
Name[pt_BR]=Servidor Nepomuk
Name[ro]=Server Nepomuk
Name[ru]=Сервер Nepomuk
Name[se]=Nepomuk-bálvá
Name[si]=Nepomuk ධාරකය
Name[sk]=Server Nepomuk
Name[sl]=Strežnik Nepomuk
Name[sr]=Сервер Непомука
Name[sr@ijekavian]=Сервер Непомука
Name[sr@ijekavianlatin]=Server Nepomuka
Name[sr@latin]=Server Nepomuka
Name[sv]=Nepomuk-server
Name[ta]=Nepomuk Server
Name[te]=Nepomuk సేవిక
Name[tg]=Хидматгоҳи Nepomuk
Name[th]=บริการ Nepomuk
Name[tr]=Nepomuk Sunucu
Name[uk]=Сервер Nepomuk
Name[uz]=Nepomuk serveri
Name[uz@cyrillic]=Nepomuk сервери
Name[wa]=Sierveu Nepomuk
Name[x-test]=xxNepomuk Serverxx
Name[zh_CN]=Nepomuk 服务器
Name[zh_TW]=Nepomuk 伺服器
Comment=The Nepomuk Server providing Storage services and strigi controlling
Comment[ar]=يوفر خادم نبومك خدمات تخزين ويتحكم بستريجي
Comment[ast]=Sirvidor de Nepomuk qu'ufre servicios d'atroxamientu y control strigi
Comment[be@latin]=Server „Nepomuk”, jaki absłuhoŭvaje schovišča źviestak i kiruje słužbaj „Strigi”
Comment[bg]=Сървърът Nepomuk предлага контрол на strigi и съхранение
Comment[bs]=Server Nepomuka pruža servis za skladištenje i kontrolu Strigija
Comment[ca]=El servidor Nepomuk proporciona serveis d'emmagatzematge i de control de l'Strigi
Comment[ca@valencia]=El servidor Nepomuk proporciona serveis d'emmagatzematge i de control de l'Strigi
Comment[cs]=Server Nepomuk poskytuje služby pro ukládání a pro ovládání Strigi
Comment[csb]=Serwer Nepomuk dôwô kòntrolã nad strigi ë zôpisowné ùsłëżnotë
Comment[da]=Nepomuk-serveren leverer lagringstjenester og kontrol af strigi
Comment[de]=Der Nepomuk-Server stellt Speicherdienste und Strigi-Steuerung zur Verfügung
Comment[el]=Ο εξυπηρετητής Nepomuk που παρέχει υπηρεσίες αποθήκευσης και έλεγχο του Strigi
Comment[en_GB]=The Nepomuk Server providing Storage services and strigi controlling
Comment[eo]=La nepomuk-servilo kiu provizas konservadan servon kaj strigi-serĉan direktadon
Comment[es]=Servidor de Nepomuk que proporciona servicios de almacenamiento y control strigi
Comment[et]=Salvestusteenuseid ja Strigi juhtimist pakkuv Nepomuki server
Comment[eu]=Nepomuk zerbitzariak biltegiratzeko zerbitzuak eta strigi kontrola eskeintzen ditu
Comment[fi]=Nepomuk-palvelin, joka tarjoaa tallennuspalveluja ja strigi-kontrollin
Comment[fr]=Le serveur Nepomuk fournissant des services de stockage et le contrôle de Strigi
Comment[fy]=De Nepomuk tsjinner dy't in opslach tsjinst en strigi kontrôle ferskaft
Comment[ga]=An freastalaí Nepomuk a sholáthraíonn seirbhísí stórála agus rialú strigi
Comment[gl]=O servidor Nepomuk fornece servizos de almacenaxe e control de Strigi
Comment[gu]=નેપોમુક સર્વર સંગ્રહ સેવાઓ અને સ્ટ્રીગી નિયંત્રણો પૂરાં પાડે છે
Comment[he]=שרת Nepomuk מספק שירותי אחסון ושליטת ב־strigi
Comment[hi]=नेपोमक सर्वर - भंडारण सेवाएँ तथा स्ट्रिगि नियंत्रण प्रदान करता है
Comment[hne]=नेपोमक सर्वर जउन भंडार सेवा अउ स्ट्रिगि कंट्रोल देथे
Comment[hr]=Poslužitelj Nepomuk omogućuje usluge pohrane i upravljanja Strigijem
Comment[hsb]=Nepomuk-serwer staji składowanske słužby a strigi-kontrolu k dispoziciji.
Comment[hu]=A Nepomuk szolgáltatás tárolási lehetőséget biztosít és a Strigi vezérlését végzi
Comment[ia]=Le servitor Nepomuk forniente servicios de immagazinage (Storage) e controlante de strigi
Comment[id]=Server Nepomuk memberikan layanan Penyimpanan dan pengendalian strigi
Comment[is]=Nepomuk miðlarinn heldur utanum geymsluþjónustur og Strigi stýringu
Comment[it]=Il server Nepomuk fornisce servizi di memorizzazione e controllo di Strigi
Comment[ja]=ストレージサービスを提供し Strigi を制御する Nepomuk サーバ
Comment[kk]=Сақтау қызметі және strigi бақылауын атқаратын Nepomuk сервері
Comment[km]=ម៉ាស៊ីន​បម្រើ Nepomuk ផ្ដល់​សេវា​ផ្ទុក និង​ការត្រួតពិនិត្យ strigi
Comment[kn]=ಸ್ಟ್ರಿಗಿ ನಿಯಂತ್ರಣ ಮತ್ತು ಸಂಗ್ರಹ ಸೇವೆಗಳನ್ನು ಒದಗಿಸುವ ನೆಪೋಮುಕ್ ಪರಿಚಾರಕ (ಸರ್ವರ್)
Comment[ko]=저장소 서비스를 제공하는 Nepomuk 서버와 Strigi 제어
Comment[ku]=Pêşkêşkera Nepomuk servîsên hîserkirinê û kontrol kirina strigi peyda dike
Comment[lt]=Nepomuk serveris suteikiantis saugojimo galimybę ir strigi valdymą
Comment[lv]=Nepomuk serveris nodrošina glabāšanas servisus un Strigi kontrolēšanu
Comment[mai]=नेपोमक सर्वर - भंडारण सेवा अथवा स्ट्रिगि नियंत्रण प्रदान करैत अछि
Comment[mk]=Серверот Nepomuk обезбедува сервиси за складирање и контрола врз strigi
Comment[ml]=സൂക്ഷിയ്ക്കുവാനുള്ള സേവനങ്ങളും സ്ട്രിഗി നിയന്ത്രണവും നല്‍കുന്ന നെപ്പോമുക്ക് സര്‍വര്‍
Comment[nb]=Nepomuk-tjeneren som yter lagringstjenester og strigi-styring
Comment[nds]=De Nepomuk-Server, stellt Spiekerdeensten un Strigi-Kuntrull praat
Comment[nl]=De Nepomuk-server levert opslagdiensten en bediening voor Strigi
Comment[nn]=Nepomuk-tenaren tilbyr lagringstenester og strigi-kontroll
Comment[or]=Nepomuk ସର୍ଭର ଭଣ୍ଡାର ସର୍ଭିସ ଏବଂ strigi ନିୟନ୍ତ୍ରଣ ପ୍ରଦାନ କରିଥାଏ
Comment[pa]=ਨਿਪੋਮੁਕ ਸਰਵਰ ਸਟੋਰੇਜ਼ ਸਰਵਿਸਾਂ ਅਤੇ ਸਟਰੀਜੀ ਕੰਟਰੋਲਿੰਗ ਦਿੰਦਾ ਹੈ
Comment[pl]=Serwer Nepomuk udostępniający usługi przechowywania danych i kontrolę strigi
Comment[pt]=O Servidor do Nepomuk que oferece serviços de Armazenamento e o controlo do Strigi
Comment[pt_BR]=O servidor Nepomuk provê serviços de armazenamento e controle do strigi
Comment[ro]=Serverul Nepomuk, oferind servicii de stocare și control strigi
Comment[ru]=Сервер Nepomuk предоставляет службы хранения данных и управления Strigi
Comment[se]=Nepomuk-bálvá fallá vurkenbálvalusaid ja strigi-stivrran
Comment[si]=Nepomuk ධාරකය ගබදා සේවාවන් හා strigi පාලනය සපයයි
Comment[sk]=Server Nepomuk poskytuje služby pre ukladanie a ovládanie Strigi
Comment[sl]=Strežnik Nepomuk, ki ponuja storitve shranjevanja in nadzorovanja Strigija
Comment[sr]=Сервер Непомука пружа сервис за складиштење и контролу Стригија
Comment[sr@ijekavian]=Сервер Непомука пружа сервис за складиштење и контролу Стригија
Comment[sr@ijekavianlatin]=Server Nepomuka pruža servis za skladištenje i kontrolu Strigija
Comment[sr@latin]=Server Nepomuka pruža servis za skladištenje i kontrolu Strigija
Comment[sv]=Nepomuk-server som tillhandahåller lagringstjänster och styrning av Strigi
Comment[ta]=The Nepomuk Server providing Storage services and strigi controlling
Comment[te]=Nepomuk సేవిక నిల్వ సేవలను మరియు strigi నింయత్రణను అందిస్తుంది
Comment[tg]=Хидматгоҳи Nepomuk хидматҳои захира ва идоракунии маълумот дастрас мекунад
Comment[th]=บริการ Nepomuk จะให้บริการจัดเก็บข้อมูลและทำการควบคุม strigi
Comment[tr]=Nepomuk Sunucusu Depolama servislerini ve Strigi uygulamasının kontrolünü sağlar
Comment[uk]=Сервер Nepomuk надає служби збереження і керування strigi
Comment[wa]=Li sierveu Nepomuk ki dene des siervices di stocaedje et des contrôles po strigi
Comment[x-test]=xxThe Nepomuk Server providing Storage services and strigi controllingxx
Comment[zh_CN]=Nepomuk 服务器提供了存储服务和 strigi 控制
Comment[zh_TW]=Nepomuk 伺服器提供儲存服務與 strigi 控制
