[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukactivitiesservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk Activities Service
Name[en_GB]=Nepomuk Activities Service
Name[es]=Servicio de actividades de Nepomuk
Name[ia]=Servicio de Activitate de Nepomuk
Name[ja]=Nepomuk アクティビティサービス
Name[kk]=Nepomuk белсенділік қызметі
Name[km]=សេវា​សកម្មភាព​របស់ Nepomuk
Name[lt]=Nepomuk veiklų tarnyba
Name[nds]=Nepomuk-Aktivitetendeenst
Name[nl]=Nepomuk activiteitenservice
Name[pt]=Serviço de Actividades do Nepomuk
Name[pt_BR]=Serviço de Atividades do Nepomuk
Name[sv]=Nepomuk aktivitetstjänst
Name[uk]=Служба просторів дій Nepomuk
Name[x-test]=xxNepomuk Activities Servicexx
Name[zh_CN]=Nepomuk 活动服务
Name[zh_TW]=Nepomuk 活動服務
Comment=
