[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukactivitiesservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk Activities Service
Name[en_GB]=Nepomuk Activities Service
Name[ia]=Servicio de Activitate de Nepomuk
Name[km]=សេវា​សកម្មភាព​របស់ Nepomuk
Name[pt]=Serviço de Actividades do Nepomuk
Name[sv]=Nepomuk aktivitetstjänst
Name[uk]=Служба просторів дій Nepomuk
Name[x-test]=xxNepomuk Activities Servicexx
Comment=
