[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukactivitiesservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk Activities Service
Name[bg]=Услуга за активност Nepomuk
Name[ca]=Servei d'activitats del Nepomuk
Name[ca@valencia]=Servei d'activitats del Nepomuk
Name[da]=Nepomuk aktivitetstjeneste
Name[de]=Nepomuk-Aktivitäten-Dienst
Name[el]=Υπηρεσία δραστηριοτήτων Nepomuk
Name[en_GB]=Nepomuk Activities Service
Name[es]=Servicio de actividades de Nepomuk
Name[et]=Nepomuki tegevuste teenus
Name[fr]=Service d'agencements de Nepomuk
Name[hr]=Usluga Aktivnosti Nepomuka
Name[ia]=Servicio de Activitate de Nepomuk
Name[id]=Layanan Aktivitas Nepomuk
Name[is]=Nepomuk virkniþjónusta
Name[it]=Servizio delle attività di Nepomuk
Name[ja]=Nepomuk アクティビティサービス
Name[kk]=Nepomuk белсенділік қызметі
Name[km]=សេវា​សកម្មភាព​របស់ Nepomuk
Name[kn]=ನೆಪೋಮುಕ್ ಚಟುವಟಿಕೆಗಳ ಸೇವೆ
Name[lt]=Nepomuk veiklų tarnyba
Name[ml]=നെപ്പോമുക്ക് ആക്റ്റിവിറ്റികളുടെ സേവനം
Name[nb]=Nepomuk aktivitetstjeneste
Name[nds]=Nepomuk-Aktivitetendeenst
Name[nl]=Nepomuk activiteitenservice
Name[pa]=ਨਿਪੋਮੁਕ ਸਟਰੀਗੀ ਸਰਵਿਸ
Name[pt]=Serviço de Actividades do Nepomuk
Name[pt_BR]=Serviço de Atividades do Nepomuk
Name[sv]=Nepomuk aktivitetstjänst
Name[uk]=Служба просторів дій Nepomuk
Name[x-test]=xxNepomuk Activities Servicexx
Name[zh_CN]=Nepomuk 活动服务
Name[zh_TW]=Nepomuk 活動服務
Comment=
