[KCM Locale]
Author=Zuza Software Foundation <info@translate.org.za>
Name=South Africa
Name[af]=Suid-Afrika
Name[be]=Паўднёвая Афрыка
Name[bg]=Южна Африка
Name[br]=Suafrika
Name[ca]=Sudàfrica
Name[cs]=Jižní Afrika
Name[csb]=Pôłniowô Afrika
Name[cy]=De Affrica
Name[da]=Sydafrikanske republik
Name[de]=Südafrika
Name[el]=Νότια Αφρική
Name[eo]=Sudafriko
Name[es]=Sudáfrica
Name[et]=Lõuna-Aafrika
Name[eu]=Hego Afrika
Name[fa]=آفریقای جنوبی
Name[fi]=Etelä-Afrikka
Name[fr]=Afrique du sud
Name[fy]=Sûd-Afrika
Name[ga]=An Afraic Theas
Name[gl]=África do Sur
Name[he]=דרום אפריקה
Name[hr]=Južna Afrika
Name[hu]=Dél-Afrika
Name[is]=Suður-Afríka
Name[it]=Sud Africa
Name[ja]=南アフリカ
Name[ka]=სამხრეთ აფრიკა
Name[kk]=Оңтүстік Африка
Name[km]=អាហ្វ្រិក​ខាង​ត្បូង
Name[ko]=남 아프리카 공화국
Name[lt]=Afrika, Pietų
Name[lv]=Dienvidāfrika
Name[mk]=Јужна Африка
Name[ms]=Afrika Selatan
Name[nb]=Sør-Afrika
Name[nds]=Söödafrika
Name[ne]=दक्षिण अफ्रिका
Name[nl]=Zuid-Afrika
Name[nn]=Sør-Afrika
Name[pa]=ਦੱਖਣੀ ਅਫਰੀਕਾ
Name[pl]=Afryka Południowa
Name[pt]=África do Sul
Name[pt_BR]=África do Sul
Name[ro]=Africa de Sud
Name[ru]=Южная Африка
Name[se]=Lulli-Afrihká
Name[sl]=Južna Afrika
Name[sr]=Јужна Африка
Name[sr@latin]=Južna Afrika
Name[sv]=Sydafrika
Name[ta]=தென் ஆப்ரிக்கா
Name[te]=దక్షిణ ఆఫ్రికా
Name[tg]=Африқои Ҷанубӣ
Name[tr]=Güney Afrika
Name[uk]=Південна Африка
Name[uz]=Жанубий Африка
Name[wa]=Nonne Afrike
Name[x-test]=xxSouth Africaxx
Name[xh]=Mzantsi Afrika
Name[zh_TW]=南非
Region=southafrica
Languages=en_GB,af,nr,st,nso,ss,ts,tn,ven,xh,zu
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=R
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[en_GB]=%A, %e %B %Y
DateFormat[af]=%a %d %b %y
DateFormat[xh]=%A, %e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
MeasureSystem=0
PageSize=0
