[KCM Locale]
Name=Poland
Name[el]=Πολωνία
Name[fr]=Pologne
Name[x-test]=xxPolandxx
Region=centraleurope
Languages=pl
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=zł
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[pl]=%A, %e %B %Y
DateFormatShort=%d/%m/%Y
DateFormat[eo]=%A, la %ea de %B %Y
TimeFormat=%H:%M:%S
NounDeclension=true
DateMonthNamePossessive=true
