[KCM Locale]
Name=Poland
Name[ar]=بولندا
Name[be]=Польшча
Name[bg]=Полша
Name[br]=Polonia
Name[ca]=Polònia
Name[cs]=Polsko
Name[csb]=Pòlskô
Name[cy]=Gwlad Pwyl
Name[da]=Polen
Name[de]=Polen
Name[el]=Πολωνία
Name[eo]=Pollando
Name[es]=Polonia
Name[et]=Poola
Name[eu]=Polonia
Name[fa]=لهستان
Name[fi]=Puola
Name[fr]=Pologne
Name[fy]=Polen
Name[ga]=An Pholainn
Name[gl]=Polónia
Name[he]=פולין
Name[hr]=Poljska
Name[hu]=Lengyelország
Name[is]=Pólland
Name[it]=Polonia
Name[ja]=ポーランド
Name[ka]=პოლონეთი
Name[kk]=Польша
Name[km]=ប៉ូឡូញ
Name[ko]=폴란드
Name[lt]=Lenkija
Name[lv]=Polija
Name[mk]=Полска
Name[nb]=Polen
Name[nds]=Polen
Name[ne]=पोल्याण्ड
Name[nl]=Polen
Name[nn]=Polen
Name[pa]=ਪੋਲੈਂਡ
Name[pl]=Polska
Name[pt]=Polónia
Name[pt_BR]=Polônia
Name[ro]=Polonia
Name[ru]=Польша
Name[se]=Polska
Name[sl]=Poljska
Name[sr]=Пољска
Name[sr@latin]=Poljska
Name[sv]=Polen
Name[ta]=போலாந்து
Name[te]=పోలాండ్
Name[tg]=Поландия
Name[th]=โปแลนด์
Name[tr]=Polonya
Name[uk]=Польща
Name[uz]=Полша
Name[vi]=Ba Lan
Name[wa]=Pologne
Name[x-test]=xxPolandxx
Name[zh_TW]=波蘭
Region=centraleurope
Languages=pl
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=zł
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[pl]=%A, %e %B %Y
DateFormatShort=%d/%m/%Y
DateFormat[eo]=%A, la %ea de %B %Y
TimeFormat=%H:%M:%S
NounDeclension=true
DateMonthNamePossessive=true
