[KCM Locale]
Name=Western Sahara
Name[af]=Westelike Sahara
Name[ar]=الصحراء الغربية
Name[be]=Заходняя Сахара
Name[bg]=Западна Сахара
Name[bn]=পশ্চিম সাহারা
Name[br]=Sahara occidental
Name[ca]=Sàhara Occidental
Name[cs]=Západní Sahara
Name[csb]=Zôpadnô Sahara
Name[cy]=Gorllewin Sahara
Name[da]=Vestsahara
Name[de]=Westsahara
Name[el]=Δυτική Σαχάρα
Name[eo]=Okcidenta Saharo
Name[es]=Sahara occidental
Name[et]=Lääne-Sahara
Name[eu]=Mendebaldeko Sahara
Name[fa]=صحرای غربی
Name[fi]=Länsi-Sahara
Name[fr]=Sahara occidental
Name[fy]=West Sahara
Name[ga]=An Sahára Thiar
Name[gl]=Saara Ocidental
Name[he]=סהרה המערבית
Name[hi]=पश्चिमी सहारा
Name[hr]=Zapadna Sahara
Name[hu]=Nyugat-Szahara
Name[is]=Vestur-Sahara
Name[it]=Sahara Occidentale
Name[ja]=西サハラ
Name[ka]=დასავლეთ საჰარა
Name[kk]=Батыс Сахара
Name[km]=សាហារ៉ា​ខាង​លិច
Name[ko]=서사하라
Name[lt]=Vakarų Sahara
Name[lv]=Rietumsahāra
Name[mk]=Западна Сахара
Name[nb]=Vest-Sahara
Name[nds]=Westsahara
Name[ne]=पश्चिमी साहारा
Name[nl]=West Sahara
Name[nn]=Vest-Sahara
Name[pa]=ਦੱਖਣੀ ਸਹਾਰਾ
Name[pl]=Zachodnia Sahara
Name[pt]=Sara Ocidental
Name[pt_BR]=Sahara Ocidental
Name[ro]=Sahara de Vest
Name[ru]=Западная Сахара
Name[se]=Oarje-Sahara
Name[sk]=Západna Sahara
Name[sl]=Zahodna Sahara
Name[sr]=Западна Сахара
Name[sr@latin]=Zapadna Sahara
Name[sv]=Västsahara
Name[ta]=மேற்கத்திய சஹாரா
Name[te]=పశ్చిమ సహారా
Name[tg]=Саҳрои Ғарбӣ
Name[th]=ซาฮาร่าตะวันตก
Name[tr]=Batı Sahara
Name[uk]=Західна Сахара
Name[uz]=Ғарбий Сахара
Name[vi]=Tây Sa-ha-ra
Name[wa]=Sara Coûtchantrece
Name[x-test]=xxWestern Saharaxx
Name[zh_CN]=西撒哈拉
Name[zh_TW]=西盛哈拉
Region=northafrica
Languages=
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=€
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
