[KCM Locale]
Name=Serbia and Montenegro
Name[el]=Σερβία - Μαυροβούνιο
Name[fr]=Serbie and Monténégro
Name[x-test]=xxSerbia and Montenegroxx
Region=southeurope
Languages=sr
DecimalSymbol=.
ThousandsSeparator=.
CurrencySymbol=din
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sr]=%A %e. %B %Y.
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
AddressFormat=%0(%cm\n)%0(%n\n)%0(%p\n)%0(%s\n)%l%,%w%z
AddressCountryPosition=BELOW
