[KDE Print Filter Entry]
Name=enscript
Require=exec:/enscript
Comment=Enscript Text Filter
Comment[be]=Тэкставы фільтр Enscript
Comment[csb]=Tekstowi filter enscript
Comment[de]=Enscript Text-Filter
Comment[el]=Φίλτρο κειμένου του enscript
Comment[fa]=پالایۀ‌ متنی Enscript
Comment[ja]=Enscript テキストフィルタ
Comment[nds]=Textfilter "enscript"
Comment[nl]=Enscript-tekstfilter
Comment[sv]=Enscript-textfil
Comment[zh_TW]=Enscript 文字過濾器
MimeTypeIn=text/html,text/plain,text/sgml,text/x-c++hdr,text/x-c++src,text/x-chdr,text/x-csrc,text/x-java,text/x-makefile,text/x-pascal,text/x-python,text/x-tcl,text/x-tex,application/xml,text/x-fortran,application/x-perl,appication/x-perl-module,text/x-python,application/docbook+xml,text/x-log,text/x-patch,application/x-ruby
MimeTypeOut=application/postscript
