[KDE Print Filter Entry]
Name=imagetops
Name[ar]=الصور العلوية
Name[bg]=Графични файлове
Name[km]=កំពូល​រូបភាព
Name[ne]=उच्च छवि
Name[vi]=ảnh sang PS
Name[x-test]=xximagetopsxx
Require=exec:/imagetops
Comment=Generic Image to PS Filter
Comment[be]=Адмысловы праглядальнік відарысаў
Comment[bg]=Преглед на изображения
Comment[de]=Umwandlung von Bildern zu PS
Comment[el]=Γενικό φίλτρο εικόνας σε PS
Comment[es]=Filtro genérico de imagen a PostScript
Comment[fa]=تصویر کلی برای پالایه PS
Comment[ga]=Scagaire cineálach Íomhá go PS
Comment[he]=מסנן כללי מתמונה ל־PS
Comment[it]=Filtro da immagine generica a PS
Comment[ja]=一般的な画像を PS に変換
Comment[kk]=Негізгі кескін -> PS сүзгісі
Comment[km]=ប្រភេទ​រូបភាព​ទៅ​តម្រង PS
Comment[ko]=일반적인 그림 PS 변환 필터
Comment[lt]=Bendras filtras iš paveiksliukų į PS
Comment[nb]=Generisk filter for bilde til PS
Comment[nds]=Allgemeen Ümwanneln vun Biller na PS-Dateien
Comment[ne]=पीएस फिल्टरमा जेनेरिक छवि
Comment[nl]=Generiek afbeelding-naar-postscript-filter
Comment[nn]=Generisk filter for bilete til PS
Comment[pt]=Filtro de Imagens Genéricas para PS
Comment[pt_BR]=Filtro de Imagens Genéricas para PS
Comment[sv]=Generellt filter från bild till Postscript
Comment[th]=เปลี่ยนแฟ้มภาพทั่วไปเป็นฟิลเตอร์ PS
Comment[vi]=Bộ lọc ảnh-sang-PS giống loài
Comment[wa]=Passete djenerike imådjes viè PostScript
Comment[x-test]=xxGeneric Image to PS Filterxx
Comment[zh_CN]=通用图片转 PS 过滤器
Comment[zh_TW]=一般影像轉 PS 過濾器
MimeTypeIn=image/jpeg,image/png,image/x-png,image/bmp,image/bmp,image/gif,image/tiff
MimeTypeOut=application/postscript
