[KDE Print Filter Entry]
Name=ps2pdf
Require=exec:/gs
Comment=PostScript to PDF Converter
Comment[ar]=عارض PostScript
Comment[be]=Праглядальнік PostScript
Comment[bg]=Преглед на Postscript документи
Comment[csb]=Kònwerter Postscript do PDF
Comment[de]=Umwandlung von PostScript zu PDF
Comment[el]=Μετατροπέας από PostScript σε PDF
Comment[es]=Conversor de PostScript a PDF
Comment[fa]=مبدل پست‌اسکریپت به PDF
Comment[ga]=Tiontaire PostScript go PDF
Comment[he]=ממיר מ־PostScript ל־PDF
Comment[ja]=PostScript から PDF に変換
Comment[km]=កម្មវិធី​បម្លែង PostScript ទៅ PDF
Comment[nds]=PostScript-PDF-Ümdoer
Comment[nl]=PostScript naar PDF conversie
Comment[pa]=ਪੋਸਟ-ਸਕਰਿਪਟ ਤੋਂ PDF ਕੰਨਵਟਰ
Comment[pt]=Conversor de PostScript para PDF
Comment[pt_BR]=Conversor de PostScript para PDF
Comment[sl]=Pretvornik PostScript v PDF
Comment[sv]=Konvertering från Postscript till PDF
Comment[th]=โปรแกรมแปลง PostScript เป็น PDF
Comment[zh_TW]=PostScript 轉 PDF 轉換器
MimeTypeIn=application/postscript
MimeTypeOut=application/pdf
