[KDE Print Filter Entry]
Name=psbook1
Require=exec:/psbook,exec:/psnup,exec:/psselect
Comment=Pamphlet Printing - Even Pages (step 1)
MimeTypeIn=application/postscript
MimeTypeOut=application/postscript
