[KDE Print Filter Entry]
Name=psbook2
Name[ne]=पीएस बुक२
Name[vi]=Sách PS 2
Require=exec:/psbook,exec:/psnup,exec:/psselect
Comment=Pamphlet Printing - Odd Pages (step 2)
Comment[bg]=Печат на брошури - нечетни страници (стъпка 2)
Comment[de]=Broschüre drucken - ungerade Seiten (Schritt 2)
Comment[el]=Εκτύπωση φυλλαδίου - Μονές σελίδες (βήμα 2)
Comment[es]=Impresión de folletos - Páginas impares (paso 2)
Comment[fa]=چاپ جزوه - صفحات فرد )گام ۲(
Comment[ga]=Priontáil Phaimfléid - Leathanaigh Chorra (céim 2)
Comment[ja]=小冊子の印刷 - 奇数ページ (ステップ 2)
Comment[km]=ការ​បោះពុម្ព​ចុល្លលិខិត - ទំព័រ​សេស (ជំហាន ​២)
Comment[nds]=Lütt Book drucken - Uneven Sieden (Schritt 2)
Comment[ne]=पम्प्लेट मुद्रण - बिजोर पृष्ठहरू (चरण २)
Comment[nl]=Pamflet afdrukken - Oneven pagina's (stap 2)
Comment[pt]=Impressão de Panfletos - Páginas Ímpares (passo 2)
Comment[pt_BR]=Impressão de Panfletos - Páginas Ímpares (passo 2)
Comment[sv]=Broschyrutskrift - udda sidor (steg 2)
Comment[th]=การพิมพ์แผ่นพับ - หน้าคี่ (ขั้นที่ 2)
Comment[vi]=In ra cuốn sách nhỏ — các trang lẻ (bước 2)
Comment[zh_TW]=列印小冊─奇數頁（第二步）
MimeTypeIn=application/postscript
MimeTypeOut=application/postscript
