[KDE Print Filter Entry]
Name=psbook1
Require=exec:/psbook,exec:/psnup,exec:/psselect
Comment=Pamphlet Printing - Even Pages (step 1)
Comment[bg]=psbook1
Comment[de]=Broschüre drucken - gerade Seiten (Schritt 1)
Comment[el]=Εκτύπωση φυλλαδίου - Ζυγές σελίδες (βήμα 1)
Comment[es]=Impresión de folletos - Páginas pares (paso 1)
Comment[fa]=چاپ جزوه - صفحات زوج )گام ۱(
Comment[ja]=小冊子の印刷 - 偶数ページ (ステップ 1)
Comment[km]=ការ​បោះពុម្ព​ចុល្លលិខិត - ទំព័រ​គូរ (ជំហាន ១)
Comment[nds]=Lütt Book drucken - Even Sieden (Schritt 1)
Comment[nl]=Pamflet afdrukken - Even pagina's (stap 1)
Comment[pt]=Impressão de Panfletos - Páginas Pares (passo 1)
Comment[pt_BR]=Impressão de Panfletos - Páginas Pares (passo 1)
Comment[sv]=Broschyrutskrift - jämna sidor (steg 1)
Comment[zh_TW]=列印小冊─偶數頁（第一步）
MimeTypeIn=application/postscript
MimeTypeOut=application/postscript
