[KDE Print Filter Entry]
Name=psnup
Require=exec:/psnup
Comment=Multiple Pages per Sheet Filter
Comment[el]=Φίλτρο πολλών σελίδων ανά φύλλο
Comment[ja]=一枚あたり複数ページ印刷フィルタ
Comment[zh_TW]=單張多頁過濾器
MimeTypeIn=application/postscript
MimeTypeOut=application/postscript
