[Desktop Entry]
Exec=kcmshell4 device_automounter_kcm
Icon=drive-removable-media
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_device_automounter
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=advanced-user-settings
X-KDE-Keywords=Mount,Removable,Devices,Automatic
X-DocPath=kcontrol/solid-device-automounter/index.html
Name=Removable Devices
Name[da]=Flytbare enheder
Name[de]=Wechselmedien
Name[el]=Αφαιρούμενες συσκευές
Name[en_GB]=Removable Devices
Name[es]=Dispositivos extraíbles
Name[et]=Eemaldatavad seadmed
Name[eu]=Gailu aldagarriak
Name[is]=Útskiptanleg tæki
Name[lv]=Noņemamās iekārtas
Name[nb]=Flyttbar
Name[nds]=Tuuschbor Reedschappen
Name[pt]=Dispositivos Removíveis
Name[ru]=Внешние носители
Name[sv]=Flyttbara enheter
Name[uk]=Портативні пристрої
Name[x-test]=xxRemovable Devicesxx
Name[zh_TW]=可移除裝置
Comment=Configure automatic handling of removable storage media
Comment[da]=Indstil automatisk håndtering af flytbare lagringsmedier
Comment[de]=Automatischen Umgang mit Wechselmedien einrichten
Comment[el]=Ρύθμιση αυτόματης διαχείρισης των αφαιρούμενων μέσων αποθήκευσης
Comment[en_GB]=Configure automatic handling of removable storage media
Comment[es]=Configurar la gestión automática de medios de almacenamiento extraíbles
Comment[et]=Eemaldatavate andmekandjate automaatse käitlemise seadistamine
Comment[nb]=Sett opp automatisk håndtering av flyttbare lagringsmedium
Comment[nds]=Dat automaatsche Hanteren vun tuuschbor Spiekerreedschappen instellen
Comment[pt]=Configurar o tratamento automático dos dispositivos removíveis de armazenamento
Comment[ru]=Настройки автоматического подключения внешних носителей информации
Comment[sv]=Anpassa automatisk hantering av flyttbara lagringsmedia
Comment[uk]=Налаштувати автоматичну обробку портативних носіїв даних
Comment[x-test]=xxConfigure automatic handling of removable storage mediaxx
Comment[zh_TW]=設定可移除儲存裝置的自動處理
Categories=Qt;KDE;Filesystem;System;X-KDE-settings-components;
