[KCM Locale]
Author=Eugene Zelenko <greendeath@mail.ru>
Name=Belarus
Name[af]=Belarus
Name[ar]=روسيا البيضاء
Name[as]=বেলাৰুস
Name[ast]=Bielorrusia
Name[be]=Беларусь
Name[be@latin]=Biełaruś
Name[bg]=Беларус
Name[bn]=বেলারুস
Name[bn_IN]=বেলারুস
Name[br]=Belarusi
Name[bs]=Belorusija
Name[ca]=Bielorússia
Name[ca@valencia]=Bielorússia
Name[cs]=Bělorusko
Name[csb]=Biôłorëskô
Name[cy]=Belarws
Name[da]=Hviderusland
Name[de]=Weißrussland
Name[el]=Λευκορωσία
Name[en_GB]=Belarus
Name[eo]=Belorusio
Name[es]=Bielorrusia
Name[et]=Valgevene
Name[eu]=Bielorrusia
Name[fa]=بلوروس
Name[fi]=Valko-Venäjä
Name[fr]=Biélorussie
Name[fy]=Wyt-Rusland
Name[ga]=An Bhílearúis
Name[gl]=Bielorrusia
Name[gu]=બેલારૂસ
Name[he]=בלרוס
Name[hi]=बेलारूस
Name[hne]=बेलारूस
Name[hr]=Bjelorusija
Name[hsb]=Bełoruska
Name[hu]=Fehéroroszország
Name[ia]=Bielorussia
Name[id]=Belarus
Name[is]=Hvíta-Rússland
Name[it]=Bielorussia
Name[ja]=ベラルーシ
Name[ka]=ბელარუსი
Name[kk]=Белорус
Name[km]=បេឡារុស្ស
Name[kn]=ಬೆಲಾರಸ್
Name[ko]=벨라루스
Name[ku]=Belarus
Name[lt]=Baltarusija
Name[lv]=Baltkrievija
Name[mai]=बेलारूस
Name[mk]=Белорусија
Name[ml]=ബെലാറസ്
Name[mr]=बेलारुस
Name[ms]=Belarus
Name[nb]=Hviterussland
Name[nds]=Wittrussland
Name[ne]=बेलारुस
Name[nl]=Wit-Rusland
Name[nn]=Kviterussland
Name[oc]=Bielorusia
Name[or]=ବେଲାରୁସ
Name[pa]=ਬੇਲਾਰੂਸ
Name[pl]=Białoruś
Name[pt]=Bielorrússia
Name[pt_BR]=Bielorrússia
Name[ro]=Belarus
Name[ru]=Белоруссия
Name[se]=Vilges-Ruošša
Name[si]=බෙලරුස්
Name[sk]=Bielorusko
Name[sl]=Belorusija
Name[sr]=Белорусија
Name[sr@ijekavian]=Бјелорусија
Name[sr@ijekavianlatin]=Bjelorusija
Name[sr@latin]=Belorusija
Name[sv]=Vitryssland
Name[ta]=பெலாரூசு
Name[te]=బెలారుస్
Name[tg]=Белорусия
Name[th]=เบลารุส
Name[tr]=Belarus
Name[ug]=بېلارۇسىيە
Name[uk]=Білорусь
Name[uz]=Belorus
Name[uz@cyrillic]=Белорус
Name[vi]=Be-la-ruxợ
Name[wa]=Belaruss
Name[xh]=Belarus
Name[x-test]=xxBelarusxx
Name[zh_CN]=白俄罗斯
Name[zh_TW]=白俄羅斯
Region=easteurope
Languages=be,ru
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
WeekStartDay=1
MeasureSystem=0
PageSize=0
CalendarSystem=gregorian
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BYR
CurrencyCode=BYR
