[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
X-KDE-Library=device_automounter
X-KDE-DBus-ModuleName=device_automounter
Name=Removable Device Automounter
Name[ca]=Muntador automàtic de dispositius extraïbles
Name[ca@valencia]=Muntador automàtic de dispositius extraïbles
Name[cs]=Automatické připojování odpojitelných zařízení
Name[csb]=Aùtomatné dodôwanié przenosnych mediów
Name[da]=Automontering af flytbare enheder
Name[de]=Automounter für Wechselmedien
Name[el]=Aυτόματη προσάρτηση αφαιρούμενων συσκευών
Name[en_GB]=Removable Device Automounter
Name[es]=Automontaje de dispositivos extraíbles
Name[et]=Eemaldatavate seadmete automaatne ühendaja
Name[fr]=Auto-monteur de périphérique amovible
Name[fy]=Utnimber apparaat autokeppelder
Name[he]=עיגון התקנים אוטומטי
Name[hr]=Automatski monter uklonjivih uređaja
Name[id]=Pengait Otomatis Divais Dapat Dilepas
Name[ja]=リムーバブルデバイスの自動マウント
Name[kk]=Ауыстырмалы құрылғының автоттіркегіші
Name[km]=កម្មវិធី​ម៉ោន​ឧបករណ៍​ចល័ត​ដោយ​ស្វ័យ​ប្រវត្តិ
Name[ko]=이동식 장치 자동 마운터
Name[lv]=Noņemamo iekārtu automontētājs
Name[ml]=നീക്കം ചെയ്യാവുന്ന ഉപകരണങ്ങളുടെ ഔട്ടോമൌണ്ടര്‍
Name[nb]=Automatisk montering av flyttbare enheter
Name[nds]=Autom. Inhangdeenst för tuuschbor Reedschappen
Name[nl]=Automatische aankoppelaar voor verwijderbare apparaten
Name[nn]=Automontering av flyttbare einingar
Name[pt]=Montagem Automática dos Dispositivos Removíveis
Name[sl]=Samodejno priklapljanje odstranljivih naprav
Name[sr]=Аутомонтер уклоњивих уређаја
Name[sr@ijekavian]=Аутомонтер уклоњивих уређаја
Name[sr@ijekavianlatin]=Automonter uklonjivih uređaja
Name[sr@latin]=Automonter uklonjivih uređaja
Name[sv]=Automatisk montering av flyttbara enheter
Name[uk]=Автоматичне монтування портативних пристроїв
Name[x-test]=xxRemovable Device Automounterxx
Name[zh_CN]=可移动设备自动挂载程序
Name[zh_TW]=可移除裝置自動掛載器
Comment=Automatically mounts devices when they are plugged in, or at login
Comment[ca]=Munta automàticament els dispositius quan es connecten, o en iniciar la sessió
Comment[ca@valencia]=Munta automàticament els dispositius quan es connecten, o en iniciar la sessió
Comment[cs]=Připojí automaticky zařízení při zasunutí nebo při přihlášení
Comment[csb]=Dodôwô aùtomatno przenosné media przë wlogòwaniu abò przë jich wëtkniãcu
Comment[da]=Monterer automatisk enheder når de tilsluttes eller ved login
Comment[de]=Bindet Geräte automatisch beim Anmelden oder Anschließen ein.
Comment[el]=Αυτόματη προσάρτηση συσκευών όταν συνδέονται, ή κατά την είσοδο του χρήστη
Comment[en_GB]=Automatically mounts devices when they are plugged in, or at login
Comment[es]=Monta automáticamente dispositivos al conectarlos o al iniciar sesión
Comment[et]=Seadmete automaatne ühendamine sisselogimisel või seadmete ühendamisel masinaga
Comment[fr]=Monter automatiquement les périphériques lorsqu'ils sont branchés, ou à la connexion
Comment[fy]=Keppelt automatysk apparaten hokker ynstútsen, of oanmeld wurde
Comment[he]=עגן התקנים מחוברים באופן אוטומטי, או בעת התחברות
Comment[hr]=Automatski montiraj uređaje kad su priključeni ili prilikom prijave
Comment[id]=Secara otomatis mengaitkan divais ketika mereka ditancapkan, atau saat login
Comment[ja]=ログイン時または接続時にデバイスを自動的にマウントします
Comment[kk]=Құрылғыны қосқан кезде не кірген кезде автоматты түрде тіркеу
Comment[km]=ម៉ោន​ឧបករណ៍​ដោយ​ស្វ័យ​ប្រវត្តិ នៅពេល​ពួកវា​ត្រូវ​បានដោត​ ឬ​ចូល
Comment[ko]=로그인하거나 연결할 때 자동으로 장치 마운트하기
Comment[lv]=Automātiski piemontē pieslēgtās ierīces, piesakoties datorā vai iespraužot
Comment[ml]=ഉപകരണള്‍ കുത്തുമ്പോഴോ അകത്തുകയറുമ്പോഴോ അവ മൌണ്ട് ചെയ്യുന്നതാണ്
Comment[nb]=Monterer automatisk enheter når de kobles til, eller ved pålogging
Comment[nds]=Hangt Reedschappen automaatsch bi't Anmellen oder Tokoppeln in
Comment[nl]=Koppelt automatisch apparaten aan als ze worden ingeplugd of bij aanmelden
Comment[nn]=Monter automatisk einingar ved innplugging eller innlogging
Comment[pt]=Monta automaticamente os dispositivos quando forem ligados ou no início da sessão
Comment[sl]=Samodejno priklopi naprave, ko so priključene ali ob prijavi
Comment[sr]=Аутоматско монтирање уређаја када се утакну или по пријављивању
Comment[sr@ijekavian]=Аутоматско монтирање уређаја када се утакну или по пријављивању
Comment[sr@ijekavianlatin]=Automatsko montiranje uređaja kada se utaknu ili po prijavljivanju
Comment[sr@latin]=Automatsko montiranje uređaja kada se utaknu ili po prijavljivanju
Comment[sv]=Monterar automatiskt enheter när de kopplas in, eller vid inloggning
Comment[uk]=Автоматично монтує пристрої після з’єднання з комп’ютером або при вході до системи
Comment[x-test]=xxAutomatically mounts devices when they are plugged in, or at loginxx
Comment[zh_CN]=当插入可移动设备，或用户登录时，自动挂载相应设备
Comment[zh_TW]=插入或登入時自動掛載裝置
