[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
X-KDE-Library=device_automounter
X-KDE-DBus-ModuleName=device_automounter
Name=Removable Device Automounter
Name[da]=Automontering af flytbare enheder
Name[de]=Automounter für Wechselmedien
Name[el]=Aυτόματη προσάρτηση αφαιρούμενων συσκευών
Name[en_GB]=Removable Device Automounter
Name[es]=Automontaje de dispositivos extraíbles
Name[et]=Eemaldatavate seadmete automaatne ühendaja
Name[lv]=Noņemamo iekārtu automontētājs
Name[nb]=Automatisk montering av flyttbare enheter
Name[nds]=Autom. Inhangdeenst för tuuschbor Reedschappen
Name[pt]=Montagem Automática dos Dispositivos Removíveis
Name[sv]=Automatisk montering av flyttbara enheter
Name[uk]=Автоматичне монтування портативних пристроїв
Name[x-test]=xxRemovable Device Automounterxx
Name[zh_TW]=可移除裝置自動掛載器
Comment=Automatically mounts devices when they are plugged in, or at login
Comment[da]=Monterer automatisk enheder når de tilsluttes eller ved login
Comment[de]=Bindet Geräte automatisch beim Anmelden oder Anschließen ein.
Comment[el]=Αυτόματη προσάρτηση συσκευών όταν συνδέονται, ή κατά την είσοδο του χρήστη
Comment[en_GB]=Automatically mounts devices when they are plugged in, or at login
Comment[es]=Monta automáticamente dispositivos al conectarlos o al iniciar sesión
Comment[et]=Seadmete automaatne ühendamine sisselogimisel või seadmete ühendamisel masinaga
Comment[nb]=Monterer automatisk enheter når de kobles til, eller ved pålogging
Comment[nds]=Hangt Reedschappen automaatsch bi't Anmellen oder Tokoppeln in
Comment[pt]=Monta automaticamente os dispositivos quando forem ligados ou no início da sessão
Comment[sv]=Monterar automatiskt enheter när de kopplas in, eller vid inloggning
Comment[uk]=Автоматично монтує пристрої після з’єднання з комп’ютером або при вході до системи
Comment[x-test]=xxAutomatically mounts devices when they are plugged in, or at loginxx
Comment[zh_TW]=插入或登入時自動掛載裝置
