[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
X-KDE-Library=device_automounter
X-KDE-DBus-ModuleName=device_automounter
Name=Removable Device Automounter
Name[pt]=Montagem Automática dos Dispositivos Removíveis
Name[pt_BR]=Montagem Automática dos Dispositivos Removíveis
Name[uk]=Автоматичне монтування змінних пристроїв
Name[x-test]=xxRemovable Device Automounterxx
Name[zh_TW]=可移除裝置自動掛載器
Comment=Automatically mounts devices when they are plugged in, or at login
Comment[pt]=Monta automaticamente os dispositivos quando ligados ou no início da sessão
Comment[pt_BR]=Monta automaticamente os dispositivos quando ligados ou no início da sessão
Comment[uk]=Автоматично монтує пристрої після з’єднання з комп’ютером або при вході до системи
Comment[x-test]=xxAutomatically mounts devices when they are plugged in, or at loginxx
Comment[zh_TW]=插入或登入時自動掛載裝置
