[KCM Locale]
Name=Tuvalu
Name[ar]=توفالو
Name[bg]=Тувалу
Name[cy]=Twfalw
Name[el]=Τουβαλού
Name[eo]=Tuvalo
Name[fa]=تووالو
Name[he]=טובאלו
Name[is]=Túvalú
Name[ja]=ツバル
Name[ka]=ტუვალუ
Name[kk]=Тувалу
Name[km]=ទុយវ៉ាលុយ
Name[ko]=투발루
Name[mk]=Тувалу
Name[ne]=टुभेलु
Name[pa]=ਤੁਵਾਲੂ
Name[ru]=Тувалу
Name[sr]=Тувалу
Name[ta]=துவலு
Name[te]=టువాలు
Name[tg]=Тувалу
Name[uk]=Тувалу
Name[uz]=Тувалу
Name[x-test]=xxTuvaluxx
Name[zh_TW]=吐瓦魯
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=A$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
