[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=ktimezoned
X-KDE-DBus-ModuleName=ktimezoned
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true

Name=Time Zone
Name[cs]=Časové pásmo
Name[de]=Zeitzone
Name[el]=Ωρολογιακή ζώνη
Name[en_GB]=Time Zone
Name[es]=Zona horaria
Name[et]=Ajavöönd
Name[hr]=Vremenska zona
Name[kk]=Уақыт белдеуі
Name[km]=​តំបន់​ពេល​វេលា
Name[nb]=Tidssone
Name[nds]=Tietrebeet
Name[pt]=Fuso-Horário
Name[pt_BR]=Fuso horário
Name[sv]=Tidszon
Name[th]=เขตเวลา
Name[uk]=Часовий пояс
Name[x-test]=xxTime Zonexx
Comment=Provides the system's time zone to applications
Comment[cs]=Poskytuje systémová časová pásma aplikacím
Comment[de]=Die Systemzeitzone den Anwendungen zur Verfügung stellen
Comment[el]=Παρέχει την ωρολογιακή ζώνη του συστήματος στις εφαρμογές
Comment[en_GB]=Provides the system's time zone to applications
Comment[es]=Proporciona la zona horaria del sistema a las aplicaciones
Comment[et]=Süsteemi ajavööndi edastamine rakendustele
Comment[kk]=Қолданбаларға орнатылған уақыт белдеу мәліметін жеткізеді
Comment[km]=ផ្ដល់​តំបន់​ពេលវេលា​​ប្រព័ន្ធ​ឲ្យ​​កម្មវិធី
Comment[nb]=Viser systemets tidssone til programmer
Comment[pt]=Fornece o fuso-horário do sistema às aplicações
Comment[pt_BR]=Fornece o fuso horário do sistema para os aplicativos
Comment[sv]=Tillhandahåller systemets tidszon till program
Comment[th]=กำหนดเขตเวลาของระบบให้กับโปรแกรมต่าง ๆ
Comment[uk]=Надає дані щодо часового поясу системи програмам
Comment[x-test]=xxProvides the system's time zone to applicationsxx
