[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=KDEDModule
X-KDE-Library=ktimezoned
X-KDE-FactoryName=ktimezoned
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true

Name=KDE Time Zone Daemon
Name[ar]=مراقب المنطقة الزمنية لـ كيدي
Name[be]=Сервіс часавых зон KDE
Name[csb]=Ùsłëżnota czasowi conë KDE
Name[de]=Zeitzonen-Dienst
Name[el]=Δαίμονας ωρολογιακής ζώνης του KDE
Name[es]=Servicio de zona horaria de KDE
Name[fa]=شبح ناحیۀ زمان KDE
Name[he]=שירות איזורי הזמן של KDE
Name[it]=Demone dei Fusi orari di KDE
Name[ja]=KDE タイムゾーンデーモン
Name[kk]=KDE уақыт белдеу қызметі
Name[km]=ដេមិន​តំបន់​ពេលវេលា​របស់ KDE
Name[nb]=KDEs tidssonenisse
Name[nds]=Tietrebeet-Dämoon
Name[ne]=केडीई टाइम जोन डेइमन
Name[nl]=KDE Tijdzone-daemon
Name[pa]=KDE ਸਮਾਂ ਜ਼ੋਨ ਡੈਮਨ
Name[pt]=Servidor do Write do KDE
Name[pt_BR]=Servidor de Fuso Horário do KDE
Name[sv]=KDE:s tidszondemon
Name[th]=เดมอนเขตเวลาของ KDE
Name[vi]=Trình nền Múi giờ KDE
Name[zh_TW]=KDE 時區伺服程式
Comment=Time zone daemon for KDE
Comment[bg]=Демон на KDE за времевите зони
Comment[csb]=Ùsłëżnota czasowi conë KDE
Comment[de]=Zeitzonen-Dienst für KDE
Comment[el]=Δαίμονας ωρολογιακής ζώνης για το KDE
Comment[es]=Servicio de zonas horarias de KDE
Comment[fa]=شبح ناحیه زمان برای KDE
Comment[he]=שירות איזורי זמן ל־KDE
Comment[it]=Demone dei fusi orari per KDE
Comment[ja]=KDE のためのタイムゾーンデーモン
Comment[kk]=KDE уақыт белдеу қызметі
Comment[km]=ដេមិន​តំបន់​ពេលវេលា​សម្រាប់ KDE
Comment[nb]=Tidssonenisse for KDE
Comment[nds]=Tietrebeet-Dämoon för KDE
Comment[ne]=केडीईका लागि टाइमजोन डेइमन
Comment[nl]=Tijdzone-daemon voor KDE
Comment[pa]=KDE ਲਈ ਟਾਈਮ-ਜ਼ੋਨ ਡੈਮਨ
Comment[pt]=Serviço de fusos-horários para o KDE
Comment[pt_BR]=Servidor de fuso horário para o KDE
Comment[sv]=Tidszondemon för KDE
Comment[th]=แดมอนเขตเวลาสำหรับ KDE
Comment[vi]=Trình nền múi giờ cho KDE
Comment[zh_TW]=KDE 的時區伺服程式
