[KCM Locale]
Name=Eritrea
Name[ar]=أرتيريا
Name[be]=Эрытрэя
Name[bg]=Еритрея
Name[bn]=এরিট্রিয়া
Name[br]=Eritre
Name[csb]=Erytrea
Name[el]=Ερυθραία
Name[eo]=Eritreo
Name[fa]=اریتره
Name[fr]=Érythrée
Name[ga]=Eiritré
Name[he]=אריתריאה
Name[hi]=एरिट्रीया
Name[hr]=Eritreja
Name[is]=Erítrea
Name[ja]=エリトリア
Name[ka]=ერითრეა
Name[kk]=Эритрея
Name[km]=អេរីទ្រា
Name[ko]=에리트리아
Name[lt]=Eritrėja
Name[lv]=Eritreja
Name[mk]=Еритреја
Name[ne]=इरिट्राया
Name[oc]=Eritrèa
Name[pa]=ਈਰੀਟਰੀਆ
Name[pl]=Erytrea
Name[pt]=Eritreia
Name[pt_BR]=Eritréia
Name[ru]=Эритрея
Name[sl]=Eritreja
Name[sr]=Еритреја
Name[sr@latin]=Eritreja
Name[ta]=ரிட்ரியா
Name[te]=ఎరిట్రియా
Name[tg]=Эритрия
Name[th]=เอริเทรีย
Name[tr]=Eritre
Name[uk]=Еритрея
Name[uz]=Эритрия
Name[vi]=E-ri-tợ-rê-a
Name[wa]=Eritrêye
Name[x-test]=xxEritreaxx
Name[zh_CN]=厄立特里亚
Name[zh_TW]=厄利垂亞
Region=northafrica
Languages=ti,ar
DecimalSymbol=.
ThousandsSeparator=.
CurrencySymbol=$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
#DateFormat[ti]=
DateFormatShort=%d/%m/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
