[KCM Locale]
Name=Eritrea
Region=northafrica
Languages=ti,ar
DecimalSymbol=.
ThousandsSeparator=.
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
#DateFormat[ti]=
DateFormatShort=%d/%m/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=ERN
CurrencyCode=ERN
