[KCM Locale]
Name=Tokelau
Name[be]=Такелау
Name[bg]=Токело
Name[br]=Tokelo
Name[cy]=Tocelaw
Name[el]=Τοκελάου
Name[eo]=Tokelao
Name[fa]=توکلائو
Name[ga]=Oileáin Tócala
Name[he]=טוקלאו
Name[is]=Tókelá
Name[ja]=トケラウ
Name[ka]=ტოკელაუ
Name[kk]=Токелау
Name[km]=តូកេឡូ
Name[ko]=토켈로
Name[mk]=Токелау
Name[ne]=टोकेलाउ
Name[pa]=ਤੋਕੀਲਾਉ
Name[ru]=Токелау
Name[sr]=Токелау
Name[ta]=டோகேலா
Name[te]=టొకెలౌ
Name[tg]=Токилау
Name[uk]=Токелау
Name[uz]=Токелау
Name[x-test]=xxTokelauxx
Name[zh_TW]=托克勞
Region=caribbean
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=NZ$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
