[KCM Locale]
Author=Hans Petter Bieker <bieker@kde.org>
Name=Norway
Name[fr]=Norvège
Name[x-test]=xxNorwayxx
Region=northeurope
Languages=nb,nn,se
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=kr
CurrencySymbol[se]=ru
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[nb]=%A %e. %B %Y
DateFormat[nn]=%A %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormat[se]=%A, %B %e. b. %Y
DateFormatShort=%e.%n.%Y
DateFormatShort[se]=%Y-%m-%d
TimeFormat=%H:%M:%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(PB %p\n)%0(%s\n)%z%w%L
AddressCountryPosition=BELOW
