[KCM Locale]
Author=Karl Ove Hufthammer <karl@huftis.org>
Name=Norway
Region=northeurope
Languages=nb,nn,se
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol[se]=ru
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=−
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%A %e. %B %Y
DateFormat[nb]=%A %e. %B %Y
DateFormat[nn]=%A %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormat[se]=%A, %B %e. b. %Y
DateFormatShort=%d.%m.%Y
DateFormatShort[nb]=%d.%m.%Y
DateFormatShort[nn]=%d.%m.%Y
DateFormatShort[se]=%Y-%m-%d
TimeFormat=%H.%M.%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%0(%cm\n)%0(%n\n)%0(Postboks %p\n)%0(%s\n)%z%w%w%L
AddressCountryPosition=BELOW
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=NOK
CurrencyCode=NOK
