[KCM Locale]
Name=Albania
Region=southeurope
Languages=sq,el
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
DateFormat[sq]=%a, %d %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%l.%M.%S.%p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=ALL
CurrencyCode=ALL
