[KCM Locale]
Name=Kiribati
Name[be]=Кiрыбацi
Name[bg]=Кирибати
Name[cy]=Ciribati
Name[el]=Κιριμπάτι
Name[eo]=Kiribato
Name[fa]=کریباتی
Name[ga]=Ciribeas
Name[he]=קיריבאטי
Name[is]=Kíribatí
Name[ja]=キリバス
Name[ka]=კირიბატი
Name[kk]=Кирибати
Name[km]=គិរិបាទី
Name[ko]=키리바시
Name[mk]=Кирибати
Name[ne]=किरिबाती
Name[pa]=ਕਿਰਿਬਟੀ
Name[ru]=Кирибати
Name[sr]=Кирибати
Name[ta]=கிரிபடி
Name[te]=కిరిబాటి
Name[tg]=Карибот
Name[uk]=Кірибаті
Name[uz]=Кирибати
Name[x-test]=xxKiribatixx
Name[zh_TW]=吉里巴斯
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=A$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
