[KCM Locale]
Author=Chusslove Illich <caslav.ilic@gmx.net>
Name=Serbia
Name[af]=Serwië
Name[ar]=صربيا
Name[as]=ছাৰ্বিয়া
Name[ast]=Serbia
Name[be]=Сірыя
Name[be@latin]=Serbija
Name[bg]=Сърбия
Name[bn]=সার্বিয়া
Name[bn_IN]=সার্বিয়া
Name[bs]=Srbija
Name[ca]=Sèrbia
Name[ca@valencia]=Sèrbia
Name[cs]=Srbsko
Name[csb]=Serbskô
Name[da]=Serbien
Name[de]=Serbien
Name[el]=Σερβία
Name[en_GB]=Serbia
Name[eo]=Serbio
Name[es]=Serbia
Name[et]=Serbia
Name[eu]=Serbia
Name[fa]=صربیا
Name[fi]=Serbia
Name[fr]=Serbie
Name[fy]=Serbia
Name[ga]=An tSeirbia
Name[gl]=Siria
Name[gu]=સર્બિયા
Name[he]=סרביה
Name[hi]=सर्बिया
Name[hne]=सर्बिया
Name[hr]=Srbija
Name[hsb]=Serbiska
Name[hu]=Szerbia
Name[ia]=Serbia
Name[id]=Serbia
Name[is]=Serbía
Name[it]=Serbia
Name[ja]=セルビア
Name[kk]=Сербия
Name[km]=ស៊ឺប៊ែរ
Name[kn]=ಸರ್ಬಿಯಾ
Name[ko]=세르비아
Name[ku]=Sirbistan
Name[lt]=Serbija
Name[lv]=Serbija
Name[mai]=सर्बिया
Name[mk]=Србија
Name[ml]=സെര്‍ബിയ
Name[mr]=सर्बिया
Name[nb]=Serbia
Name[nds]=Serbien
Name[ne]=सर्बिया
Name[nl]=Servië
Name[nn]=Serbia
Name[oc]=Serbia
Name[or]=ସେରବିଆ
Name[pa]=ਸਰਬੀਆ
Name[pl]=Serbia
Name[pt]=Sérvia
Name[pt_BR]=Sérvia
Name[ro]=Serbia
Name[ru]=Сербия
Name[se]=Serbia
Name[si]=සර්බියාව
Name[sk]=Srbsko
Name[sl]=Srbija
Name[sr]=Србија
Name[sr@ijekavian]=Србија
Name[sr@ijekavianlatin]=Srbija
Name[sr@latin]=Srbija
Name[sv]=Serbien
Name[ta]=செர்பியா
Name[te]=సెర్బియా
Name[tg]=Сербия
Name[th]=เซอร์เบีย
Name[tr]=Sırbistan
Name[ug]=سېربىيە-مونتېنېگرو
Name[uk]=Сербія
Name[vi]=Xéc-bi
Name[wa]=Serbeye
Name[x-test]=xxSerbiaxx
Name[zh_CN]=塞尔维亚
Name[zh_TW]=塞爾維亞
Region=southeurope
Languages=sr
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%A, %e. %B %Y.
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e. %n. %Y.
TimeFormat=%k.%M.%S
WeekStartDay=1
MeasureSystem=0
PageSize=0
CalendarSystem=gregorian
AddressFormat=%0(%cm\n)%0(%n\n)%0(%s\n)%0(поштански фах %p\n)%z%w%l
AddressFormat[sr@latin]=%0(%cm\n)%0(%n\n)%0(%s\n)%0(poštanski fah %p\n)%z%w%l
AddressCountryPosition=BELOW
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=RSD
CurrencyCode=RSD
