[KCM Locale]
Author=Chusslove Illich <caslav.ilic@gmx.net>
Name=Serbia
Region=southeurope
Languages=sr
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%A, %e. %B %Y.
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e. %n. %Y.
TimeFormat=%k.%M.%S
WeekStartDay=1
MeasureSystem=0
PageSize=0
CalendarSystem=gregorian
AddressFormat=%0(%cm\n)%0(%n\n)%0(%s\n)%0(поштански фах %p\n)%z%w%l
AddressFormat[sr@latin]=%0(%cm\n)%0(%n\n)%0(%s\n)%0(poštanski fah %p\n)%z%w%l
AddressCountryPosition=BELOW
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=RSD
CurrencyCode=RSD
