[KCM Locale]
Name=Mauritania
Name[af]=Mauritanië
Name[ar]=موريتانيا
Name[be]=Маўрытанія
Name[br]=Maouritani
Name[ca]=Mauritània
Name[cs]=Mauretánie
Name[csb]=Maùretańskô
Name[cy]=Mawritania
Name[da]=Mauretanien
Name[de]=Mauretanien
Name[el]=Μαυριτανία
Name[eo]=Maŭritanujo
Name[et]=Mauritaania
Name[fa]=موریتانی
Name[fr]=Mauritanie
Name[fy]=Mauritanië
Name[ga]=An Mháratáin
Name[gl]=Mauritánia
Name[he]=מאוריטניה
Name[hr]=Mauritanija
Name[hu]=Mauritánia
Name[is]=Máritanía
Name[ja]=モーリタニア
Name[ka]=მავრიტანია
Name[kk]=Мавритания
Name[km]=ម៉ូរីតានី
Name[ko]=모리타니
Name[lt]=Mauritanija
Name[lv]=Mauritānija
Name[mk]=Мавританија
Name[nds]=Mauretanien
Name[ne]=माउरिटानिया
Name[nl]=Mauritanië
Name[pa]=ਮਾਉਰੀਟਨਿਆ
Name[pl]=Mauretania
Name[pt_BR]=Mauritânia
Name[ru]=Мавритания
Name[sl]=Mavretanija
Name[sr]=Мауританија
Name[sr@latin]=Mauritanija
Name[sv]=Mauretanien
Name[ta]=மௌரிடானியா
Name[te]=మారీటానియా
Name[tg]=Мавритонӣ
Name[tr]=Mauritanya
Name[uk]=Мавританія
Name[uz]=Мавритания
Name[wa]=Moritanreye
Name[x-test]=xxMauritaniaxx
Name[zh_TW]=茅利塔尼亞
Region=westafrica
Languages=ar,en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=UM
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=1
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
