[KCM Locale]
Author=Denis Perchine <dyp@perchine.com>
Name=Russia
Name[af]=Rusland
Name[ar]=روسيا
Name[as]=ৰাছিয়া
Name[ast]=Rusia
Name[be]=Расія
Name[be@latin]=Rasieja
Name[bg]=Русия
Name[bn]=রাশিয়া
Name[bn_IN]=রাশিয়া
Name[br]=Rusia
Name[bs]=Rusija
Name[ca]=Rússia
Name[ca@valencia]=Rússia
Name[cs]=Rusko
Name[csb]=Ruskô
Name[cy]=Rwsia
Name[da]=Rusland
Name[de]=Russland
Name[el]=Ρωσία
Name[en_GB]=Russia
Name[eo]=Rusio
Name[es]=Rusia
Name[et]=Venemaa
Name[eu]=Errusia
Name[fa]=روسیه
Name[fi]=Venäjä
Name[fr]=Russie
Name[fy]=Rusland
Name[ga]=An Rúis
Name[gl]=Rusia
Name[gu]=રશિયા
Name[he]=רוסיה
Name[hi]=रुस
Name[hne]=रुस
Name[hr]=Rusija
Name[hsb]=Ruska
Name[hu]=Oroszország
Name[ia]=Russia
Name[id]=Rusia
Name[is]=Rússland
Name[it]=Russia
Name[ja]=ロシア
Name[ka]=რუსეთი
Name[kk]=Ресей
Name[km]=រូស្ស៊ី
Name[kn]=ರಷ್ಯಾ
Name[ko]=러시아
Name[ku]=Rûsiya
Name[lt]=Rusija
Name[lv]=Krievija
Name[mai]=रूस
Name[mk]=Русија
Name[ml]=റഷ്യ
Name[mr]=रशिया
Name[ms]=Russia
Name[nb]=Russland
Name[nds]=Russland
Name[ne]=रूस
Name[nl]=Rusland
Name[nn]=Russland
Name[oc]=Russia
Name[or]=ରୁସିଆ
Name[pa]=ਰੂਸ
Name[pl]=Rosja
Name[pt]=Rússia
Name[pt_BR]=Rússia
Name[ro]=Rusia
Name[ru]=Россия
Name[se]=Ruošša
Name[si]=රුසියාව
Name[sk]=Rusko
Name[sl]=Rusija
Name[sr]=Русија
Name[sr@ijekavian]=Русија
Name[sr@ijekavianlatin]=Rusija
Name[sr@latin]=Rusija
Name[sv]=Ryssland
Name[ta]=ரசியா
Name[te]=రష్యా
Name[tg]=Русия
Name[th]=รัสเซีย
Name[tr]=Rusya
Name[ug]=رۇسىيە
Name[uk]=Росія
Name[uz]=Rossiya
Name[uz@cyrillic]=Россия
Name[vi]=Nga
Name[wa]=Rûsseye
Name[xh]=Rashiya
Name[x-test]=xxRussiaxx
Name[zh_CN]=俄罗斯
Name[zh_TW]=俄羅斯
Region=easteurope
Languages=ru
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[ru]=%e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%y
TimeFormat=%H:%M:%S
#WeekStartDay=
PageSize=0
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=RUB
CurrencyCode=RUB
