[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=phononserver
X-KDE-DBus-ModuleName=phononserver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=Sound Policy Server
Name[ar]=خادم سياسة الصوت 
Name[be@latin]=Server huku
Name[bg]=Звуков сървър
Name[bn]=সাউণ্ড পলিসি সার্ভার
Name[ca]=Servidor de política de so
Name[ca@valencia]=Servidor de política de so
Name[cs]=Server rozdělující požadavky na zvuk
Name[csb]=Ùsłëżnota nastôwù zwãkù
Name[da]=Server til lydpolitik
Name[de]=Dienst für Audio-Einstellungen
Name[el]=Εξυπηρετητής πολιτικής ήχου
Name[en_GB]=Sound Policy Server
Name[eo]=Servo de Son-Strategio
Name[es]=Servidor de política de sonido
Name[et]=Helireeglite server
Name[eu]=Soinu politika zerbitzaria
Name[fi]=Äänimenettelytapakäsittelijä
Name[fr]=Politique du serveur de son
Name[fy]=Lûd belied tsjinner
Name[ga]=Freastalaí Polasaí Fuaime
Name[gl]=Servidor da política de son
Name[gu]=ધ્વનિ નિતી સર્વર
Name[hi]=ध्वनि नियम सर्वर
Name[hne]=अवाज पालिसी सर्वर
Name[hr]=Poslužitelj zvučnih pravila
Name[hsb]=Serwer za zadźerženje zwuka
Name[hu]=Hangrendszer-kezelő
Name[id]=Server Kebijakan Suara
Name[is]=Þjónn sem stýrir hljóðmeðhöndlun
Name[it]=Server di gestione del suono
Name[ja]=サウンドのポリシーサーバ
Name[kk]=Дыбыс ереже сервері
Name[km]=ម៉ាស៊ីនបម្រើ​គោលនយោបាយ​សំឡេង
Name[kn]=ಧ್ವನಿ ಕಾರ್ಯನೀತಿ (ಪಾಲಿಸಿ) ಪರಿಚಾರಕ
Name[ko]=소리 정책 서버
Name[ku]=Pêşkêşkerê Qayde yê Dengê
Name[lv]=Skaņu politikas serveris
Name[ml]=ശബ്ദ പോളിസി സര്‍വര്‍
Name[mr]=साऊन्ड करार सर्वर
Name[nb]=Tjener for lydpraksis
Name[nds]=Klangregel-Server
Name[nl]=Geluidsbeleidserver
Name[nn]=Tenar for lydpraksis
Name[or]=ଧ୍ୱନି ନୀତି ସର୍ଭର
Name[pa]=ਸਾਊਂਡ ਪਾਲਸੀ ਸਰਵਰ
Name[pl]=Serwer zarządzania dźwiękiem
Name[pt]=Servidor da Política de Som
Name[pt_BR]=Servidor da política de som
Name[ro]=Server pentru politici de sunet
Name[ru]=Звуковой сервер
Name[si]=ශ්‍රව්‍ය ප්‍රතිපත්ති ධාරකය
Name[sk]=Server politiky zvuku
Name[sl]=Strežnik za ravnanje z zvokom
Name[sr]=Сервер смерница звука
Name[sr@ijekavian]=Сервер смјерница звука
Name[sr@ijekavianlatin]=Server smjernica zvuka
Name[sr@latin]=Server smernica zvuka
Name[sv]=Ljudpolicyserver
Name[ta]=ஒலிக் கொள்கை வழங்கி
Name[tg]=Сервер для Freeciv
Name[tr]=Ses Politikası Sunucu
Name[uk]=Сервер правил звуку
Name[wa]=Sierveu pol politike do son
Name[x-test]=xxSound Policy Serverxx
Name[zh_CN]=声音策略服务器
Name[zh_TW]=音效政策程式
Comment=A server to centralize decisions and data of applications using Phonon
Comment[ar]=خادم يقوم بتنسيق قرارات و بيانات التطبيقات التي تستعمل فونون
Comment[be@latin]=Server, jaki pastanaŭlaje, što rabić ź źviestkami ad aplikacyjaŭ dla systemy „Phonon”
Comment[ca]=Un servidor per a centralitzar les decisions i les dades de les aplicacions que usen el Phonon
Comment[ca@valencia]=Un servidor per a centralitzar les decisions i les dades de les aplicacions que usen el Phonon
Comment[cs]=Server soustřeďující rozhodnutí a data aplikací používajících Phonon
Comment[csb]=Ùsłëżnota do centralnegò òdkłôdaniô pòdôwków aplikacrjów brëkùjących Phonon
Comment[da]=En server til centralisering af beslutninger og data for programmer som bruger Phonon
Comment[de]=Dienst zur zentralen Ablage von Einstellungen und Daten von Programmen, die Phonon verwenden.
Comment[el]=Ένας εξυπηρετητής που εποπτεύει τις λειτουργίες των εφαρμογών που κάνουν χρήση του Phonon
Comment[en_GB]=A server to centralise decisions and data of applications using Phonon
Comment[eo]=Servilo por centrigi decidojn kaj datumojn el aplikaĵoj kiuj uzas Phonon
Comment[es]=Un servidor para centralizar decisiones y datos de aplicaciones que usa Phonon
Comment[et]=Server Phononit puudutavate otsuste ja rakenduste andmete koondamiseks
Comment[eu]=Phonon erabiltzen duten aplikazioen erabaki eta datuak biltzeko zerbitzari bat
Comment[fi]=Palvelin sovellusten päätösten ja datan keskittämiseksi käyttäen Phonon-ohjelmaa
Comment[fr]=Un serveur qui centralise les décisions et les données des applications en utilisant Phonon
Comment[fy]=In tsjinner foar it sentralisearjen fan beslút en gegevens fan programma's mei help fan Phonon
Comment[ga]=Freastalaí a láraíonn cinntí agus sonraí d'fheidhmchláir a bhaineann úsáid as Phonon
Comment[gl]=Un servidor para centralizar as decisión e datos de programas mediante Phonon
Comment[gu]=નિર્ણયો કેન્દ્રિત કરવા અને ફોનોન ઉપયોગ કરતાં કાર્યક્રમોની માહિતી માટે સર્વર
Comment[hr]=Poslužitelj koji centralizira odluke i podatke aplikacija koje koriste Phonon
Comment[hsb]=Serwer, kiž rozsudy a daty programow, kotrež Phonon wužiwaja, zjednoći
Comment[hu]=Adatkezelő szolgáltatás a Phonon keretrendszert használó alkalmazásoknak
Comment[id]=Server untuk memusatkan keputusan dan data aplikasi menggunakan Phonon
Comment[is]=Miðlari sem safnar sillingum og gögnum forrita sem nota Phonon
Comment[it]=Un server per centralizzare le decisioni e i dati delle applicazioni che usano Phonon
Comment[ja]=Phonon を使うアプリケーションのデータと決定を集中管理するサーバ
Comment[kk]=Phonon арқылы шешімдер мен қолданба деректерді орталықтыратын сервері
Comment[km]=ម៉ាស៊ីន​បម្រើ​ត្រូវ​ដាក់​កណ្ដាល​ និង​ទិន្នន័យ​កម្មវិធី​ដោយ​ប្រើ Phonon
Comment[kn]=ಫೋನಾನ್ ಅನ್ನು ಬಳಸುವ ಅನ್ವಯಗಳ ನಿರ್ಧಾರಗಳು ಹಾಗೂ ದತ್ತವನ್ನು ಕೇಂದ್ರೀಕರಿಸಲು ಒಂದು ಪರಿಚಾರಕ (ಸರ್ವರ್)
Comment[ko]=Phonon을 사용하는 프로그램의 데이터와 결정을 중앙 집중화하는 서버
Comment[ku]=Pêşkêşkerek ji bo navendîkirina biryaran û dane yên sepanan bi bikaranîna Phonon re
Comment[lt]=Serveris, skirtas centralizuotai tvarkyti programų, naudojančių Phonon, nuostatas
Comment[lv]=Serveris, kas centralizē lēmumus un datus par Phonon lietojošām programmām
Comment[ml]=ഫോണോണ്‍ ഉപയോഗിച്ച് പ്രയോഗങ്ങളുടെ തീരുമാനങ്ങളും ഡേറ്റയും കേന്ദ്രീകരിയ്ക്കാനുള്ളൊരു സെര്‍വര്‍
Comment[mr]=Phonon चा वापर करून निर्णय व अनुप्रयोगाची माहिती एका ठिकाणी संचयीत करण्याकरीताचे सर्वर
Comment[nb]=En tjener som sentraliserer avgjørelser og data for programmer som bruker Phonon
Comment[nds]=En Server, de mit Phonon Programmdaten un Besluten zentraliseert.
Comment[nl]=Een server voor het centraliseren van beslissingen en gegevens van programma's met behulp van Phonon
Comment[nn]=Ein tenar der innstillingar og data frå program som brukar Phonon er samla
Comment[pl]=Serwer, który centralizuje decyzje i dane programów używających Phonona
Comment[pt]=Um servidor para centralizar as decisões e os dados das aplicações com o Phonon
Comment[pt_BR]=Um servidor para centralizar as decisões e os dados dos aplicativos que usam o Phonon
Comment[ro]=Un server pentru centralizarea deciziilor și datelor aplicațiilor utilizînd Phonon
Comment[ru]=Сервер для управления звуковыми данными приложений, использующих Phonon
Comment[si]=මෙම ධාරකය Phonon භාවිත කර භාවිත යෙදුම් වල තීරණ හා දත්ත මධ්‍යගත කරයි
Comment[sk]=Server, ktorý centralizuje rozhodnutia a údaje pre aplikácie používajúce Phonon
Comment[sl]=Osrednji strežnik za odločitve in podatke za programe, ki uporabljajo Phonon
Comment[sr]=Сервер за централизовање одлука и података програма који користе Фонон
Comment[sr@ijekavian]=Сервер за централизовање одлука и података програма који користе Фонон
Comment[sr@ijekavianlatin]=Server za centralizovanje odluka i podataka programa koji koriste Phonon
Comment[sr@latin]=Server za centralizovanje odluka i podataka programa koji koriste Phonon
Comment[sv]=En server för att centralisera beslut och programdata vid användning av Phonon
Comment[ta]=A server to centralize decisions and data of applications using Phonon
Comment[te]=ఫోనాన్‌ను వుపయోగించి నిర్ణయములను మరియు అనువర్తనముల దత్తాంశమును కేంద్రీకృతం చేయుటకు సెర్వర్
Comment[th]=แม่ข่ายศูนย์กลางที่จะใช้ตัดสินใจและข้อมูลของโปรแกรมโดยใช้ Phonon
Comment[tr]=Phonon kullanan uygulamaların verilerini ve bu uygulamalara ilişkin kararları merkezileştirmek için bir sunucu
Comment[uk]=Сервер для централізації рішень і даних програм, які використовують Phonon
Comment[x-test]=xxA server to centralize decisions and data of applications using Phononxx
Comment[zh_CN]=一个使用 Phonon 的程序数据集中化处理服务器
Comment[zh_TW]=將使用 Phonon 的應用程式的資料集中處理的伺服器

