[Desktop Entry]
Exec=kcmshell4 icons
Icon=preferences-desktop-icons
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/icons/index.html

X-KDE-Library=kcm_icons
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=application-appearance
X-KDE-Weight=70

Name=Icons

Comment=Customize KDE Icons

X-KDE-Keywords=icons,effects,size,hicolor,locolor
X-KDE-Keywords[be]=значка,значкі,эфекты,памер,кантраст,высокі кантраст,нізкі кантраст,icons,effects,size,hicolor,locolor
X-KDE-Keywords[bg]=Keywords=икона, икони, icons, effects, size, hicolor, locolor
X-KDE-Keywords[br]=arlunioù,efedoù,ment,liv,liv izel
X-KDE-Keywords[ca]=icones,efectes,mida,hicolor,locolor
X-KDE-Keywords[cs]=Ikony,Efekty,Velikost,HiColor,LoColor
X-KDE-Keywords[csb]=ikònë,efektë,miara,wiele farwów,mało farwów
X-KDE-Keywords[cy]=eicon,effeithiau,maint,lliw uchel,lliw isel
X-KDE-Keywords[da]=ikoner,effekter,størrelse,højfarve,lavfarve
X-KDE-Keywords[de]=Symbole,Icons,Effekte,Größe,64000-Farben,8-Bit-Farben
X-KDE-Keywords[el]=εικονίδια,εφέ,μέγεθος,hicolor,locolor
X-KDE-Keywords[en_GB]=icons,effects,size,hicolour,locolour
X-KDE-Keywords[eo]=piktogramoj,efektoj,grandeco,koloro
X-KDE-Keywords[es]=iconos,efectos,tamaño,alta profundidad,baja profundidad
X-KDE-Keywords[et]=ikoonid,efektid,suurus,värv
X-KDE-Keywords[eu]=ikonoak,efektuak,neurria,hicolor,locolor
X-KDE-Keywords[fa]=شمایلها، جلوه‌ها، اندازه، پررنگ، کم‌رنگ
X-KDE-Keywords[fi]=kuvakkeet,tehosteet,koko,korkeaväri,matalaväri
X-KDE-Keywords[fr]=icônes,effets,taille,hicolor,locolor,coloré
X-KDE-Keywords[fy]=iconen,byldkaikes,effekten,grutte,ôfmjiting,formaat,kleuren,hege,lege
X-KDE-Keywords[ga]=deilbhíní,maisíochtaí,méid,ard-dath,ísealdath
X-KDE-Keywords[gl]=iconas,efeitos,tamaño,moitas cores,poucas cores
X-KDE-Keywords[he]=סמלים,אפקטים,גודל,צבע גבוה,צבע נמוך,icons,effects,size,hicolor,locolor
X-KDE-Keywords[hr]=icons,effects,size,hicolor,locolor,ikone,efekti,veličina,boja
X-KDE-Keywords[hu]=ikonok,effektek,méret,sokszínű,színszegény,színes
X-KDE-Keywords[is]=táknmynd,tákn,teikn,áhrif,stærð,hágæði,lágæði,litur,litir
X-KDE-Keywords[it]=icone,effetti,dimensione,molti colori,pochi colori
X-KDE-Keywords[ja]=アイコン,効果,サイズ,ハイカラー,ローカラー
X-KDE-Keywords[ka]=ხატულები,ეფექტები,ზომა,მაღალი გარჩევადობა,დაბალი გარჩევადობა
X-KDE-Keywords[km]=រូប​តំណាង បែបផែន ទំហំ ពណ៌​ខ្ពស់ ពណ៌​ទាប
X-KDE-Keywords[ko]=아이콘,효과,크기
X-KDE-Keywords[lt]=ženkliukai,piktogramos,efektai,dydis,hispalva,lospalva
X-KDE-Keywords[lv]=ikonas,efekti,lielums,hicolor,locolor
X-KDE-Keywords[mk]=icons,effects,size,hicolor,locolor,икони,ефекти,големина,високи бои,ниски бои
X-KDE-Keywords[nb]=ikoner,effekter,størrelse,mange farger,få farger
X-KDE-Keywords[nds]=Lüttbiller,Effekten,Grött,hicolor,locolor
X-KDE-Keywords[ne]=प्रतिमा, प्रभाव, साइज, हाइकलर, लोकलर
X-KDE-Keywords[nl]=iconen,pictogrammen,effecten,grootte,afmeting,formaat,kleuren
X-KDE-Keywords[nn]=ikon,effektar,storleik,mange fargar,få fargar
X-KDE-Keywords[pa]=icons,effects,size,hicolor,locolor,ਆਈਕਾਨ,ਪਰਭਾਵ,ਅਕਾਰ
X-KDE-Keywords[pl]=ikony,efekty,rozmiar,wiele kolorów,mało kolorów
X-KDE-Keywords[pt]=ícones,efeitos,tamanho,muitas cores,poucas cores
X-KDE-Keywords[pt_BR]=ícones,efeitos,tamanho,alta resolução,baixa resolução
X-KDE-Keywords[ro]=iconiţe,efecte,mărime,culori multe,culori puţine
X-KDE-Keywords[se]=govažat,effects,sturrodat,máŋga ivnni,unnan ivnnit
X-KDE-Keywords[sl]=ikone,efekti,velikost,barve
X-KDE-Keywords[sr]=icons,effects,size,hicolor,locolor,иконе,ефекти,величина,пуно боја,мало боја
X-KDE-Keywords[sr@latin]=icons,effects,size,hicolor,locolor,ikone,efekti,veličina,puno boja,malo boja
X-KDE-Keywords[sv]=ikoner,effekter,storlek,många färger,få färger
X-KDE-Keywords[ta]=சின்னங்கள்,விளைவுகள்,அளவு,அதிக வண்ணம்,குறைந்த வண்ணம்
X-KDE-Keywords[th]=ไอคอน,เอฟเฟ็กต์,ขนาด,ความละเอียดสีมาก,ความละเอียดสีน้อย
X-KDE-Keywords[tr]=simgeler,efektler,boyut,yüksek renk,düşük renk
X-KDE-Keywords[uk]=піктограми,icons,ефекти,розмір,кольори
X-KDE-Keywords[uz]=нишончалар,эффектлар,ўлчами
X-KDE-Keywords[vi]=biểu tượng,hiệu ứng,cỡ,màu tươi,màu thẫm
X-KDE-Keywords[wa]=imådjetes,efets,grandeu,hôtès coleurs,bassès coleurs,coleurs
X-KDE-Keywords[x-test]=xxicons,effects,size,hicolor,locolorxx
X-KDE-Keywords[xh]=imphawu zomfanekiso,iziphumo,ubungakanani,hicolor,locolor
X-KDE-Keywords[zh_CN]=icons,effects,size,hicolor,locolor,图标,效果,大小,高色彩,低色彩
X-KDE-Keywords[zh_TW]=icons,effects,size,hicolor,locolor,圖示,效果,大小,高彩,低彩

Categories=Qt;KDE;X-KDE-settings-looknfeel;
