[KCM Locale]
Name=French Polynesia
Name[el]=Γαλλική Πολυνησία
Name[fr]=Polynésie française
Name[x-test]=xxFrench Polynesiaxx
Region=oceania
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=CFPF
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
