[Desktop Entry]
Exec=kcmshell4 kcm_attica
Type=Service
Icon=get-hot-new-stuff

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_attica
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=advanced-user-settings
X-DocPath=kcontrol/attica/index.html

Name=Open Collaboration Services provider
Comment=Manage Open Collaboration Services providers
Comment[ca]=Gestiona els proveïdors de serveis «Open Collaboration»
Comment[ca@valencia]=Gestiona els proveïdors de serveis «Open Collaboration»
Comment[cs]=Spravovat poskytovatele služeb otevřené spolupráce
Comment[csb]=Sprôwiôj dowòznikama ùsłëżnotów Open Collaboration
Comment[da]=Håndtér udbydere af Open Collaboration Services
Comment[de]=Anbieter von Open-Collaboration-Diensten verwalten
Comment[el]=Διαχείριση πάροχων υπηρεσιών ανοιχτής συνεργασίας
Comment[en_GB]=Manage Open Collaboration Services providers
Comment[es]=Gestionar proveedores de Servicios de Colaboración Abiertos
Comment[et]=Avatud koostööteenuste pakkujate haldamine
Comment[eu]=Kudeatu Elkarlanerako zerbitzu irekien hornitzaileak
Comment[fi]=Hallinnoi avointen yhteistyöpalvelujen tarjoajia
Comment[fr]=Gestion du fournisseur de services de collaboration ouverte
Comment[fy]=Iepen kollaboraasje tsjinst ferskaffer beheare
Comment[hr]=Upravljanje pružateljima usluga Otvorene suradnje
Comment[id]=Kelola penyedia Layanan Kolaborasi Terbuka
Comment[it]=Gestisci i fornitori dei servizi di collaborazione aperta
Comment[ja]=オープンコラボレーションサービスのプロバイダを管理します
Comment[kk]=Open Collaboration қызмет етушілікті басқару
Comment[km]=គ្រប់គ្រង​អ្នកផ្ដល់ស​សេវា​សហការណ៍​បើក​ចំហ
Comment[ko]=열린 협업 서비스 공급자 관리
Comment[lv]=Pārvaldīt Open Collaboration piegādātājus
Comment[ml]=തുറന്ന കൊളാബൊറേഷന്‍ സേവന ധാതാവിനെ കൈകാര്യം ചെയ്യുക
Comment[nb]=Styr leverandører av åpne samarbeidstjenester (OCS)
Comment[nds]=Anbeders vun Apen Tosamenarbeitdeensten plegen
Comment[nl]=Leveranciers van open samenwerkingsservices beheren
Comment[nn]=Handsamar leverandørarar av samarbeidstenester
Comment[pl]=Zarządzanie dostawcami Open Collaboration Services
Comment[pt]=Faz a gestão de fornecedores dos Serviços Abertos de Colaboração
Comment[pt_BR]=Gerencia os fornecedores dos Serviços de Colaboração Abertos
Comment[ro]=Gestionează furnizorii de colaborare deschisă
Comment[ru]=Настройка работы с операторами услуг Open Collaboration
Comment[sk]=Správa poskytovateľov služieb otvorenej spolupráce
Comment[sl]=Upravljajte s ponudniki storitev Open Collaboration Services
Comment[sr]=Управљајте добављачима сервиса отворене сарадње
Comment[sr@ijekavian]=Управљајте добављачима сервиса отворене сарадње
Comment[sr@ijekavianlatin]=Upravljajte dobavljačima servisa otvorene saradnje
Comment[sr@latin]=Upravljajte dobavljačima servisa otvorene saradnje
Comment[sv]=Hantera leverantörer av öppna samarbetstjänster
Comment[uk]=Керування наданням послуг службами Open Collaboration
Comment[x-test]=xxManage Open Collaboration Services providersxx
Comment[zh_CN]=管理已打开的协作服务
Comment[zh_TW]=管理開放協同服務提供者
