[Desktop Entry]
Exec=kcmshell4 kcm_attica
Type=Service
Icon=get-hot-new-stuff

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_attica
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=advanced-user-settings
X-DocPath=kcontrol/attica/index.html

Name=Open Collaboration Services provider management
Name[ca]=Gestor de proveïdors de serveis «Open Collaboration»
Name[ca@valencia]=Gestor de proveïdors de serveis «Open Collaboration»
Name[cs]=Správa poskytovatelů služeb otevřené spolupráce
Name[csb]=Sprôwianié dowòznikama ùsłëżnotów Open Collaboration
Name[da]=Håndtering af udbydere af Open Collaboration Services
Name[de]=Anbieterverwaltung von Open-Collaboration-Diensten
Name[el]=Υπηρεσία ανοιχτής συνεργασίας διαχείριση πάροχου
Name[en_GB]=Open Collaboration Services provider management
Name[es]=Gestión de proveedores de Servicios de Colaboración Abiertos
Name[et]=Avatud koostööteenuste pakkuja haldamine
Name[fi]=Avointen yhteistyöpalvelujen tarjoajahallinta
Name[fr]=Ouvrir la gestion du fournisseur de services de collaboration ouverte
Name[fy]=It kollaboraasje tsjinst ferskaffer behear iepenje
Name[he]=פתח את Collaboration Services provider management
Name[hr]=Upravljanje pružateljima usluge za otvorenu suradnju
Name[id]=Manajemen penyedia Layanan Kolaborasi Terbuka
Name[ja]=オープンコラボレーションサービスのプロバイダの管理
Name[kk]=Open Collaboration қызмет етушісі
Name[ko]=열린 협업 서비스 공급자 관리
Name[lv]=Open Collaboration pakalpojumu piegādātāju pārvaldība
Name[ml]=തുറന്ന കൊളാബൊറേഷന്‍ സേവന ധാതാവിന്റെ കൈകാര്യം
Name[nb]=Åpne samarbeidstjenester – tilbyderstyring
Name[nds]=Anbederpleeg för Open Collaboration Services
Name[nl]=Leveranciersbeheer van open samenwerkingsservices
Name[nn]=Opna handsamar for leverandørarar av samarbeidstenester
Name[pl]=Zarządzanie dostawcami Open Collaboration Services
Name[pt]=Abrir a gestão de fornecedores dos Serviços Abertos de Colaboração
Name[pt_BR]=Gerenciamento de fornecedores dos Serviços de Colaboração Abertos
Name[ru]=Службы Open Collaboration
Name[sl]=Upravljanje s ponudniki storitev Open Collaboration Services
Name[sr]=Управљање добављачима сервиса отворене сарадње
Name[sr@ijekavian]=Управљање добављачима сервиса отворене сарадње
Name[sr@ijekavianlatin]=Upravljanje dobavljačima servisa otvorene saradnje
Name[sr@latin]=Upravljanje dobavljačima servisa otvorene saradnje
Name[sv]=Hantering av leverantörer av öppna samarbetstjänster
Name[uk]=Керування наданням послуг службами Open Collaboration
Name[x-test]=xxOpen Collaboration Services provider managementxx
Name[zh_CN]=打开协作服务器的管理服务
Name[zh_TW]=開放協同服務提供者管理
Comment=Manage Open Collaboration Services providers
Comment[ca]=Gestiona els proveïdors de serveis «Open Collaboration»
Comment[ca@valencia]=Gestiona els proveïdors de serveis «Open Collaboration»
Comment[cs]=Spravovat poskytovatele služeb otevřené spolupráce
Comment[csb]=Sprôwiôj dowòznikama ùsłëżnotów Open Collaboration
Comment[da]=Håndtér udbydere af Open Collaboration Services
Comment[de]=Anbieter von Open-Collaboration-Diensten verwalten
Comment[el]=Διαχείριση πάροχων υπηρεσιών ανοιχτής συνεργασίας
Comment[en_GB]=Manage Open Collaboration Services providers
Comment[es]=Gestionar proveedores de Servicios de Colaboración Abiertos
Comment[et]=Avatud koostööteenuste pakkujate haldamine
Comment[fi]=Hallinnoi avointen yhteistyöpalvelujen tarjoajia
Comment[fr]=Gestion du fournisseur de services de collaboration ouverte
Comment[fy]=Iepen kollaboraasje tsjinst ferskaffer beheare
Comment[hr]=Upravljanje pružateljima usluga Otvorene suradnje
Comment[id]=Kelola penyedia Layanan Kolaborasi Terbuka
Comment[ja]=オープンコラボレーションサービスのプロバイダを管理します
Comment[kk]=Open Collaboration қызмет етушілікті басқару
Comment[ko]=열린 협업 서비스 공급자 관리
Comment[lv]=Pārvaldīt Open Collaboration piegādātājus
Comment[ml]=തുറന്ന കൊളാബൊറേഷന്‍ സേവന ധാതാവിനെ കൈകാര്യം ചെയ്യുക
Comment[nb]=Styr leverandører av åpne samarbeidstjenester (OCS)
Comment[nds]=Anbeders vun Apen Tosamenarbeitdeensten plegen
Comment[nl]=Leveranciers van open samenwerkingsservices beheren
Comment[nn]=Handsamar leverandørarar av samarbeidstenester
Comment[pl]=Zarządzanie dostawcami Open Collaboration Services
Comment[pt]=Faz a gestão de fornecedores dos Serviços Abertos de Colaboração
Comment[pt_BR]=Gerencia os fornecedores dos Serviços de Colaboração Abertos
Comment[ru]=Настройки работы с операторами услуг Open Collaboration
Comment[sl]=Upravljajte s ponudniki storitev Open Collaboration Services
Comment[sr]=Управљајте добављачима сервиса отворене сарадње
Comment[sr@ijekavian]=Управљајте добављачима сервиса отворене сарадње
Comment[sr@ijekavianlatin]=Upravljajte dobavljačima servisa otvorene saradnje
Comment[sr@latin]=Upravljajte dobavljačima servisa otvorene saradnje
Comment[sv]=Hantera leverantörer av öppna samarbetstjänster
Comment[uk]=Керування наданням послуг службами Open Collaboration
Comment[x-test]=xxManage Open Collaboration Services providersxx
Comment[zh_CN]=管理已打开的协作服务
Comment[zh_TW]=管理開放協同服務提供者
