[KCM Locale]
Name=Argentina
Name[af]=Argentinië
Name[be]=Аргентына
Name[bg]=Аржентина
Name[br]=Arc'hantina
Name[csb]=Argentińskô
Name[cy]=Ariannin
Name[de]=Argentinien
Name[el]=Αργεντινή
Name[eo]=Argentino
Name[fa]=آرژانتین
Name[fi]=Agentiina
Name[fr]=Argentine
Name[fy]=Argentinië
Name[ga]=An Airgintín
Name[gl]=Arxentina
Name[he]=ארגנטינה
Name[hu]=Argentína
Name[is]=Argentína
Name[ja]=アルゼンチン
Name[ka]=არგენტინა
Name[kk]=Аргентина
Name[km]=អាហ្សង់ទីន
Name[ko]=아르헨티나
Name[lv]=Argentīna
Name[mk]=Аргентина
Name[nds]=Argentinien
Name[ne]=अर्जेन्टीना
Name[nl]=Argentinië
Name[pa]=ਅਰਜ਼ਨਟੀਨਾ
Name[pl]=Argentyna
Name[ru]=Аргентина
Name[sr]=Аргентина
Name[ta]=ஆர்சென்டினா
Name[te]=అర్జెంటినా
Name[tg]=Оржонтина
Name[th]=อาร์เจนตินา
Name[tr]=Arjantin
Name[uk]=Аргентина
Name[uz]=Аргентина
Name[vi]=Ă-gienh-ti-nạ
Name[wa]=Årdjintene
Name[x-test]=xxArgentinaxx
Name[zh_TW]=阿根廷
Region=southamerica
Languages=es
DecimalSymbol=,
ThousandsSeparator=
CurrencySymbol=$
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#WeekStartDay=
PageSize=0
#MeasureSystem=
