[KCM Locale]
Name=Bahamas
Name[ar]=جزر الباهاما
Name[be]=Багамы
Name[bg]=Бахамски острови
Name[ca]=Bahames
Name[cs]=Bahamy
Name[csb]=Bahamë
Name[cy]=Ynysoedd Bahama
Name[el]=Μπαχάμες
Name[eo]=Bahamoj
Name[et]=Bahama
Name[fa]=باهاما
Name[fi]=Bahaman saaret
Name[ga]=Na Bahámaí
Name[gl]=Baamas
Name[he]=איי בהאמה
Name[hu]=Bahamák
Name[is]=Bahamaeyjar
Name[ja]=バハマ
Name[ka]=ბაჰამა
Name[kk]=Багам ар-ы
Name[km]=បាហាម៉ា
Name[ko]=바하마
Name[lt]=Bahamų
Name[mk]=Бахами
Name[ne]=बहामस
Name[pa]=ਬਾਹਾਮਾਸ
Name[pl]=Bahamy
Name[ru]=Багамские острова
Name[sl]=Bahami
Name[sr]=Бахами
Name[sr@latin]=Bahami
Name[ta]=பனாமா
Name[te]=బహామాస్
Name[tg]=Боҳомос
Name[th]=บาฮามา
Name[tr]=Bahamalar
Name[uk]=Багами
Name[uz]=Багама Ороллари
Name[vi]=Ba-ha-maxợ
Name[x-test]=xxBahamasxx
Name[zh_CN]=巴哈马
Name[zh_TW]=巴拿馬
Region=caribbean
Languages=en_GB,es
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=B$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
