[KCM Locale]
Name=Turks and Caicos Islands
Name[af]=Turks en Caicos Eilande
Name[ar]=جزر الترك و الكايكوس
Name[br]=Inizi Turks ha Kaikos
Name[ca]=Illes Turks i Caicos
Name[cs]=Turks a Caicos ostrovy
Name[csb]=Òstrowë Turks ë Caicos
Name[cy]=Ynysoedd Twrc a Chaicos
Name[da]=Turks- og Caicosøerne
Name[de]=Turks- und Caicos-Inseln
Name[el]=Νήσοι Τερκς και Κάικος
Name[eo]=Turkoj kaj Kajkoj
Name[es]=Islas Turcos y Caicos
Name[et]=Turks ja Caicos
Name[eu]=Turks eta Caicos Irlak
Name[fa]=جزایر ترکها و کایکوها
Name[fi]=Turks- ja Caicos-saaret
Name[fr]=Îles Turks et Caicos
Name[fy]=Turks en Caicos Eilânen
Name[ga]=Oileáin Turks agus Caicos
Name[gl]=Illas Caicos e Turks
Name[he]=איי קאיקוס וטורקס
Name[hr]=Turks i Caicos otočje
Name[hu]=Turks- és Caicos-szigetek
Name[is]=Turks- og Caicos-eyjar
Name[it]=Isole Turks e Caicos
Name[ja]=タークス諸島・カイコス諸島
Name[ka]=თარქსის და ქაქოსის კუნძულები
Name[kk]=Теркс және Кайкос ар-ы
Name[km]=កោះ​ទួក និង កៃកូស
Name[ko]=터크스 케이커스 제도
Name[lv]=Tērksa un Kaikosa
Name[mk]=Острови Турк и Каикос
Name[nb]=Turks- og Caicosøyene
Name[nds]=Turks- un Caicos-Eilannen
Name[ne]=टर्क र केकोस आइसल्याण्ड
Name[nl]=Turks en Caicos Eilanden
Name[nn]=Turks- og Caicosøyane
Name[pa]=ਤੁਰਕਸ ਤੇ ਕਾਇਕੋਸ ਟਾਪੂ
Name[pl]=Wyspy Turks i Caicos
Name[pt]=Ilhas Turks e Caicos
Name[pt_BR]=Ilhas Caicos e Turca
Name[ro]=Insulele Turks şi Caicos
Name[ru]=Острова Теркс и Кайкос
Name[se]=Turks- ja Kaikossullot
Name[sl]=Otoka Turks in Caicos
Name[sr]=Турка и Кајкошка острва
Name[sr@latin]=Turka i Kajkoška ostrva
Name[sv]=Turks- och Caicosöarna
Name[ta]=துருக்கிகள் மற்றும் காய்கோஸ் தீவுகள்
Name[te]=టర్క్స్ మరయూ కైకొస్ ద్విపాలు
Name[tg]=Ҷазираи Турк ва Койкус
Name[tr]=Turks ve Caicos Adaları
Name[uk]=Острови Теркс і Кайкос
Name[uz]=Туркс ва Каикос Ороллари
Name[wa]=Iyes Turks et Caicos
Name[x-test]=xxTurks and Caicos Islandsxx
Name[zh_TW]=土克斯和開卡斯群島
Region=caribbean
Languages=ar,en_GB,hi
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
