[Desktop Entry]
Name=Nepomuk Backup
Name[x-test]=xxNepomuk Backupxx
Exec=nepomukbackup
Icon=nepomuk
Type=Application
Categories=Qt;KDE;System;Backup;
