[Desktop Entry]
Encoding=UTF-8
Name=KNetAttach
Name[x-test]=xxKNetAttachxx
GenericName=Network Folder Wizard
GenericName[x-test]=xxNetwork Folder Wizardxx
Exec=knetattach
InitialPreference=6
Icon=knetattach
Type=Application
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Network;
DocPath=knetattach/index.html
