[Desktop Entry]
Encoding=UTF-8
Name=KNetAttach
Name[bn]=কে-নেট-অ্যাটাচ
Name[sv]=Knetattach
Name[ta]=நெட்ஹாக்இணைப்பு
Name[xx]=xxKNetAttachxx
GenericName=Network Folder Wizard
GenericName[bg]=Мрежови инструмент
GenericName[bn]=নেটওয়ার্ক ফোল্ডার উইজার্ড
GenericName[ca]=Assistent de carpeta de xarxa
GenericName[cs]=Průvodce síťovou složkou
GenericName[da]=Guide til netværksmappe
GenericName[de]=Assistent für Netzwerkordner
GenericName[es]=Asistente de carpetas de red
GenericName[et]=Võrgukataloogide nõustaja
GenericName[fi]=Verkkokansiotyökalu
GenericName[fr]=Assistant dossier réseau
GenericName[fy]=Netwurkmap-assistint
GenericName[he]=אשף תיקיית רשת
GenericName[hu]=Varázsló hálózati mappa beállításához
GenericName[is]=Netmöppuálfur
GenericName[it]=Assistente per le cartelle di rete
GenericName[ja]=ネットワーク フォルダ ウィザード
GenericName[lt]=Tinklo aplanko vedlys
GenericName[nb]=Veiviser for nettverksmappe
GenericName[nds]=Hölper för Nettwarkorner
GenericName[nl]=Netwerkmap-assistent
GenericName[pa]=ਨੈੱਟਵਰਕ ਫੋਲਡਰ ਸਹਾਇਕ
GenericName[pl]=Asystent folderów sieciowych
GenericName[pt]=Assistente de Pastas de Rede
GenericName[pt_BR]=Assistente de Pastas de Rede
GenericName[ru]=Мастер сетевых папок
GenericName[sl]=Čarovnik za omrežne mape
GenericName[sr]=Чаробњак за мрежне директоријуме
GenericName[sr@Latn]=Čarobnjak za mrežne direktorijume
GenericName[sv]=Nätverkskatalogguide
GenericName[ta]=வலைப்பின்னல் அடைவு பகுதி
GenericName[tr]=Ağ Dizin Sihibazı
GenericName[uk]=Майстер мережевих тек
GenericName[xx]=xxNetwork Folder Wizardxx
GenericName[zh_CN]=网络文件夹向导
Exec=knetattach
InitialPreference=6
Icon=knetattach
Type=Application
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Network;
DocPath=knetattach/index.html
