[KCM Locale]
Name=Qatar
Name[ar]=قطر
Name[be]=Катар
Name[bg]=Катар
Name[bn]=কাতার
Name[br]=Kwatar
Name[cs]=Katar
Name[csb]=Katar
Name[cy]=Catar
Name[de]=Katar
Name[el]=Κατάρ
Name[eo]=Kataro
Name[et]=Katar
Name[fa]=قطر
Name[ga]=Catar
Name[he]=קטר
Name[hi]=क़तर
Name[hr]=Katar
Name[hu]=Katar
Name[is]=Katar
Name[ja]=カタール
Name[ka]=კატარი
Name[kk]=Катар
Name[km]=កាតារ
Name[ko]=카타르
Name[lt]=Kataras
Name[lv]=Katara
Name[mk]=Катар
Name[nds]=Katar
Name[ne]=कतार
Name[pa]=ਕਤਰ
Name[pl]=Katar
Name[ru]=Катар
Name[sk]=Katar
Name[sl]=Katar
Name[sr]=Катар
Name[sr@latin]=Katar
Name[ta]=கதார்
Name[te]=కటార్
Name[tg]=Қатар
Name[th]=กาต้าร์
Name[tr]=Katar
Name[uk]=Катар
Name[uz]=Қатар
Name[vi]=Qa-tar
Name[wa]=Katar
Name[x-test]=xxQatarxx
Name[zh_CN]=卡塔尔
Name[zh_TW]=卡達
Region=middleeast
Languages=ar
DecimalSymbol=,
CurrencySymbol=QAR
FracDigits=2
DateFormatShort=%y/%m/%d
