[KCM Locale]
Name=Qatar
Name[af]=Qatar
Name[ar]=قطر
Name[as]=কাতাৰ
Name[ast]=Qatar
Name[be]=Катар
Name[be@latin]=Katar
Name[bg]=Катар
Name[bn]=কাতার
Name[bn_IN]=কাতার
Name[br]=Kwatar
Name[bs]=Katar
Name[ca]=Qatar
Name[ca@valencia]=Qatar
Name[cs]=Katar
Name[csb]=Katar
Name[cy]=Catar
Name[da]=Qatar
Name[de]=Katar
Name[el]=Κατάρ
Name[en_GB]=Qatar
Name[eo]=Kataro
Name[es]=Qatar
Name[et]=Katar
Name[eu]=Qatar
Name[fa]=قطر
Name[fi]=Qatar
Name[fr]=Qatar
Name[fy]=Qatar
Name[ga]=Catar
Name[gl]=Qatar
Name[gu]=કતાર
Name[he]=קטר
Name[hi]=क़तर
Name[hne]=कतर
Name[hr]=Katar
Name[hsb]=Qatar
Name[hu]=Katar
Name[ia]=Qatar
Name[id]=Qatar
Name[is]=Katar
Name[it]=Qatar
Name[ja]=カタール
Name[ka]=კატარი
Name[kk]=Катар
Name[km]=កាតារ
Name[kn]=ಕತಾರ್
Name[ko]=카타르
Name[ku]=Qatar
Name[lt]=Kataras
Name[lv]=Katara
Name[mai]=कातार
Name[mk]=Катар
Name[ml]=ഖത്ത‌ര്‍
Name[mr]=कातार
Name[ms]=Qatar
Name[nb]=Qatar
Name[nds]=Katar
Name[ne]=कतार
Name[nl]=Qatar
Name[nn]=Qatar
Name[oc]=Qatar
Name[or]=କତାର
Name[pa]=ਕਤਰ
Name[pl]=Katar
Name[pt]=Qatar
Name[pt_BR]=Catar
Name[ro]=Qatar
Name[ru]=Катар
Name[se]=Qatar
Name[si]=කටාර්
Name[sk]=Katar
Name[sl]=Katar
Name[sr]=Катар
Name[sr@ijekavian]=Катар
Name[sr@ijekavianlatin]=Katar
Name[sr@latin]=Katar
Name[sv]=Qatar
Name[ta]=கதார்
Name[te]=కటార్
Name[tg]=Қатар
Name[th]=กาตาร์
Name[tr]=Katar
Name[ug]=قاتار
Name[uk]=Катар
Name[uz]=Qatar
Name[uz@cyrillic]=Қатар
Name[vi]=Qatar
Name[wa]=Katar
Name[xh]=Qatar
Name[x-test]=xxQatarxx
Name[zh_CN]=卡塔尔
Name[zh_TW]=卡達
Region=middleeast
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=QAR
CurrencyCode=QAR
