[KCM Locale]
Name=Burundi
Name[af]=Burundi
Name[ar]=بورندي
Name[as]=বুৰুন্ডি
Name[ast]=Burundi
Name[be]=Бурундзі
Name[be@latin]=Burundzi
Name[bg]=Бурунди
Name[bn]=বুরুন্ডি
Name[bn_IN]=বুরুন্ডি
Name[br]=Burundi
Name[bs]=Burundi
Name[ca]=Burundi
Name[ca@valencia]=Burundi
Name[cs]=Burundi
Name[csb]=Burundi
Name[cy]=Bwrwndi
Name[da]=Burundi
Name[de]=Burundi
Name[el]=Μπουρούντι
Name[en_GB]=Burundi
Name[eo]=Burundo
Name[es]=Burundi
Name[et]=Burundi
Name[eu]=Burundi
Name[fa]=بوروندی
Name[fi]=Burundi
Name[fr]=Burundi
Name[fy]=Burundi
Name[ga]=An Bhurúin
Name[gl]=Burundi
Name[gu]=બરુન્ડી
Name[he]=בורונדי
Name[hi]=बुरूंडी
Name[hne]=बुरूंडी
Name[hr]=Burundi
Name[hsb]=Burundi
Name[hu]=Burundi
Name[ia]=Burundi
Name[id]=Burundi
Name[is]=Búrúndí
Name[it]=Burundi
Name[ja]=ブルンジ
Name[ka]=ბურუნდი
Name[kk]=Бурунди
Name[km]=ប៊ូរុនឌី
Name[kn]=ಬುರುಂಡಿ
Name[ko]=부룬디
Name[ku]=Bûrûndî
Name[lt]=Burundi
Name[lv]=Burundija
Name[mai]=बुरूंडी
Name[mk]=Бурунди
Name[ml]=ബറുണ്‍ഡി
Name[mr]=बुरूंडी
Name[ms]=Burundi
Name[nb]=Burundi
Name[nds]=Burundi
Name[ne]=बुरुण्डी
Name[nl]=Burundi
Name[nn]=Burundi
Name[oc]=Burundi
Name[or]=ବୁରୁଣ୍ଡି
Name[pa]=ਬੁਰੁਨਡੀ
Name[pl]=Burundi
Name[pt]=Burundi
Name[pt_BR]=Burundi
Name[ro]=Burundi
Name[ru]=Бурунди
Name[se]=Burundi
Name[si]=බුරුන්ඩී
Name[sk]=Burundi
Name[sl]=Burundi
Name[sr]=Бурунди
Name[sr@ijekavian]=Бурунди
Name[sr@ijekavianlatin]=Burundi
Name[sr@latin]=Burundi
Name[sv]=Burundi
Name[ta]=புருன்டி
Name[te]=బురుండి
Name[tg]=Бурунди
Name[th]=บุรุนดี
Name[tr]=Burundi
Name[ug]=بۇرۇندى
Name[uk]=Бурунді
Name[uz]=Burundi
Name[uz@cyrillic]=Бурунди
Name[vi]=Burundi
Name[wa]=Bouroundi
Name[x-test]=xxBurundixx
Name[zh_CN]=布隆迪
Name[zh_TW]=浦隆地
Region=centralafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BIF
CurrencyCode=BIF
