[KCM Locale]
Name=Virgin Islands, U.S.
Name[af]=Virgin Eilande, VSA
Name[ar]=الجزر العذراء, الولايات المتحدة
Name[ca]=Illes Verges, Americanes
Name[cs]=Panenské ostrovy, U.S.
Name[csb]=Dzéwczëce Òstrowë (USA)
Name[cy]=Ynysoedd yr Wyryf, Americanaidd
Name[da]=Jomfruøerne
Name[de]=Virgin-Inseln, amerikanisch
Name[el]=Παρθένοι Νήσοι, Η.Π.A.
Name[eo]=Virgininsuloj, Usonaj
Name[es]=Islas Vírgenes Americanas
Name[et]=USA Neitsisaared
Name[eu]=Estatu Batuar Irla Birjinak
Name[fa]=جزایر ویرجین آمریکا
Name[fi]=USA:n Neitsytsaaret
Name[fr]=Îles Vierges américaines
Name[fy]=Virgin Eilannen, U.S.
Name[ga]=Oileáin na Maighdean S.A.M.
Name[gl]=Illas Virxes, U.S.
Name[he]=איי הבתולה, ארצות־הברית
Name[hr]=Djevičansko otočje, SAD
Name[hu]=Virgin-szigetek (USA)
Name[is]=Bandarísku Jómfrúareyjar
Name[it]=Isole Vergini Americane
Name[ja]=米領バージン諸島
Name[ka]=ქალწულის კუნძულები, ა.შ.შ
Name[kk]=Виргин ар-ы (АҚШ)
Name[km]=កោះ​ស្មោង អាមេរិក
Name[ko]=미국령 버진 제도
Name[lv]=Virdžinu salas, ASV.
Name[mk]=Девствени Острови, САД
Name[ms]=Kepulauan Virgin, U.S.
Name[nb]=Jomfruøyene (USA)
Name[nds]=Amerikaansche Jumferneilannen
Name[ne]=अमेरिकी भर्जिन आइसल्याण्ड
Name[nl]=Virgin Eilanden, U.S.
Name[nn]=Jomfruøyane (USA)
Name[pa]=ਵੀਰਗੀਨ ਟਾਪੂ, ਅਮਰੀਕਾ
Name[pl]=Wyspy Dziewicze (USA)
Name[pt]=Ilhas Virgens, E.U.A.
Name[pt_BR]=Ilhas Virgens, EUA
Name[ro]=Insulele Virgine, S.U.A.
Name[ru]=Виргинские острова (США)
Name[sl]=Deviški otoki, ZDA
Name[sr]=Девичанска острва, САД
Name[sr@Latn]=Devičanska ostrva, SAD
Name[sv]=Amerikanska Jungfruöarna
Name[ta]=விர்ஜின் தீவுகள், U.S.
Name[te]=వర్జిన్ ద్వీపాలు, అమెరికా
Name[tg]=Ҷазираи Вирҷиния, Ш.М.А
Name[tr]=Virgin Adaları (ABD)
Name[uk]=Віргінські острови (США)
Name[uz]=АҚШ Виржин Ороллари
Name[wa]=Iyes Viedjes, etazunyinnes
Name[x-test]=xxVirgin Islands, U.S.xx
Name[zh_TW]=美屬維爾京群島
Region=caribbean
Languages=en_GB
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=0
DateFormat[en_US]=%A, %B %n, %Y
DateFormatShort=%n/%e/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
