[KCM Locale]
Name=Turkey
Region=southeurope
Languages=tr
DecimalSymbol=,
ThousandsSeparator=
CurrencySymbol=YTL
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[tr]=%d %b %Y %a
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d-%m-%Y
TimeFormat=%H:%M:%S
