[KCM Locale]
Name=San Marino
Name[ar]=سان مارينو
Name[be]=Сан-Марына
Name[el]=Σαν Μαρίνο
Name[eo]=San-Marino
Name[fa]=سان مارینو
Name[fr]=Saint-Marin
Name[ga]=San Mairíne
Name[he]=סן מרינו
Name[is]=San Marínó
Name[ja]=サンマリノ
Name[ka]=სან მარინო
Name[kk]=Сан-Марино
Name[km]=សាន់ម៉ារីណូ
Name[ko]=산마리노
Name[lt]=San Marinas
Name[lv]=Sanmarīno
Name[mk]=Сан Марино
Name[ne]=सान मारिनो
Name[pa]=ਸਨ ਮਰੀਨੋ
Name[pt]=São Marino
Name[ru]=Сан-Марино
Name[sr]=Сан Марино
Name[ta]=சான் மரினோ
Name[te]=సాన్ మెరినో
Name[tg]=Сан Морину
Name[uk]=Сан-Марино
Name[uz]=Сан-Марино
Name[wa]=Sint Marin
Name[x-test]=xxSan Marinoxx
Name[zh_TW]=聖馬力諾
Region=southeurope
Languages=it
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=€
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
