[KCM Locale]
Name=Maldives
Name[x-test]=xxMaldivesxx
Region=southasia
Languages=ar,hi,en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=Rf
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
