[KCM Locale]
Name=Maldives
Name[ar]=جزر المالديف
Name[be]=Мальдывы
Name[bg]=Малдивски острови
Name[br]=Inizi Maldiv
Name[cs]=Maledivy
Name[csb]=Malediwë
Name[cy]=Ynysoedd y Mald?f
Name[da]=Maldiverne
Name[de]=Malediven
Name[el]=Μαλδίβες
Name[eo]=Maldivoj
Name[es]=Maldivas
Name[et]=Maldiivid
Name[eu]=Maldibak
Name[fa]=مالدیو
Name[fi]=Malediivit
Name[fy]=Malediven
Name[ga]=Na Maildiví
Name[gl]=Maldivas
Name[he]=איי מלדיב
Name[hr]=Maldivi
Name[hu]=Maldív-szigetek
Name[is]=Maldíveyjar
Name[it]=Maldive
Name[ja]=モルディブ
Name[ka]=მალდივები
Name[kk]=Мальдив ар-ы
Name[km]=ម៉ាល់ឌីវ
Name[ko]=몰디브
Name[lt]=Maldyvai
Name[lv]=Maldivu salas
Name[mk]=Малдиви
Name[nb]=Maldivene
Name[nds]=Malediven
Name[ne]=माल्दिभ्स
Name[nl]=Malediven
Name[nn]=Maldivane
Name[pa]=ਮਾਲਦੀਵ
Name[pl]=Malediwy
Name[pt]=Maldivas
Name[pt_BR]=Maldivas
Name[ro]=Maldive
Name[ru]=Мальдивские острова
Name[se]=Maldiivat
Name[sl]=Maldiv
Name[sr]=Малдиви
Name[sr@latin]=Maldivi
Name[sv]=Maldiverna
Name[ta]=மால்தீவுகள்
Name[te]=మాల్దీవులు
Name[tg]=Молдивӣ
Name[th]=มัลดิฟ
Name[tr]=Maldivler
Name[uk]=Мальдиви
Name[uz]=Малдив Ороллари
Name[vi]=Man-di-vợ
Name[x-test]=xxMaldivesxx
Name[zh_TW]=馬爾地夫
Region=southasia
Languages=ar,hi,en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=Rf
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
