[KCM Locale]
Name=Timor-Leste
Name[el]=Τιμόρ-Λέστε
Name[it]=Timor Est
Name[kk]=Тимор-Лесте
Name[sv]=Östtimor
Name[uk]=Східний Тимор
Region=southeastasia
Languages=pt,en_GB,id
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=Rp
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
