[KCM Locale]
Name=Tajikistan
Name[be]=Таджыкістан
Name[br]=Tadjikistan
Name[ca]=Tadjikistan
Name[cs]=Tádžikistán
Name[csb]=Tadżykistón
Name[cy]=Tajicistan
Name[de]=Tadschikistan
Name[el]=Τατζικιστάν
Name[eo]=Taĝikujo
Name[es]=Tajikistán
Name[et]=Tadžikistan
Name[fa]=تاجیکستان
Name[fr]=Tadjikistan
Name[ga]=An Táidsíceastáin
Name[gl]=Taxiquistán
Name[he]=טג'קיסטן
Name[hr]=Tadžikistan
Name[hu]=Tadzsikisztán
Name[is]=Tadsjikistan
Name[it]=Tagikistan
Name[ja]=タジキスタン
Name[ka]=ტაჯიკეთი
Name[kk]=Тәжікстан
Name[km]=តាហ្ស៊ីគីស្តង់
Name[ko]=타지키스탄
Name[lt]=Tadžikistanas
Name[lv]=Tadžikistāna
Name[mk]=Таџикистан
Name[nb]=Tadsjikistan
Name[nds]=Tadschikistan
Name[ne]=ताजकिस्तान
Name[nl]=Tadjikistan
Name[nn]=Tadsjikistan
Name[pa]=ਤਜ਼ਾਕਸਤਾਨ
Name[pl]=Tadżykistan
Name[pt]=Tajiquistão
Name[pt_BR]=Tajiquistão
Name[ru]=Таджикистан
Name[se]=Tažikistan
Name[sl]=Tadžikistan
Name[sr]=Таџикистан
Name[sr@latin]=Tadžikistan
Name[sv]=Tadzjikistan
Name[ta]=தஜிகிஸ்தான்
Name[te]=తాజికిస్థాన్
Name[tg]=Тоҷикистон
Name[tr]=Tacikistan
Name[uk]=Таджикистан
Name[uz]=Тожикистон
Name[wa]=Tadjikistan
Name[x-test]=xxTajikistanxx
Name[zh_TW]=塔吉克
Region=centralasia
Languages=tg
#DecimalSymbol=,
#ThousandsSeparator=
#CurrencySymbol=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
