[KCM Locale]
Name=Singapore
Name[ar]=سنغافورة
Name[bg]=Сингапур
Name[br]=Singapour
Name[ca]=Singapur
Name[cs]=Singapur
Name[csb]=Singapur
Name[cy]=Singap?r
Name[de]=Singapur
Name[el]=Σινγκαπούρη
Name[eo]=Singapuro
Name[es]=Singapur
Name[et]=Singapur
Name[fa]=سنگاپور
Name[fr]=Singapour
Name[ga]=Singeapór
Name[gl]=Singapur
Name[he]=סינגפור
Name[hr]=Singapur
Name[hu]=Szingapúr
Name[is]=Singapúr
Name[ja]=シンガポール
Name[ka]=სინგაპური
Name[kk]=Сингапур
Name[km]=សិង្ហបុរី
Name[ko]=싱가포르
Name[lt]=Singapūras
Name[lv]=Singapūra
Name[mk]=Сингапур
Name[ms]=Singapura
Name[nds]=Singapur
Name[ne]=सिङ्गापुर
Name[pa]=ਸਿੰਘਾਪੁਰ
Name[pl]=Singapur
Name[pt]=Singapura
Name[pt_BR]=Singapura
Name[ru]=Сингапур
Name[sl]=Singapur
Name[sr]=Сингапур
Name[sr@Latn]=Singapur
Name[ta]=சிங்கப்பூர்
Name[te]=సింగాపుర్
Name[tg]=Сингопур
Name[tr]=Singapur
Name[uk]=Сингапур
Name[uz]=Сингапур
Name[x-test]=xxSingaporexx
Name[zh_TW]=新加坡
Region=southeastasia
Languages=ms,zh_CN,ta,en_GB
DecimalSymbol=.
ThousandsSeparator=,
CurrencySymbol=S$
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
DateFormat=%d %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%p %H:%M:%S
WeekStartDay=7
PageSize=0
MeasureSystem=0
