[KCM Locale]
Name=Singapore
Region=southeastasia
Languages=ms,zh_CN,ta,en_GB
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
DateFormat=%d %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%p %l:%M:%S
WeekStartDay=7
PageSize=0
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SGD
CurrencyCode=SGD
