[KCM Locale]
Name=Dominica
Name[af]=Dominisië
Name[ar]=دومينيكا
Name[br]=Dominik
Name[cs]=Dominika
Name[csb]=Dominika
Name[de]=Dominikanische Republik
Name[el]=Ντομίνικα
Name[eo]=Dominiko
Name[fa]=دومینیکا
Name[fr]=Dominique
Name[ga]=Doiminice
Name[he]=דומינקה
Name[hr]=Dominika
Name[hu]=Dominika
Name[is]=Dóminíka
Name[ja]=ドミニカ
Name[ka]=დომინიკა
Name[kk]=Доминика
Name[km]=ដូមីនីកា
Name[ko]=도미니카
Name[lt]=Dominika
Name[lv]=Dominika
Name[mk]=Доминика
Name[ne]=डोमिनिका
Name[pa]=ਡੋਮਾਨੀਕਾ
Name[pl]=Dominika
Name[pt_BR]=Dominicana
Name[ru]=Доминика
Name[sl]=Dominikanska republika
Name[sr]=Доминика
Name[sr@Latn]=Dominika
Name[ta]=டொமினிகா
Name[te]=డొమినికా
Name[tg]=Доминика
Name[tr]=Dominik
Name[uk]=Домініка
Name[uz]=Доминика
Name[wa]=Dominike
Name[x-test]=xxDominicaxx
Name[zh_TW]=多明尼加
Region=caribbean
Languages=en_GB,fr
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=EC$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
