[KCM Locale]
Name=Moldova
Name[ar]=مولدوفا
Name[br]=Moldavi
Name[ca]=Moldàvia
Name[cs]=Moldávie
Name[csb]=Mòłdawskô
Name[cy]=Moldofa
Name[de]=Moldawien
Name[el]=Μολδαβία
Name[eo]=Moldavujo
Name[es]=Moldavia
Name[eu]=Moldavia
Name[fa]=مولداوی
Name[fr]=Moldavie
Name[ga]=An Mholdóiv
Name[gl]=Moldávia
Name[he]=מולדובה
Name[hr]=Moldavija
Name[is]=Moldóva
Name[it]=Moldavia
Name[ja]=モルドバ
Name[ka]=მოლდოვა
Name[kk]=Молдова
Name[km]=ម៉ុលដូវ៉ា
Name[ko]=몰도바
Name[lv]=Moldāvija
Name[mk]=Молдавија
Name[nds]=Moldawien
Name[ne]=मल्दोभा
Name[nl]=Moldavië
Name[pa]=ਮੋਡੋਵਾ
Name[pl]=Mołdawia
Name[pt]=Moldávia
Name[ru]=Молдавия
Name[sr]=Молдавија
Name[sr@Latn]=Moldavija
Name[sv]=Moldavien
Name[ta]=மால்டோவா
Name[te]=మొల్డొవా
Name[tg]=Молдавӣ
Name[uk]=Молдова
Name[uz]=Молдова
Name[x-test]=xxMoldovaxx
Name[zh_TW]=摩爾多瓦
Region=easteurope
Languages=ro,ru
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=Leu
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
