[KCM Locale]
Name=Moldova
Name[el]=Μολδαβία
Name[fr]=Moldavie
Name[x-test]=xxMoldovaxx
Region=easteurope
Languages=ro,ru
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=Leu
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
