[KCM Locale]
Name=Greenland
Name[af]=Groenland
Name[ar]=جرينلاند
Name[be]=Грэнландыя
Name[bg]=Гренландия
Name[br]=Griñland
Name[ca]=Groenlàndia
Name[cs]=Grónsko
Name[csb]=Grenlandzkô
Name[cy]=Y Lasynys
Name[da]=Grønland
Name[de]=Grönland
Name[el]=Ισλανδία
Name[eo]=Gronlando
Name[es]=Groenlandia
Name[et]=Gröönimaa
Name[fa]=گیریلند
Name[fi]=Gröönlanti
Name[fr]=Groenland
Name[fy]=Grienlân
Name[ga]=An Ghraonlainn
Name[gl]=Groenlándia
Name[he]=גרינלנד
Name[hr]=Grenland
Name[hu]=Grönland
Name[is]=Grænland
Name[it]=Groenlandia
Name[ja]=グリーンランド
Name[ka]=გრენლანდია
Name[kk]=Гренландия
Name[km]=ហ្គ្រីនលែន
Name[ko]=그린란드
Name[lt]=Grenlandija
Name[lv]=Grenlande
Name[mk]=Гренланд
Name[nb]=Grønland
Name[nds]=Gröönland
Name[ne]=ग्रिनल्याण्ड
Name[nl]=Groenland
Name[nn]=Grønland
Name[oc]=Groenland
Name[pa]=ਗਰੀਨਲੈਂਡ
Name[pl]=Grenlandia
Name[pt]=Gronelândia
Name[ro]=Groenlanda
Name[ru]=Гренландия
Name[se]=Ruonáeatnan
Name[sl]=Grenlandija
Name[sr]=Гренланд
Name[sr@latin]=Grenland
Name[sv]=Grönland
Name[te]=గ్రీన్ లాండ్
Name[th]=กรีนแลนด์
Name[tr]=Grönland
Name[uk]=Гренландія
Name[uz]=Гренландия
Name[vi]=Đảo Băng
Name[wa]=Groenlande
Name[x-test]=xxGreenlandxx
Name[zh_CN]=格陵兰
Name[zh_TW]=格陵蘭
Region=northamerica
Languages=kl,da
DecimalSymbol=,
ThousandsSeparator=.
CurrencySymbol=kr
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
#DateFormat[gl]=%A den %e. %B %Y
DateFormat[da]=%A den %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e/%n-%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%0(%n\n)%0(%cm\n)%0(%s\n)%0(Postboks %p\n)%z%w%l
AddressCountryPosition=below
