[KCM Locale]
Name=Cayman Islands
Name[af]=Cayman Eilande
Name[ar]=جزر الكايمان
Name[bg]=Кайманови острови
Name[br]=Inizi Kaeman
Name[ca]=Illes Caimà
Name[cs]=Kajmanské ostrovy
Name[csb]=Kajmanë
Name[cy]=Ynysoedd Caiman
Name[da]=Cayman-øerne
Name[de]=Kaiman-Inseln
Name[el]=Νησιά Κάυμαν
Name[eo]=Kejmanoj
Name[es]=Islas Caimán
Name[et]=Kaimanisaared
Name[eu]=Kaiman Irlak
Name[fa]=جزایر کایمن
Name[fi]=Cayman-saaret
Name[fr]=Îles Caïman
Name[fy]=Kaaiman Eilannen
Name[ga]=Oileáin na gCadhman
Name[gl]=Illas Caimán
Name[he]=איי קיימן
Name[hr]=Kajmanski Otoci
Name[hu]=Kajmán-szigetek
Name[is]=Cayman-eyjar
Name[it]=Isole Cayman
Name[ja]=ケイマン諸島
Name[ka]=კაიმანის კუნძულები
Name[kk]=Кайман ар-ы
Name[km]=កោះ​កៃម៉ាន
Name[ko]=케이맨 제도
Name[lt]=Kaimanų salos
Name[lv]=Kaimanu salas
Name[mk]=Кајмански Острови
Name[nb]=Caymanøyene
Name[nds]=Kaiman-Eilannen
Name[ne]=क्येमन आइसल्याण्ड
Name[nl]=Kaaiman Eilanden
Name[nn]=Caymanøyane
Name[pa]=ਕਾਅਮਾਨ ਟਾਪੂ
Name[pl]=Kajmany
Name[pt]=Ilhas Caimão
Name[pt_BR]=Ilhas Cayman
Name[ro]=Insulele Cayman
Name[ru]=Каймановы острова
Name[se]=Caymansullot
Name[sl]=Kajmanski otoki
Name[sr]=Кајманска острва
Name[sr@Latn]=Kajmanska ostrva
Name[sv]=Caymanöarna
Name[ta]=கேமான் தீவுகள்
Name[te]=కెమెన్ ద్విపాలు
Name[tg]=Ҷазираи Кайман
Name[tr]=Cayman Adaları
Name[uk]=Кайман острів
Name[uz]=Кайман Ороллари
Name[wa]=Iyes Cayman
Name[x-test]=xxCayman Islandsxx
Name[zh_TW]=開曼群島
Region=caribbean
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=Cl$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
