[KCM Locale]
Name=Lithuania
Name[af]=Lithuanië
Name[ar]=ليتوانيا
Name[be]=Літва
Name[br]=Lituani
Name[ca]=Lituània
Name[cs]=Litva
Name[csb]=Lëtewskô
Name[cy]=Lithwania
Name[da]=Litauen
Name[de]=Litauen
Name[el]=Λιθουανία
Name[eo]=Litovio
Name[es]=Lituania
Name[et]=Leedu
Name[eu]=Lituania
Name[fa]=لیتوانی
Name[fi]=Liettua
Name[fr]=Lituanie
Name[fy]=Litouwen
Name[ga]=An Liotuáin
Name[gl]=Lituánia
Name[he]=ליטא
Name[hr]=Litva
Name[hu]=Litvánia
Name[is]=Litháen
Name[it]=Lituania
Name[ja]=リトアニア
Name[ka]=ლიტვა
Name[kk]=Литва
Name[km]=លីទុយអានី
Name[ko]=리투아니아
Name[lt]=Lietuva
Name[lv]=Lietuva
Name[mk]=Литванија
Name[nb]=Litauen
Name[nds]=Litauen
Name[ne]=लिथुआनिया
Name[nl]=Litouwen
Name[nn]=Litauen
Name[pa]=ਲੀਥੂਨੀਆ
Name[pl]=Litwa
Name[pt]=Lituânia
Name[pt_BR]=Lituânia
Name[ro]=Lituania
Name[ru]=Литва
Name[se]=Lietuva
Name[sl]=Litva
Name[sr]=Литванија
Name[sr@latin]=Litvanija
Name[sv]=Litauen
Name[ta]=லித்துவேனியா
Name[te]=లిథువెనియా
Name[tg]=Литвониё
Name[tr]=Litvanya
Name[uk]=Литва
Name[uz]=Литва
Name[wa]=Litwaneye
Name[x-test]=xxLithuaniaxx
Name[zh_TW]=立陶宛
Region=northeurope
Languages=lt
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=Lt
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[lt]=%Y m. %B %e d., %A
DateFormatShort=%Y-%m-%d
TimeFormat=%H:%M:%S
