[KCM Locale]
Name=East Timor
Name[af]=Oos Timor
Name[be]=Усходні Тымор
Name[bg]=Източен Тимор
Name[br]=Timor reter
Name[ca]=Timor Est
Name[cs]=Východní Timor
Name[csb]=Pòrénkòwi Timòr
Name[cy]=Dwyrain Timor
Name[da]=Østtimor
Name[de]=Ost-Timor
Name[el]=Ανατολικό Τιμόρ
Name[eo]=Orienta Timoro
Name[es]=Timor oriental
Name[et]=Ida-Timor
Name[eu]=Ekialdeko Timor
Name[fa]=تیمور شرقی
Name[fi]=Itä-Timor
Name[fr]=Timor oriental
Name[fy]=Oost Timor
Name[ga]=Tíomór Thoir
Name[gl]=Timor do Leste
Name[he]=מזרח טימור
Name[hr]=Istočni Timor
Name[hu]=Kelet-Timor
Name[is]=Austur-Tímor
Name[it]=Timor Est
Name[ja]=東ティモール
Name[ka]=აღმოსავლეთ ტიმორი
Name[kk]=Шығыс Тимор
Name[km]=ទីម័រ​ខាង​កើត
Name[ko]=동티모르
Name[lt]=Rytų Timoras
Name[lv]=Austrumtimora
Name[mk]=Источен Тимор
Name[ms]=Timor Timur
Name[nb]=Øst-Timor
Name[nds]=Oosttimor
Name[ne]=पूर्वी टिमोर
Name[nl]=Oost Timor
Name[nn]=Aust-Timor
Name[pa]=ਪੂਰਬੀ ਤਾਮੋਰ
Name[pl]=Timor Wschodni
Name[pt]=Timor Leste
Name[pt_BR]=Timor Leste
Name[ro]=Timorul de Est
Name[ru]=Восточный Тимор
Name[se]=Nuorta-Timor
Name[sl]=Vzhodni Timor
Name[sr]=Источни Тимор
Name[sr@latin]=Istočni Timor
Name[sv]=Östtimor
Name[ta]=கிழக்கு திமார்
Name[te]=తూర్పు టిమోర్
Name[tg]=Тимури Шарқ
Name[tr]=Doğu Timur
Name[uk]=Східний Тімор
Name[uz]=Шарқий Тимур
Name[wa]=Timor Ess
Name[x-test]=xxEast Timorxx
Name[zh_TW]=東帝汶
Region=southeastasia
Languages=pt,en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=Rp
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
