[KCM Locale]
Name=Somalia
Name[af]=Somalië
Name[ar]=الصومال
Name[as]=ছোমালিয়া
Name[ast]=Somalia
Name[be]=Самалі
Name[be@latin]=Samali
Name[bg]=Сомалия
Name[bn]=সোমালিয়া
Name[bn_IN]=সোমালিয়া
Name[br]=Somali
Name[bs]=Somalija
Name[ca]=Somàlia
Name[ca@valencia]=Somàlia
Name[cs]=Somálsko
Name[csb]=Somalijô
Name[cy]=Somalia
Name[da]=Somalia
Name[de]=Somalia
Name[el]=Σομαλία
Name[en_GB]=Somalia
Name[eo]=Somalio
Name[es]=Somalia
Name[et]=Somaalia
Name[eu]=Somalia
Name[fa]=سومالی
Name[fi]=Somalia
Name[fr]=Somalie
Name[fy]=Somalie
Name[ga]=An tSomáil
Name[gl]=Somalia
Name[gu]=સોમાલિઆ
Name[he]=סומליה
Name[hi]=सोमालिया
Name[hne]=सोमाले
Name[hr]=Somalija
Name[hsb]=Somalija
Name[hu]=Szomália
Name[ia]=Somalia
Name[id]=Somalia
Name[is]=Sómalía
Name[it]=Somalia
Name[ja]=ソマリア
Name[ka]=სომალი
Name[kk]=Сомали
Name[km]=សូម៉ាលី
Name[kn]=ಸೊಮಾಲಿಯ
Name[ko]=소말리아
Name[ku]=Somalî
Name[lt]=Somalis
Name[lv]=Somālija
Name[mai]=सोमालिया
Name[mk]=Сомалија
Name[ml]=സോമാലിയ
Name[mr]=सोमालिया
Name[ms]=Somalia
Name[nb]=Somalia
Name[nds]=Somalien
Name[ne]=सोमालिया
Name[nl]=Somalië
Name[nn]=Somalia
Name[oc]=Somalia
Name[or]=ସୋମାଲିଆ
Name[pa]=ਸੋਮਾਲੀਆ
Name[pl]=Somalia
Name[pt]=Somália
Name[pt_BR]=Somália
Name[ro]=Somalia
Name[ru]=Сомали
Name[se]=Somália
Name[si]=සෝමාලියාව
Name[sk]=Somálsko
Name[sl]=Somalija
Name[sr]=Сомалија
Name[sr@ijekavian]=Сомалија
Name[sr@ijekavianlatin]=Somalija
Name[sr@latin]=Somalija
Name[sv]=Somalia
Name[ta]=சோமாலியா
Name[te]=సొమాలియా
Name[tg]=Сомалӣ
Name[th]=โซมาเลีย
Name[tr]=Somali
Name[ug]=سومالى
Name[uk]=Сомалі
Name[uz]=Somali
Name[uz@cyrillic]=Сомали
Name[vi]=Somalia
Name[wa]=Somaleye
Name[xh]=Somalia
Name[x-test]=xxSomaliaxx
Name[zh_CN]=索马里
Name[zh_TW]=索馬利亞
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SOS
CurrencyCode=SOS
