[KCM Locale]
Name=Somalia
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SOS
CurrencyCode=SOS
