[KCM Locale]
Name=Somalia
Name[fr]=Somalie
Name[x-test]=xxSomaliaxx
Region=northafrica
Languages=ar
DecimalSymbol=,
CurrencySymbol=SOS
FracDigits=2
DateFormatShort=%y/%m/%d
