[KCM Locale]
Name=Sweden
Name[af]=Swede
Name[ar]=السويد
Name[be]=Швецыя
Name[bg]=Швеция
Name[ca]=Suècia
Name[cs]=Švédsko
Name[csb]=Szwedzkô
Name[da]=Sverige
Name[de]=Schweden
Name[el]=Σουηδία
Name[eo]=Svedio
Name[es]=Suecia
Name[et]=Rootsi
Name[eu]=Suedia
Name[fa]=سوئد
Name[fi]=Ruotsi
Name[fr]=Suède
Name[fy]=Zweden
Name[ga]=An tSualainn
Name[gl]=Suécia
Name[he]=שבדיה
Name[hr]=Švedska
Name[hu]=Svédország
Name[is]=Svíþjóð
Name[it]=Svezia
Name[ja]=スウェーデン
Name[ka]=შვედეთი
Name[kk]=Швеция
Name[km]=ស៊ុយអែដ
Name[ko]=스웨덴
Name[lt]=Švedija
Name[lv]=Zviedrija
Name[mk]=Шведска
Name[nb]=Sverige
Name[ne]=स्वीडेन
Name[nl]=Zweden
Name[nn]=Sverige
Name[oc]=Suècia
Name[pa]=ਸਵੀਡਨ
Name[pl]=Szwecja
Name[pt]=Suécia
Name[pt_BR]=Suécia
Name[ro]=Suedia
Name[ru]=Швеция
Name[se]=Ruoŧŧa
Name[sl]=Švedska
Name[sr]=Шведска
Name[sr@latin]=Švedska
Name[sv]=Sverige
Name[ta]=சுவீடன்
Name[te]=స్వీడన్
Name[tg]=Шведӣ
Name[th]=สวีเดน
Name[tr]=İsveç
Name[uk]=Швеція
Name[uz]=Швеция
Name[vi]=Thuỵ Điển
Name[wa]=Suwede
Name[x-test]=xxSwedenxx
Name[zh_CN]=瑞典
Name[zh_TW]=瑞典
Region=northeurope
Languages=sv,se
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=kr
CurrencySymbol[se]=ru
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sv]=%Aen den %e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormat[se]=%A, %B %e. b. %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H.%M.%S
WeekStartDay=1
PageSize=0
MeasureSystem=0
AddressFormat=%n\n%0(%cm\n)%0(Box %p\n)%0(%s\n)%z%w%w%L
AddressCountryPosition=below
