[KCM Locale]
Name=Slovenia
Name[af]=Slovenië
Name[ar]=سلوفينيا
Name[bg]=Словения
Name[br]=Sloveni
Name[ca]=Eslovènia
Name[cs]=Slovinsko
Name[csb]=Sloweńskô
Name[cy]=Slofenia
Name[da]=Slovenien
Name[de]=Slowenien
Name[el]=Σλοβενία
Name[eo]=Slovenio
Name[es]=Eslovenia
Name[et]=Sloveenia
Name[eu]=Eslovenia
Name[fa]=اسلوونی
Name[fr]=Slovénie
Name[fy]=Slowenië
Name[ga]=An tSlóivéin
Name[gl]=Eslovénia
Name[he]=סלובניה
Name[hr]=Slovenija
Name[hu]=Szlovénia
Name[is]=Slóvenía
Name[ja]=スロベニア
Name[ka]=სლოვენია
Name[kk]=Словения
Name[km]=ស្លូវ៉ានី
Name[ko]=슬로베니아
Name[lt]=Slovėnija
Name[lv]=Slovēnija
Name[mk]=Словенија
Name[nds]=Slowenien
Name[ne]=सोल्भेनिया
Name[nl]=Slowenië
Name[pa]=ਸਲੋਵੀਨੀਆ
Name[pl]=Słowenia
Name[pt]=Eslovénia
Name[pt_BR]=Eslovênia
Name[ru]=Словения
Name[sl]=Slovenija
Name[sr]=Словенија
Name[sr@Latn]=Slovenija
Name[sv]=Slovenien
Name[ta]=சுலோவினியா
Name[tg]=Услувонӣ
Name[tr]=Slovenya
Name[uk]=Словенія
Name[uz]=Словения
Name[x-test]=xxSloveniaxx
Name[zh_TW]=斯洛維尼亞
Region=centraleurope
Languages=sl
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=€
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FracDigits=2
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sl]=%A %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%y
TimeFormat=%H:%M:%S
NounDeclension=true
DateMonthNamePossessive=true
