[KCM Locale]
Name=Pitcairn
Name[be]=Піткерн
Name[bg]=Острови Питкерн
Name[cy]=Ynys Pitcairn
Name[el]=Πίτκαιρν
Name[eo]=Pitkarna Insulo
Name[fa]=پیتکرن
Name[he]=פיטקרן
Name[ja]=ピトケアン島
Name[ka]=პიტიკაირნი
Name[kk]=Питкэрн ар-ы
Name[ko]=핏케언
Name[lv]=Pitkērna
Name[mk]=Питкерн
Name[ne]=पिटक्याइरन
Name[pa]=ਪੀਟਕਾਰਨ
Name[ru]=Питкэрн
Name[ta]=பிட்காய்ன்
Name[te]=పిట్కెర్న్
Name[tg]=Питкорин
Name[uz]=Питкерн
Name[x-test]=xxPitcairnxx
Name[zh_TW]=匹特開恩島
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=NZ$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
