[KCM Locale]
Name=Guadeloupe
Name[be]=Гвадэлупа
Name[bg]=Гваделупа
Name[br]=Gwadeloup
Name[ca]=Guadalupe
Name[csb]=Gwadelupa
Name[cy]=Gwadel?p
Name[el]=Γουαδελούπη
Name[eo]=Gvadelupo
Name[es]=Guadalupe
Name[eu]=Guadalupe
Name[fa]=گوادلوپ
Name[ga]=Guadalúip
Name[gl]=Guadalupe
Name[he]=גוודלופ
Name[is]=Gvadelúpeyjar
Name[it]=Guadalupa
Name[ja]=グアドループ
Name[ka]=გვადელუპე
Name[kk]=Гваделупа
Name[km]=ហ្គាដឺលុប
Name[ko]=과들루프
Name[lv]=Gvandelupa
Name[mk]=Гваделупе
Name[ne]=गुडेलुप
Name[pa]=ਗੁਆਡੀਓਪੀ
Name[pl]=Gwadelupa
Name[pt]=Guadalupe
Name[pt_BR]=Guadalupe
Name[ro]=Guadelupa
Name[ru]=Гваделупа
Name[sr]=Гвадалупе
Name[sr@latin]=Gvadalupe
Name[ta]=க்வாடெல்போப்
Name[te]=గువడెలొపె
Name[tg]=Гвадалуппо
Name[th]=เกาะกัวเดอลูป
Name[uk]=Гваделупа
Name[uz]=Гваделупа
Name[vi]=Gua-đe-lu-pợ
Name[x-test]=xxGuadeloupexx
Name[zh_TW]=瓜德魯普
Region=caribbean
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=€
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
