[Desktop Entry]
Name=Taglib plugin
Name[x-test]=xxTaglib pluginxx
Comment=Nepomuk Taglib Plugin which writeback to the metadata to the file.
X-KDE-ServiceTypes=Nepomuk/WritebackPlugin
Type=Service
X-KDE-Library=nepomuk_writeback_taglib

MimeType=audio/mpeg;audio/x-musepack;audio/flac;video/mp4;video/x-ms-asf;audio/x-aiff;audio/x-wav;audio/ogg;

X-Nepomuk-ResourceTypes=http://www.semanticdesktop.org/ontologies/2007/03/22/nfo#FileDataObject