[Desktop Entry]
Encoding=UTF-8
Type=Service
URL=file://tmp/soprano/services/SopranoRDFRepository
ServiceTypes=NepomukService
Name=Nepomuk Core Services
Name[de]=Nepomuk-Basisdienste
Name[nds]=Nepomuk-Karndeensten
Name[nl]=KNepomuk Kerndiensten
Name[zh_TW]=Nepomuk 核心服務
Comment=The Nepomuk Core Services mainly consisting of the RDF Repository
Comment[de]=Die Nepomuk-Basisdienste bestehen hauptsächlich aus dem RDF-Depot
Comment[nds]=De Nepomuk-Karndeensten, in de Hööftsaak dat RDF-Archiv
Comment[nl]=De KNepomuk-kerndiensten bestaan voornamelijk uit de RDF-repository
Comment[zh_TW]=Nepomuk 核心服務主要由 RDF 主目錄組成
X-Nepomuk-ServiceType=http://nepomuk.semanticdesktop.org/services/RDFRepository
X-Nepomuk-AutoLoad=false
X-Nepomuk-LoadOnDemand=true
Exec=nepomukcoreservices
