[Desktop Entry]
Encoding=UTF-8
Type=Service
URL=file://tmp/soprano/services/SopranoRDFRepository
ServiceTypes=NepomukService
Name=Nepomuk Core Services
Name[zh_TW]=Nepomuk 核心服務
Comment=The Nepomuk Core Services mainly consisting of the RDF Repository
Comment[zh_TW]=Nepomuk 核心服務主要由 RDF 主目錄組成
X-Nepomuk-ServiceType=http://nepomuk.semanticdesktop.org/services/RDFRepository
X-Nepomuk-AutoLoad=false
X-Nepomuk-LoadOnDemand=true
Exec=nepomukcoreservices
