[KCM Locale]
Name=Morocco
Name[el]=Μαρόκο
Name[fr]=Maroc
Name[x-test]=xxMoroccoxx
Region=northafrica
Languages=ar
DecimalSymbol=,
CurrencySymbol=MAD
FracDigits=2
DateFormatShort=%y/%m/%d
