[KCM Locale]
Name=Belize
Name[be]=Беліз
Name[br]=Beliz
Name[cy]=Bel?s
Name[el]=Μπελίζε
Name[eo]=Belizo
Name[fa]=بلیز
Name[ga]=An Bheilís
Name[he]=בליז
Name[is]=Belís
Name[ja]=ベリーズ
Name[ka]=ბელიზი
Name[kk]=Белиз
Name[km]=បេលីហ្ស
Name[ko]=벨리즈
Name[lt]=Belizo
Name[lv]=Beliza
Name[mk]=Белизе
Name[ne]=बेलीज
Name[pa]=ਬੀਲੀਜ਼ਿ
Name[ru]=Белиз
Name[sr]=Белиз
Name[sr@latin]=Beliz
Name[ta]=பெல்சியம்
Name[te]=బెలిజ్
Name[tg]=Белиз
Name[uk]=Беліз
Name[uz]=Белиз
Name[x-test]=xxBelizexx
Name[zh_TW]=比利時
Region=centralamerica
Languages=en_GB,es
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=BZ$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
