[KCM Locale]
Name=Syria
Name[fr]=Syrie
Name[x-test]=xxSyriaxx
Region=middleeast
Languages=ar
DecimalSymbol=,
CurrencySymbol=SYP
FracDigits=2
DateFormatShort=%y/%m/%d
