[KCM Locale]
Name=Syria
Name[af]=Sirië
Name[be]=Сірыя
Name[br]=Siri
Name[ca]=Síria
Name[cs]=Sýrie
Name[csb]=Syrëjô
Name[da]=Syrien
Name[de]=Syrien
Name[el]=Συρία
Name[eo]=Sirio
Name[es]=Siria
Name[et]=Süüria
Name[eu]=Siria
Name[fa]=سوریه
Name[fi]=Syyria
Name[fr]=Syrie
Name[fy]=Syrië
Name[ga]=An tSiria
Name[gl]=Síria
Name[he]=סוריה
Name[hr]=Sirija
Name[hu]=Szíria
Name[is]=Sýrland
Name[it]=Siria
Name[ja]=シリア
Name[ka]=სირია
Name[kk]=Сирия
Name[km]=ស៊ីរី
Name[ko]=시리아
Name[lt]=Sirija
Name[lv]=Sīrija
Name[mk]=Сирија
Name[nds]=Syrien
Name[ne]=सिरिया
Name[nl]=Syrië
Name[pa]=ਸੀਰੀਆ
Name[pt]=Síria
Name[pt_BR]=Síria
Name[ro]=Siria
Name[ru]=Сирия
Name[sl]=Sirija
Name[sr]=Сирија
Name[sr@latin]=Sirija
Name[sv]=Syrien
Name[ta]=சிரியா
Name[te]=సిరియా
Name[tg]=Сурия
Name[tr]=Suriye
Name[uk]=Сирія
Name[uz]=Сурия
Name[wa]=Sireye
Name[x-test]=xxSyriaxx
Name[zh_TW]=敘利亞
Region=middleeast
Languages=ar
DecimalSymbol=,
CurrencySymbol=SYP
FracDigits=2
DateFormatShort=%y/%m/%d
