[KCM Locale]
Name=Caribbean
Name[af]=Karibiese Eilande
Name[be]=Карыбскія астравы
Name[br]=Karib
Name[ca]=Carib
Name[cs]=Karibik
Name[csb]=Karaibë
Name[cy]=Y Carib?
Name[da]=Caribien
Name[de]=Karibik
Name[el]=Καραϊβική
Name[eo]=Karibo
Name[es]=Caribe
Name[et]=Kariibi
Name[eu]=Karibea
Name[fa]=کارائیب
Name[fi]=Karibia
Name[fr]=Caraïbes
Name[fy]=Karibisch
Name[ga]=Muir Chairib
Name[gl]=Caribeño
Name[he]=האיים הקריביים
Name[hr]=Karibi
Name[hu]=Karib-szigetek
Name[is]=Karíbahaf
Name[it]=Caraibi
Name[ja]=カリブ
Name[ka]=კარიბები
Name[kk]=Кариб ар-ы
Name[km]=ការ៉ាប៊ីន
Name[ko]=카리브해
Name[lt]=Karibai
Name[lv]=Karību salas
Name[mk]=Кариби
Name[nb]=Karibia
Name[nds]=Karibik
Name[ne]=क्यारीबेअन
Name[nl]=Caribisch
Name[nn]=Karibia
Name[pa]=ਕਾਰੀਬੱਇਨ
Name[pl]=Karaiby
Name[pt]=Caraíbas
Name[pt_BR]=Caribenho
Name[ro]=Caraibe
Name[ru]=Карибские острова
Name[se]=Karibia
Name[sl]=Karibi
Name[sr]=Кариби
Name[sr@latin]=Karibi
Name[sv]=Karibien
Name[ta]=கரீபியன்
Name[te]=కెరిబ్బిన్
Name[tg]=Карибӣ
Name[tr]=Karayipler
Name[uk]=Карибські острови
Name[uz]=Кариб Ороллари
Name[wa]=Carayibes
Name[x-test]=xxCaribbeanxx
Name[zh_TW]=加勒比
