[KCM Locale]
Name=Africa, Eastern
Name[be@latin]=Uschodniaja Afryka
Name[el]=Αφρική, Ανατολική
Name[it]=Africa orientale
Name[kk]=Шығыс Африка
Name[km]=អាហ្វ្រិក​ខាង​កើត
Name[pt]=África, Oriental
Name[pt_BR]=África, Oriental
Name[sv]=Afrika, östra
Name[tr]=Afrika, Doğu
Name[uk]=Африка, східна
