[KCM Locale]
Name=Africa, Eastern
Name[ar]=شرق أفريقيا
Name[be@latin]=Uschodniaja Afryka
Name[ca]=Àfrica Oriental
Name[de]=Afrika, Östliches
Name[el]=Αφρική, Ανατολική
Name[es]=África Occidental
Name[et]=Ida-Aafrika
Name[gl]=África, Leste
Name[gu]=આફિક્રા, પૂર્વીય
Name[he]=אפריקה, מזרח
Name[hi]=पूर्वी अफ्रीका
Name[hsb]=Afrika, Wuchodna
Name[it]=Africa orientale
Name[ja]=東アフリカ
Name[kk]=Шығыс Африка
Name[km]=អាហ្វ្រិក​ខាង​កើត
Name[lv]=Austrumāfrika
Name[ml]=കിഴക്കേ ആഫ്രിക്ക
Name[nb]=Øst-Afrika
Name[nds]=Afrika, Oost-
Name[pa]=ਅਫਰੀਕਾ, ਪੂਰਬੀ
Name[pt]=África, Oriental
Name[pt_BR]=África, Oriental
Name[ro]=Africa de Est
Name[sv]=Afrika, östra
Name[th]=แอฟริกาตะวันออก
Name[tr]=Afrika, Doğu
Name[uk]=Африка, східна
Name[x-test]=xxAfrica, Easternxx
Name[zh_CN]=东非
Name[zh_TW]=非洲，東部
