[KCM Locale]
Name=Middle-East
Name[af]=Midde Ooste
Name[ar]=الشرق الأوسط
Name[bg]=Близкия изток
Name[ca]=Orient Mitjà
Name[cs]=Blízký východ
Name[csb]=Blisczi Pòrénk
Name[cy]=Dwyrain Canol
Name[da]=Mellmøsten
Name[de]=Mittlerer Osten
Name[el]=Μέση Ανατολή
Name[eo]=Oriento meza
Name[es]=Oriente medio
Name[et]=Lähis-Ida
Name[eu]=Ekialde erdikoa
Name[fa]=خاورمیانه
Name[fi]=Lähi-itä
Name[fr]=Moyen-Orient
Name[fy]=Midden-Easten
Name[ga]=An Meánoirthear
Name[gl]=Oriente Meio
Name[he]=המזרח התיכון
Name[hr]=Srednji istok
Name[hu]=Közép-Kelet
Name[is]=Mið-Austurlönd
Name[it]=Medio Oriente
Name[ja]=中東
Name[ka]=შუა აღმოსავლეთი
Name[kk]=Орта Шығыс
Name[km]=មជ្ឈឹមបូព៌ា
Name[lt]=Vidurio Rytai
Name[lv]=Vidējie austrumi
Name[mk]=Среден Исток
Name[nb]=Midt-Østen
Name[nds]=Middel-Oosten
Name[ne]=मध्य-पूर्व
Name[nl]=Midden-Oosten
Name[nn]=Midt-Austen
Name[pa]=ਮੱਧ-ਪੂਰਬ
Name[pl]=Bliski Wschód
Name[pt]=Médio Oriente
Name[pt_BR]=Oriente médio
Name[ro]=Estul Mijlociu
Name[ru]=Средний Восток
Name[sl]=Srednji vzhod
Name[sr]=Средњи исток
Name[sr@Latn]=Srednji istok
Name[sv]=Mellersta östern
Name[ta]=மைய-கிழக்கு
Name[te]=మద్యాసియా
Name[tr]=Orta Doğu
Name[uk]=Середній схід
Name[uz]=Яқин Шарқ
Name[wa]=Moyén Oryint
Name[x-test]=xxMiddle-Eastxx
Name[zh_TW]=中東
