[KCM Locale]
Name=Europe, Northern
Name[af]=Europa, Noordelike
Name[be]=Паўночная Еўропа
Name[bg]=Северна Европа
Name[br]=Europa, Norzh
Name[ca]=Europa, del nord
Name[cs]=Evropa, Severní
Name[csb]=Nordowô Eùropa
Name[cy]=Ewrop, Gogledd
Name[da]=Nordeuropa
Name[de]=Europa, Nördliches
Name[el]=Ευρώπη, Βόρεια
Name[eo]=Eŭropo norda
Name[es]=Norte de Europa
Name[et]=Põhja-Euroopa
Name[eu]=Ipar Europa
Name[fa]=اروپای شمالی
Name[fi]=Eurooppa, Pohjoinen
Name[fr]=Europe du nord
Name[fy]=Europa, Noard
Name[ga]=An Eoraip, Tuaisceart
Name[gl]=Europa Septentrional
Name[he]=אירופה, צפון
Name[hr]=Europa, sjeverna
Name[hu]=Észak-Európa
Name[is]=Evrópa, Norður-Evrópa
Name[it]=Europa settentrionale
Name[ja]=北ヨーロッパ
Name[ka]=ევროპა, ჩრდილოეთი
Name[kk]=Солтүстік Еуропа
Name[km]=អឺរ៉ុប​ខាង​ជើង
Name[ko]=북유럽
Name[lt]=Europa, Šiaurės
Name[lv]=Ziemeļeiropa
Name[mk]=Северна Европа
Name[nb]=Nord-Europa
Name[nds]=Europa, Noord-
Name[ne]=उत्तर यूरोप
Name[nl]=Europa, Noord
Name[nn]=Nord-Europa
Name[pa]=ਯੂਰਪ, ਉੱਤਰੀ
Name[pl]=Europa Północna
Name[pt]=Europa (Norte)
Name[pt_BR]=Europa setentrional
Name[ro]=Europa de Nord
Name[ru]=Северная Европа
Name[se]=Davvi-Eurohpa
Name[sl]=Evropa, Severna
Name[sr]=Европа, северна
Name[sr@latin]=Evropa, severna
Name[sv]=Europa, norra
Name[ta]=ஐரோப்பா, வடக்கு
Name[te]=ఉత్తర ఐరొపా
Name[tg]=Авруппо, Шимолӣ
Name[tr]=Kuzey Avrupa
Name[uk]=Європа, Північна
Name[uz]=Ойропа, Шимолий
Name[vi]=Bắc Âu
Name[wa]=Urope bijhrece
Name[x-test]=xxEurope, Northernxx
Name[xh]=Yurophu, Esemantla
Name[zh_TW]=歐洲，北部
