[KCM Locale]
Name=America, North
Name[af]=Amerika, Noord
Name[ar]=أمريكا الشمالية
Name[as]=আমেৰিকা, উত্তৰ
Name[ast]=América del Norte
Name[be]=Паўночная Амерыка
Name[be@latin]=Paŭnočnaja Ameryka
Name[bg]=Северна Америка
Name[bn]=আমেরিকা, উত্তর
Name[bn_IN]=আমেরিকা, উত্তর
Name[br]=Amerika, Norzh
Name[bs]=Amerika sjeverna
Name[ca]=Amèrica del Nord
Name[ca@valencia]=Amèrica del Nord
Name[cs]=Amerika, Severní
Name[csb]=Nordowô Amerika
Name[cy]=America, Gogledd
Name[da]=Nordamerika
Name[de]=Amerika, Nördliches
Name[el]=Αμερική, Βόρεια
Name[en_GB]=America, North
Name[eo]=Ameriko, Norda
Name[es]=América del Norte
Name[et]=Põhja-Ameerika
Name[eu]=Ipar Amerika
Name[fa]=آمریکای شمالی
Name[fi]=Pohjois-Amerikka
Name[fr]=Amérique du nord
Name[fy]=Amerika, Noard
Name[ga]=Meiriceá Thuaidh
Name[gl]=América do Norte
Name[gu]=અમેરિકા, ઉત્તર
Name[he]=אמריקה, צפון
Name[hi]=अमेरिका, उत्तरी
Name[hne]=अमेरिका, उत्तरी
Name[hr]=Amerika, sjeverna
Name[hsb]=Amerika, Sewjerna
Name[hu]=Észak-Amerika
Name[ia]=America del Nord
Name[id]=Amerika, Utara
Name[is]=Ameríka, Norður-Ameríka
Name[it]=America settentrionale
Name[ja]=北アメリカ
Name[ka]=ამერიკა, ჩრდილოეთი
Name[kk]=Солтүстік Америка
Name[km]=អាមេរិក​ខាង​ជើង
Name[kn]=ಅಮೇರಿಕಾ, ಉತ್ತರ
Name[ko]=북아메리카
Name[ku]=Amerîkaya Bakur
Name[lt]=Amerika, Šiaurės
Name[lv]=Ziemeļamerika
Name[mai]=अमेरिका, उत्तरी
Name[mk]=Северна Америка
Name[ml]=വടക്കേ അമേരിക്ക
Name[mr]=अमेरिका, उत्तरी
Name[nb]=Nord-Amerika
Name[nds]=Amerika, Noord-
Name[ne]=उत्तर अमेरिका
Name[nl]=Amerika, Noord
Name[nn]=Nord-Amerika
Name[or]=ଆମେରିକା, ଉତ୍ତର
Name[pa]=ਅਮਰੀਕਾ, ਉੱਤਰੀ
Name[pl]=Ameryka Północna
Name[pt]=América do Norte
Name[pt_BR]=América do Norte
Name[ro]=America de Nord
Name[ru]=Северная Америка
Name[se]=Davvi-Amerihká
Name[si]=උතුරු ඇමරිකාව
Name[sk]=Severná Amerika
Name[sl]=Amerika, severna
Name[sr]=Америка сјеверна
Name[sr@ijekavian]=Америка сјеверна
Name[sr@ijekavianlatin]=Amerika sjeverna
Name[sr@latin]=Amerika sjeverna
Name[sv]=Amerika, nord
Name[ta]=அமெரிக்கா, வடக்கு
Name[te]=ఉత్తర అమెరికా
Name[tg]=Амрикои Шимолӣ
Name[th]=อเมริกาเหนือ
Name[tr]=Kuzey Amerika
Name[ug]=شىمالىي ئامېرىكا
Name[uk]=Америка, північна
Name[uz]=Amerika, Shimoliy
Name[uz@cyrillic]=Америка, Шимолий
Name[vi]=Bắc Mĩ
Name[wa]=Amerike bijhrece
Name[xh]=Melika, Mntla
Name[x-test]=xxAmerica, Northxx
Name[zh_CN]=北美
Name[zh_TW]=美洲，北部
