[KCM Locale]
Name=Europe, Southern
Name[af]=Europa, Suidelike
Name[ar]=جنوب أوروبا
Name[be]=Паўднёвая Еўропа
Name[br]=Europa, Su
Name[ca]=Europa, del sud
Name[cs]=Evropa, Jižní
Name[csb]=Pôłniowô Eùropa
Name[cy]=Ewrop, De
Name[da]=Sydeuropa
Name[de]=Europa, Südliches
Name[el]=Ευρώπη, Νότια
Name[eo]=Eŭropo suda
Name[es]=Sur de Europa 
Name[et]=Lõuna-Euroopa
Name[eu]=Hego Europa
Name[fa]=اروپای جنوبی
Name[fi]=Eurooppa, Eteläinen
Name[fr]=Europe du sud
Name[fy]=Europa, Sûd
Name[ga]=An Eoraip, Deisceart
Name[gl]=Europa Meridional
Name[he]=אירופה, דרום
Name[hr]=Europa, južna
Name[hu]=Dél-Európa
Name[is]=Evrópa, Suður-Evrópa
Name[it]=Europa meridionale
Name[ja]=南ヨーロッパ
Name[ka]=ევროპა, სამხრეთი
Name[kk]=Оңтүстік Еуропа
Name[km]=អឺរ៉ុប​ខាង​ត្បូង
Name[ko]=남유럽
Name[lt]=Europa, Pietų
Name[lv]=Dienvideiropa
Name[mk]=Јужна Европа
Name[nb]=Sør-Europa
Name[nds]=Europa, Sööd-
Name[ne]=दक्षिण यूरोप
Name[nl]=Europa, Zuid
Name[nn]=Sør-Europa
Name[pa]=ਯੂਰਪ, ਦੱਖਣੀ
Name[pl]=Europa Południowa
Name[pt]=Europa (Sul)
Name[pt_BR]=Europa meridional
Name[ro]=Europa de Sud
Name[ru]=Южная Европа
Name[se]=Lulli-Eurohpa
Name[sl]=Evropa, Južna
Name[sr]=Европа, јужна
Name[sr@latin]=Evropa, južna
Name[sv]=Europa, södra
Name[ta]=ஐரோப்பா, தென்
Name[te]=దక్షిణ ఐరొపా
Name[tg]=Авруппо, Ҷанубӣ
Name[tr]=Güney Avrupa
Name[uk]=Європа, південна
Name[uz]=Ойропа, Жанубий
Name[wa]=Urope nonnrece
Name[x-test]=xxEurope, Southernxx
Name[xh]=Yurophu, Emazantsi
Name[zh_TW]=歐洲，南部
