[KCM Locale]
Name=Africa, Southern
Name[af]=Afrika, Suid
Name[ar]=أفريقيا الجنوبية
Name[as]=আফ্ৰিকা, দক্ষিণ
Name[ast]=África del Sur
Name[be]=Паўднёвая Афрыка
Name[be@latin]=Paŭdniovaja Afryka
Name[bg]=Южна Африка
Name[bn]=আফ্রিকা, দক্ষিণ
Name[bn_IN]=আফ্রিকা, দক্ষিণ
Name[br]=Afrika, Su
Name[bs]=Afrika, južna
Name[ca]=Àfrica del Sud
Name[ca@valencia]=Àfrica del Sud
Name[cs]=Afrika, Jižní
Name[csb]=Pôłniowô Afrika
Name[cy]=Affrica, De
Name[da]=Sydafrika
Name[de]=Afrika, Südliches
Name[el]=Αφρική, Νότια
Name[en_GB]=Africa, Southern
Name[eo]=Afriko, Suda
Name[es]=África del Sur
Name[et]=Lõuna-Aafrika
Name[eu]=Afrika, hegoaldea
Name[fa]=آفریقای جنوبی
Name[fi]=Etelä-Afrikka
Name[fr]=Afrique du Sud
Name[fy]=Afrika, Sûd-
Name[ga]=An Afraic, Deisceart
Name[gl]=África, Sur
Name[gu]=આફ્રિકા, દક્ષિણ
Name[he]=אפריקה, דרום
Name[hi]=दक्षिणी अफ्रीका
Name[hne]=दक्छिनी अफ्रीका
Name[hr]=Afrika, južna
Name[hsb]=Afrika, Južna
Name[hu]=Dél-Afrika
Name[ia]=Africa, Meridional
Name[id]=Afrika, Selatan
Name[is]=Afríka, Suður-Afríka
Name[it]=Africa meridionale
Name[ja]=南アフリカ
Name[ka]=აფრიკა, სამხრეთი
Name[kk]=Оңтүстік Африка
Name[km]=អាហ្វ្រិក​ខាង​ត្បូង
Name[kn]=ಆಫ್ರಿಕಾ, ದಕ್ಷಿಣ
Name[ko]=남아프리카
Name[ku]=Afrîkaya Başûr
Name[lt]=Afrika, Pietinė
Name[lv]=Dienvidāfrika
Name[mai]=दक्षिणी अफ्रीका
Name[mk]=Јужна Африка
Name[ml]=തെക്കന്‍ ആഫ്രിക്ക
Name[mr]=दक्षिणी आफ्रीका
Name[nb]=Sør-Afrika
Name[nds]=Afrika, Sööd-
Name[ne]=दक्षिण अफ्रिका
Name[nl]=Afrika, Zuid-
Name[nn]=Sør-Afrika
Name[or]=ଆଫ୍ରିକା, ଦକ୍ଷିଣ
Name[pa]=ਅਫਰੀਕਾ, ਦੱਖਣੀ
Name[pl]=Afryka Południowa
Name[pt]=África, Sul
Name[pt_BR]=Sul da África
Name[ro]=Africa de Sud
Name[ru]=Южная Африка
Name[se]=Lulli-Afrihká
Name[si]=දකුණු අප්‍රිකාව
Name[sk]=Južná Afrika
Name[sl]=Afrika, južna
Name[sr]=Африка, јужна
Name[sr@ijekavian]=Африка, јужна
Name[sr@ijekavianlatin]=Afrika, južna
Name[sr@latin]=Afrika, južna
Name[sv]=Afrika, syd
Name[ta]=ஆப்பிரிக்கா, தென்னிந்திய
Name[te]=దక్షిణ ఆఫ్రికా
Name[tg]=Африқои Ҷанубӣ
Name[th]=แอฟริกาตอนใต้
Name[tr]=Güney Afrika
Name[ug]=جەنۇبىي ئافرىقا
Name[uk]=Африка, південна
Name[uz]=Afrika, Janubiy
Name[uz@cyrillic]=Африка, Жанубий
Name[vi]=Nam Phi
Name[wa]=Afrike nonnrece
Name[x-test]=xxAfrica, Southernxx
Name[zh_CN]=南非
Name[zh_TW]=非洲，南部
