[KCM Locale]
Name=Asia, South
Name[af]=Asië, Suid
Name[ar]=جنوب آسيا
Name[be]=Паўднёвая Азія
Name[bg]=Южна Азия
Name[br]=Asi, Su
Name[ca]=Àsia del Sud
Name[cs]=Asie, Jižní
Name[csb]=Pôłniowô Azëjô
Name[cy]=Asia, De
Name[da]=Sydasien
Name[de]=Asien, Südliches
Name[el]=Ασία, Νότια
Name[eo]=Azio suda
Name[es]=Asia, Sur
Name[et]=Lõuna-Aasia
Name[eu]=Hego Asia
Name[fa]=آسیای جنوبی
Name[fi]=Aasia, Eteläinen
Name[fr]=Asie du sud
Name[fy]=Azië, Sûd-
Name[ga]=An Áise Theas
Name[gl]=Ásia, Sur
Name[he]=אסיה, דרום
Name[hr]=Azija, južna
Name[hu]=Dél-Ázsia
Name[is]=Asía, Suður-Asía
Name[it]=Asia meridionale
Name[ja]=南アジア
Name[ka]=აზია, სამხრეთი
Name[kk]=Оңтүстік Азия
Name[km]=អាស៊ី​ខាង​ត្បូង
Name[ko]=남아시아
Name[lt]=Azija, Pietų
Name[lv]=Dienvidāzija
Name[mk]=Јужна Азија
Name[nb]=Sør-Asia
Name[nds]=Asien, Sööd-
Name[ne]=दक्षिण एसिया
Name[nl]=Azië, Zuid-
Name[nn]=Sør-Asia
Name[pa]=ਏਸ਼ੀਆ, ਦੱਖਣੀ
Name[pl]=Azja Południowa
Name[pt]=Ásia (Sul)
Name[pt_BR]=Sul da Ásia
Name[ro]=Asia de Sud
Name[ru]=Южная Азия
Name[se]=Lulli-Ásia
Name[sl]=Azija, Južna
Name[sr]=Азија, јужна
Name[sr@latin]=Azija, južna
Name[sv]=Asien, syd
Name[ta]=ஆசியா, தெற்கு
Name[te]=దక్షిణ ఆసియా
Name[tg]=Осиё, Ҷануб
Name[th]=เอเชียใต้
Name[tr]=Güney Asya
Name[uk]=Азія, південна
Name[uz]=Осиё, Жанубий
Name[vi]=Nam Á
Name[wa]=Azeye nonnrece
Name[x-test]=xxAsia, Southxx
Name[zh_TW]=亞洲，南部
