[KCM Locale]
Author=Ramon Casha <ramon.casha@megabyte.net>
Name=Malta
Region=southeurope
Languages=mt,en_GB,en
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[mt]=%A, %e ta' %B %Y
DateFormat[en_GB]=%A %d %B %Y
DateFormat[en]=%A %d %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
