[KCM Locale]
Name=Botswana
Region=southafrica
Languages=en_GB,ts
DecimalSymbol=.
ThousandsSeparator=.
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
DateFormat[en_GB]=%A %d %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%l.%M.%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BWP
CurrencyCode=BWP
