[KCM Locale]
Name=Botswana
Name[af]=Botswana
Name[ar]=بوتسوانا
Name[as]=বোটছৱানা
Name[ast]=Botswana
Name[be]=Батсвана
Name[be@latin]=Botswana
Name[bg]=Ботсуана
Name[bn]=বটসওয়ানা
Name[bn_IN]=বোটসওয়ানা
Name[br]=Botswana
Name[bs]=Bocvana
Name[ca]=Botswana
Name[ca@valencia]=Botswana
Name[cs]=Botswana
Name[csb]=Botswana
Name[cy]=Botswana
Name[da]=Botswana
Name[de]=Botsuana
Name[el]=Μποτσουάνα
Name[en_GB]=Botswana
Name[eo]=Bocvano
Name[es]=Botswana
Name[et]=Botswana
Name[eu]=Botswana
Name[fa]=بوتسوانا
Name[fi]=Botswana
Name[fr]=Botswana
Name[fy]=Botswana
Name[ga]=An Bhotsuáin
Name[gl]=Botswana
Name[gu]=બોટ્સ્વાના
Name[he]=בוצואנה
Name[hi]=बोत्सवाना
Name[hne]=बोत्सवाना
Name[hr]=Botsvana
Name[hsb]=Botswana
Name[hu]=Botswana
Name[ia]=Botswana
Name[id]=Botswana
Name[is]=Botsvana
Name[it]=Botswana
Name[ja]=ボツワナ
Name[ka]=ბოტსვანა
Name[kk]=Ботсвана
Name[km]=បុតស្វាណា
Name[kn]=ಬೋಟ್ಸ್ವಾನ
Name[ko]=보츠와나
Name[ku]=Botswana
Name[lt]=Botsvanos
Name[lv]=Botsvāna
Name[mai]=बोत्सवाना
Name[mk]=Боцвана
Name[ml]=ബോട്സ്വാനാ
Name[mr]=बोत्सवाना
Name[ms]=Botswana
Name[nb]=Botswana
Name[nds]=Botswana
Name[ne]=बोटस्वाना
Name[nl]=Botswana
Name[nn]=Botswana
Name[oc]=Botswana
Name[or]=ବୋଟସ୍ୱାନା
Name[pa]=ਬੋਟਸਵਾਨਾ
Name[pl]=Botswana
Name[pt]=Botswana
Name[pt_BR]=Botsuana
Name[ro]=Botswana
Name[ru]=Ботсвана
Name[se]=Botswana
Name[si]=බොටස්වානා
Name[sk]=Botswana
Name[sl]=Bocvana
Name[sr]=Боцвана
Name[sr@ijekavian]=Боцвана
Name[sr@ijekavianlatin]=Bocvana
Name[sr@latin]=Bocvana
Name[sv]=Botswana
Name[ta]=பாட்ஸ்வனா
Name[te]=బొట్స్ వానా
Name[tg]=Ботсвана
Name[th]=บอตสวานา
Name[tr]=Botsvana
Name[ug]=بوتسۋانا
Name[uk]=Ботсвана
Name[uz]=Botsvana
Name[uz@cyrillic]=Боцвана
Name[vi]=Bốt-xouă-na
Name[wa]=Boswana
Name[x-test]=xxBotswanaxx
Name[zh_CN]=博茨瓦纳
Name[zh_TW]=波札那
Region=southafrica
Languages=en_GB,ts
DecimalSymbol=.
ThousandsSeparator=.
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
DateFormat[en_GB]=%A %d %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%l.%M.%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BWP
CurrencyCode=BWP
