[KCM Locale]
Name=Marshall Islands
Name[af]=Marshall EIlande
Name[ar]=جزر مارشال
Name[as]=মাৰ্ছাল দ্বীপপুঞ্জ
Name[ast]=Islles Marshall
Name[be]=Маршаллавы астравы
Name[be@latin]=Maršalskija vyspy
Name[bg]=Маршалски острови
Name[bn]=মারশাল দ্বীপপুঞ্জ
Name[bn_IN]=মার্শাল দ্বীপপুঞ্জ
Name[br]=Inizi Marshall
Name[bs]=Maršalska ostrva
Name[ca]=Illes Marshall
Name[ca@valencia]=Illes Marshall
Name[cs]=Marshallovy ostrovy
Name[csb]=Òstrowë Marshalla
Name[cy]=Ynysoedd Marshall
Name[da]=Marshall-øerne
Name[de]=Marshallinseln
Name[el]=Νησιά Μάρσαλ
Name[en_GB]=Marshall Islands
Name[eo]=Marŝaloj
Name[es]=Islas Marshall
Name[et]=Marshalli saared
Name[eu]=Marshall Uharteak
Name[fa]=جزایر مارشال
Name[fi]=Marshallinsaaret
Name[fr]=Îles Marshall
Name[fy]=Marshall Eilânen
Name[ga]=Oileáin Mharshall
Name[gl]=Illas Marshall
Name[gu]=માર્શલ ટાપુઓ
Name[he]=איי מרשל
Name[hi]=मार्शल आइलैंड
Name[hne]=मार्सल आइलैंड
Name[hr]=Marshall Otoci
Name[hsb]=Marshallowe kupy
Name[hu]=Marshall-szigetek
Name[ia]=Insulas Marshall, le
Name[id]=Kepulauan Marshall
Name[is]=Marshall-eyjar
Name[it]=Isole Marshall
Name[ja]=マーシャル諸島
Name[ka]=მარშალის კუნძულები
Name[kk]=Маршалл ар-ы
Name[km]=កោះ​ម៉ាស្យល
Name[kn]=ಮಾರ್ಷಲ್ ದ್ವೀಪಗಳು
Name[ko]=마셜 제도
Name[ku]=Giravên Marsal
Name[lt]=Maršalo salos
Name[lv]=Māršalu salas
Name[mai]=मार्शल द्वीप
Name[mk]=Маршалови Острови
Name[ml]=മാര്‍ഷല്‍‌ ദ്വീപുകള്‍
Name[mr]=मार्शल द्वीप
Name[nb]=Marshalløyene
Name[nds]=Marshall-Eilannen
Name[ne]=मार्सल द्विप
Name[nl]=Marshall Eilanden
Name[nn]=Marshalløyane
Name[oc]=Illas Marshall
Name[or]=ମାର୍ଶାଲ ଆଇଲ୍ୟାଣ୍ଡ
Name[pa]=ਮਾਰਸ਼ਲ ਟਾਪੂ
Name[pl]=Wyspy Marshalla
Name[pt]=Ilhas Marshall
Name[pt_BR]=Ilhas Marshall
Name[ro]=Insulele Marshall
Name[ru]=Маршалловы острова
Name[se]=Marshallsullot
Name[si]=Marshall Islands
Name[sk]=Marshallove Ostrovy
Name[sl]=Marshallovi otoki
Name[sr]=Маршалска острва
Name[sr@ijekavian]=Маршалска острва
Name[sr@ijekavianlatin]=Maršalska ostrva
Name[sr@latin]=Maršalska ostrva
Name[sv]=Marshallöarna
Name[ta]=மார்ஷல் தீவுகள்
Name[te]=మార్షల్ ద్విపాలు
Name[tg]=Ҷазираҳои Маршал
Name[th]=หมู่เกาะมาแชลล์
Name[tr]=Marşal Adaları
Name[ug]=مارشال تاقىم ئاراللىرى
Name[uk]=Маршаллові острови
Name[uz]=Marshall Orollari
Name[uz@cyrillic]=Маршалл Ороллари
Name[vi]=Quẩn đảo Marshall
Name[wa]=Iyes Marshall
Name[x-test]=xxMarshall Islandsxx
Name[zh_CN]=马绍群岛
Name[zh_TW]=馬紹爾群島
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD
CurrencyCode=USD
