[KCM Locale]
Name=Nigeria
Name[el]=Νιγηρία
Name[fr]=Nigéria
Name[x-test]=xxNigeriaxx
Region=westafrica
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=N
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
