[KCM Locale]
Name=Gibraltar
Name[el]=Γιβραλτάρ
Name[x-test]=xxGibraltarxx
Region=westeurope
#Languages=
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=£G
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
