[KCM Locale]
Name=Mongolia
Region=eastasia
Languages=mn
#DecimalSymbol=,
#ThousandsSeparator=.
#MonetaryDecimalSymbol=,
#MonetaryThousandsSeparator=.
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=false
#NegativePrefixCurrencySymbol=false
#PositiveMonetarySignPosition=2
#NegativeMonetarySignPosition=2
#DateFormat[mn]=%Y %B %e, %A
#DateFormatShort=%Y/%m/%d
#TimeFormat=%H:%M:%S
#WeekStartDay=1
#PageSize=0
#MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MNT
CurrencyCode=MNT
