[KCM Locale]
Name=Pakistan
Region=southasia
Languages=ur,en,en_GB,en_US
NegativeMonetarySignPosition=1
DateFormat=%A %d %b %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%l:%M:%S %p
PageSize=0
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=PKR
CurrencyCode=PKR
