[KCM Locale]
Name=Gabon
Name[ar]=الغابون
Name[be]=Габон
Name[bg]=Габон
Name[csb]=Gabòn
Name[de]=Gabun
Name[el]=Γκαμπόν
Name[eo]=Gabono
Name[es]=Gabón
Name[fa]=گابن
Name[ga]=An Ghabúin
Name[gl]=Gabón
Name[he]=גבון
Name[ja]=ガボン
Name[ka]=გაბონი
Name[kk]=Габон
Name[km]=ហ្គាបុង
Name[ko]=가봉
Name[lt]=Gabonas
Name[lv]=Gabona
Name[mk]=Габон
Name[nds]=Gabun
Name[ne]=गाबोन
Name[pa]=ਗਾਬੋਨ
Name[pt]=Gabão
Name[pt_BR]=Gabão
Name[ru]=Габон
Name[sr]=Габон
Name[ta]=காபான்
Name[te]=గాబొన్
Name[tg]=Габон
Name[th]=กาบอน
Name[uk]=Габон
Name[uz]=Габон
Name[x-test]=xxGabonxx
Name[zh_TW]=加彭
Region=centralafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=CFAF
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
