[KCM Locale]
Name=Vietnam
Region=southeastasia
Languages=vi
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[vi]=%A %d %n %Y
DateFormatShort=%d.%n.%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
MonetaryDecimalPlaces=0
CurrencyCodesInUse=VND
CurrencyCode=VND
