[KCM Locale]
Name=Vanuatu
Name[ar]=فانواتو
Name[as]=ভানুয়াটু
Name[be]=Вануату
Name[bg]=Вануату
Name[bn]=ভানুয়াটু
Name[bn_IN]=ভানুয়াটু
Name[cy]=Fanwatw
Name[el]=Βανουάτου
Name[eo]=Vanuatuo
Name[fa]=وانواتو
Name[ga]=Vanuatú
Name[gu]=વાનુટાઉ
Name[he]=ונואטו
Name[hi]=वनौतू
Name[hne]=वनौतू
Name[is]=Vanúatú
Name[ja]=バヌアツ
Name[ka]=ვანაუტუ
Name[kk]=Вануату
Name[km]=វ៉ានុយអាទុយ
Name[kn]=ವನೌಟು
Name[ko]=바누아투
Name[ku]=Vanûatû
Name[mai]=वैनुआटु
Name[mk]=Вануату
Name[ml]=വന്വാട്ടു
Name[mr]=वानुआटु
Name[ne]=भानुएटु
Name[or]=ଭାନୁତୁ
Name[pa]=ਵਾਨੁਆਟੂ
Name[ru]=Вануату
Name[si]=වානුටු
Name[sr]=Вануату
Name[ta]=வனடு
Name[te]=వనువాటు
Name[tg]=Вануату
Name[th]=แวนัวตู
Name[uk]=Вануату
Name[uz@cyrillic]=Вануату
Name[vi]=Va-nu-a-tu
Name[x-test]=xxVanuatuxx
Name[zh_CN]=瓦努阿图
Name[zh_TW]=萬那杜
Region=oceania
Languages=en_GB,fr
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=VT
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
