[KCM Locale]
Name=Vanuatu
Name[ar]=فانواتو
Name[be]=Вануату
Name[bg]=Вануату
Name[cy]=Fanwatw
Name[el]=Βανουάτου
Name[eo]=Vanuatuo
Name[fa]=وانواتو
Name[ga]=Vanuatú
Name[he]=ונואטו
Name[is]=Vanúatú
Name[ja]=バヌアツ
Name[ka]=ვანაუტუ
Name[kk]=Вануату
Name[km]=វ៉ានុយអាទុយ
Name[ko]=바누아투
Name[mk]=Вануату
Name[ne]=भ्यानुतु
Name[pa]=ਵਾਨੁਆਟੂ
Name[ro]=Vanatu
Name[ru]=Вануату
Name[sr]=Вануату
Name[ta]=வனடு
Name[tg]=Вануату
Name[uk]=Вануату
Name[uz]=Вануату
Name[x-test]=xxVanuatuxx
Name[zh_TW]=萬那杜
Region=oceania
Languages=en_GB,fr
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=VT
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
