[KCM Locale]
Name=Haiti
Name[af]=Haïti
Name[ar]=هايتي
Name[bg]=Хаити
Name[ca]=Haití
Name[el]=Αϊτή
Name[eo]=Haitio
Name[es]=Haití
Name[fa]=هائیتی
Name[fr]=Haïti
Name[ga]=Háítí
Name[he]=האיטי
Name[is]=Haítí
Name[ja]=ハイチ
Name[ka]=ჰაიტი
Name[kk]=Гаити
Name[km]=ហែទី
Name[ko]=아이티
Name[lt]=Haitis
Name[mk]=Хаити
Name[ne]=हाइटी
Name[pa]=ਹਾਇਟੀ
Name[ru]=Гаити
Name[sr]=Хаити
Name[ta]=ஹைதி
Name[tg]=Ҳаити
Name[uk]=Гаїті
Name[uz]=Гаити
Name[x-test]=xxHaitixx
Name[zh_TW]=海地
Region=caribbean
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=G
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
