[KCM Locale]
Name=Laos
Name[be]=Лаос
Name[csb]=Laòs
Name[el]=Λάος
Name[eo]=Laoso
Name[fa]=لائوس
Name[ga]=Láós
Name[he]=לאוס
Name[hu]=Laosz
Name[ja]=ラオス
Name[ka]=ლაოსი
Name[kk]=Лаос
Name[km]=ឡាវ
Name[ko]=라오스
Name[lt]=Laosas
Name[lv]=Laosa
Name[mk]=Лаос
Name[ne]=लाओस
Name[pa]=ਲਿਉਸ
Name[ru]=Лаос
Name[sr]=Лаос
Name[ta]=லாஸ்
Name[te]=లావొస్
Name[tg]=Лаос
Name[uk]=Лаос
Name[uz]=Лаос
Name[wa]=Lawosse
Name[x-test]=xxLaosxx
Name[zh_TW]=寮國
Region=southeastasia
Languages=fr,en
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=KN
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
