[KCM Locale]
Name=American Samoa
Name[af]=Amerikanse Samoa
Name[ar]=ساموا الأمريكية
Name[as]=আমেৰিকান ছামোয়া
Name[ast]=Samoa Americana
Name[be]=Амерыканскае Самоа
Name[be@latin]=Amerykanskaje Samoa
Name[bg]=Американски Самоа
Name[bn]=মার্কিন সামোয়া
Name[bn_IN]=আমেরিকান সামোয়া
Name[br]=Samoa amerikanek
Name[bs]=Američka Samoa
Name[ca]=Samoa Americana
Name[ca@valencia]=Samoa Americana
Name[cs]=Americká Samoa
Name[csb]=Amerikańsczé Samoa
Name[cy]=Samoa Americanaidd
Name[da]=Samoa (USA)
Name[de]=Amerikanisch-Samoa
Name[el]=Αμερικανική Σαμόα
Name[en_GB]=American Samoa
Name[eo]=Amerika Samoo
Name[es]=Samoa Americana
Name[et]=Ameerika Samoa
Name[eu]=Samoa amerikarra
Name[fa]=ساموای امریکایی
Name[fi]=Amerikan Samoa
Name[fr]=Samoa américaines
Name[fy]=Amerikaansk Samoa
Name[ga]=Samó Meiriceánach
Name[gl]=Samoa Americana
Name[gu]=અમેરિકન સામોઆ
Name[he]=סמואה האמריקאית
Name[hi]=अमेरिकी सामोआ
Name[hne]=अमेरिकी सामोआ
Name[hr]=Američka Samoa
Name[hsb]=Ameriska Samoa
Name[hu]=Amerikai Szamoa
Name[ia]=Samoa American
Name[id]=Samoa Amerika
Name[is]=Bandaríska Samóa
Name[it]=Samoa Americane
Name[ja]=米領サモア
Name[ka]=ამერიკული სამოა
Name[kk]=Шығыс Самоа
Name[km]=សាមូអា អាមេរិក
Name[kn]=ಅಮೆರಿಕದ ಸಮೊವ
Name[ko]=미국령 사모아
Name[ku]=Samoya Emerîkî
Name[lt]=Amerikos Samoa
Name[lv]=Amerikas Samoa
Name[mai]=अमेरिकन समोआ
Name[mk]=Американска Самоа
Name[ml]=അമേരിക്കന്‍ സമോവാ
Name[mr]=अमेरिकन सामोआ
Name[nb]=Amerikansk Samoa
Name[nds]=Amerikaansch Samoa
Name[ne]=अमेरिकी सामोआ
Name[nl]=Amerikaans Samoa
Name[nn]=Amerikansk Samoa
Name[oc]=Amèrica, nord
Name[or]=ଆମେରିକାନ ସାମୋଆ
Name[pa]=ਅਮਰੀਕੀ ਸਾਮੋਆ
Name[pl]=Samoa Amerykańskie
Name[pt]=Samoa Americana
Name[pt_BR]=Samoa Americana
Name[ro]=Samoa americană
Name[ru]=Восточное Самоа
Name[se]=Amerihkálaš Samoa
Name[si]=ඇමරිකානු සෝමා
Name[sk]=Americká Samoa
Name[sl]=Ameriška Samoa
Name[sr]=Америчка Самоа
Name[sr@ijekavian]=Америчка Самоа
Name[sr@ijekavianlatin]=Američka Samoa
Name[sr@latin]=Američka Samoa
Name[sv]=Amerikanska Samoa
Name[ta]=அமெரிக்கா சமோயா
Name[te]=అమెరికెన్ సమొవా
Name[tg]=Самоаи Амрико
Name[th]=อเมริกันซามัว
Name[tr]=Amerika Samoası
Name[ug]=ئامېرىكا تەۋەلىكىدىكى ساموئا
Name[uk]=Американське Самоа
Name[uz]=Amerika Samoasi
Name[uz@cyrillic]=Америка Самоаси
Name[vi]=Samoa Mỹ
Name[wa]=Samowa Amerikinne
Name[x-test]=xxAmerican Samoaxx
Name[zh_CN]=美属萨摩亚
Name[zh_TW]=美屬薩摩亞
Region=oceania
Languages=en_US
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%m/%d/%y
TimeFormat=%I:%M:%S %p
WeekStartDay=7
PageSize=2
MeasureSystem=1
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD
CurrencyCode=USD
