[KCM Locale]
#Author=cfynn@gmx.net
Name=Bhutan
Region=southasia
Languages=dz,en
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[en]=%A %d %B %Y
DateFormat[dz]=སྤྱི་ལོ་%Y ཟླ%n ཚེ་%d
DateFormatShort=%Y-%m-%d
TimeFormat=%I:%M:%S %p
WeekStartDay=7
PageSize=0
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BTN,INR
CurrencyCode=BTN
