[KCM Locale]
Name=Guam
Name[ar]=غوام
Name[bg]=Гуам
Name[br]=Gwam
Name[cy]=Gw?m
Name[el]=Γκουάμ
Name[eo]=Gvamo
Name[fa]=گوام
Name[he]=גואם
Name[is]=Gvam
Name[ja]=グアム
Name[ka]=გუამი
Name[kk]=Гуам
Name[km]=ហ្គាំម
Name[ko]=괌
Name[lv]=Guama
Name[mk]=Гвам
Name[ne]=गुउम
Name[pa]=ਗੁਆਮ
Name[ru]=Гуам
Name[sr]=Гуам
Name[ta]=காம்
Name[te]=గువామ్
Name[tg]=Гуамма
Name[uk]=Гуам
Name[uz]=Гуам
Name[x-test]=xxGuamxx
Name[zh_TW]=關島
Region=oceania
#Languages=
#DecimalSymbol=,
#ThousandsSeparator=
CurrencySymbol=$
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
FracDigits=2
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
