[KCM Locale]
Name=South Sudan
Name[cs]=Jižní Súdán
Name[eu]=Hego Sudan
Name[ia]=Sudan del Sud
Name[nds]=Söödsudan
Name[nl]=Zuid-Soedan
Name[pt]=Sudão do Sul
Name[pt_BR]=Sudão do Sul
Name[ru]=Южный Судан
Name[sv]=Sydsudan
Name[tg]=Судони Ҷанубӣ
Name[uk]=Південний Судан
Name[x-test]=xxSouth Sudanxx
Name[zh_TW]=南蘇丹
Region=eastafrica
Languages=en_US
CurrencyCodesInUse=SSP,SDG
CurrencyCode=SSP
Author=John Layt <jlayt@kde.org>
