[KCM Locale]
Name=Aruba
Name[af]=Aruba
Name[ar]=أروبا
Name[as]=আৰুবা
Name[ast]=Aruba
Name[be]=Аруба
Name[be@latin]=Aruba
Name[bg]=Аруба
Name[bn]=আরুবা
Name[bn_IN]=আরুবা
Name[br]=Aruba
Name[bs]=Aruba
Name[ca]=Aruba
Name[ca@valencia]=Aruba
Name[cs]=Aruba
Name[csb]=Aruba
Name[cy]=Arwba
Name[da]=Aruba
Name[de]=Aruba
Name[el]=Αρούμπα
Name[en_GB]=Aruba
Name[eo]=Arubo
Name[es]=Aruba
Name[et]=Aruba
Name[eu]=Aruba
Name[fa]=آروبا
Name[fi]=Aruba
Name[fr]=Aruba
Name[fy]=Aruba
Name[ga]=Aruba
Name[gl]=Aruba
Name[gu]=અરુબા
Name[he]=ארובה
Name[hi]=अरूबा
Name[hne]=अरूबा
Name[hr]=Aruba
Name[hsb]=Aruba
Name[hu]=Aruba
Name[ia]=Aruba
Name[id]=Aruba
Name[is]=Arúba
Name[it]=Aruba
Name[ja]=アルバ
Name[ka]=არუბა
Name[kk]=Аруба
Name[km]=អារូបា
Name[kn]=ಅರುಬಾ
Name[ko]=아루바
Name[ku]=Aruba
Name[lt]=Aruba
Name[lv]=Aruba
Name[mai]=अरूबा
Name[mk]=Аруба
Name[ml]=അറുബ
Name[mr]=अरूबा
Name[ms]=Aruba
Name[nb]=Aruba
Name[nds]=Aruba
Name[ne]=एरुबा
Name[nl]=Aruba
Name[nn]=Aruba
Name[oc]=Aruba
Name[or]=ଆରୁବା
Name[pa]=ਅਰੂਬੀ
Name[pl]=Aruba
Name[pt]=Aruba
Name[pt_BR]=Aruba
Name[ro]=Aruba
Name[ru]=Аруба
Name[se]=Áruba
Name[si]=අරුබාව
Name[sk]=Aruba
Name[sl]=Aruba
Name[sr]=Аруба
Name[sr@ijekavian]=Аруба
Name[sr@ijekavianlatin]=Aruba
Name[sr@latin]=Aruba
Name[sv]=Aruba
Name[ta]=அருபா
Name[te]=అరుబా
Name[tg]=Аруба
Name[th]=อารูบา
Name[tr]=Aruba
Name[ug]=ئارۇبا
Name[uk]=Аруба
Name[uz]=Aruba
Name[uz@cyrillic]=Аруба
Name[vi]=Aruba
Name[wa]=Arouba
Name[x-test]=xxArubaxx
Name[zh_CN]=阿鲁巴
Name[zh_TW]=阿魯巴
Region=caribbean
Languages=nl,en_GB,sp
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=AWG
CurrencyCode=AWG
