[Desktop Entry]
Type=Service
Actions=SaveUserQuery;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
X-KDE-Protocol=nepomuksearch
X-KDE-Priority=TopLevel

[Desktop Action SaveUserQuery]
Exec=kio_nepomuksearch_userquery_helper %U
Name=Save this Query...
Icon=nepomuk
