[KCM Locale]
Name=Bangladesh
Name[ar]=بنغلاديش
Name[bg]=Бангладеш
Name[br]=Bangladaech
Name[cs]=Bangladéš
Name[csb]=Bangladesz
Name[de]=Bangladesch
Name[el]=Μπαγκλαντές
Name[eo]=Bangladeŝo
Name[fa]=بنگلادش
Name[ga]=An Bhanglaidéis
Name[he]=בנגלדש
Name[hr]=Bangladeš
Name[hu]=Banglades
Name[is]=Bangladess
Name[ja]=バングラデシュ
Name[ka]=ბანგლადეში
Name[kk]=Бангладеш
Name[km]=បង់ក្លាដេស្ហ
Name[ko]=방글라데시
Name[lt]=Bangladešas
Name[lv]=Bangladeša
Name[mk]=Бангладеш
Name[nds]=Bangladesch
Name[ne]=बङ्गलादेश
Name[pa]=ਬੰਗਲਾਦੇਸ਼
Name[pl]=Bangladesz
Name[ro]=Bangladeş
Name[ru]=Бангладеш
Name[sl]=Bangladeš
Name[sr]=Бангладеш
Name[sr@Latn]=Bangladeš
Name[ta]=பங்களாதேசு
Name[tg]=Банглодеш
Name[tr]=Bangladeş
Name[uk]=Бангладеш
Name[uz]=Бангладеш
Name[x-test]=xxBangladeshxx
Name[zh_TW]=孟加拉
Region=southasia
Languages=bn,en_GB
CurrencySymbol=৳
NegativeMonetarySignPosition=1
DateFormat=%A %d %b %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%l:%M:%S %p
PageSize=0
MeasureSystem=1
