[KCM Locale]
Name=Thailand
Name[af]=Thailand
Name[ar]=تايلاند
Name[as]=থাইলেন্ড
Name[ast]=Tailandia
Name[be]=Тайланд
Name[be@latin]=Tajland
Name[bg]=Тайланд
Name[bn]=থাইল্যাণ্ড
Name[bn_IN]=থাইল্যান্ড
Name[br]=Thailand
Name[bs]=Tajland
Name[ca]=Tailàndia
Name[ca@valencia]=Tailàndia
Name[cs]=Thajsko
Name[csb]=Tajlandzkô
Name[cy]=Gwlad y Tai
Name[da]=Thailand
Name[de]=Thailand
Name[el]=Ταϊλάνδη
Name[en_GB]=Thailand
Name[eo]=Tajlando
Name[es]=Tailandia
Name[et]=Tai
Name[eu]=Thailandia
Name[fa]=تایلند
Name[fi]=Thaimaa
Name[fr]=Thaïlande
Name[fy]=Thailân
Name[ga]=An Téalainn
Name[gl]=Tailandia
Name[gu]=થાઇલેન્ડ
Name[he]=תאילנד
Name[hi]=थाइलैंड
Name[hne]=थाइलैंड
Name[hr]=Tajland
Name[hsb]=Thailand
Name[hu]=Thaiföld
Name[ia]=Thailanda
Name[id]=Thailand
Name[is]=Taíland
Name[it]=Tailandia
Name[ja]=タイ
Name[ka]=ტაილანდი
Name[kk]=Тайланд
Name[km]=ថៃ
Name[kn]=ಥೈಲ್ಯಾಂಡ್
Name[ko]=태국
Name[ku]=Tayland
Name[lt]=Tailandas
Name[lv]=Taizeme
Name[mai]=थाइलैंड
Name[mk]=Тајланд
Name[ml]=തായിലാന്‍ഡ്
Name[mr]=थाइलँड
Name[ms]=Thailand
Name[nb]=Thailand
Name[nds]=Thailand
Name[ne]=थाइल्याण्ड
Name[nl]=Thailand
Name[nn]=Thailand
Name[oc]=Tailandia
Name[or]=ଥାଇଲ୍ୟାଣ୍ଡ
Name[pa]=ਥਾਈਲੈਂਡ
Name[pl]=Tajlandia
Name[pt]=Tailândia
Name[pt_BR]=Tailândia
Name[ro]=Tailanda
Name[ru]=Таиланд
Name[se]=Thailand
Name[si]=තායිලන්තය
Name[sk]=Thajsko
Name[sl]=Tajska
Name[sr]=Тајланд
Name[sr@ijekavian]=Тајланд
Name[sr@ijekavianlatin]=Tajland
Name[sr@latin]=Tajland
Name[sv]=Thailand
Name[ta]=தாய்லாந்து
Name[te]=థాయిలండ్
Name[tg]=Таиланд
Name[th]=ราชอาณาจักรไทย
Name[tr]=Tayland
Name[ug]=تايلاند
Name[uk]=Таїланд
Name[uz]=Tailand
Name[uz@cyrillic]=Таиланд
Name[vi]=Thái Lan
Name[wa]=Taylande
Name[xh]=Thailand
Name[x-test]=xxThailandxx
Name[zh_CN]=泰国
Name[zh_TW]=泰國
Region=southeastasia
Languages=th
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=4
NegativeMonetarySignPosition=4
DateFormat[th]=%a %e %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=THB
CurrencyCode=THB
